{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Periodic Sales Item Report
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Periodic Sales Item Report</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Periodic Sales Item Report</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn yellow" href="{{ path('inventory_report_sales_overview') }}"><i class="icon-bar-chart"></i>&nbsp;Sales Overview</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <div class="row-fluid">
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span3">
                                        {% if inventory.isBranch == 1 %}
                                            <select name="branch" id="branch" class="span12 m-wrap">
                                                <option value=""> ---Select Branch --- </option>
                                                {% for bran in branches %}
                                                    <option {% if searchForm.branch is defined and searchForm.branch == bran.id %} selected="selected" {% endif %} value="{{ bran.id }}">{{ bran.name }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="invoice" name="invoice"  class="span12 m-wrap" value="{% if searchForm.invoice is defined %}{{ searchForm.invoice }}{% endif %}"  placeholder="invoice no">
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="startDate" name="startDate"  class="span12 m-wrap dateCalendar" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}"  placeholder="">
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span11">
                                                <input type="text" id="endDate" name="endDate"  class="span11 m-wrap dateCalendar" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}" placeholder="">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <table class="table table-bordered table-striped table-condensed flip-content ">

                            <thead class="flip-content ">
                            <tr class="head-blue">
                                <th class="numeric" ><i class="icon-reorder"></i></th>
                                <th class="numeric" >Created</th>
                                <th class="numeric" >Invoice</th>
                                <th class="numeric" >Barcode</th>
                                <th class="numeric" >Name</th>
                                <th class="numeric" >Quantity</th>
                                <th class="numeric" >Sales Price</th>
                                <th class="numeric" >Sub-Sales Price</th>
                                <th class="numeric" >Purchase Price</th>
                                <th class="numeric" >Sub-Purchase Price</th>
                                <th class="numeric" >Profit/Loss</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  set totalSales = 0 %}
                                {% for entity in entities %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.invoice }}</td>
                                        <td class="numeric" >{{ entity.barcode }}</td>
                                        <td class="numeric" >{{ entity.name }}</td>
                                        <td class="numeric" >{{ entity.quantity }}</td>
                                        <td class="numeric" >{{ entity.salesPrice|number_format }}</td>
                                        <td class="numeric" >{{ (entity.quantity * entity.salesPrice)|number_format }}</td>
                                        <td class="numeric" >{{ entity.purchasePrice|number_format }}</td>
                                        <td class="numeric" >{{ (entity.quantity * entity.purchasePrice)|number_format }}</td>
                                        <td class="numeric" >{{ ((entity.quantity * entity.salesPrice) - (entity.quantity * entity.purchasePrice))|number_format }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination pull-center"  >
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/approveProcess.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{#    document.getElementById("startDate").value="24-06-2017";#}
    ApproveProcess();
{% endblock %}
