<select multiple="multiple" class="m-wrap multiselect" data-id="{{ product.item_id }}" id="serialNo-{{ product.item_id }}" name="serialNo-{{ product.item_id }}[]">
    {% set batches = product.purchaseItem|split(',') %}
    {% for batch in batches  %}
        <option value="{{ batch }}">{{ batch }}</option>
    {% endfor %}
</select>