{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Client View Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('client') }}">Client</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Client View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green">
                    {%  set direction = app.request.query.get('direction') %}
                    {%  set sort = app.request.query.get('sort') %}
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Basic Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('client_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></li>
                                    <li><a href="{{ path('client') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <td>&nbsp;&nbsp;<i class="icon-list"></i></td>

                                    <th {% if pagination.isSorted('name') %} class="sorted" {% endif %} >{{ knp_pagination_sortable(pagination, 'Organization', 'name') }}{% if( direction == 'desc' and sort == 'name') %}<i class="icon-sort-up"></i> {% else %}<i class="icon-sort-down"></i> {% endif %}</th>
                                    <th class="numeric" >Mobile</th>
                                    <th class="numeric" >Email</th>
                                    <th class="numeric" >Website</th>
                                    <th class="numeric" >Action</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for entity in pagination %}
                                    <tr>
                                        <td><span class="badge badge-warning toggle badge-custom" id="{{ entity.id  }}" ><span>[+]</span></span></td>
                                        <td class="numeric" >{{ entity.name }}</td>
                                        <td class="numeric" >{{ entity.mobile }}</td>
                                        <td class="numeric" >{{ entity.email }}</td>
                                        <td class="numeric" >{{ entity.website }}</td>

                                        <td class="numeric" >
                                            {% if( entity.status == 1) %}
                                                <a class="btn mini green-stripe btn-action" href="{{ path('client_status', { 'id': entity.id}) }}"><span class="badge badge-success">x</span></a>
                                            {% else %}
                                                <a class="btn mini green-stripe btn-action" href="{{ path('client_status', { 'id': entity.id}) }}"><span class="badge badge-important">a</span></a>
                                            {% endif %}
                                            <a class="btn mini green-stripe btn-action" href="{{ path('client_edit', { 'id': entity.id }) }}">Edit</a>
                                            <a class="btn mini blue-stripe btn-action" href="{{ path('client_show', { 'id': entity.id }) }}">View</a>
                                            <a class="btn mini red-stripe btn-action confirm" title="Are you sure went to delete ?" href="{{ path('client_delete', { 'id': entity.id }) }}" >Delete</a>
                                        </td>
                                    </tr>
                                    <tr id="show-{{ entity.id }}" class="showing-overview">
                                        <td colspan="6">
                                            <table class="inner-table">
                                                <tr><td>Content</td><td>{{ entity.content|raw }}</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="pagination" >
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
