
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Product Excel import Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('business_itemimporter') }}">Product Excel import</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Product Excel importer Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Product Excel import Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('business_itemimporter_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Created By</th>
                                    <th class="numeric" >Name </th>
                                    <th class="numeric" >Import Mode </th>
                                    <th class="numeric" >File</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.createdBy }}</td>
                                        <td class="numeric" ><a href="{{ path('business_itemimporter_edit',{'id': entity.id })}}">{{ entity.name }}</a></td>
                                        <td class="numeric" >{{ entity.importMode }}</td>
                                        <td class="numeric" ><a href="/{{ entity.webPath }}">Download File</a> </td>
                                        <td class="numeric" >
                                            {% if entity.progress == 'created' or entity.progress == 'invalid' %}
                                            <a href="{{ path('business_itemimporter_edit', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-edit"></i></a>
                                                <a href="{{ path('business_itemimporter_delete', { 'id': entity.id }) }}" class="btn red mini" ><i class="icon-remove"></i></a>
                                             <a href="{{ path('business_itemimporter_migration', { 'id': entity.id }) }}" class="btn blue mini" ><i class="icon-upload-alt">&nbsp;Import</i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}



