
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Opening Item Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Opening Item Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Opening Item Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="red btn" href="{{ path('voucheritem_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a>
                            </div>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div class="row-fluid">

                        </div>
                        <table class="table table-bordered table-striped table-condensed flip-content ">

                            <thead class="flip-content ">
                            <tr class="head-grey">
                                <th class="numeric" ><i class="icon icon-reorder"></i></th>
                                <th class="numeric" >Product Group</th>
                                <th class="numeric" >Name</th>
                                <th class="numeric" >Barcode</th>
                                <th class="numeric" >Quantity</th>
                                <th class="numeric" >Price</th>
                                <th class="numeric" >Date</th>
                                <th class="numeric" >Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for entity in pagination %}
                                <tr>
                                    <td><span data-trigger="hover" data-original-title="Barcode print" class="btn blue mini toggle badge-custom" id="{{ entity.id  }}" ><span>[+]</span></span></td>
                                    <td class="numeric" >{{ entity.productGroup.name }}</td>
                                    <td class="numeric" >
                                        {% if entity.process == "Approved" %}
                                            {{ entity.name }}
                                        {% else %}
                                            <a class="editable" data-name="Name" href="#"  data-url="{{ path('voucheritem_inline_update',{'id':entity.id }) }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change product name">{{ entity.name }}</a>      {% endif %}
                                    </td>
                                    <td class="numeric" >
                                        {% if entity.process == "Approved" %}
                                            {{ entity.barcode }}
                                        {% else %}
                                            <a class="editable" data-name="Barcode" href="#"  data-url="{{ path('voucheritem_inline_update',{'id':entity.id }) }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change product barcode">{{ entity.barcode }}</a>     {% endif %}

                                    </td>
                                    <td class="numeric" >
                                        {% if entity.process == "Approved" %}
                                            {{ entity.quantity }}
                                        {% else %}
                                            <a class="editable" data-name="Quantity" href="#"  data-url="{{ path('voucheritem_inline_update',{'id':entity.id }) }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change product quantity">{{ entity.quantity }}</a>      {% endif %}
                                    </td>
                                    <td class="numeric" >
                                        {% if entity.process == "Approved" %}
                                            {{ entity.price }}
                                        {% else %}
                                            <a class="editable" data-name="Price" href="#"  data-url="{{ path('voucheritem_inline_update',{'id':entity.id }) }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change product price">{{ entity.price }}</a>     {% endif %}
                                    </td>
                                    <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                    <td class="numeric" >
                                        <div class="actions">
                                            <div class="btn-group">
                                        <a href="{{ path('voucheritem_edit', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-edit"></i></a>
                                        <a href="{{ path('voucheritem_delete', { 'id': entity.id }) }}" class="btn red mini delete" ><i class="icon-trash"></i></a><a href="{{ path('voucheritem_approve', { 'id': entity.id }) }}" class="btn blue mini approve" ><i class="icon-refresh"></i> Approve</a></div></div>
                                    </td>
                                </tr>
                                <tr id="show-{{ entity.id }}" class="showing-overview">
                                    <td colspan="11">
                                        <table class="table table-bordered table-striped table-condensed flip-content ">
                                            <tr>
                                                <th class="numeric" >Serial No</th>
                                                <td class="numeric" colspan="5" >{{ entity.externalSerial|raw }}</td>
                                            </tr>
                                            <tr>
                                                <th class="numeric" >Assurance Type</th>
                                                <td class="numeric" >{{ entity.assuranceType }}</td>
                                                <th class="numeric" >Assurance Warning</th>
                                                <td class="numeric" >{% if entity.itemWarning is not empty %}{{ entity.itemWarning.name }}{% endif %}</td><th class="numeric" >Effected Date</th>
                                                <td class="numeric" >{{ entity.effectedDate|date('d-m-Y') }}</td>
                                                <th class="numeric" >Expired Date</th>
                                                <td class="numeric" >{{ entity.expiredDate|date('d-m-Y') }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="pagination pull-center"  >
                            {{ knp_pagination_render(pagination) }}
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AssetsBundle/Resources/public/js/approveProcess.js'
    '@AssetsBundle/Resources/public/js/editable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $( ".dateCalendar" ).datepicker({
    dateFormat: "dd-mm-yy",
    changeMonth: true,
    changeYear: true,
    });
    ApproveProcess();
    EditableInit();
{% endblock %}



