{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                    Invoice Invoice # {{ entity.invoice }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('hms_invoice') }}">Invoice</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Add/Edit sales</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>c
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Invoice Details</div>

                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('hms_invoice_new') }}"><i class="icon-plus-sign"></i>&nbsp;Add Invoice</a></li>
                                    <li><a href="{{ path('hms_invoice') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            <div class="row-fluid">

                                <div class="span3">
                                    <h4>About:</h4>
                                    <ul class="unstyled">
                                        {% if entity.customer is not empty %}<li><strong>Customer #:</strong>&nbsp;{{ entity.customer.name }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Mobile #:</strong>&nbsp;{{ entity.customer.mobile }}</li>{% endif %}
                                        {% if entity.customer is not empty and entity.customer.location is not empty   %}<li><strong>Location #:</strong>&nbsp;{{ entity.customer.location.name }}, {{ entity.customer.location.parent.name }}</li>{% endif %}
                                    </ul>
                                </div>

                                <div class="span3 invoice-payment">
                                    <h4>Payment Details:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Total BDT:</strong>&nbsp;{{ entity.total|number_format() }}</li>
                                        <li><strong>Payment BDT:</strong>&nbsp;{{ entity.payment|number_format() }}</li>
                                        {% if entity.discount %}<li><strong>Discount BDT:</strong>&nbsp;{{ entity.discount|number_format() }}</li>{% endif %}
                                        {% if entity.due %}<li><strong>Due BDT:</strong>&nbsp;{{ entity.due|number_format() }}</li>{% endif %}
                                        <li><strong>Payment status</strong>&nbsp;{{  entity.paymentStatus|capitalize }}</li>
                                    </ul>

                                </div>
                                <div class="span3">
                                    <h4>Payment Method:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Created:</strong>&nbsp;{{ entity.created|date('d-m-Y') }}</li>
                                        <li><strong>Delivery:</strong>&nbsp;{{ entity.deliveryDate }}</li>
                                        <li><strong>Payment Method:</strong>&nbsp;{{ entity.paymentMethod }}</li>
                                        <li><strong>Received By:</strong>&nbsp;{% if entity.createdBy is defined and entity.createdBy is not empty %}{{ entity.createdBy }}{% endif %}</li>
                                    </ul>
                                </div>
                                <div class="span3">
                                    <h4>Referred By:</h4>
                                    {% if entity.referredDoctor is not empty %}
                                        <ul class="unstyled">
                                            <li><strong>Code:</strong>&nbsp;{{ entity.referredDoctor.particularCode }}</li>
                                            <li><strong>Name:</strong>&nbsp;{{ entity.referredDoctor.name }}</li>
                                            <li><strong>Mobile:</strong>&nbsp;{{ entity.referredDoctor.mobile }}</li>
                                            <li><strong>Address:</strong>&nbsp;{{ entity.referredDoctor.address }}</li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid box green">
                                {% if entity.invoiceParticulars is defined and  entity.invoiceParticulars is not empty  %}
                                    <table class="table table-bordered table-striped table-condensed flip-content ">
                                        <thead class="flip-content ">
                                        <tr class="head-green">
                                            <th class="numeric">Si/No</th>
                                            <th class="numeric">Code</th>
                                            <th class="numeric">Particular</th>
                                            <th class="numeric">Service</th>
                                            <th class="numeric">Qnt</th>
                                            <th class="numeric">Amount</th>
                                            <th class="numeric">Report Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in entity.invoiceParticulars %}
                                            <tr id="remove-{{ item.id }}">
                                                <td  class="numeric">{{ loop.index }}</td>
                                                <td  class="numeric">{{ item.particular.particularCode }}</td>
                                                <td class="numeric">{{ item.particular.name }}</td>
                                                <td class="numeric">{{ item.particular.service.name }}</td>
                                                <td class="numeric">{{ item.quantity }}</td>
                                                <td class="numeric">{{ item.subTotal|number_format }}</td>
                                                <th class="numeric">{% if item.particular.service.id == 1 %}Report Status{% endif %}</th>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box grey">
                                <div class="span8" id="message"></div>

                                <div class="pull-right" id="action-{{ entity.id }}">
                                    <a target="_blank"  href="{{ path('hms_invoice_print_invoice',{'invoice':entity.invoice}) }}" class="btn green"><i class="icon-print"></i>&nbsp;Print</a>
                                    {#<a type="reset" class="btn blue"><i class=" icon-download-alt"></i>&nbsp;Pdf</a>#}
                                    <span  class="btn blue"><i class=" icon-retweet"></i>&nbsp;{{ entity.process }}</span>
                                    <span  class="btn yellow"><i class="icon-money"></i>&nbsp;{{ entity.paymentStatus }}</span>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

