{% set totalSales = 0 %}
{% set totalPurchase = 0 %}
{% for entity in entities %}
    {% set totalSales = (totalSales + (entity.quantity * entity.salesPrice)) %}
    {% set totalPurchase = (totalPurchase + (entity.quantity * entity.purchasePrice)) %}
    <tr>
        <td class="numeric" >{{ loop.index }}</td>
        <td class="numeric" >{{ entity.salesCreated|date('d-m-y') }}</td>
        <td class="numeric" >{{ entity.salesInvoice }}</td>
        <td class="numeric" >{{ entity.customerName }}</td>
        <td class="numeric" >{{ entity.salesBy }}</td>
        <td class="numeric" >{{ entity.name }}</td>
        <td class="numeric" >{{ entity.quantity }}</td>
        <td class="text-right" >{{ entity.salesPrice|number_format }}</td>
        <td class="text-right" >{{ entity.purchasePrice|number_format }}</td>
        <td class="text-right" >{{ (entity.quantity * entity.salesPrice)|number_format }}</td>
        <td class="text-right" >{{ (entity.quantity * entity.purchasePrice)|number_format }}</td>
        <td class="text-right" >{{ ((entity.quantity * entity.salesPrice)-(entity.quantity * entity.purchasePrice))|number_format }}</td>
    </tr>
{% endfor %}
<tr>
    <td colspan="8" class="text-right"><strong>Grand Total</strong></td>
    <td class="text-right"><strong>{{ totalSales|number_format(2) }}</strong></td>
    <td></td>
    <td class="text-right"><strong>{{ totalPurchase|number_format(2) }}</strong></td>
    <td class="text-right"><strong>{{ (totalSales-totalPurchase)|number_format(2) }}</strong></td>
</tr>