{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                    Receive
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('inventory_purchasesimple') }}">Receive</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Add/Edit Receive</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Receive Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('inventory_purchasesimple') }}"><i class="icon-th-list"></i>&nbsp;Receive Item</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row-fluid">
                            <div class="span4">
                                <h4>Vendor:</h4>
                                <ul class="unstyled">
                                    {% if  entity.vendor is not empty %}
                                        <li>{{ entity.vendor.companyName }}</li>
                                        <li>{{ entity.vendor.name }}</li>
                                        <li>{{ entity.vendor.mobile }}</li>
                                        <li>{{ entity.vendor.address }}</li>
                                        {% if entity.vendor.country %}
                                            <li>{{ entity.vendor.country.name }}</li>
                                        {% endif %}
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="span4">
                                <h4>About:</h4>
                                <ul class="unstyled">
                                    <li><strong>Memo/Invoice #:</strong>{{ entity.memo }} {% if  entity.invoice  %}/{{ entity.invoice }}{% endif %}</li>
                                    <li><strong>Item/Qnt:</strong> {{ entity.totalItem }}/{{ entity.totalQnt }}</li>
                                    {#<li><strong>Created:</strong> {{ entity.created }}</li>#}
                                    <li><strong>Received:</strong> {{ entity.receiveDate|date('d-m-Y') }}</li>
                                    <li><strong>Created:</strong> {{ entity.created|date('d-m-Y') }}</li>
                                    <li><strong>Created By:</strong> {% if entity.createdBy is defined and entity.createdBy is not empty %}{{ entity.createdBy.username }}{% endif %}</li>
                                </ul>
                            </div>
                            <div class="span4 invoice-payment">
                                <h4>Payment Details:</h4>
                                <ul class="unstyled">

                                    <li><strong>Total BDT:</strong> {{ entity.totalAmount|number_format() }}</li>
                                    <li><strong>Payment BDT:</strong> {{ entity.paymentAmount|number_format() }}</li>
                                    <li><strong>Due BDT:</strong> {{ entity.dueAmount|number_format() }}</li>
                                    <li><strong>Commission BDT:</strong> {{ entity.commissionAmount|number_format() }}</li>


                                </ul>
                            </div>
                            <div class="span3 image-preview"></div>
                        </div>
                        {% include('flash-message.html.twig')  %}

                        <div class="form-actions portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-reorder"></i>Vendor receive item list</div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <table class="table table-bordered table-striped table-condensed flip-content ">

                            <thead class="flip-content ">
                            <tr class="head-green">
                                <th class="numeric" >Barcode</th>
                                <th class="numeric" >Item</th>
                                <th class="numeric" >Product</th>
                                <th class="numeric" >Product Type</th>
                                <th class="numeric" >Serial No</th>
                                <th class="numeric" >Qnt</th>
                                <th class="numeric" >Unit price</th>
                                <th class="numeric" >Sub total</th>
                                <th class="numeric" ></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for purchaseItem in entity.purchaseItems %}

                                <tr>
                                    <td class="numeric" >{{ purchaseItem.barcode }}</td>
                                    <td class="numeric" >{{ purchaseItem.item.sku }}-{{ purchaseItem.item.name }}</td>
                                    <td class="numeric" >{{ purchaseItem.name }}</td>
                                    <td class="numeric" >{{ purchaseItem.item.productType }}</td>
                                    <td class="numeric" >{{ purchaseItem.externalSerial }}</td>
                                    <td class="numeric" >{{ purchaseItem.quantity }}</td>
                                    <td class="numeric" >{{ purchaseItem.purchasePrice }}</td>
                                    <td class="numeric" >{{ purchaseItem.purchasePrice * purchaseItem.quantity }}</td>
                                    <td class=" numeric" >
                                     <span class="pull-left">
                                    {% if entity.process != 'approved' %}
                                        <a title="Are you sure went to delete ?" href="javascript:" rel="{{ path('inventory_purchaseitem_delete', { 'id': purchaseItem.id }) }}" id="{{  purchaseItem.id }}"  class="btn red mini purchaseItemDelete" ><i class="icon-trash"></i></a>
                                    {% endif %}
                                         <a href="{{ path('inventory_purchaseitem_edit', { 'id': purchaseItem.id }) }}"  class="btn yellow mini" ><i class="icon-th-list"></i> Add Attribute</a>
                                     </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>


                        <div class="clearfix">&nbsp;</div>
                        <div class="form-actions portlet box grey">
                            <div class="pull-right" id="action-{{ entity.id }}">
                                {% if entity.process != 'approved' %}
                                    {% if entity.purchaseVendorItems is empty %}
                                        <a href="{{ path('inventory_purchasesimple_edit', { 'id': entity.id }) }}" class="btn green" ><i class="icon-edit"></i></a>
                                    {% endif %}
                                {% endif %}
                                {% if ((app.user.granted("ROLE_DOMAIN")  and entity.process == 'complete') or (app.user.granted("ROLE_DOMAIN_INVENTORY_APPR  OVAL")  and entity.process == 'complete') or (app.user.granted("ROLE_DOMAIN_INVENTORY")  and entity.process == 'complete') )  %}
                                    <a class="btn purple approve"  data-id="{{ entity.id }}" data-title="{{ entity.id }}" data-url="{{ path('inventory_purchasesimple_approve', { 'id': entity.id,'reject':'reject'  }) }}" ><i class="icon-refresh"></i>&nbsp;Reject</a>
                                    <a class="btn blue approve approved-{{ entity.id }}" data-id="{{ entity.id }}" data-title="{{ entity.id }}" data-url="{{ path('inventory_purchasesimple_approve', { 'id': entity.id }) }}"><i class="icon-ok"></i>&nbsp;Approve</a>
                                {% elseif entity.process == 'approved'  %}
                                    <span  class="btn green"><i class="icon-ok"></i>&nbsp;Approved</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/approveProcess.js'
    '@InventoryBundle/Resources/public/js/puschase.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    ApproveProcess();
    InventoryPurchasePage();
{% endblock %}

