{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                   Manage Courier
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                     <li><a href="#">Courier</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Courier</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="portlet-body ">
                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="name">Company Name<span class="required">*</span></label>
                                        <div class="controls">
                                            {{ form_widget(form.companyName) }}
                                            {{ form_errors(form.companyName) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="name">Name</label>
                                        <div class="controls">
                                            {{ form_widget(form.name) }}
                                            {{ form_errors(form.name) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="name">Designation</label>
                                        <div class="controls">
                                            {{ form_widget(form.designation) }}
                                            {{ form_errors(form.designation) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="name">Mobile No</label>
                                        <div class="controls">
                                            {{ form_widget(form.mobileNo) }}
                                            {{ form_errors(form.mobileNo) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions portlet box grey">
                                <div class="pull-right">
                                    <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid box green">
                                <div class="span12" id="particular-table">
                                    <table class="table table-bordered table-striped table-condensed table-fixed">
                                        <thead class="flip-content ">
                                        <tr class="head-blue">
                                            <th> S/N</th>
                                            <th>Name</th>
                                            <th>Designation</th>
                                            <th>Company Name</th>
                                            <th>Mobile No</th>
                                            <th>Action</th>

                                        </tr>
                                        </thead>
                                        <tbody id="invoiceParticulars">
                                        {% for entity in entities %}
                                            <tr id="remove-{{ entity.id }}">
                                                <td  class="">{{ loop.index }}.</td>
                                                <td class="">{{ entity.name }}</td>
                                                <td class="">{{ entity.designation }}</td>
                                                <td class="">{{ entity.companyName }}</td>
                                                <td class="">{{ entity.mobileNo }}</td>
                                                <td class=""> {% if( entity.status == 1) %}
                                                        <a class="btn mini blue btn-action" href="{{ path('business_courier_status', { 'id': entity.id}) }}"><i class="icon-ok"></i></a>
                                                    {% else %}
                                                        <a class="btn mini red btn-action" href="{{ path('business_courier_status', { 'id': entity.id}) }}">x</a>
                                                    {% endif %}
                                                    <a href="{{ path('business_courier_edit', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-edit"></i></a>
                                                    <a title="Are you sure went to delete ?" href="{{ path('business_courier_delete', { 'id': entity.id }) }}" class="btn red mini" ><i class="icon-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="clearfix">&nbsp;</div>

                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block documentready %}
    {{ parent() }}
{% endblock %}