
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Item Return Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('inventory_deliveryreturn') }}">Manage Item Return</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Item Return Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Item Return Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    {% if is_granted('ROLE_DOMAIN_INVENTORY_BRANCH_MANAGER') %}
                                    <li><a href="{{ path('inventory_deliveryreturn_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('inventory_deliveryreturn') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid">
                                <form class="search-form" action="" method="get" name="itemSearch">
                                    <div class="row-fluid">
                                        <div class="span3">
                                            <input type="text" id="barcode" name="barcode"  class="span11 select2Barcode " value="{% if searchForm.barcode is defined %}{{ searchForm.barcode }}{% endif %}"  autocomplete="off" placeholder="Enter item barcode ">
                                        </div>
                                        <div class="span3">
                                            <input type="text" id="item" name="item"  class="span12 select2Product" value="{% if searchForm.item is defined %}{{ searchForm.item }}{% endif %}"  autocomplete="off" placeholder="Enter item name ">
                                        </div>
                                        <div class="span3">
                                            <input type="text" id="size" name="size"  class="span12 select2Size" value="{% if searchForm.size is defined %}{{ searchForm.size }}{% endif %}"  autocomplete="off" placeholder="Enter size name ">
                                        </div>
                                        <div class="span3">
                                            <input type="text" id="color" name="color"  class="span12 select2Color" value="{% if searchForm.color is defined %}{{ searchForm.color }}{% endif %}"  autocomplete="off" placeholder="Enter color name ">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row-fluid">
                                        <div class="span3">
                                            <input type="text" id="brand" name="brand"  class="leftMargin span12 select2Brand" value="{% if searchForm.brand is defined %}{{ searchForm.brand }}{% endif %}"  autocomplete="off" placeholder="Product brand name">
                                        </div>
                                        <div class="span3">
                                            <input type="text" id="category" name="category"  class="leftMargin span12 select2Category" value="{% if searchForm.category is defined %}{{ searchForm.category }}{% endif %}"  autocomplete="off" placeholder="Product category">
                                        </div>
                                        <div class="span3">
                                            <input type="text" id="branch" name="branch"  class="span12 select2Branch" value="{% if searchForm.branch is defined %}{{ searchForm.branch }}{% endif %}"  autocomplete="off" placeholder="Enter branch name">
                                        </div>
                                         <div class="span2">
                                            <input type="text" id="vendor" name="vendor"  class="span12 select2Vendor" value="{% if searchForm.vendor is defined %}{{ searchForm.vendor }}{% endif %}"  autocomplete="off" placeholder="Enter vendor name">
                                        </div>
                                        <div class="span1">
                                            <div class="controls">
                                                <div class="input-append span11">
                                                    <div class="btn-group">
                                                        <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Barcode</th>
                                    <th class="numeric" >SKU</th>
                                    <th class="numeric" >Branch</th>
                                    <th class="numeric" >Quantity</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for entity in entities %}
                                    <tr>
                                        <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.purchaseItem.barcode }}</td>
                                        <td class="numeric" >{{ entity.item.name }}</td>
                                        <td class="numeric" >{{ entity.branch.name }}</td>
                                        <td class="numeric" >{{ entity.quantity }}</td>
                                        <td class="numeric" >
                                            {% if entity.approvedBy is empty %}
                                                {% if ( app.user.granted("ROLE_DOMAIN")  or app.user.granted("ROLE_DOMAIN_MANAGER")  or app.user.granted("ROLE_DOMAIN_INVENTORY_MANAGER") or app.user.granted("ROLE_DOMAIN_INVENTORY"))  %}
                                                <a href="javascript:" id="action-{{ entity.id }}" data-id="{{ entity.id }}" class="btn blue mini approve "  data-url="{{ path('inventory_deliveryreturn_approve',{'id':entity.id}) }}"><i class="icon-check-empty"></i>&nbsp;Approve</a>
                                                {% endif %}
                                                <a title="Are you sure went to delete ?" href="{{ path('inventory_deliveryreturn_delete', { 'id': entity.id }) }}" class="btn red mini" ><i class="icon-trash"></i></a>
                                            {% else %}
                                                <a href="javascript:" class="btn green mini approve tooltips" title="Approved"  ><i class="icon-check"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr id="show-{{ entity.id }}" class="showing-overview">
                                        <td colspan="9">{{ entity.notes }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    ApproveProcess();
{% endblock %}


