{% extends '::print.html.twig' %}
{% block body %}
    {%  if entity.hospitalConfig.isPrintHeader == 1 %}
    <table class="table">
        <tr>
            <td>
                <div class="span4  pull-left invoice-logo-space">
                    {%  if entity.hospitalConfig.invoicePrintLogo == 1 %}
                    {% if entity.hospitalConfig.globalOption.templateCustomize.webPath('logo') is not empty %}   <img style="max-width: 180px; max-height: 60px" src="/{{ entity.hospitalConfig.globalOption.templateCustomize.webPath('logo') }}">{% endif %}
                    {%  endif %}
                </div>
            </td>
            <td class="pull-right">
                <div class="span4">
                    <ul class="unstyled">
                        <li><strong>{{ entity.hospitalConfig.globalOption.name }}</strong></li>
                        <li><i class="icon-phone"></i>&nbsp;{{ entity.hospitalConfig.globalOption.mobile }}</li>
                        {% if  entity.hospitalConfig.globalOption.email is not empty %}<li><i class="icon-envelope"></i>&nbsp;{{ entity.hospitalConfig.globalOption.email }}</li>{% endif %}
                        {% if  entity.hospitalConfig.globalOption.contactPage.address1 %}<li><i class="icon-home"></i>&nbsp;{{ entity.hospitalConfig.globalOption.contactPage.address1 }}</li>{% endif %}
                        {% if entity.hospitalConfig.globalOption.domain is not empty %}<li><i class="icon-link"></i>&nbsp;www.{{ entity.hospitalConfig.globalOption.domain }}</li>{% endif %}
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    {% endif %}
    <table class="table table-border" >
        <tr class="print-header">
            <th colspan="2">
                <strong class="title">Invoice</strong>
                <span class="barcode" style="margin-top: 8px">{{ barcode|raw }}</span>
            </th>
        </tr>
        <thead class="flip-content ">
        <tr class="head-black">
            <th><strong class="pull-left">Bill To</strong></th><th><strong class="pull-right">Transaction & Delivery</strong></th>
        </tr>
        </thead>
        <tr>
            <td>
                <ul class="unstyled">
                    <li><strong>Invoice no:</strong>&nbsp;{{ entity.invoice }}</li>
                    {% if entity.customer is not empty %}<li><strong>Patient Name:</strong>&nbsp;{{ entity.customer.name }}</li>{% endif %}
                    {% if entity.customer is not empty %}<li><strong>Mobile No:</strong>&nbsp;{{ entity.customer.mobile }}</li>{% endif %}
                    {% if entity.customer is not empty %}<li><strong>Gender:</strong>&nbsp;{{ entity.customer.gender }}</li>{% endif %}
                    {% if entity.customer is not empty %}<li><strong>Age:</strong>&nbsp;{{ entity.customer.age }}&nbsp;{{ entity.customer.ageType }}</li>{% endif %}
                    {% if entity.customer is not empty and entity.customer.location is not empty %}<li><strong>Location</strong>&nbsp;{{ entity.customer.location.name }}, {{ entity.customer.location.parent.name }}</li>{% endif %}
                </ul>
            </td>
            <td class="pull-right">
                <ul class="unstyled">
                    <li><strong>Created: </strong>&nbsp;<strong>{{ entity.created|date('d-m-Y h:i A') }}</strong></li>
                    {% if entity.transactionMethod is not empty %}<li><strong>Method: </strong>&nbsp;{{ entity.transactionMethod.name }}</li>{% endif %}
                    {% if entity.paymentMobile is not empty %}<li><strong><i class="icon-money"></i></strong>&nbsp;{{ entity.paymentMobile }}/{{ entity.transactionId }}</li>{% endif %}
                    {% if entity.cardNo is not empty %}<li><strong><i class="icon-money"></i>&nbsp;</strong>&nbsp;{{ entity.bank.name  }}/{{ entity.cardNo }}</li>{% endif %}
                    <li><strong>Payment status:</strong>&nbsp;{{  entity.paymentStatus|capitalize }}</li>
                    <li><hr></li>
                    <li><strong>Report status:</strong>&nbsp;{{  entity.process|capitalize }}</li>
                    <li><strong>Report Delivery:</strong>&nbsp;<strong>{{ entity.deliveryDateTime }}</strong></li>
                    {% if entity.referredDoctor is not empty %}<li><strong>Referred By:</strong>&nbsp;{{ entity.referredDoctor.particularCode }}-{{ entity.referredDoctor.name }}</li>{% endif %}
                </ul>
            </td>
        </tr>
    </table>
    {% if entity.invoiceParticulars is defined and  entity.invoiceParticulars is not empty  %}
        <table class="table table-bordered table-striped">
            <thead class="flip-content ">
            <tr class="head-black">
                <th>&nbsp;&nbsp;<i class="icon-reorder"></i></th>
                <th class="span5">Particular</th>
                <th class="span2">Service</th>
                <th class="span1">Qnt</th>
                <th class="span1">Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for item in entity.invoiceParticulars %}
                <tr id="remove-{{ item.id }}">
                    <td  class="span1">{{ loop.index }}</td>
                    <td class="span5">{{ item.particular.particularCode }} - {{ item.particular.name }}</td>
                    <td class="span2">{{ item.particular.service.name }}</td>
                    <td class="span1">{{ item.quantity }}</td>
                    <td class="span1">{{ item.subTotal|number_format }}</td>
                </tr>
                {% if item.particular.service.id == 1 and item.particular.instruction is not empty %}
                    <tr class="">
                        <td colspan="5" class="span9" >Instruction: {{ item.particular.instruction }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr><td colspan="4"><strong class="pull-right" >Total Amount</strong></td><td><strong>{{ entity.subTotal|number_format() }}</strong></td></tr>
            {% if entity.discount %}<tr><td colspan="4"><strong class="pull-right" >Discount Amount</strong></td><td><strong>{{ entity.discount|number_format() }}</strong></td></tr>{% endif %}
            {% if entity.vat %}<tr><td colspan="4"><strong class="pull-right" >Vat/Tax Amount</strong></td><td><strong>{{ entity.vat|number_format() }}</strong></td></tr>{% endif %}
            <tr><td colspan="4"><strong class="pull-right" >Grand Total</strong></td><td><strong>{{ entity.total|number_format() }}</strong></td></tr>
            <tr><td colspan="4"><strong class="pull-right" >Paid Amount</strong></td><td><strong>{{ entity.payment|number_format() }}</strong></td></tr>
            {% if entity.due %}<tr><td colspan="4"><strong class="pull-right" >Due Amount</strong></td><td><strong>{{ entity.due|number_format() }}</strong></td></tr>{% endif %}
            <tr><td colspan="5" style="text-align:right"><strong>In word TK.</strong>({{ inWords|raw }} only).</td></tr>
            <tr><td colspan="5" style="text-align:right"><strong>Remarks</strong>{{ entity.comment|raw }}.</td></tr>
            <tr><td colspan="3">  {%  if entity.hospitalConfig.isPrintFooter == 1 %}{{ portal_power }}{% endif %}</td><td><strong class="pull-right" >Created By</strong></td><td><strong>{{ entity.createdBy }}</strong></td></tr>
            </tfoot>
        </table>
    {% endif %}
    <script> window.print(); </script>
{% endblock %}
