{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <!-- BEGIN faq HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="faq-title">
                Form Components
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ path('homepage') }}">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="{{ path('faq') }}">Frequently Question Answer</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li><a href="#">Form Components</a></li>
                <li class="pull-right btn blue disabled mini">
                    <i class="fa fa-calendar"></i>
                    {{ "now"|date("d-F-Y") }}
                </li>
            </ul>
        </div>
    </div>
    <!-- END faq HEADER-->
    <!-- BEGIN faq CONTENT-->
    <div class="row-fluid">
        <div class="span12">

            <div class="portlet box green">

                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>Basic Information</div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-cogs"></i>&nbsp;Tools
                                <i class="icon-tasks"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{{ path('faq_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></li>
                                <li><a href="{{ path('faq') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}

                        <div class="row-fluid">
                            <div class="span12 ">
                                <div class="control-group">
                                    <label class="control-label" for="firstName">Title <span class="required">*</span></label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            <i class="icon-font"></i>
                                            {{ form_widget(form.name) }}
                                            {{ form_errors(form.name) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--/row-->
                        <div class="row-fluid">
                            <div class="span12 ">
                                <div class="control-group">
                                    <label class="control-label" for="firstName">Content</label>
                                    <div class="controls">
                                        {{ form_widget(form.content) }}
                                        {{ form_errors(form.content) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="form-actions portlet box grey">
                            <div class="pull-center">
                                <button type="submit" class="btn green"><i class="icon-ok"></i> Save</button>
                                <button type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</button>
                                {% if(entity.id > 0 ) %}
                                    <a href="{{ path('faq_delete',{'id': entity.id} ) }}"  class="btn red confirm" title="Are you sure went to delete?"><i class="icon-remove"></i> Delete</a>
                                {% endif %}
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <!-- END FORM-->
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}
