<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ entity.customer.name }}-{{ entity.invoice }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
    {% stylesheets filter='cssrewrite'
        'assets/print/css/print.css'
        'assets/print/css/prescription.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <script type="text/javascript">
        window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);
    </script>
<style>
    #myDIV {
        height:180px;
        display: grid;
        gap: 10px;
        grid-template-columns: 35% 28% 35%;

    }
    #myDIV div.item {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 5px 0;
        font-size: 14px;
        line-height: 18px;
    }
    #myDIV div.item.left{
        text-align: left;
    }
    #myDIV div.item.right{
        text-align: right;
    }
    #myDIV div h1{
        font-size: 20px;
        padding: 0;
        margin: 0;
        padding-bottom: 15px;
    }
    .specialist {
        border: 2px solid #000;
        border-radius: 4px!important;
        height: 65px;
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
    }

</style>
</head>

{% block body %}
    <div style="width:960px; height: 29.7cm; margin:0 auto;">
    <div class="print-header-content" style="height:180px;margin-top:48px;position: relative">
        <div id="myDIV">
            <div class="item left">
                <h1>{{ entity.assignDoctor.name }}</h1>
              {{ entity.assignDoctor.doctorSignature|raw }}
            </div>
            <div class="item" style="align-items:center;display: flex;">
                <span class="specialist">{{ entity.assignDoctor.specialist }}</span>
            </div>
            <div class="item right">
                 {{ entity.assignDoctor.doctorSignatureBangla|raw }}
            </div>
        </div>
        <div style="height: 20px; text-align: center;width: 100%; font-size: 16px; position:absolute; bottom: 20px">{{ entity.assignDoctor.visitTime }}</div>
    </div>
    <div id="" style="padding: 15px">
        <div class="row">
            <div class="col-md-12" style="margin-left: 0!important;">
                <table class="collapse table">
                    <tbody>
                    <tr>
                        <td style="width:33.333333%">Patient ID: {{ entity.customer.customerid }}</td>
                        <td>Mobile: {% if entity.customer is not empty %}{{ entity.customer.mobile }}{% endif %}</td>
                        <td>Gender:{% if entity.customer is not empty %}{{ entity.customer.gender }}{% endif %}</td>
                        <td>Age: {% if entity.customer is not empty %}{{ entity.customer.age }} {{ entity.customer.ageType }}{% endif %} </td>
                        <td rowspan="2" class="text-center">{{ barcode|raw }}</td>
                    <tr>
                        <td style="width:33.333333%">Name: {% if entity.customer is not empty %}{{ entity.customer.name }}{% endif %}</td>
                        <td colspan="3">Address: {% if entity.customer is not empty %}{{ entity.customer.address }}{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div  style="margin-top: 28px!important; float: left; width: 310px ">
             C/C
            </div>
            <div  style="padding-left: 30px;float: left; height:1010px; margin-left: -1px ;border-left:2px solid #0a7265">
                <img src="{{ asset('assets/img/customer/rx.png') }}" style="margin-top: 30px;width:44px">
                <br/>
            </div>
        </div>
    </div>
    {#{% if entity.hospitalConfig.webFooterPath is defined  and entity.hospitalConfig.webFooterPath is not empty  %}
        <div class="print-header-content" style="height: 100px">
            <img style="width: 100%; height:100px" src="/{{ entity.hospitalConfig.webFooterPath }}">
        </div>
    {% endif %}#}
    </div>
    <style>
        .unstyled{
            width: max-content;
        }
        .tab-pane{
            padding-left: 8px;
        }
        h4{
            padding: 0px;
            margin: 0px;
            font-size: 18px;
            margin-top: 7px;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}
 {% block javascriptBlock %}
 {% endblock %}

