{% extends '::base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <!-- BEGIN purchase_order HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="purchase_order-title">
                Purchase
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ path('homepage') }}">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="{{ path('purchase') }}">Purchase</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li><a href="#">Add/Edit purchase</a></li>
                <li class="pull-right btn blue disabled mini">
                    <i class="fa fa-calendar"></i>
                    {{ "now"|date("d-F-Y") }}
                </li>
            </ul>
        </div>
    </div>
    <!-- END purchase_order HEADER-->
    <!-- BEGIN purchase_order CONTENT-->
    <div class="row-fluid">
        <div class="span12" style="position:relative">

            <div class="portlet box green tabbable">
                <div id="dataProces"></div>
                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>Purchase Information</div>
                    <div class="span7 pull-center" id="error-msg"></div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-cogs"></i>&nbsp;Tools
                                <i class="icon-tasks"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{{ path('purchase_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></li>
                                <li><a href="{{ path('purchase') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                {% if(entity.id > 0 ) %}
                                    <li><a href="{{ path('purchase_edit',{'id':entity.id}) }}"><i class="icon-edit"></i>&nbsp;Edit</a></li>
                                    <li><a href="{{ path('purchase_show',{'id':entity.id}) }}"><i class="icon-eye-open"></i>&nbsp;Show</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="portlet-body">
                    {% include('flash-message.html.twig')  %}
                    <div class="row-fluid box green">
                        <div class="row-fluid">
                            <div class="span4">
                                <h4>Vendor:</h4>
                                <ul class="unstyled">
                                    <li>{{ entity.vendor.companyName }}</li>
                                    <li>{{ entity.vendor.name }}</li>
                                    <li>{{ entity.vendor.mobile }}</li>
                                    <li>{{ entity.vendor.address }}</li>
                                    {% if entity.vendor.country %}
                                        <li>{{ entity.vendor.country.name }}</li>
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="span4">
                                <h4>About:</h4>
                                <ul class="unstyled">
                                    <li><strong>Memo/Invoice #:</strong>{{ entity.memo }} {% if  entity.invoice  %}/{{ entity.invoice }}{% endif %}</li>
                                    <li><strong>Item/Qnt:</strong> {{ entity.totalItem }}/{{ entity.totalQnt }}</li>
                                    <li><strong>Received:</strong> {{ entity.receiveDate|date('d-m-Y') }}</li>
                                    <li><strong>Created:</strong> {{ entity.created|date('d-m-Y') }}</li>
                                    <li><strong>Created By:</strong> {% if entity.createdBy is defined and entity.createdBy is not empty %}{{ entity.createdBy.username }}{% endif %}</li>
                                </ul>
                            </div>
                            <div class="span4 invoice-payment">
                                <h4>Payment Details:</h4>
                                <ul class="unstyled">
                                    <li><strong>Total BDT:</strong> {{ entity.totalAmount|number_format() }}</li>
                                    <li><strong>Payment BDT:</strong> {{ entity.paymentAmount|number_format() }}</li>
                                    <li><strong>Due BDT:</strong> {{ entity.dueAmount|number_format() }}</li>
                                    <li><strong>Commission BDT:</strong> {{ entity.commissionAmount|number_format() }}</li>
                                </ul>
                            </div>

                        </div>
                        <table class="table table-bordered table-striped table-condensed flip-content ">

                            <thead class="flip-content ">
                            <tr class="head-grey">
                                <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                <th class="numeric" >Vendor item name</th>
                                <th class="numeric" >Qnt</th>
                                <th class="numeric" >Purchase price</th>
                                <th class="numeric" >Sub total</th>
                                <th class="numeric" >Sales price</th>
                                <th class="numeric" >Sub total</th>
                                <th class="numeric" >Action</th>
                            </tr>
                            </thead>
                            <tbody id="purchaseItem" >
                            {% for vendorItem in entity.purchaseVendorItems %}
                                <tr>
                                    <td> {% if entity.purchaseItems is defined and  entity.purchaseItems is not empty  %}<span class="badge badge-warning toggle badge-custom" id="{{ vendorItem.id  }}" ><span>[+]</span></span>{% endif %}</td>
                                    <td class="numeric" >{{ vendorItem.name }}</td>
                                    <td class="numeric" >{{ vendorItem.quantity }}</td>
                                    <td class="numeric" >
                                        <a class="editable" data-name="PurchasePrice" href="#"  data-url="{{ path('purchase_vendoritem_inline_update') }}" data-type="text" data-pk="{{ vendorItem.id }}" data-original-title="Enter purchase price"> {{ vendorItem.purchasePrice }}</a>
                                    </td>
                                    <td class="numeric" >{{ (vendorItem.purchasePrice * vendorItem.quantity) }}</td>
                                    <td class="numeric" >{{ vendorItem.salesPrice }}</td>
                                    <td class="numeric" >{{ (vendorItem.salesPrice * vendorItem.quantity) }}</td>
                                    <td class="numeric" >
                                        <a title="Are you sure went to delete ?" id="{{ entity.id }}" href="{{ path('purchase_vendoritem_delete', { 'purchase':entity.id,'id': vendorItem.id }) }}" r class="btn red mini" ><i class="icon-trash"></i></a>
                                    </td>
                                </tr>

                                <tr id="show-{{ vendorItem.id }}" class="showing-overview">
                                    <td colspan="8">
                                        {% if vendorItem.purchaseItems is defined and  vendorItem.purchaseItems is not empty  %}
                                            <table class="table table-bordered table-striped table-condensed flip-content "><thead class="flip-content ">
                                                <tr class="head-green">
                                                    <th class="numeric" >Item</th>
                                                    <th class="numeric" >Quantity</th>
                                                    <th class="numeric" >Sales price</th>
                                                    <th class="numeric" >Sub total</th>
                                                    <th class="numeric" >Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for purchaseItem in vendorItem.purchaseItems %}
                                                    <tr>
                                                        <td class="numeric" >
                                                            {{ purchaseItem.item.name }}
                                                        </td>
                                                        <td class="numeric" >
                                                            <a class="editable" data-name="Quantity" href="#"  data-url="{{ path('purchase_purchaseitem_inline_update') }}" data-type="text" data-pk="{{ purchaseItem.id }}" data-original-title="Enter purchase quantity"> {{ purchaseItem.quantity }}</a>
                                                        </td>
                                                        <td class="numeric" >
                                                            <a class="editable" data-name="SalesPrice" href="#"  data-url="{{ path('inventory_purchaseitem_inline_update') }}" data-type="text" data-pk="{{ purchaseItem.id }}" data-original-title="Enter sales price">{{ purchaseItem.salesPrice }}</a>
                                                        </td>
                                                        <td class="numeric" >{{ purchaseItem.salesPrice * purchaseItem.quantity }}</td>
                                                        <td class="pull-center" >
                                                            <a title="Are you sure went to delete ?" href="{{ path('purchase_purchaseitem_delete', { 'purchase':entity.id,'id': purchaseItem.id }) }}" id="{{  purchaseItem.id }}"  class="btn red mini" ><i class="icon-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                    <div class="portlet-body form">
                        <div class="form-actions portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-reorder"></i>Purchase Update & Approve</div>
                            </div>
                        </div>

                        <!--/span-->
                        <div class="row-fluid">
                            <div class="span12">&nbsp;</div>
                        </div>
                        <!-- BEGIN FORM-->
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}

                        <div class="row-fluid">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="firstName">&nbsp;</label>
                                    <div class="controls">
                                        As Investment &nbsp; {{ form_widget(form.asInvestment) }}
                                        {{ form_errors(form.asInvestment) }}
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Purchase To</label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    {{ form_widget(form.purchaseTo) }}
                                                    {{ form_errors(form.purchaseTo) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">

                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="transactionMethod">Transaction Method</label>
                                            <div class="controls">
                                                {{ form_widget(form.transactionMethod) }}
                                                {{ form_errors(form.transactionMethod) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="paymentAmount">Payment BDT<span class="required">*</span></label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-money"></i>
                                                    {{ form_widget(form.paymentAmount) }}
                                                    {{ form_errors(form.paymentAmount) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <!--/span-->
                            <div class="row-fluid">
                                <div class="span4"></div>
                                <div class="span8">
                                    <div class="row-fluid bankHide">
                                        <div class="span12">
                                            <div class="control-group ">
                                                <label class="control-label" for="accountBank">
                                                    {{ form_widget(form.accountBank) }}
                                                    {{ form_errors(form.accountBank) }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid mobileBankHide">
                                        <div class="span12">
                                            <div class="control-group ">
                                                <label class="control-label" for="accountBkash">
                                                    {{ form_widget(form.accountMobileBank) }}
                                                    {{ form_errors(form.accountMobileBank) }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="row-fluid">
                                <div class="span12">&nbsp;</div>
                            </div>
                            <!--/span-->
                            <div class="form-actions portlet box grey">
                                <div class="span8" id="message"></div>
                                <div class="pull-right">
                                    <button type="submit" class="btn green" id="action-button"><i class="icon-ok"></i> Update & Approve</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>.
    {% endblock %}
    {% block javascriptBlock %}
        {{ parent() }}
        {% javascripts
        '@InventoryBundle/Resources/public/js/puschase.js'
        '@InventoryBundle/Resources/public/js/editable.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock  %}
    {% block documentready %}
    {{ parent() }}
    EditableInit();
    InventoryPurchasePage();
{% endblock %}