
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Item Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('pro_purchaserequisition') }}">Purchase Requisition Item</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Purchase Requisition Item Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Purchase Requisition Item lists</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a target="_blank" href="{{ path('pro_purchaserequisition_itemprocess',{'process':'issued'}) }}" id="btn-create-barcode" class="btn blue" ><i class="icon-plus-sign"></i> Item Issue
                                    <a target="_blank" href="{{ path('pro_purchaserequisition_itemprocess',{'process':'rejected'}) }}" id="btn-create-barcode" class="btn red" ><i class="icon-cancel"></i> Item Reject</i>
                                    </a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid">
                                <form class="search-form" action="" method="get" name="itemSearch">
                                    <div class="row-fluid">
                                        <div class="span2">
                                            <input type="text" id="barcode" name="barcode"  class="span12 select2Barcode" value="{% if searchForm.barcode is defined %}{{ searchForm.barcode }}{% endif %}"  autocomplete="off" placeholder="Enter item barcode">
                                        </div>
                                        <div class="span3">
                                            <input type="text" id="item" name="item"  class="span12 select2Product" value="{% if searchForm.item is defined %}{{ searchForm.item }}{% endif %}"  autocomplete="off" placeholder="Enter item name">
                                        </div>
                                        <div class="span2">
                                            <input type="text" id="brand" name="brand"  class="leftMargin span12 select2Brand" value="{% if searchForm.brand is defined %}{{ searchForm.brand }}{% endif %}"  autocomplete="off" placeholder="Product brand name">
                                        </div>
                                        <div class="span2">
                                            <input type="text" id="vendor" name="vendor"  class="leftMargin span12 select2Vendor" value="{% if searchForm.vendor is defined %}{{ searchForm.vendor }}{% endif %}"  autocomplete="off" placeholder="Select vendor name">
                                        </div>
                                        <div class="span3">
                                            <div class="controls">
                                                <div class="input-append span10">
                                                    <input type="text" id="grn" name="grn"  class="m-wrap span12" value="{% if searchForm.grn is defined %}{{ searchForm.grn }}{% endif %}"  autocomplete="off" placeholder="Enter grn no">
                                                    <div class="btn-group">
                                                        <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="numeric" ><span class="btn black mini"><i class="icon-barcode"></i></span></th>
                                    <th class="numeric" >Department/Club</th>
                                    <th class="numeric" >SKU Name </th>
                                    <th class="numeric" >Received</th>
                                    <th class="numeric" >Requisition No</th>
                                    <th class="numeric" >Reaming Qnt</th>
                                    <th class="numeric" >Qnt</th>
                                    <th class="numeric" >Purchase price</th>
                                    <th class="numeric" >Process</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set arrs = ['issued','rejected'] %}
                                {% for purchaseItem in entities %}
                                    <tr {% if purchaseItem.process in arrs %} class="disabled" aria-disabled="true" {% endif %}>
                                        <td><input {% if purchaseItem.id in selected %} checked="checked" {% endif %} id="action-{{ purchaseItem.id }}"  data-id="{{ purchaseItem.id }}" data-url="" type="checkbox" name="item[]" value="{{ purchaseItem.id }}" class="check tooltips barcode" data-trigger="hover" data-original-title="PO Issue"  ></td>
                                        <td class="numeric" >{% if purchaseItem.requisition.club is not empty %}{{ purchaseItem.requisition.club.name }}{% endif %}</td>
                                        <td class="numeric" >{{ purchaseItem.item.name }}</td>
                                        <td class="numeric" >{% if purchaseItem.requisition is not empty %}{{ purchaseItem.requisition.updated|date('d-m-Y') }}{% endif %}</td>
                                        <td class="numeric" >{% if purchaseItem.requisition is not empty %}{{ purchaseItem.requisition.grn }}{% endif %}</td>
                                        <td class="numeric" >{{ purchaseItem.item.remainingQuantity }}</td>
                                        <td class="numeric" >{{ purchaseItem.quantity }}</td>
                                        <td class="numeric" >{{ purchaseItem.purchasePrice }}</td>
                                        <td class="numeric" >{{ purchaseItem.process|capitalize }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot><tr><td colspan="9"></td></tr></tfoot>
                            </table>

                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <style>
        .disabled{
            opacity: 0.5;
        }
    </style>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
        '@InventoryBundle/Resources/public/js/editable.js'
        '@InventoryBundle/Resources/public/js/item.js'
        '@InventoryBundle/Resources/public/js/approveProcess.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
    InventoryItemListPage();
    ApproveProcess();
{% endblock %}
