{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Bulk SMS
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Bulk SMS</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i> SMS Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('election_sms_new') }}"><i class="icon-plus-sign"></i>&nbsp;SMS Create</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->

                        <div class="clearfix"><br/></div>
                        <div class="portlet-body flip-scroll">

                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Name</th>
                                    <th class="numeric" >Process</th>
                                    <th class="numeric" >SMS for</th>
                                    <th class="numeric" >Total</th>
                                    <th class="numeric" >Success</th>
                                    <th class="numeric" >Failed</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td><span class="badge badge-success toggle badge-custom" id="{{ entity.id  }}" ><span>[+]</span></span></td>
                                        <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.name }}</td>
                                        <td class="numeric" >{{ entity.process|capitalize }}</td>
                                        <td class="numeric" >
                                            {% if entity.process == 'Member' and entity.locationMember is not empty %}
                                                {{ entity.locationMember.locationType.name }}: {{ entity.locationMember.name }},{{ entity.locationMember.parent.name }}
                                            {% elseif entity.process == 'Voter' and entity.locationVoter is not empty %}
                                                {{ entity.locationVoter.locationType.name }}: {{ entity.locationVoter.name }},{{ entity.locationVoter.parent.name }}
                                            {% elseif entity.process == 'Committee' and entity.committee is not empty %}
                                                {{ entity.committee.name }}
                                            {% elseif entity.process == 'Vote Center' and entity.voteCenter is not empty %}
                                               Vote Center: {{ entity.voteCenter.voteCenterName }}, {{ entity.voteCenter.parent.voteCenterName }}
                                            {% elseif entity.process == 'Event' and entity.event is not empty %}
                                                {{ entity.event.name }}
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >{{ entity.total }}</td>
                                        <td class="numeric" >{{ entity.failed }}</td>
                                        <td class="numeric" >{{ entity.failed }}</td>
                                        <td class="numeric" >
                                            <div class="btn-group">
                                                {% if( entity.status == 1) %}
                                                    <a href="{{ path('election_sms_status', { 'id': entity.id}) }}" class="btn yellow mini"><i class="icon-ok"></i></a>
                                                {% else %}
                                                    <a  href="{{ path('election_sms_status', { 'id': entity.id}) }}" class="btn yellow mini" >x</a>
                                                {% endif %}
                                                {% if entity.smsStatus == 'Created'  %}
                                                    <a href="{{ path('election_sms_edit', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-edit"></i></a>
                                                    <a title="Are you sure went to delete ?" href="{{ path('election_sms_delete', { 'id': entity.id }) }}" class="btn red mini" ><i class="icon-trash"></i></a>
                                                    <a data-title="{{ entity.name }}" id="" class="btn mini approve purple" href="javascript:" data-url="{{ path('election_bulk_sms', { 'id': entity.id }) }}" >SMS</a>
                                                {% else %}
                                                    <a  id="" class="btn mini blue" href="javascript:">Done</a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="show-{{ entity.id }}" class="showing-overview">
                                        <td colspan="9">
                                            <table class="table">
                                                <tr><td>Message</td><td>{{ entity.content }}</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@ElectionBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}



