{% extends '::base.html.twig' %}

{% block body -%}
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-cogs"></i>Module

            </div>
            <div id="" class="date-tooltip" >
                <i class="fa fa-calendar"></i>
                {{ "now"|date("d-F-Y") }}
            </div>
        </div>
        <div>

            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" >Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('module') }}" >Module</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    Create
                </li>

                <li class="pull-right custom-pull-right" >
                    <a class="btn green-stripe purple" href="{{ path('module_new') }}"><i class="icon-plus"></i> New Create</a>
                    <a class="btn purple-stripe blue" href="{{ path('module') }}">Listing<i class="icon-headphones"></i></a>

                </li>
            </ul>
        </div>
        {% include('flash-message.html.twig')  %}
        <div class="form-group form-group-custom backgroundWhite ">
            <div class="modal-dialog modal-dialog-form" >
                <div class="modal-content" >

                    <div class="modal-body ">
                        <div class="portlet box">
                            {{ form_start(edit_form) }}
                            {{ form_row(edit_form._token) }}
                            <div class="form-group">
                                <label for="item_itemName"  class="control-label col-md-3 required">Name:</label>
                                <div class="col-md-6 form-group-error">
                                    <div class="input-icon">
                                        {{ form_widget(edit_form.name) }}
                                        {{ form_errors(edit_form.name) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="item_itemName"  class="control-label col-md-3 required">Module Class Name:</label>
                                <div class="col-md-6 form-group-error">
                                    <div class="input-icon">
                                        {{ form_widget(edit_form.moduleClass) }}
                                        {{ form_errors(edit_form.moduleClass) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="item_itemName"  class="control-label col-md-3 required">Menu:</label>
                                <div class="col-md-6 form-group-error">
                                    <div class="input-icon">
                                        {{ form_widget(edit_form.menu) }}
                                        {{ form_errors(edit_form.menu) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="item_itemName"  class="control-label col-md-3 required">Description :</label>
                                <div class="col-md-6 form-group-error">
                                    <div class="input-icon">
                                        {{ form_widget(edit_form.description) }}
                                        {{ form_errors(edit_form.description) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="item_itemName"  class="control-label col-md-3 required">Status:</label>
                                <div class="col-md-6">
                                    <label class="checkbox line">
                                        {{ form_widget(edit_form.status) }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-actions">
                                <label for="item_itemName"  class="control-label col-md-3 required"></label>
                                <div class="col-md-6">
                                    {{ form_widget(edit_form.submit) }}{{ form_widget(edit_form.reset) }}
                                </div>
                            </div>


                            {{ form_end(edit_form) }}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
