{% extends '::baseprint.html.twig' %}
{% block body %}
        <script type="text/javascript">
            window.print();
            setTimeout(function () {
                window.open('', '_self', '');
                window.close();
            }, 2000);
        </script>
    <div id="invoice">
        <div class="invoice overflow-auto" style="margin-top:{{ config.printTopMargin }}px!important;">
            <div style="min-width: 600px">
                <header>
                    {% if config.isPrintHeader == 1 %}
                        <div class="row">
                            <div class="col">
                            <span>
                              {% if config.webPath is not empty %}
                                  <img  src="{{ image(config.webPath).resize(340,102, 'white') }}">
                              {% endif %}
                            </span>
                            </div>
                            <div class="col company-details">
                                {{ config.address|raw }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        {% if entity.process == 'Chalan' %}
                            <div class="caption"><strong>CHALAN</strong></div>
                        {% elseif entity.process == 'Quotation' %}
                            <div class="caption"><strong>QUOTATION</strong></div>
                        {% else %}
                            <div class="caption"><strong>INVOICE/BILL</strong></div>
                        {% endif %}
                    </div>
                </header>
                <main>
                    <div class="row contacts">
                        <div class="col invoice-to">
                            <div class="text-gray-light">INVOICE TO:</div>
                            {% if entity.customer %}
                                {% if  entity.customer.name is not empty  %}
                                    <h4 class="to">{{ entity.customer.name }}</h4>
                                {% endif %}
                                {% if  entity.customer.mobile is not empty %}
                                    <div class="address">{{ entity.customer.mobile }}</div>
                                {% endif %}
                                {% if  entity.customer.address is not empty  %}
                                    <div class="address"><i class=" icon-map-marker"></i>&nbsp;{{ entity.customer.address|raw }}</div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col invoice-details" style="text-align: left">
                            <h4>Event Details:</h4>
                            <div><strong><i class="icon-th-list"></i>&nbsp;</strong> {{ entity.eventType }}</div>
                            <div><strong><i class="icon-th"></i>&nbsp;</strong> {{ entity.venue }}</div>
                            <div><strong><i class="icon-calendar"></i>&nbsp;Start </strong>{{ entity.startDate|date('d-m-Y') }}</div>
                            <div><strong><i class="icon-calendar"></i>&nbsp;End </strong>{{ entity.endDate|date('d-m-Y') }}</div>

                        </div>
                        <div class="col invoice-details">
                            <h5 class="invoice-id">INVOICE {{ entity.invoice }}</h5>
                            <div class="date">Date of Invoice: {{ entity.created|date('d-m-Y') }}</div>
                            {% if entity.transactionMethod is not empty %}<div class="date">Method: {{ entity.transactionMethod.name }}</div>{% endif %}
                            {% if entity.paymentMobile is not empty %}<div class="date">{{ entity.paymentMobile }}/{{ entity.transactionId }}</div>{% endif %}
                            {% if entity.cardNo is not empty %}<div class="date">{{ entity.bank.name  }}/{{ entity.cardNo }}</div>{% endif %}
                        </div>
                    </div>
                    <table class="main-table" border="0" cellspacing="0" cellpadding="0" style="border: 2px solid #999">
                        <thead>
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 75%" class="text-left">DESCRIPTION</th>
                            <th style="width: 8%" class="text-right">UNIT</th>
                            <th style="width: 8%" class="text-right">QNT</th>
                            <th style="width: 8%" class="text-right">TOTAL</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index,item in entity.businessInvoiceParticulars %}
                            <tr>
                                <td class="no">0{{ loop.index }}</td>
                                <td class="text-left"><h3>
                                        {{ item.particular }}
                                    </h3>
                                </td>
                                <td class="unit">{{ item.price|number_format() }}</td>
                                <td class="qty">{{ item.quantity }}</td>
                                <td class="total">{{ item.subTotal|number_format() }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2" style="width:50%;">
                                <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0" class="tfoot-table">
                                    <tr><td style="text-align: left!important;"><strong>In words: {% if entity.process == "Quotation" %}{{ amountInWords }}{% else %}{{ entity.paymentInWord }}{% endif %} </strong></td></tr>
                                </table>
                            </td>
                            <td colspan="3" style="width:50%; border-left: 2px solid #999999;vertical-align: top!important; ">
                                <table style="width: 100%;margin-bottom: -20px;" border="0" cellspacing="0" cellpadding="0" class="tfoot-table">
                                    <tr><td >SUB TOTAL</td><td><strong  class="pull-right">{{ entity.subTotal|number_format() }}</strong></td></tr>
                                    <tr><td >DISCOUNT</td><td><strong  class="pull-right">{{ entity.discount|number_format() }}</strong></td></tr>
                                    <tr><td ><strong>GRAND TOTAL</strong></td><td ><strong>{{ entity.total|number_format() }}</strong></td></tr>
                                    <tr><td colspan="2"  style="border-bottom:3px solid #000!important; height: 1px"></td></tr>
                                    <tr><td style="text-align: left!important;"><strong class="pull-right" >PAID</strong></td><td><strong  class="pull-right">{{ entity.received|number_format() }}</strong></td></tr>
                                    <tr><td colspan="2"  style="height: 5px"></td></tr>
                                </table>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div style="clear: both; display: flex"></div>
                    <div class="thanks">Thank you!</div>
                    <div class="notices">
                        <div>NOTICE:</div>
                        <div class="notice">{{ entity.comment }}</div>
                    </div>
                </main>
                 <footer>
            {#         <span class="left"> Invoice was created on a computer and is valid without the signature and seal.</span>
                     <span class="right">Developed by: {{ portal_design_development }}</span>
           #}      </footer>
            </div>
            <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        </div>
    </div>
    <style>
        body{
            font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
            font-size: 18px;
        }
        .invoice {
            min-height:auto;
        }
        .caption{
            text-align: center;
            width: 100%;
            height: 45px;
            font-size: 24px;
        }
        .invoice table.main-table th{
            background-color: #313131;
            color: #FFFFff;
        }
        .invoice table.main-table td , .invoice table.main-table th {
            padding: 5px;
            border: 2px solid #231f1f!important;
        }
        .invoice table.tfoot-table td , .invoice table.tfoot-table th {
            padding: 5px;
            border: none!important;
        }
        .invoice header {
            border-bottom: 1px solid #c49f47;
        }
        .invoice .company-details .name {
            color: #c49f47;
        }
        .invoice .invoice-details .invoice-id {
            color: #c49f47
        }
        .invoice main .notices {
            border-left: 6px solid #c49f47
        }
        .invoice table td h3 {
            margin: 0;
            font-weight: bold;
            color: #000101;
        }
        .invoice table .no {
            background: #c49f47
        }
        .invoice table .total {
            background: #c49f47;
        }
    </style>
{% endblock %}




