{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                    Product: {{  entity.webName }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('ecommerce_item') }}">Product</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Product: {{ entity.webName }}</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid" style="position: relative">

            <div class="span12">
                <div id="dataProces"></div>
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Product Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="{{ path('ecommerce_item') }}"> <i class="icon-th-list"></i> Product</a></div></div></div>
                    <div class="portlet-body" >
                     {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

