{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                   Payment Invoice: {{ customer.name }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('customerweb_invoice',{'shop':globalOption.slug}) }}"> Invoice</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i> {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Payment Invoice</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('customerweb_invoice_new',{'shop':globalOption.slug}) }}"><i class="icon-plus-sign"></i> New Invoice</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            {#<div class="row-fluid" >
                                <form class="search-form" action="" method="get" name="itemSearch">
                                    <div class="row-fluid" style="margin-bottom: 10px">
                                        <div class="span3">

                                        </div>
                                        <div class="span3">
                                            <div class="input-icon left">
                                                <i class="icon-calendar"></i>
                                                <input class="m-wrap span12 search-input date-picker" name="createdStart" id="createdStart" value="{% if searchForm.createdStart is defined %}{{ searchForm.createdStart }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.createdStart is defined %}{{ searchForm.createdStart }}{% else %}Start date{% endif %}" >
                                            </div>
                                        </div>

                                        <div class="span3">
                                            <div class="input-icon left">
                                                <i class="icon-calendar"></i>
                                                <input class="m-wrap span12 search-input date-picker" name="createdEnd" id="createdEnd" value="{% if searchForm.createdEnd is defined %}{{ searchForm.createdEnd }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.createdEnd is defined %}{{ searchForm.createdEnd }}{% else %}End date{% endif %}">
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <div class="controls">
                                                <div class="input-append span12">
                                                    <select name="process" id="process" class="m-wrap span5">
                                                        <option value="" >--Process--</option>
                                                        {% set processes =['Created','Hold','Delivered','Done','Quotation','Canceled'] %}
                                                        {% for pro in processes %}
                                                            <option value="{{ pro }}" {% if searchForm.process is defined and searchForm.process == pro %} selected="selected" {% endif %} >{{ pro }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="text" id="invoice" name="invoice"  class="m-wrap span5" value="{% if searchForm.invoice is defined %}{{ searchForm.invoice }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.invoice is defined %}{{ searchForm.invoice }}{% else %}Invoice no{% endif %} ">
                                                    <div class="btn-group">
                                                        <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>#}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-green">
                                    <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Invoice</th>
                                    <th class="numeric" >Method</th>
                                    <th class="numeric" >Net Total</th>
                                    <th class="numeric" >Payment</th>
                                    <th class="numeric" >Process</th>
                                    <th class="numeric" >End Date</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for entity in entities %}
                                    {% if entity.total > 0 %}
                                    <tr>
                                        <td><span class="badge badge-success toggle badge-custom" id="{{ entity.id  }}" ><span>[+]</span></span></td>
                                        <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.invoice }}</td>
                                        <td class="numeric" >{% if entity.transactionMethod %}{{ entity.transactionMethod.name }}{% endif %}</td>
                                        <td class="numeric" >{{ entity.total }}</td>
                                        <td class="numeric" >{{ entity.received }}</td>
                                        <td class="numeric" > {{ entity.process }}</td>
                                        <td class="numeric" > {{ entity.endDate|date('d-m-Y') }}</td>

                                        <td class="numeric" >
                                            <div class="btn-group">
                                                {% set processIntArr = ['Hold','Created','Revised','In-progress'] %}
                                                {% if entity.process in  processIntArr %}
                                                <a  data-id="{{ entity.id }}" data-url="{{ path('customerweb_invoice_delete', { 'shop':globalOption.slug,'id': entity.id }) }}" href="javascript:" class="btn red mini delete tooltips" data-trigger = "hover" data-original-title = "Delete" ><i class="icon-trash"></i> Delete</a>
                                                {% endif %}

                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="show-{{ entity.id }}" class="showing-overview">
                                        <td colspan="10">
                                            <table class="table">
                                                <tr><td class="span3">Remark</td><td>{{ entity.comment }}</td></tr>
                                                {% if entity.accountBank is not empty %}
                                                    <tr><td>Bank name</td><td>{{ entity.accountBank.name }}</td></tr>
                                                    <tr><td>Account no.</td><td>{{ entity.accountBank.accountNo }}</td></tr>
                                                    <tr><td>Card No.</td><td>
                                                            {% if entity.process in  processIntArr %}
                                                                <a  data-type="text" class="editable" id="{{ entity.id }}" data-name="CardNo" href="#"   data-url="{{ path('customer_invoice_inline_update', { 'shop':globalOption.slug}) }}" data-pk="{{ entity.id }}" data-value="  {{ entity.cardNo }}" data-original-title="Enter Card No">  {{ entity.cardNo }}</a>
                                                            {% else %}
                                                                {{ entity.cardNo }}
                                                            {% endif %}


                                                        </td>
                                                    </tr>
                                                    <tr><td>Payment Card.</td><td>
                                                            {% if entity.process in  processIntArr %}
                                                                <a  data-type="text" class="editable" id="{{ entity.id }}" data-name="PaymentCard" href="#"   data-url="{{ path('customer_invoice_inline_update', { 'shop':globalOption.slug}) }}" data-pk="{{ entity.id }}" data-value="  {{ entity.paymentCard }}" data-original-title="Enter Card No">  {{ entity.paymentCard }}</a>
                                                            {% else %}
                                                                {{ entity.paymentCard }}
                                                            {% endif %}
                                                            </td>
                                                    </tr>
                                                {% endif %}
                                                {% if entity.accountMobileBank is not empty %}
                                                    <tr><td>Receive Mobile</td><td>{{ entity.accountMobileBank.name }}</td></tr>
                                                    <tr><td>Payment Mobile</td><td>
                                                            {% if entity.process in  processIntArr %}
                                                            <a  data-type="text" class="editable" id="{{ entity.id }}" data-name="PaymentMobile" href="#"   data-url="{{ path('customer_invoice_inline_update', { 'shop':globalOption.slug}) }}" data-pk="{{ entity.id }}" data-value="  {{ entity.paymentMobile }}" data-original-title="Enter Payment Mobile">  {{ entity.paymentMobile }}</a>
                                                            {% else %}
                                                                {{ entity.paymentMobile }}
                                                            {% endif %}
                                                        </td></tr>
                                                    <tr><td>PRX ID</td><td>
                                                            {% if entity.process in  processIntArr %}
                                                            <a  data-type="text" class="editable" id="{{ entity.id }}" data-name="TransactionId" href="#"   data-url="{{ path('customer_invoice_inline_update', { 'shop':globalOption.slug}) }}" data-pk="{{ entity.id }}" data-value="{{ entity.transactionId }}" data-original-title="Enter Payment PRX ID">  {{ entity.transactionId }}</a>
                                                            {% else %}
                                                                {{ entity.transactionId }}
                                                            {% endif %}
                                                        </td></tr>
                                                {% endif %}
                                            </table>
                                            <table class="table">
                                                <thead class="flip-content ">
                                                <tr class="head-yellow">
                                                    <th class="span1"> S/N</th>
                                                    <th class="span4">Particular</th>
                                                    <th class="span1">Payment Month </th>
                                                    <th class="span1">Unit Price</th>
                                                    <th class="span1">Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody id="invoiceParticulars">
                                                {% for item in entity.businessInvoiceParticulars %}
                                                    <tr id="remove-{{ item.id }}">
                                                        <td  class="">{{ loop.index }}.</td>
                                                        <td class="">{{ item.particular }}</td>
                                                        <td class="numeric" > {% if item.startDate is not empty %} {{ item.startDate|date("F,y") }} To {{ entity.endDate|date("F,y") }}{% endif %}</td>
                                                        <td class="">{{ item.price }}</td>
                                                        <td class="" id="subTotal-{{ item.id }}">{{ item.subTotal|number_format }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@BusinessBundle/Resources/public/js/approveProcess.js'
    '@BusinessBundle/Resources/public/js/editable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
{% endblock %}
