<!-- BEGIN FORM-->
<div class="portlet box green">
    <div class="clearfix">&nbsp;</div>
    <div class="portlet-body" style="height: 460px">
    {{ form_start(form) }}
    {{ form_row(form._token) }}
        <div class="row-fluid">
            <div class="span4">
                <div class="control-group">
                    <label class="control-label" for="price">Assign Doctor</label>
                    <div class="controls">
                        {{ form_widget(form.assignDoctor) }}
                        {{ form_errors(form.assignDoctor) }}
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group">
                    <label class="control-label red" for="firstName"><span>Patient Name</span><span class="required">*</span></label>
                    <div class="controls">
                        {{ form_widget(form.customer.name) }}
                        {{ form_errors(form.customer.name) }}
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="row-fluid">
                    <div class="span12">
                        <label class="control-label red" for="firstName"><span>Mobile no</span><span class="required">*</span></label>
                        <div class="controls">
                            {{ form_widget(form.customer.mobile) }}
                            {{ form_errors(form.customer.mobile) }}
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label" for="price">Gender & Age Group<span class="required">*</span></label>
                        <div class="controls">
                            <div class="span4">
                                {{ form_widget(form.customer.gender) }}
                            </div>
                            <div class="span4">
                                {{ form_widget(form.customer.age) }}
                            </div>
                            <div class="span4">
                                {{ form_widget(form.customer.ageType) }}
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group">
                        <label class="control-label" for="price">Blood Group</label>
                        <div class="controls">
                            <div class="span12">
                                {{ form_widget(form.customer.bloodGroup) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                <div class="control-group">
                    <label class="control-label" for="price">Age & Weight<span class="required">*</span></label>
                    <div class="controls">
                        <div class="span4">
                            {{ form_widget(form.customer.ageGroup) }}
                        </div>
                        <div class="span4">
                            {{ form_widget(form.customer.bloodPressure) }}
                        </div>
                        <div class="span4">
                            {{ form_widget(form.customer.weight) }}
                        </div>
                    </div>
                </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label class="control-label red" for="firstName"><span>Address</span></label>
                            <div class="controls">
                                {{ form_widget(form.customer.address) }}
                                {{ form_errors(form.customer.address) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12" style="margin-bottom: 8px!important;">
                        <button type="submit"  class="btn blue big span12" id="saveNewPatientButton"><i class="icon-save"></i> Save & Continue</button>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
    <div class="clearfix">&nbsp;</div>
</div>

<!-- END FORM-->
