{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN Diagonestic_warehouse HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="Diagonestic_warehouse-title">
                    Diagnostic Configuration
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>

                    <li><a href="#">Diagnostic Configuration </a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END Diagonestic_warehouse HEADER-->
        <!-- BEGIN Diagonestic_warehouse CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Diagnostic configuration Information</div>
                    </div>
                    <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <div class="clearfix"><br/></div>
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                                <div class="row-fluid box green">
                                    <div class="span3">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.initialDiagnosticShow) }} Initial Diagnostic Show
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.commissionAutoApproved) }} Commission Auto Approved
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.prescriptionBuilder) }} Prescription Builder
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.appointmentPrescription) }}Appointment Prescription
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.isMarketingExecutive) }} Marketing Executive
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " for="invoiceProcess"></label>
                                                    <div class="control">
                                                        {{ form_widget(form.isInventory) }} Is Inventory
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="row-fluid">
                                            <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label " for="invoiceProcess">Invoice Process</label>
                                            <div class="control">
                                                {{ form_widget(form.invoiceProcess) }}
                                                {{ form_errors(form.invoiceProcess) }}
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " for="advanceSearchParticular"></label>
                                                    <div class="control">
                                                        {{ form_widget(form.advanceSearchParticular) }} Advance Search Particular
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.services) }}
                                                {{ form_errors(form.services) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " for="">Address</label>
                                                    <div class="control">
                                                        {{ form_widget(form.address) }}
                                                        {{ form_errors(form.address) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="form-actions portlet box blue">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Vat Information</div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row-fluid">
                                        <div class="span2">
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label " for="invoiceProcess">&nbsp;</label>
                                                        <div class="control">
                                                            {{ form_widget(form.vatEnable) }}
                                                            {{ form_errors(form.vatEnable) }} Vat Enable
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="vatPercentage">Vat Registration No &nbsp;</label>
                                                        <div class="control">
                                                            {{ form_widget(form.vatRegNo) }}
                                                            {{ form_errors(form.vatRegNo) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label " for="vatPercentage">Vat Percentage &nbsp;</label>
                                                        <div class="control">
                                                            {{ form_widget(form.vatPercentage) }}
                                                            {{ form_errors(form.vatPercentage) }}%
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4">

                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label " for="customerPrefix">Customer Prefix</label>
                                                        <div class="control">
                                                            {{ form_widget(form.customerPrefix) }}
                                                            {{ form_errors(form.customerPrefix) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label " for="vatPercentage">Invoice Prefix</label>
                                                        <div class="control">
                                                            {{ form_widget(form.invoicePrefix) }}
                                                            {{ form_errors(form.invoicePrefix) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions portlet box purple">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Print</div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    {{ form_widget(form.customPrint) }}Custom Print
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    {{ form_widget(form.printOff) }} Print Off
                                                </div>
                                            </div>

                                            <div class="row-fluid">
                                                <div class="span12">
                                                    {{ form_widget(form.invoicePrintLogo) }}Print Logo
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    {{ form_widget(form.isPrintHeader) }} Print Invoice Header
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    {{ form_widget(form.isInvoiceTitle) }} Print Invoice Title
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    {{ form_widget(form.isPrintFooter) }} Print Power
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    {{ form_widget(form.printInstruction) }} Print Instruction
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="row-fluid">
                                                <div class="span12"><h4>Invoice Format</h4></div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label " for="vatPercentage">Invoice Height</label>
                                                        <div class="control">
                                                            {{ form_widget(form.invoiceHeight) }}
                                                            {{ form_errors(form.invoiceHeight) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label " for="vatPercentage">Margin Left/Right</label>
                                                        <div class="control">
                                                            {{ form_widget(form.printLeftMargin) }}
                                                            {{ form_errors(form.printLeftMargin) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label " for="vatPercentage">Margin Top</label>
                                                        <div class="control">
                                                            {{ form_widget(form.printTopMargin) }}
                                                            {{ form_errors(form.printTopMargin) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="row-fluid"><div class="span12"><h4>Report Format</h4></div></div>
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label " for="">&nbsp;</label>
                                                        <div class="control">
                                                            {{ form_widget(form.isPrintReportHeader) }}&nbsp;Show Header
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label " for="reportHeight">Report Height</label>
                                                        <div class="control">
                                                            {{ form_widget(form.reportHeight) }}
                                                            {{ form_errors(form.reportHeight) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label " for="vatPercentage">Margin Top</label>
                                                        <div class="control">
                                                            {{ form_widget(form.printMarginReportTop) }}
                                                            {{ form_errors(form.printMarginReportTop) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label " for="vatPercentage">Margin Left/Right</label>
                                                        <div class="control">
                                                            {{ form_widget(form.printMarginReportLeft) }}
                                                            {{ form_errors(form.printMarginReportLeft) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions portlet box blue">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Header & Footer</div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="name">Header Banner</label>
                                                <div class="controls">
                                                    <div data-provides="fileupload" class="fileupload fileupload-new">
                                                        <div  class="fileupload-new">
                                                            {% if(entity.headerPath) %}
                                                                <img class="" alt="" src="{{ image(entity.webHeaderPath).resize(1024,100) }}">
                                                            {% else %}
                                                                <img alt="" src="https://via.placeholder.com/1024x100/FF0000/FFFFFF?Text=Header">
                                                            {% endif %}
                                                        </div>
                                                        <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                        <div>
                                                        <span class="btn btn-file">
                                                            <span class="fileupload-new">Select image</span>
                                                            <span class="fileupload-exists">Change</span>
                                                              {{ form_widget(form.headerFile) }}
                                                        </span>
                                                            <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="name">Footer Banner</label>
                                                <div class="controls">
                                                    <div data-provides="fileupload" class="fileupload fileupload-new">
                                                        <div  class="fileupload-new">
                                                            {% if(entity.footerPath) %}
                                                                <img class="" alt="" src="{{ image(entity.webFooterPath).resize(1024,100) }}">
                                                            {% else %}
                                                                <img alt="" src="https://via.placeholder.com/1024x100/FF0000/FFFFFF?Text=Header">
                                                            {% endif %}
                                                        </div>
                                                        <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                        <div>
                                                        <span class="btn btn-file">
                                                            <span class="fileupload-new">Select image</span>
                                                            <span class="fileupload-exists">Change</span>
                                                             {{ form_widget(form.footerFile) }}
                                                        </span>
                                                            <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="form-actions portlet box blue">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Invoice Custom Print CSS</div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            {{ form_widget(form.cssContent) }}
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="form-actions portlet box blue">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Message</div>
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="span12">
                                            {{ form_widget(form.messageAdmission) }}
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            {{ form_widget(form.messageDiagnostic) }}
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            {{ form_widget(form.messageVisit) }}
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="form-actions portlet box grey">
                                        <div class="pull-right">
                                            <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                                        </div>
                                    </div>
                                </div>
                    <!--/span-->
                            {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <style>
        .check-list label {
            float: left;
            width: 82%!important;
        }
    </style>
{% endblock %}
