{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Order
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('order',{'shop':globalOption.slug}) }}">Manage Order</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Order Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Order Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn purple" href="{{ path('order_print_invoice', { 'shop':globalOption.slug,'invoice': entity.invoice }) }} " target="_blank"><i class="icon-print"></i>&nbsp; Print</a>
                                <a class="btn yellow" href="{{ path('order',{'shop':globalOption.slug}) }}"><i class="icon-th-list"></i>&nbsp;Orders</a>

                            </div>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>{{ entity.delivery|capitalize }} Address</strong></label>
                                        <ul class="unstyled" >
                                            <li><strong>Name</strong>:&nbsp;{{ entity.createdBy.profile.name }}</li>
                                            <li><strong>Mobile</strong>:&nbsp;{{ entity.createdBy.profile.mobile }}</li>
                                            <li><strong>Location</strong>:{% if entity.createdBy.profile.location is not empty %}&nbsp;{{ entity.createdBy.profile.location.name }}{% endif %}</li>
                                            <li>{{ entity.address }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>Process Details</strong></label>
                                        <ul class="unstyled" >
                                            <li><strong>Invoice</strong>:#&nbsp;{{ entity.invoice }}</li>
                                            {% if entity.cashOnDelivery == 1 %}
                                                <li><strong>Payment Method</strong>:&nbsp;Cash On Delivery</li>
                                            {% endif %}
                                            <li><strong>Shipping Method</strong>:&nbsp;{{ entity.delivery|capitalize }}</li>
                                            <li><strong>Delivery Date</strong>:&nbsp;{{ entity.deliveryDate|date('d-m-Y') }}</li>
                                            <li><strong>Delivery Slot</strong>:&nbsp;{{ entity.deliverySlot }}</li>
                                            <li><strong>Process</strong>:&nbsp;{{ entity.process|capitalize }}</li>
                                            <li><strong>Prescription</strong>:&nbsp; {% if entity.path is not empty %}<a href="{{ asset('uploads/domain/'~entity.globalOption.id~'/order/'~entity.path) }}" target="_blank"> <i class="icon-download"></i> <strong>Download</strong></a>{% endif %}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>Payment </strong></label>
                                        {% if entity.accountMobileBank is not empty %}
                                            <ul class="unstyled" >
                                                <li><strong>Receive Mob.</strong>:&nbsp;{{ entity.accountMobileBank.mobile }}</li>
                                                <li><strong>Service</strong>:&nbsp;{{ entity.accountMobileBank.serviceName }}</li>
                                                <li><strong>Sender Mob.</strong>:&nbsp;{{ entity.mobileAccount }}</li>
                                                <li><strong>Transaction ID</strong>:&nbsp;{{ entity.transaction }}</li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portlet-body flip-scroll">
                            <div class="clearfix">&nbsp;</div>

                            <div class="clearfix">&nbsp;</div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="numeric" ><i class="icon-reorder"></i></th>
                                    <th class="numeric" >Item</th>
                                    <th class="numeric" >Brand</th>
                                    <th class="numeric" >Category</th>
                                    <th class="numeric span2" >Quantity</th>
                                    <th class="numeric" >Unit</th>
                                    <th class="numeric" >Sub-Total</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for orderItem in entity.orderItems %}
                                    <tr id="remove-{{ orderItem.id }}">
                                        <input type="hidden" name="itemId[]" value="{{ orderItem.id }}">
                                        <td>{{ loop.index }}.</td>
                                        <td class="numeric" >{{ orderItem.itemName }}</td>
                                        <td class="numeric" >{{ orderItem.brandName }}</td>
                                        <td class="numeric" >{{ orderItem.categoryName }}</td>
                                        <td class="numeric" >
                                            {% if entity.process == 'created' and orderItem.status == 0  %}
                                                <div class="input-append">
                                                    <span class="input-group-btn">

                                                    <input type="text"  name="quantity" id="quantity-{{ orderItem.id }}" class="form-control m-wrap-custom  span6 input-number" value="{{ orderItem.quantity }}" min="1" max="1000" >
                                                        {% if orderItem.UnitName is not empty %}
                                                        <button type="button" class="btn mini yellow">
                                                                 {{ orderItem.UnitName }}
                                                              </button>
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                {{ orderItem.quantity }}
                                            {% endif %}
                                            </td>
                                        <td class="numeric" >{{ orderItem.price }}</td>
                                        <td class="numeric" >=&nbsp;{{ orderItem.subTotal }}</td>
                                        <td class="numeric" >
                                            {% if orderItem.status == 1 %}
                                                <a class="btn  mini green" ><i class=" icon-thumbs-up"></i> Accept</a>
                                            {% elseif orderItem.status == 2 %}
                                                <a class="btn  mini yellow " ><i class="icon-thumbs-down"></i> Rejected</a>
                                            {% endif %}
                                            {% if entity.process == 'created'  %}
                                            <div class="btn-group">
                                                <a data-id="{{ orderItem.id }}" data-url="{{ path('order_item_update',{'shop':globalOption.slug,'order':entity.id,'id':orderItem.id}) }}" data-value="{{ globalOption.slug }}" class="btn blue mini orderItemProcess" ><i class="icon-save"></i></a>
                                                <a  data-id="{{ orderItem.id }}" data-url="{{ path('customer_medicine_item_delete',{'order':entity.id,'id':orderItem.id}) }}" data-value="{{ globalOption.slug }}" class="btn mini red item-remove" ><i class="icon-trash"></i></a>
                                            {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Total</span></td>
                                    <td class="numeric" colspan="1" >=&nbsp;{{ entity.totalAmount|number_format }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Delivery Charge</span></td>
                                    <td class="numeric">=&nbsp;{{ entity.shippingCharge }}</td>
                                    <td></td>
                                </tr>

                                {% if entity.ecommerceConfig.vatEnable == 1 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Vat & Tax</span></td>
                                        <td class="numeric">=&nbsp;{{ entity.vat }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if entity.discountAmount > 0 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Discount Amount</span></td>
                                        <td class="numeric">=&nbsp;{{ ( entity.discountAmount)|number_format }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if entity.coupon is not empty %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Coupon Code({{ entity.coupon.couponCode }})</span></td>
                                        <td class="numeric">=&nbsp;{{ entity.couponAmount }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Grand Total</span></td>
                                    <td class="numeric"><strong>=&nbsp;{{ ( entity.grandTotalAmount)|number_format }}</strong></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Paid Amount</span></td>
                                    <td class="numeric"><strong>=&nbsp;{{ ( entity.paidAmount)|number_format }}</strong></td>
                                    <td></td>
                                </tr>

                                {% if entity.dueAmount  > 0 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Due Amount</span></td>
                                        <td class="numeric" >=&nbsp;{{ ( entity.dueAmount)|number_format }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if entity.returnAmount  > 0 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Return Amount</span></td>
                                        <td class="numeric">=&nbsp;{{ ( entity.returnAmount)|number_format }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                        </div>
                        {% if entity.process == 'created' and entity.ecommerceConfig.isAdditionalItem == 1 %}
                        <div class="clearfix"><br/> </div>
                        <div class="clearfix"> </div>
                        <div class="form-actions portlet box red">
                            <div class="portlet-title"><div class="caption"><i class="icon-reorder"></i>Add More Products</div></div>
                        </div>
                        <div class="clearfix"><br/> </div>
                        {{ form_start(salesItem) }}
                        {{ form_row(salesItem._token) }}
                        <div class="row-fluid particular-info" style="padding-left:15px!important" >
                            <div class="span8">
                                {{ form_widget(salesItem.itemName) }}
                                {{ form_errors(salesItem.itemName) }}
                            </div>
                            <div class="span4">
                                <div class="input-append">
                                    <div class="input-group">
                                        {{ form_widget(salesItem.price) }}
                                        {{ form_errors(salesItem.price) }}
                                        {{ form_widget(salesItem.quantity) }}
                                        {{ form_errors(salesItem.quantity) }}
                                        <button type="button" class="btn yellow" id="unit">Unit</button>
                                        <button type="button" class="btn blue" id="addOrderItem"> <span class="fa fa-shopping-cart"></span> Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(salesItem) }}
                        {% endif %}
                        {% if entity.process == 'created' %}
                        <div class="clearfix"><br/> </div>
                        <div class="clearfix"> </div>
                        <div class="form-actions portlet box green">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-reorder"></i>Payment Process</div>
                            </div>
                        </div>
                        <div class="clearfix"><br/> </div>
                        {{ form_start(orderForm) }}
                        {{ form_row(orderForm._token) }}
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="span6"><label>&nbsp;{{ form_widget(orderForm.cashOnDelivery) }} Cash on Delivery</label></div>
                            </div>
                            <div class="span6" id="transactionInfo">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="name">Payment Method</label>
                                            <div class="controls">
                                                {{ form_widget(orderForm.accountMobileBank) }}
                                                {{ form_errors(orderForm.accountMobileBank) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="name">Payment Mobile No</label>
                                            <div class="controls">
                                                {{ form_widget(orderForm.mobileAccount) }}
                                                {{ form_errors(orderForm.mobileAccount) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="name">TRX ID</label>
                                            <div class="controls">
                                                {{ form_widget(orderForm.transaction) }}
                                                {{ form_errors(orderForm.transaction) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"><br/> </div>
                        <div class="form-actions portlet box blue">
                            <div class="portlet-title"><div class="caption"><i class="icon-reorder"></i>Address & Confirm Information</div></div>
                        </div>
                        <div class="clearfix"><br/> </div>
                        <div class="row-fluid">

                            <div class="span6"></div>
                            <div class="span6">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="name"> Receive Date</label>
                                            <div class="controls">
                                                {{ form_widget(orderForm.deliveryDate) }}
                                                {{ form_errors(orderForm.deliveryDate) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="name"> Receive Slot</label>
                                            <div class="controls">
                                                {{ form_widget(orderForm.deliverySlot) }}
                                                {{ form_errors(orderForm.deliverySlot) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="name">Location/Area</label>
                                            <div class="controls">
                                                {{ form_widget(orderForm.location) }}
                                                {{ form_errors(orderForm.location) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="address">Receive Address(Details)</label>
                                            <div class="controls">
                                                {{ form_widget(orderForm.address) }}
                                                {{ form_errors(orderForm.address) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"><br/> </div>
                        <div class="form-actions portlet box">
                            <div class="input-append input-append-footer">
                                <div class="btn-group"> <button type="submit" id="submitProcess" name="submitProcess"  class="btn blue"><i class="icon-refresh"></i>&nbsp;Confirm</button></div>
                            </div>
                        </div>
                        {{ form_end(orderForm) }}

                        {% endif %}
                        <div class="clearfix"><br/> </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="payment-confirm" style="display:none; text-align: left!important;">Thank you for your payment. Your payment has been sent successfully to our customer service department.</div>
<style>
    input[class*="span"].m-wrap,select[class*="span"],select{
        border: 1px solid #0b84fe!important;
        height: 34px!important;
    }
    .row-fluid textarea[class*="span"] {
        border: 1px solid #0b84fe!important;
    }
    .select2-container .select2-choice {
        border: 1px solid #0b84fe!important;
        height: 27px!important;
    }
    .input-append-footer{
        margin-bottom: 0;
        text-align: right;
        float: right;
        margin-right: 15px;
    }
    input[type="text"].input-number {
        height: 21px!important;
        min-height: 20px!important;
        font-size: 12px;
        text-align: center;
    }
</style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@EcommerceBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@CustomerBundle/Resources/public/js/editable.js'
    '@CustomerBundle/Resources/public/js/medicine.js'
    '@CustomerBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $(".editable").editable();
    ApproveProcess();
    $('#fos_comment_comment_body').addClass('span12');
    $('.fos_comment_submit input[type="submit"]').addClass('btn blue');
{% endblock %}
