{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN inventory_product HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="inventory_product-title">
                    Master Item Components
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('inventory_product') }}">Master Item</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Master Item Components</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END inventory_product HEADER-->
        <!-- BEGIN inventory_product CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Master Item Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('inventory_product_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></li>
                                    <li><a href="{{ path('inventory_product') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                    {% if(entity.id > 0 ) %}
                                        <li><a href="{{ path('inventory_product_edit',{'id':entity.id}) }}"><i class="icon-edit"></i>&nbsp;Edit</a></li>
                                        <li><a href="{{ path('inventory_product_show',{'id':entity.id}) }}"><i class="icon-eye-open"></i>&nbsp;Show</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}

                            <div class="row-fluid">

                                <div class="span6 ">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="">Item category</label>
                                                <div class="controls">
                                                    {{ form_widget(form.category) }}
                                                    {{ form_errors(form.category) }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="">Name</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.name) }}
                                                        {{ form_errors(form.name) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="">Unit</label>
                                                <div class="controls">
                                                    {{ form_widget(form.productUnit) }}
                                                    {{ form_errors(form.productUnit) }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="">&nbsp;</label>
                                                <div class="controls">
                                                    Status&nbsp; {{ form_widget(form.status) }}
                                                    {{ form_errors(form.status) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span1"></div>
                                <div class="span3">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Feature image</label>
                                                 <div class="controls">
                                                    <div data-provides="fileupload" class="fileupload fileupload-new">
                                                        <div  class="fileupload-new thumbnail">
                                                            {% if(entity.webPath) %}
                                                                <img class="fileupload-preview fileupload-exists thumbnail" alt="" src="{{ image(entity.webPath).resize(200,200) }}">
                                                            {% else %}
                                                                <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                                            {% endif %}
                                                        </div>
                                                        <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                        <div>
													<span class="btn btn-file">
                                                        <span class="fileupload-new">Select image</span>
													    <span class="fileupload-exists">Change</span>
                                                        {{ form_widget(form.file) }}
                                                        {{ form_errors(form.file) }}
                                                    </span>
                                                            <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="">Item Description</label>
                                        <div class="controls">
                                            {{ form_widget(form.content) }}
                                            {{ form_errors(form.content) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="form-actions portlet box grey">
                                <div class="pull-center">
                                    <button type="submit" class="btn green"><i class="icon-ok"></i> Save</button>
                                    <button type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</button>
                                    {% if(entity.id > 0 ) %}
                                        <a href="{{ path('inventory_product_delete',{'id': entity.id} ) }}"  class="btn red confirm" title="Are you sure went to delete?"><i class="icon-remove"></i> Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
       input[class*="span"].m-wrap {
            height: 33px!important;
        }

        .select2-container-multi .select2-choices .select2-search-field input{
            height: auto!important;
        }
        input[class*="span"].m-wrap {
            height: 33px!important;
        }

        .select2-container-multi .select2-choices .select2-search-field input{
            height: auto!important;
            min-height: 20px !important;
        }
        .row-fluid [class*="span"]{
            min-height: 33px !important;
        }
    </style>
{% endblock %}
