{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                   Manage Diagnostic Invoice
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('hms_invoice') }}"> Patient Diagnostic Invoice</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i> {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Diagnostic Invoice</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('hms_invoice') }}"><i class="icon-th-list"></i> Diagnostic</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        {% include('flash-message.html.twig')  %}
                        <div class="row-fluid" >
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid" style="margin-bottom: 10px">
                                    <div class="span3">
                                        <div class="input-icon left">
                                            <i class="icon-user"></i>
                                            <input class="m-wrap span12 search-input" name="name" id="name" value="{% if searchForm.name is defined %}{{ searchForm.name }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.name is defined %}{{ searchForm.name }}{% else %}Patient ID{% endif %}">
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="input-icon left">
                                            <i class="icon-phone"></i>
                                            <input class="m-wrap span12 search-input" name="mobile" id="mobile" value="{% if searchForm.mobile is defined %}{{ searchForm.mobile }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.mobile is defined %}{{ searchForm.mobile }}{% else %}Patient mobile{% endif %}">
                                        </div>
                                    </div>

                                    <div class="span3">
                                        <div class="input-icon left">
                                            <i class="icon-calendar"></i>
                                            <input class="m-wrap span12 search-input date-picker" name="created" id="created" value="{% if searchForm.created is defined %}{{ searchForm.created }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.created is defined %}{{ searchForm.created }}{% else %}Created Date{% endif %}" >
                                        </div>
                                    </div>

                                    <div class="span3">
                                        <div class="input-icon left">
                                            <i class="icon-calendar"></i>
                                            <input class="m-wrap span12 search-input date-picker" name="deliveryDate" id="deliveryDate" value="{% if searchForm.deliveryDate is defined %}{{ searchForm.deliveryDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.deliveryDate is defined %}{{ searchForm.deliveryDate }}{% else %}Delivery Date{% endif %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row-fluid">
                                    <div class="span3">
                                        <select name="doctor" id="doctor" class="m-wrap span12">
                                            <option value="" >--Assign Doctor--</option>
                                            {% for doctor in assignDoctors %}
                                                <option {% if searchForm.doctor is defined and searchForm.doctor == doctor.id %} selected="selected" {% endif %} value="{{ doctor.id }}" >{{ doctor.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <select name="referred" id="referred" class="m-wrap span12">
                                            <option value="" >--Patient Referred--</option>
                                            {% for referred in referredDoctors %}
                                                <option {% if searchForm.referred is defined and searchForm.referred == referred.id %} selected="selected" {% endif %} value="{{ referred.id }}" >{{ referred.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <select name="process" id="process" class="m-wrap span12">
                                            <option value="" >--Process--</option>
                                            <option value="In-progress" {% if searchForm.process is defined and searchForm.process == 'In-progress' %} selected="selected" {% endif %} >In-progress</option>
                                            <option value="Done"  {% if searchForm.process is defined and searchForm.process == 'Done' %} selected="selected" {% endif %} >Done</option>
                                            <option value="Cancel"  {% if searchForm.process is defined and searchForm.process == 'Cancel' %} selected="selected" {% endif %} >Cancel</option>
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span12">
                                                <input type="text" id="invoice" name="invoice"  class="m-wrap span10" value="{% if searchForm.invoice is defined %}{{ searchForm.invoice }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.invoice is defined %}{{ searchForm.invoice }}{% else %}Patient invoice no{% endif %} ">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="table table-bordered table-striped table-condensed flip-content ">

                            <thead class="flip-content ">
                            <tr class="head-green">
                                <th class="span1">&nbsp;&nbsp;<i class="icon-list"></i></th>
                                <th class="numeric" >Created</th>
                                <th class="numeric" >Invoice Mode</th>
                                <th class="numeric" >Invoice No</th>
                                <th class="numeric" >Name</th>
                                <th class="numeric" >Mobile</th>
                                <th class="numeric" >Net Total</th>
                                <th class="numeric" >Payment</th>
                                <th class="numeric" >Balance</th>
                                <th class="numeric" >Return</th>
                                <th class="numeric" >Process</th>
                                <th class="numeric" >Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for entity in entities %}
                                <tr id="delete-{{ entity.id }}">
                                    <td class="span1"><span class="badge badge-warning toggle badge-custom" id="{{ entity.id  }}" ><span>[+]</span></span></td>
                                    <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                    <td class="numeric" >{{ entity.hmsInvoice.invoiceMode|capitalize }}</td>
                                    <td class="numeric" >
                                        {% if entity.hmsInvoice.invoiceMode == 'admission' %}
                                        <a target="_blank" href="{{ path('hms_invoice_admission_show', { 'id': entity.hmsInvoice.id }) }}">{{ entity.hmsInvoice.invoice }}</a>
                                        {% else %}
                                        <a target="_blank" href="{{ path('hms_invoice_show', { 'id': entity.hmsInvoice.id }) }}">{{ entity.hmsInvoice.invoice }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="numeric" >{% if entity.hmsInvoice.customer is defined and entity.hmsInvoice.customer is not empty %}{{ entity.hmsInvoice.customer.name }}{% endif %}</td>
                                    <td class="numeric" >{% if entity.hmsInvoice.customer is defined and entity.hmsInvoice.customer is not empty %}{{ entity.hmsInvoice.customer.mobile }}{% endif %}</td>
                                    <td class="numeric" >{{ entity.hmsInvoice.total }}</td>
                                    <td class="numeric" >{{ entity.hmsInvoice.payment }}</td>
                                    <td class="numeric" >{{ entity.hmsInvoice.due }}</td>
                                    <td class="numeric" >{{ entity.amount }}</td>
                                    <td class="numeric" ><span class="btn mini yellow">{{ entity.hmsInvoice.process }}</span></td>
                                    <td class="numeric" >
                                        <div class="btn-group">
                                            {% if (app.user.granted("ROLE_DOMAIN") and entity.process == 'In-progress') or (app.user.granted("ROLE_DOMAIN_HOSPITAL_ADMIN") and entity.process == 'In-progress')  %}
                                                <a href="javascript:" data-url="{{ path('hms_invoicereturn_delete', { 'id': entity.id }) }}" class="btn red mini approve tooltips" data-trigger = "hover" data-original-title = "Delete" ><i class="icon-trash"></i></a>
                                                <a href="javascript:" data-url="{{ path('hms_invoicereturn_approve', { 'id': entity.id }) }}" class="btn blue mini approve tooltips" data-trigger = "hover" data-original-title = "Approve" ><i class="icon-random"></i> Approve</a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                <tr id="show-{{ entity.id }}" class="showing-overview">
                                    <td colspan="11" class="span12" >{{ entity.remark|raw }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination pull-center" >
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <style>


 </style>
{% endblock %}

{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@HospitalBundle/Resources/public/js/approveProcess.js'
    '@HospitalBundle/Resources/public/js/datetimepicker_css.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
