{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                    Patient Diagnostic Invoice No # {{ entity.invoice }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('hms_invoice') }}">Diagnostic Invoice</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Diagnostic Invoice</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>c
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Invoice Details</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red addPatient" href="javascript:"><i class="icon-plus-sign"></i> Add Invoice</a>
                                <a class="btn" href="{{ path('hms_invoice') }}"><i class="icon-th-list"></i> Diagnostic</a>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            <div class="row-fluid">

                                <div class="span3">
                                    <h4>About:</h4>
                                    <ul class="unstyled">
                                        {% if entity.customer is not empty %}<li><strong>Pt. ID:</strong>&nbsp;{{ entity.customer.customerId }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Customer #:</strong>&nbsp;{{ entity.customer.name }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Mobile #:</strong>&nbsp;{{ entity.customer.mobile }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Gender:</strong>&nbsp;{{ entity.customer.gender }}, &nbsp;{{ entity.customer.age }}&nbsp;{{ entity.customer.ageType }}</li>{% endif %}
                                        {% if entity.customer is not empty and entity.customer.location is not empty   %}<li><strong>Location #:</strong>&nbsp;{{ entity.customer.location.name }}, {{ entity.customer.location.parent.name }}</li>{% endif %}
                                    </ul>
                                </div>

                                <div class="span3 invoice-payment">
                                    <h4>Payment Details:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Total BDT:</strong>&nbsp;{{ entity.total|number_format() }}</li>
                                        <li><strong>Payment BDT:</strong>&nbsp;{{ entity.payment|number_format() }}</li>
                                        {% if entity.discount %}<li><strong>Discount BDT:</strong>&nbsp;{{ entity.discount|number_format() }}</li>{% endif %}
                                        {% if entity.due %}<li><strong>Due BDT:</strong>&nbsp;{{ entity.due|number_format() }}</li>{% endif %}
                                        <li><strong>Payment status</strong>&nbsp;{{  entity.paymentStatus|capitalize }}</li>
                                    </ul>

                                </div>
                                <div class="span3">
                                    <h4>Invoice Info:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Created:</strong>&nbsp;{{ entity.created|date('d-m-Y') }}</li>
                                        <li><strong>Delivery:</strong>&nbsp;{{ entity.deliveryDateTime }}</li>
                                        <li><strong>Delivery Status:</strong>&nbsp;{{ entity.process|capitalize }}</li>
                                        <li><strong>Payment Method:</strong>&nbsp;{{ entity.paymentMethod }}</li>
                                        <li><strong>Received By:</strong>&nbsp;{% if entity.createdBy is defined and entity.createdBy is not empty %}{{ entity.createdBy }}{% endif %}</li>
                                    </ul>
                                </div>
                                <div class="span3">
                                    <h4>Assign/Referred By:</h4>
                                    <ul class="unstyled">
                                        {% if entity.assignDoctor is not empty %}
                                            <li><strong>Assign Doctor</strong>&nbsp;</li>
                                            <li>Name:&nbsp;{{ entity.assignDoctor.name }}</li>
                                            <li>Mobile:&nbsp;{{ entity.assignDoctor.mobile }}</li>
                                        {% endif %}
                                        <li><strong>Referred Doctor/Agent</strong>&nbsp;</li>
                                        {% if entity.referredDoctor is not empty %}
                                            <li>Name:&nbsp;{{ entity.referredDoctor.name }}</li>
                                            <li>Mobile:&nbsp;{{ entity.referredDoctor.mobile }}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid box green">
                                {% if entity.invoiceParticulars is defined and  entity.invoiceParticulars is not empty  %}
                                    <table class="table table-bordered table-striped table-condensed flip-content ">
                                        <thead class="flip-content ">
                                        <tr class="head-green">
                                            <td class="span1">&nbsp;&nbsp;<i class="icon-list"></i></td>
                                            <th class="span1">Si/No</th>
                                            <th class="span1">Code</th>
                                            <th class="span4">Particular</th>
                                            <th class="span2">Service</th>
                                            <th class="span1">Qnt</th>
                                            <th class="span1">Amount</th>
                                            <th class="span1">Report</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in entity.invoiceParticulars %}
                                            <tr id="remove-{{ item.id }}">
                                                <td class="span1"><span class="badge badge-warning toggle badge-custom" id="{{ item.id  }}" ><span>[+]</span></span></td>
                                                <td  class="span1">{{ loop.index }}</td>
                                                <td  class="span1">{{ item.particular.particularCode }}</td>
                                                <td class="span4">{{ item.particular.name }}</td>
                                                <td class="span2">{{ item.particular.service.name }}</td>
                                                <td class="span1">{{ item.quantity }}</td>
                                                <td class="span1">{{ item.subTotal|number_format }}</td>
                                                <td>
                                                    <div class="btn-group">
                                                    {% if item.particular.service.slug == 'diagnostic' and item.process =='Done'%}
                                                        <a target="_blank" href="{{ path('hms_invoice_particular_report_print', {'id': item.id}) }}"  class="btn blue mini"><i class="icon-print"></i> Report</a>
                                                        {% if  item.webPath is not empty %}
                                                            <a class="btn red pull-right mini" target="_blank" href="/{{ item.webPath }}"><i class="icon-download"></i> Download</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                            {% if item.particular.service.slug == 'diagnostic' %}
                                                <tr id="show-{{ item.id }}" class="showing-overview">
                                                    <td colspan="7">
                                                        <table class="table table-bordered table-striped">
                                                            <tr class="">
                                                                <th class="span3" >Instruction</th>
                                                                <td class="span9" >{{ item.particular.instruction }}</td>
                                                            </tr>
                                                            <tr class="">
                                                                <th class="span3" >Pathological Comment</th>
                                                                <td class="span9" >{{ item.comment }}</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="8" class="span12" style="border: 1px double #000"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Total Amount TK.</strong> =</span></td>
                                            <td colspan="2" class="span2"><strong id="subTotal">{{ entity.subTotal|number_format }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Vat/Tax TK.</strong> =</span></td>
                                            <td colspan="2" class="span2"><strong id="vat">{{ entity.vat|number_format }}</strong></td>

                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Discount TK.</strong> =</span></td>
                                            <td colspan="2" class="span2"><strong id="vat">{{ entity.discount|number_format }}</strong></td>

                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Net Total TK.</strong> =</span></td>
                                            <td colspan="2" class="span2"><strong id="vat">{{ entity.total|number_format }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Received TK.</strong> =</span></td>
                                            <td colspan="2" class="span2"><strong id="vat">{{ entity.payment|number_format }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Due TK.</strong> =</span></td>
                                            <td colspan="2" class="span2"><strong id="vat">{{ entity.due|number_format }}</strong></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid" id="showPayment">
                                <div class="span12">
                                    <table class="table table-bordered table-striped table-condensed table-fixed">
                                        <thead>
                                        <tr class="head-blue">
                                            <th class="numeric">&nbsp;&nbsp;<i class="icon-list"></i></th>
                                            <th class="numeric">Created</th>
                                            <th class="numeric">Payment Method</th>
                                            <th class="numeric">Discount</th>
                                            <th class="numeric">Vat/Tax</th>
                                            <th class="numeric">Amount</th>
                                            <th class="numeric">Created By</th>
                                        </tr>
                                        </thead>
                                        <tbody id="invoiceTransaction">
                                        {% for transaction in entity.invoiceTransactions %}
                                            <tr>
                                                <td  class="numeric">{{ loop.index }}</td>
                                                <td  class="numeric">{{ transaction.updated|date('d-m-Y') }}</td>
                                                <td class="numeric">{% if transaction.transactionMethod is not empty %}{{ transaction.transactionMethod.name }}{% endif %}</td>
                                                <td class="numeric">{{ transaction.discount }}</td>
                                                <td class="numeric">{{ transaction.vat }}</td>
                                                <td class="numeric">{{ transaction.payment }}</td>
                                                <td class="numeric">{{ transaction.createdBy }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td class="numeric" colspan="3"><span class="pull-right"><strong>Total TK.</strong> =</span></td>
                                            <td class="numeric"><strong class="discountAmount">{{ entity.discount|number_format }}</strong></td>
                                            <td class="numeric"><strong class="vat">{{ entity.vat|number_format }}</strong></td>
                                            <td class="numeric"><strong class="paymentAmount">{{ entity.payment|number_format }}</strong></td>
                                            <td class="numeric"></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box yellow">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Doctor/Referred/Agent Payment</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-bordered table-striped table-condensed table-fixed">
                                        <thead>
                                        <tr class="head-blue">
                                            <th class="numeric">&nbsp;&nbsp;<i class="icon-list"></i></th>
                                            <th class="numeric">Created</th>
                                            <th class="numeric">Doctor/Referred</th>
                                            <th class="numeric">Mobile</th>
                                            <th class="numeric">Payment For</th>
                                            <th class="numeric">Payment Method</th>
                                            <th class="numeric">Created By</th>
                                            <th class="numeric">Amount</th>
                                            <th class="numeric">Paid</th>
                                        </tr>
                                        </thead>
                                        <tbody id="invoiceTransaction">
                                        {% set totalPayment = 0 %}
                                        {% for transaction in entity.doctorInvoices %}
                                        {% if transaction.process == 'Paid' %}
                                            {%  set totalPayment = totalPayment + transaction.payment  %}
                                            <tr>
                                                <td  class="numeric">{{ loop.index }}</td>
                                                <td  class="numeric">{{ transaction.updated|date('d-m-Y') }}</td>
                                                <td class="numeric">{{ transaction.assignDoctor.name }}</td>
                                                <td class="numeric">{{ transaction.assignDoctor.mobile }}</td>
                                                <td class="numeric">{{ transaction.hmsCommission.name }}</td>
                                                <td class="numeric">{{ transaction.transactionMethod.name }}</td>
                                                <td class="numeric">{{ transaction.createdBy }}</td>
                                                <td class="numeric">{{ transaction.payment }}</td>
                                                <td class="numeric"><a class="btn green mini"><i class="icon-ok"></i></a></td>
                                            </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td class="numeric" colspan="7"><span class="pull-right"><strong>Total TK.</strong> =</span></td>
                                            <td class="numeric" colspan="2"><strong>{{ entity.commission|number_format }}</strong></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box grey">
                                <div class="pull-right" id="action-{{ entity.id }}">
                                    <a target="_blank"  href="{{ path('hms_invoice_print_invoice',{'id':entity.id}) }}" class="btn green"><i class="icon-print"></i>&nbsp;Print</a>
                                    {#<a type="reset" class="btn blue"><i class=" icon-download-alt"></i>&nbsp;Pdf</a>#}
                                    <span  class="btn blue"><i class=" icon-retweet"></i>&nbsp;{{ entity.process }}</span>
                                    <span  class="btn yellow"><i class="icon-money"></i>&nbsp;{{ entity.paymentStatus }}</span>
                                    <span  id="show"  data-trigger="hover" data-original-title="All payment history" class=" btn purple receivePayment tooltips" ><i class="icon-money"></i>&nbsp;Payment History</span>
                                    {% if  app.user.granted("ROLE_DOMAIN") %}
                                        <a  href="{{ path('hms_invoice_reverse',{'invoice':entity.invoice}) }}"  data-trigger="hover" data-original-title="Admission Invoice Reverse" class="btn black tooltips" ><i class="icon-refresh"></i>&nbsp;Reverse</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@HospitalBundle/Resources/public/css/invoice.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@HospitalBundle/Resources/public/js/patient.js'
    '@HospitalBundle/Resources/public/js/invoice.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
