{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Periodic Sales Report
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Periodic Sales Report</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Periodic Sales Report</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn yellow" href="{{ path('business_report_sales_summary') }}"><i class="icon-bar-chart"></i>&nbsp;Sales Overview</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <div class="row-fluid">
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <input type="text" id="customer" name="customer"  class="span12 m-wrap select2Customer" value="{% if searchForm.customer is defined %}{{ searchForm.customer }}{% endif %}"  autocomplete="off" placeholder="Enter customer mobile no ">
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="customer" name="customer"  class="span12 m-wrap select2CustomerName" value="{% if searchForm.customer is defined %}{{ searchForm.customer }}{% endif %}"  autocomplete="off" placeholder="Enter customer name ">
                                    </div>
                                    <div class="span3">
                                        <select name="paymentStatus" id="paymentStatus" class="span12 m-wrap">
                                            <option value="">Payment Status</option>
                                            <option value="Paid">Paid</option>
                                            <option value="Due">Due</option>
                                            <option value="Pending">Pending</option>
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <select name="transactionMethod" id="transactionMethod" class="span12 m-wrap">
                                            <option value="">Transaction Method</option>
                                            {% for method in transactionMethods %}
                                                <option {% if searchForm.method is defined and searchForm.method == method.id %} selected="selected" {% endif %} value="{{ method.id }}" >{{ method.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span3">
                                        <input type="text" id="toUser" name="toUser"  class="span12 m-wrap select2User" value="{% if searchForm.toUser is defined %}{{ searchForm.toUser }}{% endif %}"  autocomplete="off" placeholder="Enter sales user">
                                    </div>
                                    <div class="span3">
                                        {%  set processes = {'Done':'Done','Delevired':'Delevired'} %}
                                        <select class="span12 m-wrap" name="process" id="process">
                                            <option>---Process---</option>
                                            {% for process in processes %}
                                                <option {% if searchForm.process is defined and searchForm.process == process %}selected="selected"{% endif %} value="{{ process }}">{{ process }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="startDate" name="startDate"  class="span12 m-wrap dateCalendar" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}Start date{% endif %} ">
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span10">
                                                <input type="text" id="endDate" name="endDate"  class="span12 m-wrap dateCalendar" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}End date{% endif %}  ">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content">
                                <tr class="head-red">
                                    <th class="numeric" ><strong>Sales Amount</strong></th>
                                    <th class="numeric" ><strong>Purchase Amount</strong></th>
                                    <th class="numeric" ><strong>Profit/Loss</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="numeric" ><strong>{{ cashOverview.total|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ purchaseSalesPrice.totalPurchase|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ (cashOverview.total - (cashOverview.totalVat + purchaseSalesPrice.totalPurchase))|number_format }}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <table class="table table-bordered table-striped table-condensed flip-content ">
                            <thead class="flip-content ">
                            <tr class="head-blue">
                                <th class="numeric" >Created</th>
                                <th class="numeric" >Invoice</th>
                                <th class="numeric" >SalesBy</th>
                                <th class="numeric" >Transaction</th>
                                <th class="numeric" >Process</th>
                                <th class="numeric" >Sub-Total</th>
                                <th class="numeric" >Discount</th>
                                <th class="numeric" >Vat</th>
                                <th class="numeric" >Net Total</th>
                                <th class="numeric" >Payment</th>
                                <th class="numeric" >Due</th>
                                <th class="numeric" >Purchase</th>
                                <th class="numeric" >Profit/Loss</th>
                            </tr>
                            </thead>
                            <tbody id="sales">
                            {% for entity in entities %}
                                <tr id="salesRemove-{{ entity.id }}">
                                    <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                    <td class="numeric" >{{ entity.invoice }}</td>
                                    <td class="numeric" >{{ entity.salesBy }}</td>
                                    <td class="numeric" >{{ entity.transactionMethod }}</td>
                                    <td class="numeric" >{{ entity.process }}</td>
                                    <td class="numeric" >{{ entity.subTotal|number_format  }}</td>
                                    <td class="numeric" >{{ entity.discount|number_format  }}</td>
                                    <td class="numeric" >{{ entity.vat|number_format  }}</td>
                                    <th class="numeric" >{{ entity.total|number_format  }}</th>
                                    <th class="numeric" >{{ entity.payment|number_format }}</th>
                                    <td class="numeric" >{{ entity.due|number_format }}</td>
                                    <td class="numeric" >{{ purchasePrice[entity.id]|number_format }}</td>
                                    <th class="numeric" >{{ (entity.total - purchasePrice[entity.id])|number_format }}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination pull-center"  >
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@HotelBundle/Resources/public/js/approveProcess.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    ApproveProcess();
{% endblock %}
