{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Sales Item Report
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#"> Sales Item Report</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Sales Item Report</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn yellow" href="{{ path('business_report_sales_summary') }}"><i class="icon-bar-chart"></i>&nbsp;Sales Overview</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <div class="row-fluid">
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <input class="m-wrap span12 select2ParticularName" name="name" id="name" value="{% if searchForm.name is defined %}{{ searchForm.name }}{% endif %}"  autocomplete="off" placeholder="Search particular name">
                                    </div>
                                    <div class="span3">
                                        <select name="category" id="category" class="m-wrap span12">
                                            <option value="" >--Category--</option>
                                            {% for cat in categories %}
                                                <option value="{{ cat.id }}" {% if searchForm.category is defined and searchForm.category == cat.id %} selected="selected" {% endif %} >{{ cat.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span12">
                                                <select name="type" id="type" class="m-wrap span12">
                                                    <option value="" >--Product mode--</option>
                                                    {% for cat in types %}
                                                        <option value="{{ cat.id }}" {% if searchForm.type is defined and searchForm.type == cat.id %} selected="selected" {% endif %} >{{ cat.name }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span12">
                                                <input type="text" id="startDate" name="startDate" autocomplete="off"  class="span5 m-wrap dateCalendar" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  placeholder="">
                                                <input type="text" id="endDate" name="endDate" autocomplete="off" class="span5 m-wrap dateCalendar" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% endif %}" placeholder="">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% if option.isBranch == 1 %}
                                <div class="row-fluid">
                                    <div class="span12">
                                       <select name="branch" id="branch" class="span12 m-wrap">
                                           <option value=""> ---Select Branch --- </option>
                                           {% for bran in branches %}
                                           <option {% if searchForm.branch is defined and searchForm.branch == bran.id %} selected="selected" {% endif %} value="{{ bran.id }}">{{ bran.name }}</option>
                                           {% endfor %}
                                       </select>
                                    </div>
                                </div>
                                {% endif %}

                            </form>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content">
                                <tr class="head-red">
                                    <th class="numeric" ><strong>Total Item</strong></th>
                                    <th class="numeric" ><strong>Total Quantity</strong></th>
                                    <th class="numeric" ><strong>Sales Amount</strong></th>
                                    <th class="numeric" ><strong>Purchase Amount</strong></th>
                                    <th class="numeric" ><strong>Profit/Loss</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="numeric" ><strong>{{ purchaseSalesItem.totalItem }}</strong></td>
                                    <td class="numeric" ><strong>{{ purchaseSalesItem.quantity }}</strong></td>
                                    <td class="numeric" ><strong>{{ cashOverview.total|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ purchaseSalesItem.totalPurchase|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ (cashOverview.total - (cashOverview.totalVat + purchaseSalesItem.totalPurchase))|number_format }}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <table class="table table-bordered table-striped table-condensed flip-content ">

                            <thead class="flip-content ">
                            <tr class="head-blue">
                                <th class="numeric" ><i class="icon-reorder"></i> SKU</th>
                                <th class="numeric" >Name</th>
                                <th class="numeric" >Quantity</th>
                                <th class="numeric" >Sales Price</th>
                                <th class="numeric" >Purchase Price</th>
                                <th class="numeric" >Profit/Loss</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  set totalSales = 0 %}
                            {% for entity in entities %}
                                <tr>
                                    <td class="numeric" >{{ entity.sku }}</td>
                                    <td class="numeric" >{{ entity.name }}</td>
                                    <td class="numeric" >{{ entity.quantity }}</td>
                                    <td class="numeric" >{{ entity.salesPrice|number_format }}</td>
                                    <td class="numeric" >{{ entity.purchasePrice|number_format }}</td>
                                    <td class="numeric" >{{ (entity.salesPrice -  entity.purchasePrice)|number_format }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="pagination pull-center"  >
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@HotelBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
