{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Domain
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('tools_domain') }}">Manage Domain</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Domain Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Domain Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn yellow" href="{{ path('inbox_sms') }}"><i class="icon-th-list"></i>&nbsp; SMS</a>
                                <a class="btn purple" href="{{ path('inbox_email') }}"><i class="icon-th-list"></i>&nbsp;EMAIL</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Company Name</th>
                                    <th class="numeric" >Domain</th>
                                    <th class="numeric" >Title</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.globalOption.name }}</td>
                                        <td class="numeric" >{{ entity.globalOption.domain }}</td>
                                        <td class="numeric" >{{ entity.title }}</td>
                                        <td class="numeric" ></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block documentready %}
    {{ parent() }}
    EditableInit();
{% endblock %}


