{% extends ':bindu:base.html.twig' %}
{% block body %}
    <div id="tm-page-body">
        <div id="tm-template-default-fullwidth" class="tm-container">
            <div class="page-content">
                <div class="page-content-inner tm-content">
                    <div class="tm-row" style="padding:50px 0 80px; text-align:center; display: none">
                        <div class="tm-wrap">
                            <img alt="img" style="margin-bottom:20px" width="100" height="100" src="../../assets/bindu/img/sample/home/icons/mobile-icon.png">
                            <div class="header-line-center-bottom">
                                <h1>
                                    Creative design on desktop, tablet and mobile
                                </h1>
                            </div>
                            <p style="padding:30px 0">
                                Fedora is ready to WOW the web visitors no matter what devices they are using to surf the website. With responsive layout, your website will seamlessly displays and run smoothly on any device including desktop, tablet and mobile phone with any screen resolution.
                            </p>
                            <div class="setanimate">
                                <a><img alt="img" class="tm-animate slide-from-bottom" src="../../assets/bindu/img/sample/home/responsive.jpg"></a>
                            </div>
                        </div>
                    </div>

                    <div class="tm-row" style="text-align:center;padding:50px 0 100px 0;background:#eee;">
                        <div class="tm-wrap">
                            <h1>Creative Application/Website on desktop, tablet and mobile</h1>

                        </div>
                    </div>

                    <div class="tm-row" style="margin:-50px 0 0 0">
                        <div class="tm-wrap">
                            <div class="one-third">
                                <div style="padding-top:100px">
                                    <ul class="tm-iconlist tm-style1">
                                        <li>
                                            <div class="iconlist-icon">
                                                <i class="fa fa-magic"></i>
                                            </div>
                                            <div class="iconlist-entry">
                                                <div class="iconlist-container">
                                                    <h3>Fully hosted Cloud Platform</h3>
                                                    <div class="iconlist-content">
                                                        <p>Robust scalable platform to build and manage websites.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="iconlist-icon">
                                                <i class="fa fa-hand-o-up"></i>
                                            </div>
                                            <div class="iconlist-entry">
                                                <div class="iconlist-container">
                                                    <h3>Full Marketing and Technical Support</h3>
                                                    <div class="iconlist-content">
                                                        <p>All the marketing and technical support you need to resell terminalbd.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="one-third">
                                <div id="container-form">
                                    <div class="entry-container">

                                        <section id="tm-comment">
                                            <section id="respond">

                                                    <!-- BEGIN FORM-->
                                                    {{ form_start(form) }}
                                                    {{ form_row(form._token) }}

                                                <div>
                                                    {{ form_errors(form.globalOption.name) }}
                                                    <p><span class="fa-icon"><i class="fa  fa-building-o"></i></span>
                                                        {{ form_widget(form.globalOption.name) }}
                                                    </p>
                                                </div>
                                                <div>
                                                    {{ form_errors(form.profile.name) }}
                                                    <p><span class="fa-icon"><i class="fa  fa-user"></i></span>
                                                        {{ form_widget(form.profile.name) }}
                                                    </p>
                                                </div>
                                                <div>
                                                    {{ form_errors(form.profile.mobile) }}
                                                    <p><span class="fa-icon"><i class="fa  fa-mobile-phone"></i></span>
                                                        {{ form_widget(form.profile.mobile) }}<span id="checking"></span>
                                                     </p>
                                                </div>
                                                    <p style="color: #ffffff; text-align: left">Next enter the relevant information below to populate your site.</p>

                                                <div>
                                                    {{ form_errors(form.globalOption.syndicate) }}
                                                    <p>{{ form_widget(form.globalOption.syndicate) }}</p>
                                                </div>
                                                <div>
                                                    {{ form_errors(form.globalOption.location) }}
                                                    <p> {{ form_widget(form.globalOption.location) }}</p>
                                                </div>
                                                <div>
                                                    {{ form_errors(form.globalOption.status) }}
                                                    <div class="checkbox block">
                                                        {{ form_widget(form.globalOption.status) }}
                                                    </div><span style="color: #ffffff; line-height: 32px">&nbsp;I agree to &nbsp;<a class="anchor-white" target="_blank" id="TosLink" href="{{ path('bindu_page_content',{'slug':'terms-of-service'}) }}">Terms</a>&nbsp;&&nbsp;<a class="anchor-white" target="_blank" id="PrivacyLink" href="{{ path('bindu_page_content',{'slug':'privacy-policy'}) }}">Privacy</a></span>
                                                </div>
                                                <div><p class="form-suphobmit" style="text-align:right"><input id="signup" class="tm-btn dark small" type="submit" value="CREATE SITE" name="submit"></p></div>
                                                {{ form_end(form) }}
                                            </section>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="one-third last">
                                <div style="padding-top:100px">
                                    <ul class="tm-iconlist tm-style1">
                                        <li>
                                            <div class="iconlist-icon">
                                                <i class="fa fa-crop"></i>
                                            </div>
                                            <div class="iconlist-entry">
                                                <div class="iconlist-container">
                                                    <h3>Easily Manage Your Sites</h3>
                                                    <div class="iconlist-content">
                                                        <p>Manage sites for your clients, run reports and analytics via the Online Management Dashboard.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="iconlist-icon">
                                                <i class="fa fa-eye"></i>
                                            </div>
                                            <div class="iconlist-entry">
                                                <div class="iconlist-container">
                                                    <h3>Easy to get Onboard</h3>
                                                    <div class="iconlist-content">
                                                        <p>Start building and selling terminalbd sites today.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--page-content-->
        </div>
        <!--tm-container-->
    </div>
    <style>
        .commentform p{
            position: relative;
        }
        #checking {
            position: relative;
            display: block;
            float: right;
            top: -30px;
            width: 16px;
            right: 25px;
            color: red;
        }
        .loadingImg {
            background-position: right center;
            position: absolute;
            top: 5px;
            left: 15px;
            display: block;
        }
    </style>
{% endblock %}
{#

{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@BinduBundle/Resources/public/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}#}
{% block documentready %}

    {{ parent() }}
    $('.checkbox :checkbox').rcSwitcher({

    inputs:false,
    onText: 'Yes',
    offText: 'No',
    theme: 'modern',


    });

    $('#Core_userbundle_user_profile_mobile').change(function(){

        var mobile = $(this).val();
        $.ajax({
        url:'{{ path('bindu_user_check') }}',
        type: "POST",
        beforeSend: function() {
            $('#checking').html('<img class="loadingImg" src="{{ asset('assets/img/loader-red.gif') }}" alt="" >');
        },
        data: 'mobile='+ mobile,
        success: function(response) {
            if(response == 'failed'){
                $('#checking').html('Someone already has that mobile no. Try another?').css({'top':0, 'right':0,'width':'auto'});
                $('#Core_userbundle_user_profile_mobile').val('');
                $('#Core_userbundle_user_profile_mobile').css('border','1px solid red');
            }else{
                $('#checking img').fadeOut(3000);
                $('#Core_userbundle_user_profile_mobile').css('border','1px solid #2dbae7');
            }

        }
        });
    });


    $('#commentform').validate({

    rules: {

        'Core_userbundle_user[globalOption][name]': {
            required: true,
        },
        '': {
            url: true
        },
        'Core_userbundle_user[profile][mobile]': {
            required: true,
            url: true,
            remote: {
            url:"{{ path('bindu_build_checking_subdomain') }}",
            type: "post",
            data:
            {
            'Core_userbundle_user[profile][mobile]': function()
            {
                return $('#commentform :input[name="Core_userbundle_user[profile][mobile]"]').val();
            }
            }
            }
        },
    },
    messages:{

        'Core_userbundle_user[globalOption][name]':{
            required: "Please enter your choseable sub domain name.",
        },
        'Core_userbundle_user[profile][mobile]':{
            required: "Please enter your choseable sub domain name.",
            remote: jQuery.validator.format("{0} is already taken.")
        }

    },
    submitHandler: function(form) {
        alert('Test');
    }

    });



{% endblock %}