{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN inventory_salesreturn_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="inventory_salesreturn_order-title">
                    Sales Return
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('inventory_salesreturn') }}">Sales Return</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Add/Edit Sales Return</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END inventory_salesreturn_order HEADER-->
        <!-- BEGIN inventory_salesreturn_order CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Sales Details</div>

                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn black" href="{{ path('inventory_salesreturn') }}"><i class="icon-th-list"></i>&nbsp;Sales Return</a>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            <div class="row-fluid">

                                <div class="span4">
                                    <h4>About:</h4>
                                    <ul class="unstyled">
                                        {% if entity.customer is not empty %}<li><strong>Customer #:</strong>&nbsp;{{ entity.customer.name }}</li>{% endif %}
                                        <li><strong>Sales ID:</strong>&nbsp;{{ entity.invoice }}</li>
                                        <li><strong>Total item:</strong>&nbsp;{{ entity.totalItem }}</li>
                                        <li><strong>Created:</strong>&nbsp;{{ entity.created|date('d-m-Y') }}</li>
                                        <li><strong>Created By:</strong>&nbsp;{% if entity.salesBy is defined and entity.salesBy is not empty %}{{ entity.salesBy }}{% endif %}</li>
                                    </ul>
                                </div>

                                <div class="span4 invoice-payment">
                                    <h4>Payment Details:</h4>
                                    <ul class="unstyled">

                                        <li><strong>Total BDT:</strong>&nbsp;{{ entity.subTotal|number_format() }}</li>
                                        <li><strong>Total BDT:</strong>&nbsp;{{ entity.total|number_format() }}</li>
                                        <li><strong>Discount BDT:</strong>&nbsp;{{ entity.discount|number_format() }}</li>
                                        <li><strong>Due BDT:</strong>&nbsp;{{ entity.due|number_format() }}</li>
                                        <li><strong>Payment status</strong>&nbsp;{{  entity.paymentStatus|capitalize }}</li>
                                     </ul>
                                </div>
                                <div class="span4">
                                    <h4>Return Info:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Mode:</strong>&nbsp;{{ salesReturn.mode|capitalize }}</li>
                                        <li><strong>Total Amount:</strong>&nbsp;{{ salesReturn.total }}</li>
                                        {% if salesReturn.totalItem is not empty %}<li><strong>Item:</strong>&nbsp;{{ salesReturn.totalItem }}{% endif %}</li>
                                        {% if salesReturn.totalQuantity is not empty %}<li><strong>Quantity:</strong>&nbsp;{{ salesReturn.totalQuantity }}</li>{% endif %}
                                        {% if salesReturn.created is not empty %}<li><strong>Created:</strong>&nbsp;{{ salesReturn.created|date('d-m-Y')  }}</li>{% endif %}
                                        {% if salesReturn.createdBy is not empty %}<li><strong>Sales:</strong>&nbsp;{{ salesReturn.createdBy  }}</li>{% endif %}

                                    </ul>
                                </div>
                            </div>
                            {% include('flash-message.html.twig')  %}


                            <div class="row-fluid box green">
                                {% if entity.salesItems is defined and  entity.salesItems is not empty  %}
                                    <table class="table table-bordered table-striped table-condensed flip-content ">

                                        <thead class="flip-content ">
                                        <tr class="head-green">
                                            <td>&nbsp;&nbsp;<i class="icon-reorder"></i></td>
                                            <th class="numeric" >Barcode</th>
                                            <th class="numeric" >Qnt</th>
                                            <th class="numeric" >Purchase price</th>
                                            <th class="numeric" >Sales price</th>
                                            <th class="numeric" >Sub-total</th>
                                            <th class="numeric" >Return Qnt</th>
                                            <th class="numeric" >Return price</th>
                                            <th class="numeric" >Return subTotal</th>
                                            <th><i class="icon-cogs"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if entity.salesItems is not empty %}
                                            {% for salesItem in entity.salesItems %}
                                                <tr>
                                                    <td class="numeric" >{{ loop.index }}</td>
                                                    <td class="numeric" >{{ salesItem.purchaseItem.barcode }}</td>
                                                    <td class="numeric" ><input type="hidden" name="salesQuantity" id="salesQuantity-{{ salesItem.id }}" value="{{ salesItem.quantity }}">{{ salesItem.quantity }}</td>
                                                    <td class="numeric" >{{ salesItem.purchaseItem.purchasePrice }}</td>
                                                    <td class="numeric" ><input type="hidden" name="salesPrice" id="salesPrice-{{ salesItem.id }}" value="{{ salesItem.salesPrice }}">{{ salesItem.salesPrice|default|number_format() }}</td>
                                                    <td class="numeric" >{{ salesItem.subTotal }}</td>
                                                    {% if( salesItem.salesReturnItem is defined and  salesItem.salesReturnItem is not empty) %}
                                                        <td class="numeric" >{{ salesItem.salesReturnItem.quantity }}</td>
                                                        <td class="numeric" >{{ salesItem.salesReturnItem.price }}</td>
                                                    {% else %}
                                                        <td class="numeric" >&nbsp;</td>
                                                        <td class="numeric" >&nbsp;</td>
                                                   {% endif %}
                                                    <td class="numeric" >
                                                        {% if( salesItem.salesReturnItem is defined and  salesItem.salesReturnItem is not empty) %}
                                                            <input type="hidden" name="salesReturnId" id="salesReturn-{{ salesItem.id }}" value="{{ entity.id }}"><span id="returnSubTotal-{{ salesItem.id }}">{{ salesItem.salesReturnItem.subTotal|number_format() }}</span>
                                                        {% else %}
                                                            <span id="returnSubTotal-{{ salesItem.id }}"></span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="numeric" id="action-{{ salesItem.id }}">
                                                        {% if( salesItem.salesReturnItem is defined and salesItem.salesReturnItem is not empty) %}
                                                            <button title="" disabled="disabled" type="button"  class="btn red mini returnItem" ><i class="icon-retweet"></i>&nbsp;Returned</button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <tr><td colspan="8"><span class="pull-right"><strong>Total Amount</strong></span></td><td><span class="pull-left"><strong id="totalAmount">{{ salesReturn.total|number_format }}</strong></span></td><td></td></tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="clearfix">&nbsp;</div>
                           <div class="form-actions portlet box grey">
                                <div class="pull-right" id="action-{{ entity.id }}">
                                    {% if salesReturn.process == 'complete' %}
                                        <a  class="btn yellow  approve" data-url="{{ path('inventory_salesreturn_approve',{'id':salesReturn.id}) }}"><i class="icon-random"></i>&nbsp;Approve</a>
                                    {% elseif salesReturn.process == 'approved' %}
                                        <span  class="btn green"><i class="icon-ok"></i>&nbsp;Approved</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@InventoryBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/salesReturn.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}