<div id="catlist">
    {% for entity in pagination  %}
        <dl>
            <dt><a href="{{ path(globalOption.subDomain ~ '_webservice_module_page',{'subdomain': globalOption.subDomain,'module': 'event','slug':entity.slug }) }}"><img src="{{ image(entity.webPath).resize(250,200) }}" alt="{{ entity.name }}" /></a><a href="{{ path(globalOption.subDomain ~ '_webservice_module_page',{'subdomain': globalOption.subDomain,'module': 'event','slug':entity.slug }) }}"><h4>{{ entity.name }}</h4></a></dt>
            <dd><i class="fa fa-calendar"></i> {{ entity.updated|date('d F, Y') }}&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-map-marker"></i> <a target="_blank"  href="http://maps.google.com/?q={{ entity.latitude }},{{ entity.longitude }}"> {{ entity.location.name }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-retweet"></i> {{ entity.eventType }} </dd>
            <dd><p>{{ entity.content|truncate(250)|raw }}&nbsp;&nbsp;<a class="more-link" href="{{ path(globalOption.subDomain ~ '_webservice_module_page',{'module': 'event','slug':entity.slug }) }}">Read more <i class="fa fa-angle-double-right"></i></a></p>
                <span><i class="fa fa-tags"></i>
                    {% for cat in entity.moduleCategory %}
                        <a href="{{ path(globalOption.subDomain ~ '_webservice_module_category',{'subdomain': globalOption.subDomain,'module':module.name|lower ,'slug':cat.slug }) }}">{{ cat.name }}</a>
                    {% endfor %}

                </span>
            </dd>
        </dl>
    {% endfor %}
</div>
<div class="pagination pull-center"  >
    {{ knp_pagination_render(pagination) }}
</div>

