{% extends ':bindu:base.html.twig' %}
{% block body %}
    <div id="tm-page-body">
        <div id="tm-template-default-fullwidth" class="tm-container">
            <div class="page-content">
                <div class="page-content-inner tm-content">
                    <div id="container-form">
                        <div class="entry-container" style="padding-bottom: 25px">
                            <section id="tm-comment">
                                <div class="tm-wrap">
                                    <div class="one-third">
                                        <div>
                                            <ul class="tm-iconlist tm-style1">
                                                <li>
                                                    <div class="iconlist-icon">
                                                        <i class="fa fa-magic"></i>
                                                    </div>
                                                    <div class="iconlist-entry">
                                                        <div class="iconlist-container">
                                                            <h3>Retail POS Software</h3>
                                                            <div class="iconlist-content">
                                                                <p>Complete inventory control, stock what sells more, get notified on non-moving and expiry items and take corrective action, reorder based smart recommendations to optimize stock and avoid shortage</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="iconlist-icon">
                                                        <i class="fa fa-hand-o-up"></i>
                                                    </div>
                                                    <div class="iconlist-entry">
                                                        <div class="iconlist-container">
                                                            <h3>Integrated Accounting</h3>
                                                            <div class="iconlist-content">
                                                                <p>Freedom from separate accounting software as all POS information like Sales, Purchase, Inventory gets automatically posted to in-built GST/VAT accounting solution. Also initiate online payments directly from software</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="one-third">

                                        <div id="container-form" class="login-box" >
                                            <div class="entry-container">
                                                <section id="tm-comment">
                                                    <section id="respond">
                                                        <h3 class="login-head">Login</h3>
                                                        <!-- BEGIN FORM-->
                                                        <form class="form-vertical login-form" id="commentform" action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">
                                                            {% if(error) %}
                                                                <div class="tm-alert error">
                                                                    <strong>Error</strong> &ndash; {{ error }}
                                                                </div>
                                                            {% endif  %}
                                                            {% for flashMessage in app.session.flashbag.get('success') %}
                                                                <div class="tm-alert success">
                                                                    <strong>Success</strong> &ndash; {{ flashMessage }}
                                                                </div>
                                                            {% endfor %}
                                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                                            <div>
                                                                <p><span class="fa-icon"><i class="fa  fa-mobile"></i></span>
                                                                    <input type="text" id="_username" name="_username" required="required" class="" placeholder="Enter your mobile no/user name">
                                                                </p>
                                                            </div>
                                                            <div>
                                                                <p><span class="fa-icon"><i class="fa  fa-lock"></i></span>
                                                                    <input type="password" id="_password" name="_password" required="required" class="" placeholder="Enter your password">
                                                                </p>
                                                            </div>
                                                            <div>
                                                                <div class="checkbox block">
                                                                    <input type="checkbox" id="remember" name="_remember_me" checked="checked" /><label style="width: auto; line-height: 32px; color: #ffffff">&nbsp;&nbsp;Remember me</label>
                                                                </div>
                                                                <p class="form-suphobmit" style="float: right">{#<span class="fa-icon"><i class="fa  fa-lock"></i></span>#}<input id="signup" class="tm-btn light small" type="submit" value="Login" name="submit"></p>
                                                            </div>

                                                        </form>
                                                        <div class="clear"></div>
                                                        <blockquote class="tm-style2-overwrite">
                                                            <div class="forget-password">
                                                                <h4>Forgot your password ?</h4>
                                                                <p>
                                                                    no worries, click <a href="{{ path('fos_user_resetting_request') }}"  id="forget-password1">here</a>
                                                                    to reset your password.
                                                                </p>
                                                            </div>
                                                            <div class="create-account">
                                                                <p>
                                                                    Don't have an account yet ?&nbsp;
                                                                    <a href="{{ path('bindu_homepage')  }}" id="register-btn1" >Create an account</a>
                                                                </p>
                                                            </div>
                                                        </blockquote>

                                                    </section>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="one-third last">
                                        <div>
                                            <ul class="tm-iconlist tm-style1">
                                                <li>
                                                    <div class="iconlist-icon">
                                                        <i class="fa fa-crop"></i>
                                                    </div>
                                                    <div class="iconlist-entry">
                                                        <div class="iconlist-container">
                                                            <h3>Easy Invoicing</h3>
                                                            <div class="iconlist-content">
                                                                <p>Quickly create GST invoices and get paid faster. Share invoices/bills with your customers/suppliers using Vyapar. Our POS billing software can help you manage your business finances better than any other Business Accounting Software</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="iconlist-icon">
                                                        <i class="fa fa-tablet"></i>
                                                    </div>
                                                    <div class="iconlist-entry">
                                                        <div class="iconlist-container">
                                                            <h3>Easy to Integrated Smart Phone/Tablet</h3>
                                                            <div class="iconlist-content">
                                                                <p>Android POS is Kindly Preload with our APP for Website online orders. Widely used in a variety of market applications, such as food takeaway/delivery service, hotel, Retail store , Pharmacy, Bill payment, mobile payment (deposit & withdraw), online shopping, etc.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <!--page-content-->
        </div>
        <!--tm-container-->
    </div>
    <style>
        body {
            font: 14px/1.8 Arial, sans-serif;
            color: #555;
            background: none!important;
        }
        #container-form {
            background: #f2f2f2;
        }
        .login-box{
            margin-top: 30px;
            background: #5b5d5a!important;
            padding-bottom: 34px;
        }
        .tm-iconlist.tm-style1 li .iconlist-icon {
            background: #5b5d5a!important;
        }
        .login-head {
            height: 50px;
            font-size: 30px;
            text-align: center;
            color: #fff;
            padding-top: 10px;
        }
        .fa-icon {
            display: inline-block;
            top: 8px;
            position: absolute;
            left: 10px;
        }
    </style>
{% endblock %}

{% block documentready %}

    $('#commentform').validate({

    rules: {
    _username: {
    required: true
    },
    _password: {
    required: true
    },
    },
    messages:{

    },
    submitHandler: function(form) {
    form.submit();
    }

    });
{% endblock %}