{% extends ':frontend/template:ecommerce-base.html.twig' %}
{% block body %}
    <!-- Header Carousel -->
    <section class="home">
        <!-- Header Carousel -->
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-top')  %}
            {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'body-top'}) %}
        {% endif %}
        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('header-bottom') %}
            <div class="container">
                {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'body-top'}) %}
            </div>
        {% endif %}
        <div class="container">
            <div class="col-md-12"  >
                <div class="clearfix"></div>
                {% if page.photoGallery is not empty and page.galleryType == 'carousel' and page.galleryPosition == 'top' %}

                    <div class="carousel-container">
                        <div id="carousel" class="carousel slide carousel-fade" style="width: 100%">
                            <div class="carousel-inner">
                                {% if page.webPath is not empty %}
                                    <div class="carousel-item item active" data-slide-no="0">
                                        <div class="shadow-box {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}">
                                            <a href="{{ image(page.webPath) }}" title="{{ page.name }}">
                                                <img  src="{{ image(page.webPath).forceResize(1024,512) }}" alt="{{ page.name }}">
                                            </a>
                                        </div>
                                        <div class="carousel-caption " >
                                            <h4>{{ page.name }}</h4>
                                        </div>
                                    </div>
                                {% endif %}

                                {% for slide in page.photoGallery.galleryImages %}
                                    <div  class="carousel-item item {% if loop.index-1 == 0 and page.webPath is empty %} active  {% endif %}"  {% if loop.index-1 == 0 and page.webPath is empty %} data-slide-no="{{ loop.index-1 }}"  {% endif %} >
                                        <div class="shadow-box {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}">
                                            <a href="{{ image(page.webPath) }}" title="{{ page.name }}">
                                                <img  src="{{ image(slide.getAbsolutePath(page.globalOption.id,page.photoGallery.id)).forceResize(1024,512,'#fff') }}" alt="{{ page.name }}">
                                            </a>
                                        </div>
                                        <div class="carousel-caption " >
                                            {% if slide.caption is not empty %}<h4>{{ slide.caption }}</h4>{% endif %}
                                            {% if slide.description is not empty %}<p>{{ slide.description|raw }}</p>{% endif %}
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                            <!-- Navigation -->
                            <a class="carousel-post-control left" href="#carousel" data-slide="prev">‹</a>
                            <a class="carousel-post-control right" href="#carousel" data-slide="next">›</a>
                        </div>
                    </div>
                    <hr><br/></hr>
                {% elseif page.photoGallery is not empty and page.galleryType == 'thumb' and page.galleryPosition == 'top' %}
                    <div class="row row-flex">
                        {% if page.webPath is not empty %}
                            <div class="item  {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.featureWidgets is empty  %} col-md-4 col-xs-4 col-lg-4 {% else %}  col-md-3 col-xs-3 col-lg-3 {% endif %}">
                                <div class="thumbnail {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}" data-match-height="grid-list" >
                                    <a href="{{ image(page.webPath) }}" class="swipebox" title="{{ page.name }}">
                                        <img class="group list-group-image" style="max-height: 250px; min-height: 250px" src="{{ image(page.webPath).forceResize(220,220) }}" alt="{{ page.name }}">
                                    </a>
                                    <div class="caption">
                                        <p class="group inner list-group-item-text">{{ page.name }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% for slide in page.photoGallery.galleryImages %}
                            <div class="item  {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.featureWidgets is empty  %} col-md-4 col-xs-4 col-lg-4 {% else %}  col-md-3 col-xs-3 col-lg-3 {% endif %}">
                                <div class="thumbnail {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}" data-match-height="grid-list" >
                                    <a href="{{ image(slide.getAbsolutePath(page.globalOption.id,page.photoGallery.id)) }}" class="swipebox" title="{{ slide.caption }}">
                                        <img class="group list-group-image" style="max-height: 250px; min-height: 250px" src="{{ image(slide.getAbsolutePath(page.globalOption.id,page.photoGallery.id)).forceResize(220,220,'#fff') }}" alt="{{ slide.caption }}">
                                    </a>
                                    <div class="caption">
                                        <p class="group inner list-group-item-text">{{ slide.caption }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr><br/></hr>
                {% elseif page.webPath is not empty and page.galleryPosition == 'top' %}
                    <div class="shadow-box {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}">
                        <a href="{{ image(page.webPath) }}" title="{{ page.name }}">
                            <img  src="{{ image(page.webPath).forceResize(1024,512) }}" alt="{{ page.name }}">
                        </a>
                        <div class="caption">{{ page.name }}</div>
                    </div>
                    <hr><br/></hr>
                {% endif %}
                <div class="clearfix"><br/></div>
                <div class="content-area"><div>{{ page.content|raw }}</div></div>
                <div class="clearfix"><br/></div>
                {% if globalOption.templateCustomize.showSocialIcon == 1 %}
                    <ul class="mbm_social">
                        <li><a class="social-facebook" target="_blank" href="https://www.facebook.com/share.php?u={{ app.request.getSchemeAndHttpHost() }}/{{ page.slug }}&picture={{ app.request.getSchemeAndHttpHost() }}/{{ page.webPath }}&title={{ page.name }}&description={{ page.content|striptags|truncate(250)|raw }}">
                                <i class="fa fa-facebook"></i>
                                <div class="tooltip"><span>facebook</span></div>
                            </a>
                        </li>
                        <li><a class="social-linkedin" target="_blank" href="//www.linkedin.com/shareArticle?mini=true&url={{ app.request.getSchemeAndHttpHost() }}/{{ page.slug }}">
                                <i class="fa  fa-linkedin"></i>
                                <div class="tooltip"><span>LinkedIn</span></div>
                            </a>
                        </li>
                        <li><a class="social-google-plus" target="_blank" href="//plus.google.com/share?url={{ app.request.getSchemeAndHttpHost() }}/{{ page.slug }}">
                                <i class="fa fa-google-plus"></i>
                                <div class="tooltip"><span>Google</span></div>
                            </a>
                        </li>
                        <li><a class="social-twitter" target="_blank" href="//twitter.com/share?url={{ app.request.getSchemeAndHttpHost() }}/{{ page.slug }}">
                                <i class="fa fa-twitter"></i>
                                <div class="tooltip"><span>Twitter</span></div>
                            </a>
                        </li>
                        <li><a class="social-instagram" target="_blank" href="//instagram.com/share?url={{ app.request.getSchemeAndHttpHost() }}/{{ page.slug }}">
                                <i class="fa  fa-instagram"></i>
                                <div class="tooltip"><span>Instagram</span></div>
                            </a>
                        </li>
                    </ul>
                {% endif %}
                <div class="clearfix"><br/></div>
                {% if page.photoGallery is not empty and page.galleryType == 'carousel' and page.galleryPosition == 'bottom' %}
                    <div class="carousel-container">
                        <div id="carousel" class="carousel slide carousel-fade" style="width: 100%">
                            <div class="carousel-inner">
                                {% if page.webPath is not empty %}
                                    <div class="carousel-item item active" data-slide-no="0">
                                        <div class="shadow-box {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}">
                                            <a href="{{ image(page.webPath) }}" title="{{ page.name }}">
                                                <img  src="{{ image(page.webPath).forceResize(1024,512) }}" alt="{{ page.name }}">
                                            </a>
                                        </div>
                                        <div class="carousel-caption " >
                                            <h4>{{ page.name }}</h4>
                                        </div>
                                    </div>
                                {% endif %}

                                {% for slide in page.photoGallery.galleryImages %}
                                    <div  class="carousel-item item {% if loop.index-1 == 0 and page.webPath is empty %} active  {% endif %}"  {% if loop.index-1 == 0 and page.webPath is empty %} data-slide-no="{{ loop.index-1 }}"  {% endif %} >
                                        <div class="shadow-box {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}">
                                            <a href="{{ image(page.webPath) }}" title="{{ page.name }}">
                                                <img  src="{{ image(slide.getAbsolutePath(page.globalOption.id,page.photoGallery.id)).forceResize(1024,512,'#fff') }}" alt="{{ page.name }}">
                                            </a>
                                        </div>
                                        <div class="carousel-caption " >
                                            {% if slide.caption is not empty %}<h4>{{ slide.caption }}{% endif %}</h4>
                                            {% if slide.description is not empty %}<p>{{ slide.description|raw }}</p>{% endif %}
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                            <!-- Navigation -->
                            <a class="carousel-post-control left" href="#carousel" data-slide="prev">‹</a>
                            <a class="carousel-post-control right" href="#carousel" data-slide="next">›</a>
                        </div>
                    </div>
                    <hr><br/></hr>
                {% elseif page.photoGallery is not empty and page.galleryType == 'thumb' and page.galleryPosition == 'bottom' %}
                    <div class="row row-flex">
                        {% if page.webPath is not empty %}
                            <div class="item  {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.featureWidgets is empty  %} col-md-4 col-xs-4 col-lg-4 {% else %}  col-md-3 col-xs-3 col-lg-3 {% endif %}">
                                <div class="thumbnail {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}" data-match-height="grid-list" >
                                    <a href="{{ image(page.webPath) }}" class="swipebox" title="{{ page.name }}">
                                        <img class="group list-group-image" style="max-height: 250px; min-height: 250px" src="{{ image(page.webPath).forceResize(220,220) }}" alt="{{ page.name }}">
                                    </a>
                                    <div class="caption">
                                        <p class="group inner list-group-item-text">{{ page.name }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% for slide in page.photoGallery.galleryImages %}
                            <div class="item  {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.featureWidgets is empty  %} col-md-4 col-xs-4 col-lg-4 {% else %}  col-md-3 col-xs-3 col-lg-3 {% endif %}">
                                <div class="thumbnail {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}" data-match-height="grid-list" >
                                    <a href="{{ image(slide.getAbsolutePath(page.globalOption.id,page.photoGallery.id)) }}" class="swipebox" title="{{ slide.caption }}">
                                        <img class="group list-group-image" style="max-height: 250px; min-height: 250px" src="{{ image(slide.getAbsolutePath(page.globalOption.id,page.photoGallery.id)).forceResize(220,220,'#fff') }}" alt="{{ slide.caption }}">
                                    </a>
                                    <div class="caption">
                                        <p class="group inner list-group-item-text">{{ slide.caption }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr><br/></hr>
                {% endif %}
                <div class="clearfix"><br/></div>
            </div>
        </div>
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-bottom')  %}
            {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'body-bottom'}) %}
        {% endif %}
        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-bottom') %}
            <div class="container">
                {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'body-bottom'}) %}
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/product.css'
    '@FrontendBundle/Resources/public/template/desktop/css/product-template.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/desktop/js/ecommerce.js'
    '@FrontendBundle/Resources/public/template/desktop/js/owlcarousel.js'
    '@FrontendBundle/Resources/public/template/desktop/js/cart.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    {% set  sliderItems = globalOption.ecommerceConfig.owlProductColumn  %}
    productSliderOwl({{ sliderItems }});
{% endblock %}
