{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                    Purchase
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('purchase') }}">Purchase</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Add/Edit purchase</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Purchase Information</div>

                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('purchase_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></li>
                                    <li><a href="{{ path('purchase') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                    {% if(entity.id > 0 ) %}
                                        <li><a href="{{ path('purchase_edit',{'id':entity.id}) }}"><i class="icon-edit"></i>&nbsp;Edit</a></li>
                                        <li><a href="{{ path('purchase_show',{'id':entity.id}) }}"><i class="icon-eye-open"></i>&nbsp;Show</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            <div class="row-fluid">
                                <div class="span4">
                                    <h4>Vendor:</h4>
                                    <ul class="unstyled">
                                        <li>{{ entity.vendor.companyName }}</li>
                                        <li>{{ entity.vendor.name }}</li>
                                        <li>{{ entity.vendor.mobile }}</li>
                                        <li>{{ entity.vendor.address }}</li>
                                        {% if entity.vendor.country %}
                                            <li>{{ entity.vendor.country.name }}</li>
                                        {% endif %}

                                    </ul>
                                </div>
                                <div class="span4">
                                    <h4>About:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Memo/Invoice #:</strong>{{ entity.memo }} {% if  entity.invoice  %}/{{ entity.invoice }}{% endif %}</li>
                                        <li><strong>Item/Qnt:</strong> {{ entity.totalItem }}/{{ entity.totalQnt }}</li>
                                        {#<li><strong>Created:</strong> {{ entity.created }}</li>#}
                                        <li><strong>Received:</strong> {{ entity.receiveDate|date('d-m-Y') }}</li>
                                        <li><strong>Created:</strong> {{ entity.created|date('d-m-Y') }}</li>
                                        <li><strong>Created By:</strong> {% if entity.createdBy is defined and entity.createdBy is not empty %}{{ entity.createdBy.username }}{% endif %}</li>
                                    </ul>
                                </div>
                                <div class="span4 invoice-payment">
                                    <h4>Payment Details:</h4>
                                    <ul class="unstyled">

                                        <li><strong>Total BDT:</strong> {{ entity.totalAmount|number_format() }}</li>
                                        <li><strong>Payment BDT:</strong> {{ entity.paymentAmount|number_format() }}</li>
                                        <li><strong>Due BDT:</strong> {{ entity.dueAmount|number_format() }}</li>
                                        <li><strong>Commission BDT:</strong> {{ entity.commissionAmount|number_format() }}</li>


                                    </ul>
                                </div>
                                <div class="span3 image-preview"></div>
                            </div>
                            {% include('flash-message.html.twig')  %}

                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Vendor receive item list</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid box green">

                                <table class="table table-bordered table-striped table-condensed flip-content ">

                                    <thead class="flip-content ">
                                    <tr class="head-grey">
                                        <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                        <th class="numeric" >Vendor item name</th>
                                        <th class="numeric" >Qnt</th>
                                        <th class="numeric" >Purchase price</th>
                                        <th class="numeric" >Sub total</th>
                                        <th class="numeric" >Sales price</th>
                                        <th class="numeric" >Sub total</th>
                                        <th class="numeric" ></th>
                                    </tr>
                                    </thead>
                                    <tbody id="purchaseItem" >
                                    {% for vendorItem in entity.purchaseVendorItems %}
                                        <tr>
                                            <td> {% if entity.purchaseItems is defined and  entity.purchaseItems is not empty  %}<span class="badge badge-warning toggle badge-custom" id="{{ vendorItem.id  }}" ><span>[+]</span></span>{% endif %}</td>
                                            <td class="numeric" >{{ vendorItem.name }}</td>
                                            <td class="numeric" >{{ vendorItem.quantity }}</td>
                                            <td class="numeric" >{{ vendorItem.purchasePrice }}</td>
                                            <td class="numeric" >{{ (vendorItem.purchasePrice*vendorItem.quantity) }}</td>
                                            <td class="numeric" >{{ vendorItem.salesPrice }}</td>
                                            <td class="numeric" >{{ (vendorItem.salesPrice*vendorItem.quantity) }}</td>

                                                <td class="numeric">
                                                    <span class="pull-right">
                                                    {% if entity.process != 'approved' %}
                                                    <a title="Are you sure went to delete ?" id="{{ entity.id }}" href="javascript:" rel="{{ path('purchase_vendor_item_delete', { 'id': vendorItem.id }) }}" class="btn red mini vendorItemDelete" ><i class="icon-trash"></i></a>
                                                    {% endif %}
                                                    </span>
                                                </td>

                                        </tr>

                                        <tr id="show-{{ vendorItem.id }}" class="showing-overview">
                                            <td colspan="8">
                                                {% if vendorItem.purchaseItems is defined and  vendorItem.purchaseItems is not empty  %}
                                                    <table class="table table-bordered table-striped table-condensed flip-content ">

                                                        <thead class="flip-content ">
                                                        <tr class="head-green">
                                                            <th class="numeric" >Barcode</th>
                                                            <th class="numeric" >Item</th>
                                                            <th class="numeric" >Qnt</th>
                                                            <th class="numeric" >Purchase price</th>
                                                            <th class="numeric" >Sub total</th>
                                                            <th class="numeric" >Sales price</th>
                                                            <th class="numeric" >Sub total</th>
                                                            <th class="numeric" ></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for purchaseItem in vendorItem.purchaseItems %}

                                                            <tr>
                                                                <td class="numeric" >{{ purchaseItem.barcode }}</td>
                                                                <td class="numeric" >
                                                                    {{ purchaseItem.item.name }}
                                                                </td>
                                                                <td class="numeric" >{{ purchaseItem.quantity }}</td>
                                                                <td class="numeric" >{{ purchaseItem.purchasePrice }}</td>
                                                                <td class="numeric" >{{ purchaseItem.purchasePrice * purchaseItem.quantity }}</td>
                                                                <td class="numeric" >{{ purchaseItem.salesPrice }}</td>
                                                                <td class="numeric" >{{ purchaseItem.salesPrice * purchaseItem.quantity }}</td>
                                                                <td class=" numeric" >
                                                                     <span class="pull-left">
                                                                    {% if entity.process != 'approved' %}
                                                                    <a title="Are you sure went to delete ?" href="javascript:" rel="{{ path('inventory_purchaseitem_delete', { 'id': purchaseItem.id }) }}" id="{{  purchaseItem.id }}"  class="btn red mini purchaseItemDelete" ><i class="icon-trash"></i></a>
                                                                    {% endif %}
                                                                     </span>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>

                                                    </table>
                                                {% endif %}
                                            </td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box grey">
                                <div class="pull-right" id="action-{{ entity.id }}">
                                    {% if entity.process != 'approved' %}
                                        {% if entity.purchaseVendorItems is empty %}
                                            <a href="{{ path('purchase_edit', { 'id': entity.id }) }}" class="btn green" ><i class="icon-edit"></i></a>
                                        {% endif %}
                                        {% if entity.purchaseVendorItems is not empty and entity.vendorItemSum != entity.totalQnt  %}
                                        <a data-title="Add purchase item" href="{{ path('inventory_purchasevendoritem_new', { 'purchase': entity.id }) }}" class="btn blue" ><i class="icon-plus-sign"></i> vendor</a>
                                        {% endif %}
                                        {% if entity.purchaseVendorItems is not empty and entity.vendorItemSum == entity.totalQnt and entity.vendorItemSum != entity.purchaseItemSum  %}
                                        <a data-title="Add purchase item" href="{{ path('inventory_purchaseitem_new', { 'purchase': entity.id }) }}" class="btn purple " ><i class="icon-plus-sign"></i>&nbsp;stock</a>
                                        {% endif %}
                                        <a title="Are you sure went to delete ?" href="javascript:" data-id="{{ entity.id }}" data-url="{{ path('purchase_delete', { 'id': entity.id }) }}"  class="btn red delete approved-{{ entity.id }}" ><i class="icon-trash"></i></a>
                                    {% endif %}
                                    {% if (  (app.user.granted("ROLE_DOMAIN")  and entity.process == 'complete') or (app.user.granted("ROLE_DOMAIN_INVENTORY_APPR  OVAL")  and entity.process == 'complete') or (app.user.granted("ROLE_DOMAIN_INVENTORY")  and entity.process == 'complete') )  %}
                                        <a class="btn purple approve"  data-id="{{ entity.id }}" data-title="{{ entity.id }}" data-url="{{ path('purchase_approve', { 'id': entity.id,'reject':'reject'  }) }}" ><i class="icon-refresh"></i>&nbsp;Reject</a>
                                        <a class="btn green approve approved-{{ entity.id }}" data-id="{{ entity.id }}" data-title="{{ entity.id }}" data-url="{{ path('purchase_approve', { 'id': entity.id }) }}"><i class="icon-ok"></i>&nbsp;Approve</a>
                                    {% elseif entity.process == 'approved'  %}
                                        <span  class="btn green"><i class="icon-ok"></i>&nbsp;Approved</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/approveProcess.js'
    '@InventoryBundle/Resources/public/js/puschase.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    ApproveProcess();
    InventoryPurchasePage();
{% endblock %}

