<div class="clearfixTopMargin" ></div>
{% for key,entity in pagination  %}
    <div class="col-xs-6 col-md-4 grid">
        <div class="client-sidebar">
            <a class="thumbnail"><img src="{{ image(entity.webPath).resize(150,150) }}" alt=""></a>
            <ul class="social-links">
                <li><a target="_blank" href="http://{{ entity.website }}" class="fa fa-link"></a></li>
            </ul>
        </div>
        <a target="_blank" href="http://{{ entity.website }}" class="text-center"> <strong>{{ entity.name }}</strong></a>
    </div>
{% endfor %}
<div class="pagination pull-center"  >
    {{ knp_pagination_render(pagination) }}
</div>
