 <div class="content">
        <div class="container">
            <h1>Syndicate Content</h1><button id="slidx_button" >Lists</button>
            <div class="col-xs-12">
                <ul>
                    {% for row in entity.user.syndicateContents %}
                        <li>
                            <div class="one-responsive">
                                <div class="big-notification dark-notification">
                                    <h4>{{ row.name }} </h4>
                                    <p><a href="{{ path('mobile_module',{'subdomain': entity.user.globalOption.subDomain,'module':'syndicate' ,'slug':row.slug }) }}">{{ row.content | truncate(100, true) }}</a></p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="decoration"></div>

        </div>
    </div>
 <nav id="slidx_menu">
     <ul>
         {% for row in entity.user.syndicateContents %}
             <li>
                 <a href="{{ path('mobile_module',{'subdomain': entity.user.globalOption.subDomain,'module': 'syndicate','slug':row.slug }) }}">{{ row.name | truncate(50, true) }}</a>
             </li>
         {% endfor %}

     </ul>
 </nav>