<div class="col-md-3 {% if position == 'left' %} slider-left {% else %} slider-right {% endif %} " data-match-height="slider-height">

    {% if feature == 'promotion' %}
        <div class="widget-feature-center">
        {% for entity in entities %}
            <div class="thumbnail wow fadeInDown">
                <a  href="{{ path(globalOption.subDomain ~ '_webservice_product_promotion',{'id':entity.promotion.id}) }}" class=""  > <img class="img-responsive" style="height: 137px"   src="{{ image(entity.webPath).forceResize(350,137) }}" alt=""></a>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if feature == 'tag' %}
        <div class="widget-feature-center">
            {% for entity in entities %}
            <div class="thumbnail wow fadeInDown" >
             <a href="{{ path(globalOption.subDomain ~ '_webservice_product_tag',{'id':entity.tag.id}) }}"  > <img class="img-responsive" style="height: 137px"   src="{{ image(entity.webPath).forceResize(350,137) }}" alt=""></a>
            </div>
                {% endfor %}
        </div>
    {% endif %}

    {% if feature == 'discount' %}
        <div class="widget-feature-center">
            {% for entity in entities %}
            <div class="thumbnail wow fadeInDown" >
                <a href="{{ path(globalOption.subDomain ~ '_webservice_product_tag',{'id':entity.discount.id}) }}"  > <img class="img-responsive" style="height: 137px"   src="{{ image(entity.webPath).forceResize(350,137) }}" alt=""></a>
            </div>
                {% endfor %}
        </div>
    {% endif %}

    {% if feature == 'featureProduct' %}
        <div class="widget-feature-center">
            {% for product in entities %}
                <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}"  > <img class="img-responsive" style="height: 137px"   src="{% if product.webPath is not empty  %}{{ image(product.webPath).scaleResize(400,400) }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ image(product.masterItem.webPath).scaleResize(400,400) }}{% endif %}" alt=""></a>
            {% endfor %}
        </div>
    {% endif %}


    {% if feature == 'category' %}

    <table border=0 class="rounded-list widget-feature-center">
        <tr>
            <td>
                <div class="scrollbar-inner wow fadeInDown" style="overflow: hidden">
                    <ul>
                    {% for entity in entities %}
                        <li class="{{ position }}"><a href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':entity.category.id}) }}" class="" >{{ entity.category.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    {% endif %}

    {% if feature == 'brand' %}
        <div class="widget-feature-center">
           {% for entity in entities %}
                <div class="col-md-6  wow fadeInDown" >
                    <div class="thumbnail">
                        <a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':entity.brand.id}) }}" class="" > <img class="img-responsive"    src="{{ image(entity.webPath).forceResize(120,75) }}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':entity.brand.id}) }}" class="" > <img class="img-responsive"    src="{{ image(entity.webPath).forceResize(120,75) }}" alt=""></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>
<style>
    .rounded-list ol > li{
        background: #ffffff!important;
    }
    .rounded-list ol > li p:before{
        background: transparent!important;
    }
</style>