{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Election Vote Result Matrix
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="{{ path('daily_attendance') }}">Election Vote Result Matrix</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Election Vote Result Matrix Information</div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <input type="text"  class="m-wrap inline-input" style="width: 250px; background-color: #FFFFff; text-align: left; height: 20px!important;" autocomplete="on" id="search" name="search" value="" placeholder="Search the vote center" >
                                <a class="red btn" href="{{ path('election_setup') }}"><i class="icon-th-list"></i>&nbsp; Election</a>
                                <a class="yellow btn view" href="javascript:" data-url="{{ path('election_setup_result_generate',{'id':entity.id}) }}"><i class="icon-refresh"></i>&nbsp; Result</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table id="list-data" class="table table-bordered table-striped table-condensed flip-content ">
                        <thead class="head-grey">
                            <tr>
                                <th class="numeric" ><strong>Name of Center</strong></th>
                                <th class="numeric" >
                                    <div class="row-fluid">
                                        <span class="span12 pull-center"><strong>Process</strong></span>
                                    </div>
                                    <div class="row-fluid pull-center"  style="border-top: 1px solid red"><strong>{{ entity.voteCenter }}</strong></div>
                                    <div class="row-fluid"  style="border-top: 1px solid red">
                                        <div class="btn-group span12 pull-center">
                                            <button class="btn mini blue activeVoteCenter tooltips" data-trigger="hover" data-original-title="Active center:{{ entity.activeVoteCenter }}" >{{ entity.activeVoteCenter }}</button>
                                            <button class="btn mini yellow holdVoteCenter tooltips" data-trigger="hover" data-original-title="Hold center:{{ entity.holdVoteCenter }}" >{{ entity.holdVoteCenter }}</button>
                                            <button class="btn mini red rejectedVoteCenter tooltips" data-trigger="hover" data-original-title="Rejected center:{{ entity.rejectedVoteCenter }}" >{{ entity.rejectedVoteCenter }}</button>
                                        </div>
                                    </div>
                                </th>
                                <th class="numeric" >
                                    <div class="row-fluid">
                                        <span class="span12 pull-center"><strong>Total</strong></span>
                                    </div>
                                    <div class="row-fluid"  style="border-top: 1px solid red">
                                        <span class="span6 pull-center" id="totalInvalidVote"><strong>{{ entity.totalVoter }}</strong></span>
                                    </div>
                                </th>
                                <th class="numeric" >
                                    <div class="row-fluid">
                                        <span class="span12 pull-center"><strong>Cast</strong></span>
                                    </div>
                                    <div class="row-fluid"  style="border-top: 1px solid red">
                                        <span class="span12 pull-center"><strong class="totalCastVote">{{ entity.resultTotalVote }}</strong></span>
                                    </div>
                                </th>
                                {% for candidate in entity.candidates %}
                                    <td class="numeric" >
                                        <div class="row-fluid">
                                            <span class="span12 pull-center"><strong>{{ candidate.marka.name }}</strong></span>
                                        </div>
                                        <div class="row-fluid" style="border-top: 1px solid red">
                                            <span class="span3 pull-center">Male</span>
                                            <span class="span3 pull-center">Female</span>
                                            <span class="span3 pull-center">Others</span>
                                            <span class="span3 pull-center">Total</span>
                                        </div>
                                        <div class="row-fluid" style="border-top: 1px solid red">
                                            <span class="span3 pull-center"><strong class="totalMaleVote-{{ candidate.id }}" >{{ candidate.maleVote }}</strong></span>
                                            <span class="span3 pull-center"><strong class="totalFemaleVote-{{ candidate.id }}" >{{ candidate.femaleVote }}</strong></span>
                                            <span class="span3 pull-center"><strong class="totalOtherVote-{{ candidate.id }}" >{{ candidate.otherVote }}</strong></span>
                                            <span class="span3 pull-center" ><strong class="totalCandidateVote-{{ candidate.id }}" >{{ candidate.totalVote }}</strong></span>
                                        </div>

                                    </td>
                                {% endfor %}
                                <th class="numeric" >
                                    <div class="row-fluid">
                                        <span class="span12 pull-center"><strong>Invalid</strong></span>
                                    </div>
                                    <div class="row-fluid"  style="border-top: 1px solid red">
                                        <span class="span12 pull-center"><strong class="totalInvalidVote">{{ entity.resultInvalidVote }}</strong></span>
                                    </div>
                                </th>

                                </tr>
                            </thead>
                            <tbody >
                            {% for center in entity.votecenters %}
                                <tr>
                                    <th class="">{{ center.location.voteCenterName }}</th>
                                    <th class="">
                                        <select class="span12 m-wrap process inline-input" style="width: 95px!important;" data-id="{{ center.id }}" id="process-{{ center.id }}" name="process-{{ center.id }}">
                                            <option value="">Process</option>
                                            {% set process = ['Active','Rejected','Hold'] %}
                                            {% for process in process %}
                                                <option {% if center.process == process %} selected="selected" {% endif %} value="{{ process }}">{{ process }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                    <th class="">{{ center.totalVoter }}</th>
                                    <th class="">
                                        <input type="text" data-id="{{ center.id }}" class="m-wrap span12 inline-input resultTotalVote" style="width: 100%!important;" id="resultTotalVote-{{ center.id }}" name="resultTotalVote-{{ center.id }}" value="{{ center.resultTotalVote }}" >
                                    </th>
                                    {% for candidate in entity.candidates %}
                                        {% set ids = center.id~'-'~candidate.id %}
                                        {% if matrixArr[ids]['centerId'] == center.id and  matrixArr[ids]['candidateId'] ==  candidate.id %}
                                            <td>
                                                <input type="text" data-id="{{ matrixArr[ids]['matrixId'] }}" class="m-wrap  span3 inline-input voteCount" id="maleVoter-{{ matrixArr[ids]['matrixId'] }}" name="maleVoter-{{ matrixArr[ids]['matrixId'] }}" value="{{ matrixArr[ids]['maleVoter'] }}" >
                                                <input type="text" data-id="{{ matrixArr[ids]['matrixId'] }}" class="m-wrap  span3 inline-input voteCount" id="femaleVoter-{{ matrixArr[ids]['matrixId'] }}" name="femaleVoter-{{ matrixArr[ids]['matrixId'] }}" value="{{ matrixArr[ids]['femaleVoter'] }}" >
                                                <input type="text" data-id="{{ matrixArr[ids]['matrixId'] }}" class="m-wrap  span3 inline-input voteCount" id="otherVoter-{{ matrixArr[ids]['matrixId'] }}" name="otherVoter-{{ matrixArr[ids]['matrixId'] }}" value="{{ matrixArr[ids]['otherVoter'] }}" >
                                                <input type="text" class="m-wrap  span3 inline-input" id="totalVoter-{{ matrixArr[ids]['matrixId'] }}"  name="totalVoter-{{ matrixArr[ids]['matrixId'] }}" value="{{ matrixArr[ids]['totalVoter'] }}" >
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    <th class="">
                                        <input type="text" data-id="{{ center.id }}" class="m-wrap span12 inline-input resultInvalidVote" style="width: 100%!important;" id="resultInvalidVote-{{ center.id }}" name="resultInvalidVote-{{ center.id }}" value="{{ center.resultInvalidVote }}" >
                                    </th>

                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot class="head-grey">
                            <tr>
                                <th class="numeric" ><strong>Name of Center</strong></th>
                                <th class="numeric" >
                                    <div class="row-fluid"  style="border-bottom: 1px solid red">
                                        <div class="btn-group span12 pull-center">
                                            <button class="btn mini blue activeVoteCenter tooltips" data-trigger="hover" data-original-title="Active center:{{ entity.activeVoteCenter }}" >{{ entity.activeVoteCenter }}</button>
                                            <button class="btn mini yellow holdVoteCenter tooltips" data-trigger="hover" data-original-title="Hold center:{{ entity.holdVoteCenter }}" >{{ entity.holdVoteCenter }}</button>
                                            <button class="btn mini red rejectedVoteCenter tooltips" data-trigger="hover" data-original-title="Rejected center:{{ entity.rejectedVoteCenter }}" >{{ entity.rejectedVoteCenter }}</button>
                                        </div>
                                    </div>
                                    <div class="row-fluid pull-center"  style="border-bottom: 1px solid red">{{ entity.voteCenter }}</div>
                                    <div class="row-fluid">
                                        <span class="span12 pull-center"><strong>Process</strong></span>
                                    </div>
                                </th>
                                <th class="numeric" >
                                    <div class="row-fluid">
                                        <span class="span12 pull-center"><strong>{{ entity.totalVoter }}</strong></span>
                                    </div>
                                    <div class="row-fluid" style="border-top: 1px solid red">
                                        <span class="span12 pull-center"><strong>Total</strong></span>
                                    </div>
                                </th>
                                <th class="numeric" >
                                    <div class="row-fluid">
                                        <span class="span12 pull-center"><strong class="totalCastVote">{{ entity.resultTotalVote }}</strong></span>
                                    </div>
                                    <div class="row-fluid" style="border-top: 1px solid red">
                                        <span class="span12 pull-center"><strong>Cast</strong></span>
                                    </div>
                                </th>

                                {% for candidate in entity.candidates %}
                                    <td class="numeric" >
                                        <div class="row-fluid">
                                            <span class="span3 pull-center"><strong class="totalMaleVote-{{ candidate.id }}">{{ candidate.maleVote }}</strong></span>
                                            <span class="span3 pull-center"><strong class="totalFemaleVote-{{ candidate.id }}">{{ candidate.femaleVote }}</strong></span>
                                            <span class="span3 pull-center" ><strong class=" totalOtherVote-{{ candidate.id }}">{{ candidate.otherVote }}</strong></span>
                                            <span class="span3 pull-center"><strong class="totalCandidateVote-{{ candidate.id }}">{{ candidate.totalVote }}</strong></span>
                                        </div>
                                        <div class="row-fluid" style="border-top: 1px solid red">
                                            <span class="span3 pull-center">Male</span>
                                            <span class="span3 pull-center">Female</span>
                                            <span class="span3 pull-center">Others</span>
                                            <span class="span3 pull-center">Total</span>
                                        </div>
                                        <div class="row-fluid" style="border-top: 1px solid red">
                                            <span class="span12 pull-center"><strong>{{ candidate.marka.name }}</strong></span>
                                        </div>
                                    </td>
                                {% endfor %}
                                <th class="numeric" >
                                    <div class="row-fluid">
                                        <span class="span12 pull-center"><strong class="totalInvalidVote">{{ entity.resultInvalidVote }}</strong></span>
                                    </div>
                                    <div class="row-fluid" style="border-top: 1px solid red">
                                        <span class="span12 pull-center"><strong>Invalid</strong></span>
                                    </div>
                                </th>

                            </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
 <style>
    input[class*="span"].m-wrap , select[class*="span"].m-wrap{
         font-weight: bold;
         margin-top: -1px;
         text-align: right;
         border: 2px solid #4b8df8!important;
         height: 23px!important;
         width: 24%;
     }
 </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@ElectionBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@ElectionBundle/Resources/public/js/quicksearch.js'
    '@ElectionBundle/Resources/public/js/election.js'
    '@ElectionBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('input#search').quicksearch('table#list-data tbody tr', {
        'delay': 300,
        'selector': 'th',
        'stripeRows': ['odd', 'even'],
        'loader': 'span.loading',
        'bind': 'keyup click',
        'show': function () {
        this.style.color = '';
        },
        'hide': function () {
        this.style.color = '#ccc';
        },
        'prepareQuery': function (val) {
        return new RegExp(val, "i");
        },
        'testQuery': function (query, txt, _row) {
        return query.test(txt);
        }
    });

{% endblock %}





