<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Campaign Analysis Information</div>
    </div>
    <div class="portlet-body form">
        <div class="loader loader-double" ></div>
        <div id="memberLoad">
        <div class="clearfix">&nbsp;</div>
            <div class="row-fluid">
                <div class="span4">
                    <h4>About:</h4>
                    <ul class="unstyled">
                        {% if entity is not empty %}<li><strong>Created: </strong>&nbsp;{{ entity.created|date('d-m-y') }}</li>{% endif %}
                        {% if entity.location is not empty  %}<li><strong>Location: </strong>&nbsp;{{ entity.location.name }}</li>{% endif %}
                        {% if entity.analysisType is not empty %}<li><strong>Analysis Type: </strong>&nbsp;{{ entity.analysisType.name }}</li>{% endif %}
                        {% if entity.priority is not empty %}<li><strong>Priority: </strong>&nbsp;{{ entity.priority.name }}</li>{% endif %}
                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <h4>{{ entity.name }}</h4>
                    <hr>
                    <p>{{ entity.content|raw }}</p>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            {% set paymentID = entity.electionConfig.id~'-campaign-'~entity.id %}
            {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': paymentID } %}
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

