
<div style="height: auto;" id="accordion1-1" class="accordion collapse">
    <form action="" method="post" id="profile" >
        <label class="control-label">Full Name</label>
        <input type="text" placeholder="Enter your full name" class="m-wrap span8" name="name"  value="{{ user.profile.name }}"/>
        <label class="control-label">Designation</label>
        <input type="text" placeholder="Web Developer" class="m-wrap span8" name="designation" value="{{ user.profile.designation }}" />
        <label class="control-label">Profession</label>
        <input type="text" placeholder="Web Developer" class="m-wrap span8" name="profession" value="{{ user.profile.designation }}" />
        <label class="control-label">Mobile Number</label>
        <input type="text" placeholder="Enter your personal mobile no" name="mobile"  value="{{ user.profile.mobile }}" class="m-wrap span8" />
        <label class="control-label">Interests</label>
        <input type="text" placeholder="Design, Web etc." class="m-wrap span8" name="interest" value="{{ user.profile.interest }}" />
        <label class="control-label">Date of birth</label>
        <input type="text" placeholder="" class="m-wrap span8" name="dob" value="{{ user.profile.dob }}" />
        <label class="control-label">Blood group</label>
        <input type="text" placeholder="Enter your blood group" class="m-wrap span8" name="bloodGroup" value="{{ user.profile.bloodGroup }}" />
        <label class="control-label">Counrty</label>
        <div class="controls">
            <input type="text" name="country" class="span8 m-wrap" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[&quot;Alabama&quot;,&quot;Alaska&quot;,&quot;Arizona&quot;,&quot;Arkansas&quot;,&quot;US&quot;,&quot;Colorado&quot;,&quot;Connecticut&quot;,&quot;Delaware&quot;,&quot;Florida&quot;,&quot;Georgia&quot;,&quot;Hawaii&quot;,&quot;Idaho&quot;,&quot;Illinois&quot;,&quot;Indiana&quot;,&quot;Iowa&quot;,&quot;Kansas&quot;,&quot;Kentucky&quot;,&quot;Louisiana&quot;,&quot;Maine&quot;,&quot;Maryland&quot;,&quot;Massachusetts&quot;,&quot;Michigan&quot;,&quot;Minnesota&quot;,&quot;Mississippi&quot;,&quot;Missouri&quot;,&quot;Montana&quot;,&quot;Nebraska&quot;,&quot;Nevada&quot;,&quot;New Hampshire&quot;,&quot;New Jersey&quot;,&quot;New Mexico&quot;,&quot;New York&quot;,&quot;North Dakota&quot;,&quot;North Carolina&quot;,&quot;Ohio&quot;,&quot;Oklahoma&quot;,&quot;Oregon&quot;,&quot;Pennsylvania&quot;,&quot;Rhode Island&quot;,&quot;South Carolina&quot;,&quot;South Dakota&quot;,&quot;Tennessee&quot;,&quot;Texas&quot;,&quot;Utah&quot;,&quot;Vermont&quot;,&quot;Virginia&quot;,&quot;Washington&quot;,&quot;West Virginia&quot;,&quot;Wisconsin&quot;,&quot;Wyoming&quot;]" />
            <p class="help-block"><span class="muted">Start typing to auto complete!. E.g: US</span></p>
        </div>
        <label class="control-label">Address</label>
        <textarea class="span8 m-wrap" rows="1" name="address">{{ user.profile.address }}</textarea>
        <label class="control-label">About</label>
        <textarea class="span8 m-wrap" rows="3" name="about">{{ user.profile.about }}</textarea>
        <div class="submit-btn">
            <input type="hidden" name="profile_id" value="{{ user.id }}">
            <input type="submit" class="btn green" id="profile-submit"  name="submit" value="Save Changes">
            <a href="javascript:" class="btn">Cancel</a>
        </div>
    </form>
</div>