{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN inventory_warehouse HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="inventory_warehouse-title">
                    Configuration
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>

                    <li><a href="#">Configuration </a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END inventory_warehouse HEADER-->
        <!-- BEGIN inventory_warehouse CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Configuration Information</div>
                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <div class="clearfix"><br/></div>
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <div class="row-fluid box green">
                               </div>
                                <div class="row-fluid">

                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label " for="customerPrefix">Customer Prefix</label>
                                                    <div class="control">
                                                        {{ form_widget(form.customerPrefix) }}
                                                        {{ form_errors(form.customerPrefix) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label " for="vatPercentage">Invoice Prefix</label>
                                                    <div class="control">
                                                        {{ form_widget(form.invoicePrefix) }}
                                                        {{ form_errors(form.invoicePrefix) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " >Prescription Invoice Font Size</label>
                                                    <div class="control">
                                                        {{ form_widget(form.invoiceFontSize) }}
                                                        {{ form_errors(form.invoiceFontSize) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.showAccessories) }} Show Invoice Accessories
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.customPrescription) }} Custom Prescription
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.isDefaultMedicine) }} Invoice Set Default Medicine
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" >Header Left Width</label>
                                                    <div class="control">
                                                        {{ form_widget(form.headerLeftWidth) }}
                                                        {{ form_errors(form.headerLeftWidth) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " >Prescription Sidebar Top Margin</label>
                                                    <div class="control">
                                                        {{ form_widget(form.leftTopMargin) }}
                                                        {{ form_errors(form.leftTopMargin) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " >Prescription Sidebar Width</label>
                                                    <div class="control">
                                                        {{ form_widget(form.sidebarWidth) }}
                                                        {{ form_errors(form.sidebarWidth) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label ">Prescription Sidebar Font Size</label>
                                                    <div class="control">
                                                        {{ form_widget(form.sidebarFontSize) }}
                                                        {{ form_errors(form.sidebarFontSize) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" >Header Right Width</label>
                                                    <div class="control">
                                                        {{ form_widget(form.headerRightWidth) }}
                                                        {{ form_errors(form.headerRightWidth) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label" >Prescription Body Top Margin</label>
                                                    <div class="control">
                                                        {{ form_widget(form.bodyTopMargin) }}
                                                        {{ form_errors(form.bodyTopMargin) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label " >Prescription Body Width</label>
                                                    <div class="control">
                                                        {{ form_widget(form.bodyWidth) }}
                                                        {{ form_errors(form.bodyWidth) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="control-group">
                                                    <label class="control-label ">Prescription Body Font Size</label>
                                                    <div class="control">
                                                        {{ form_widget(form.bodyFontSize) }}
                                                        {{ form_errors(form.bodyFontSize) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                 </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Prescription Format</div>
                                    <div class="actions">
                                        <div class="btn-group">
                                            <a class="btn yellow" href="{{ path('dms_default_service') }}"><i class="icon-refresh"></i> Reset Service</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <style>
                                    .sortable input[class*="span"].m-wrap{
                                        height: 30px!important;
                                        margin-top: -6px!important;
                                        background-color: #fff;
                                    }
                                    .dd-select{
                                        margin-top: -6px;
                                        height: 28px!important;
                                    }

                                </style>
                                <div style="position: relative" class="portlet-body flip-scroll dd" id="nestable_list_2">
                                    <ul class="sortable grid dd-list">
                                        {% set prescriptionPosition = {1:'Left',2:'Right'} %}
                                        {% for service in pagination %}
                                            <li  data-id="{{ service.id }}" id="item_{{ service.id }}" class="dd-item dd3-item">
                                                <span data-id="{{ service.id }}" class="dd-handle dd3-handle"></span>
                                                <div class="dd3-content">
                                                    <div class="span1 tooltips" data-trigger="hover" data-original-title="Check for service show prescription"><input type="checkbox" {% if service.serviceShow == 1  %} checked="checked" {% endif %} name="serviceShow[]" value="{{ service.id }}"></div>
                                                    <div class="span5">{{ service.name }}
                                                        <input type="hidden" name="serviceKey[]" value="{{ service.id }}">
                                                    </div>
                                                    <div class="span3 tooltips" data-trigger="hover" data-original-title="Enter service position for prescription">
                                                        <select id="servicePosition" name="servicePosition[]" class="span12 dd-select">
                                                            {% for key,position in prescriptionPosition %}
                                                                <option {% if key == service.servicePosition  %} selected="selected" {% endif %} value="{{ key }}">{{ position }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="span1 tooltips" data-trigger="hover" data-original-title="Enter number for service height" ><input type="number" class="span12 m-wrap"   name="serviceHeight[]" value="{{ service.serviceHeight }}"></div>
                                                    <div class="span2 tooltips" data-trigger="hover" data-original-title="Check for service show prescription service header" ><input class=""  type="checkbox" {% if service.serviceHeaderShow == 1  %} checked="checked" {% endif %} name="serviceHeaderShow[]" value="{{ service.id }}"></div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="form-actions portlet box purple">
                                    <div class="portlet-title">
                                        <div class="caption"><i class="icon-reorder"></i>Print</div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row-fluid">
                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.invoicePrintLogo) }}Print Logo
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.isPrintHeader) }} Print Header
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.isInvoiceTitle) }} Print Invoice Title
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.isPrintFooter) }} Print Footer
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12">
                                                {{ form_widget(form.printInstruction) }} Print Instruction
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span12"><h4>Invoice Format</h4></div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label " for="vatPercentage">Invoice Height</label>
                                                    <div class="control">
                                                        {{ form_widget(form.invoiceHeight) }}
                                                        {{ form_errors(form.invoiceHeight) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="span4">
                                        <div class="row-fluid">
                                            <div class="span12"><h4>Invoice Format</h4></div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label " for="vatPercentage">Margin Left</label>
                                                    <div class="control">
                                                        {{ form_widget(form.printLeftMargin) }}
                                                        {{ form_errors(form.printLeftMargin) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <div class="control-group">
                                                    <label class="control-label " for="vatPercentage">Margin Top</label>
                                                    <div class="control">
                                                        {{ form_widget(form.printTopMargin) }}
                                                        {{ form_errors(form.printTopMargin) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <!--/span-->
                            <div class="form-actions portlet box grey">
                                <div class="pull-right">
                                    <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('.sortable').sortable({
    handle: 'span'
    });
    $( ".sortable" ).on( "sortupdate", function( event, ui ) {
    var serialized = $(".sortable").sortable("serialize");
    $.ajax({
    url: '{{ path('dms_service_sorted',{'fieldName':'serviceSorting'}) }}',
    type: "POST",
    data: serialized
    });
    })

{% endblock %}