{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Account of purchase return
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:">Account of purchase return</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Account of purchase return</div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body">
                            {% include('flash-message.html.twig') %}
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <input type="text" id="accountRefNo" name="accountRefNo"  class="span12 m-wrap search-input  date-picker" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}Start receive date{% endif %} ">
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="vendor" name="vendor"  class="leftMargin span12 select2Vendor m-wrap" value="{% if searchForm.vendor is defined %}{{ searchForm.vendor }}{% endif %}"  autocomplete="off" >
                                    </div>
                                    <div class="span2">
                                        <input type="text" id="startDate" name="startDate"  class="span12 search-input m-wrap  date-picker" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}Start date{% endif %} ">
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span11">
                                                <input type="text" id="endDate" name="endDate"  class="span10 m-wrap search-input  m-ctrl-medium date-picker" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}End date{% endif %} ">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content">
                                <tr class="head-red">
                                    <th class="" >Total Amount</th>
                                    <th class="" >Received Amount</th>
                                    <th class="" >Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="numeric" ><strong>{{ overview.purchaseAmount|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ overview.payment|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{  (overview.purchaseAmount - overview.payment)|number_format }}</strong></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig') %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Vendor Name</th>
                                    <th class="numeric" >PurRtn Invoice</th>
                                    <th class="numeric" >Adj Purchase GRN</th>
                                    <th class="numeric" >Ref no.</th>
                                    <th class="numeric" >Return</th>
                                    <th class="numeric" >Received</th>
                                    <th class="numeric" >Balance</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr id="remove-{{ entity.id }}">
                                        <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.vendor.name }}</td>
                                        <td class="numeric" >{{ entity.purchaseReturn.invoice }}</td>
                                        <td class="numeric" >{{ entity.purchaseReturn.purchase.grn }}</td>
                                        <td class="numeric" >{{ entity.accountRefNo }}</td>
                                        <td class="numeric" >{{ entity.totalAmount|number_format }}</td>
                                        <td class="numeric" >{{ entity.amount|number_format }}</td>
                                        <td class="numeric" >{{ entity.balance|number_format }}</td>
                                        <td class="numeric" >
                                             <a href="javascript:" id="" data-id="" class="btn blue mini "><i class="icon-check"></i>&nbsp;Approved</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        .leftMargin {
            margin-left: 0!important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/editable.js'
    '@AccountingBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
    AccountingApproveProcess();
{% endblock %}


