{% extends ':frontend/template:ecommerce-base.html.twig' %}
{% block body %}
    <section class="siteBgColor">
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        {% if globalOption.templateCustomize.breadcrumb == 1 and globalOption.templateCustomize.breadcrumbPosition == 'flat-left'  %}
            <div class="pageheader">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="simple-breadcrumb-left">
                                <li class=""><span class="glyphicon glyphicon-home"></span>&nbsp;<a class="home" href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">{% if globalOption.templateCustomize.siteLanguage == 'bangoli' %} হোম {% else %}Home{% endif %}</a></li>
                                <li class="active">Shopping Cart</li>
                            </ul>
                        </div>
                        <div class="col-md-6 text-right">
                            <h2 class="title">Shopping Cart</h2>
                        </div>
                    </div>
                </div>
            </div>
        {% elseif globalOption.templateCustomize.breadcrumb == 1 and globalOption.templateCustomize.breadcrumbPosition == 'flat-right'  %}
            <div class="pageheader">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="title">Shopping Cart</h2>
                        </div>
                        <div class="col-md-6">
                            <ul class="simple-breadcrumb-right">
                                <li class="active">Shopping Cart</li>
                                <li class=""><span class="glyphicon glyphicon-home"></span>&nbsp;<a class="home" href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">{% if globalOption.templateCustomize.siteLanguage == 'bangoli' %} হোম {% else %}Home{% endif %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% elseif globalOption.templateCustomize.breadcrumb == 1 and globalOption.templateCustomize.breadcrumbPosition == 'center'  %}

            <div class="pageheader">
                <div class="container">
                    <div class="col-md-12 text-center">
                        <h2 class="title">Shopping Cart</h2>
                        <p><span class="glyphicon glyphicon-home"></span>&nbsp;<a class="home" href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">{% if globalOption.templateCustomize.siteLanguage == 'bangoli' %} হোম {% else %}Home{% endif %}</a> &nbsp;&nbsp;<i class="fa fa-angle-right"></i> &nbsp;&nbsp;Shopping Cart</p>
                    </div>
                </div>
            </div>
        {% elseif globalOption.templateCustomize.breadcrumb == 1 and globalOption.templateCustomize.breadcrumbPosition == 'left'  %}
            <div class="pageheader">
                <div class="container">
                    <div class="col-md-12 text-left">
                        <h2 class="title">Shopping Cart</h2>
                        <p><span class="glyphicon glyphicon-home"></span>&nbsp;<a class="home" href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">{% if globalOption.templateCustomize.siteLanguage == 'bangoli' %} হোম {% else %}Home{% endif %}</a> &nbsp;&nbsp;<i class="fa fa-angle-right"></i> &nbsp;&nbsp; Shopping Cart</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="clearfix"></div>
        <div class="clearfix">  <br/></div>
        <section>
            <div class="container bodyColor" >
                <div class="col-md-12">
                   <div class="row-fluid">
        {% if app.user is empty %}
            <div class="login-area" id="login-modal">
                <div class="modal-header" style="position: relative">
                    <h5 class="modal-title">Sign up / Login </h5>
                    <button type="button" class="close-btn btn btn-sm modal-close-btn btn-transparent" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="modal-body">
                    <div id="cart-search">
                        <form name="customerOtpLogin" method="post" action="{{ path(globalOption.subDomain ~ '_webservice_otp') }}"  id="customerOtpLogin" class="" novalidate="novalidate">
                            <div class="clearfix"></div>
                            <div class="" >
                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 col-sm-cus-12 text-center">
                                    <h4 class="modal-title">Please Enter Your Mobile Number</h4>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 col-sm-cus-12">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-transparent" aria-label="Bold"><img src="{{ asset('assets/img/flags/bd.png') }}"></button></div>
                                        <input type="text" class="form-control text-center input-number mobile" style="width: 100%" id="mobile" name="mobile" >
                                    </div><!-- /.input-group -->
                                    <span class="help-inline-otp">e.g 01710000000</span>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 col-sm-cus-12">
                                    <div class="input-group">
                                        <div class="input-group-btn text-center">
                                            <button type="submit" class="btn btn-warning "> SEND OTP CODE </button>
                                        </div>
                                    </div><!-- /.input-group -->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <form name="customerOtp" method="post" action="{{ path(globalOption.subDomain ~ '_webservice_otp_confirm') }}"  id="customerOtp" class="" novalidate="novalidate">
                            <div class="clearfix"></div>
                            <div class="" >
                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 col-sm-cus-12 text-center">
                                    <h4 class="modal-title">We've sent a 4-digit one time PIN in your mobile. <b id="sender-mobile"></b></h4>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4 col-sm-offset-3">
                                    <input type="text" class="form-control text-center" maxlength="4" id="otp" name="otp" placeholder="Please enter 4 digit on time pin code" >
                                    <input type="hidden" id="otpCode" name="otpCode" value="">
                                    <input type="hidden" id="resendMobile" name="resendMobile" value="">
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 col-sm-cus-12">
                                    <div class="text-center">
                                        <input type="hidden" name="token" value="{{ csrf_token('valid') }}"/>
                                        <button type="submit" class="btn btn-warning "> Submit </button>
                                        <a href="javascript:" data-url="{{ path(globalOption.subDomain ~ '_webservice_otp') }}" data-content="" id="resendPin">Re-send Pin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="login-area" id="user-modal" style="display: none">
                <div class="modal-header" style="position: relative">
                    <h4 class="modal-title">Delivery Information</h4>
                    <button type="button" class="close-btn btn btn-sm modal-close-btn" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="modal-body" style="width: 400px">
                    <div id="cart-search" >
                        <form class="register" name="registerFormCreate" id="registerFormCreate" action="{{ path(globalOption.subDomain ~ '_webservice_ecommerce_customer_update') }}" method="post" novalidate="novalidate" style="display: block">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" id="registration_name" name="registration_name" required="required" class=" form-control" placeholder="Enter your full name" value="{% if app.user is not empty %}{{ app.user.profile.name }}{% endif %}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                        <select id="registration_location" name="registration_location" class="form-control" >
                                            {% for location in locations %}
                                                <option {% if app.user is not empty and app.user.profile.deliveryLocation is not empty and app.user.profile.deliveryLocation.id == location.id %} selected="selected" {% endif %} value="{{ location.id }}">{{ location.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea id="address" name="registration_address" required="required" class="form-control" placeholder="Enter your address" >{% if app.user is not empty %}{{ app.user.profile.address }}{% endif %}</textarea>
                                </div>
                                <div class="checkbox"></div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="token" value="{{ csrf_token('valid') }}"/>
                                <button type="submit"  class="btn btn-sm btn-info pull-right" role="button">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
                    {% if app.user is not empty and app.user.profile.name is not empty %}
                        <div class="row-fluid">
                            <div class="col-xs-8 col-md-8" id="prescription-content">
                                <div class="col-xs-12 col-md-12">
                                    <div class="modal-header" style="height: 52px">
                                        <h4 class="modal-title">Checkout</h4>
                                    </div>
                                    {% if globalOption.ecommerceConfig.cartSearch == 1 %}
                                        <form name="stockItemForm" method="post" action="{{ path(globalOption.subDomain ~ '_webservice_stock_item_create') }}" enctype="multipart/form-data" id="stockItemForm" class="register" novalidate="novalidate">
                                            <div class="clearfix"></div>
                                            <div class="row" id="cart-search">
                                                <div class="col-xs-6 col-md-6">
                                                    <input class="select2Stock form-control" autocomplete="off" name="itemName" id="itemName"  placeholder="Search your choose products..." style="border-radius:0!important;">
                                                    <input type="hidden" name="stockId" id="stockId">
                                                    <ul id="searchResult"></ul>
                                                    <span class="help-inline">Here you can add on demand products. Just typing a product name and click add button.</span>
                                                </div>
                                                <div class="col-xs-2 col-md-2" id="cart-subitem"></div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="input-group">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-transparent" aria-label="Bold"><strong class="currency" >{{ globalOption.ecommerceConfig.currency }}</strong><span id="salesPrice"></span></button></div>

                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn  btn-number-stock text-center" data-type="minus" data-field="itemQuantity">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                            </button>
                                                        </div>
                                                        <input type="text" class="form-control text-center input-number" style="width: 100%" value="1" min="1" max="1000"  id="itemQuantity" name="itemQuantity">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn  btn-number-stock" data-type="plus" data-field="itemQuantity">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                            <button type="button" id="unit" class="btn btn-unit">Unit</button> <button type="submit" class="btn btn-warning " id="stockSubmit" data-url="{{ path(globalOption.subDomain ~ '_webservice_stock_item_create') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Add</button>
                                                        </div>
                                                    </div><!-- /.input-group -->
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                    <div id="stockCart">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div id="cart-item-list" style="width: 100%!important;">
                                                    <div id="stockCart">
                                                        {% if  cart.contents is not empty %}
                                                            <div class="top">Recent Buy Item's <span class="pull-right" style="margin-right:10px; margin-top:-2px" ><span class="btn btn-warning "><strong class="totalItem">{{ cart.contents|length }}</strong> | <strong class="cartQuantity">{{ cart.total_items }}</strong></span></span></div>
                                                            <div id="cart-item-list-box">
                                                                {% for product in cart.contents %}
                                                                    <div class="col-xs-12 col-md-12 list-group-item" id="item-remove-{{ product.rowid }}">
                                                                        <div class="col-xs-3 col-md-3" data-match-height="item-product" style="display: flex;
                    align-items: center;
                    float: left!important;">  <a href="javascript:" id="{{ product.rowid }}"
                                                 data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart_remove',{'cartid':product.rowid}) }}"  class="hunger-remove-cart" style="margin-right: 15px"> <span class="fa fa-remove"></span> </a>
                                                                            {% if product.productImg is not empty %}
                                                                                <img src="{{ image(product.productImg).scaleResize(80,80) }}" alt=""/>
                                                                            {% else %}
                                                                                <img style="height: 80px; width: 80px" src="{{ asset('assets/img/product-icon.png') }}">
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="col-xs-9 col-md-9" data-match-height="item-product">
                                                                            <div class="row">
                                                                                <div class="col-xs-6 col-md-6 list-group-product">
                                                                                    <span class="cart-product-title">{{ product.name }}</span><br>
                                                                                    {{ globalOption.ecommerceConfig.currency }} <span class="cart-price">{{ product.price }}</span> {% if product.productUnit is not empty %}/ <span class="cart-unit">{{ product.productUnit }}</span> {% endif %}
                                                                                </div>
                                                                                <div class="col-xs-3 col-md-3 list-group-product">
                                                                                    <div class="input-group cart-input-group" >
                                                                                      <span class="input-group-btn input-group-btn-custom">
                                                                                          <button type="button" class="btn btn-sm btn-transparent btn-number-cart"
                                                                                                  data-type="minus" data-field="quantity" data-id="{{ product.rowid }}"
                                                                                                  id="btn-left-{{ product.rowid }}"
                                                                                                  data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart_update',{'cartid': product.rowid}) }}" data-text="{{ product.id }}" data-title="{{ product.price }}">  <span class="fa fa-minus"></span>
                                                                                          </button>
                                                                                      </span>
                                                                                        <input  type="text" readonly="readonly" name="quantity" id="quantity-{{ product.rowid }}"  class="btn-number-cart cart-quantity" value="{{ product.quantity }}" min="1" max="100" >
                                                                                        <span class="input-group-btn">
                                                    <button type="button" class="btn btn-transparent btn-sm btn-number-cart"
                                                            data-type="plus" data-field="quantity"
                                                            data-id="{{ product.rowid }}"
                                                            data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart_update',{'cartid': product.rowid}) }}"
                                                            data-text="{{ product.id }}" data-title="{{ product.price }}">
                                                                      <span class="fa fa-plus"></span>
                                                              </button>
                              </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-xs-3 col-md-3 text-right  list-group-product">
                                                                                    <div style="line-height: 30px">{{ globalOption.ecommerceConfig.currency }} <strong id="btn-total-{{ product.rowid }}" >{{ (product.price * product.quantity)|number_format(2) }}</strong></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <div class="bottom">
                                                                <span class="dd-span pull-left">SubTotal:</span>
                                                                <span class="dd-span pull-right"><strong>{{ globalOption.ecommerceConfig.currency }}
                                                                        &nbsp;<span class="totalAmount">{{ cart.total|number_format(2) }}</span></strong></span>
                                                            </div>
                                                        {% endif %}
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <div class="login-area">
                                    <div class="modal-header row" style="position: relative; height: 52px">
                                        <h4 class="modal-title">Manage Order</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="cart-form" id="cartForm" name="cartForm" action="{{ path(globalOption.subDomain ~ '_webservice_buyer_checkout') }}" method="post" enctype="multipart/form-data">
                                            <ul class="accordion row">
                                                <li>
                                                    <div class="accordion-control">Delivery Information</div>
                                                    <div class="accordion-panel">
                                                        <p><label>Name</label>
                                                            <input type="text" id="customerName" name="customerName" required="required" class="form-cart" placeholder="Enter your full name" value="{{ app.user.profile.name }}">
                                                        </p>
                                                        <p><label>Mobile</label>
                                                            <input type="text" id="customerMobile" name="customerMobile" required="required" class="form-cart" placeholder="Enter your pickup mobile no" value="{% if app.user.profile.additionalPhone is not empty %}{{ app.user.profile.additionalPhone }} {% else %}{{ app.user }}{% endif %}" >
                                                        </p>
                                                        <p><label>Location</label>
                                                            <select id="deliveryLocation" name="deliveryLocation" class="form-cart select-cart" >
                                                                {% for location in locations %}
                                                                    <option {% if app.user.profile.deliveryLocation is not empty and app.user.profile.deliveryLocation.id == location.id %} selected="selected" {% endif %} value="{{ location.id }}">{{ location.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </p>
                                                        <p><label>Address</label>
                                                            <textarea id="deliveryAddress" name="deliveryAddress" required="required" class="address" rows="2"  placeholder="Enter your address" >{{ app.user.profile.address }}</textarea>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="accordion-control active">Preferred Date & Time</div>
                                                    <div class="accordion-panel" style="display: block">
                                                        <p> <label>Delivery Date</label><input type="date" class="form-cart" name="deliveryDate" id="deliveryDate"></p>
                                                        <p><label>Time Period</label>
                                                            <select id="timePeriod" name="timePeriod" class="form-cart select-cart" >
                                                                {% for period in timePeriods %}
                                                                    <option value="{{ period.id }}">{{ period.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="accordion-control active">Payment</div>
                                                    <div class="accordion-panel" style="display: block">
                                                        <ul class="list-group-cash">
                                                            <li class="list-group-item">
                                                                Cash on Delivery
                                                                <div class="material-switch pull-right">
                                                                    <input id="cashOnDelivery" name="cashOnDelivery" value="1" type="checkbox"  {% if globalOption.ecommerceConfig.cashOnDelivery == 1 %} checked="checked" {% endif %} />
                                                                    <label for="cashOnDelivery" class="label-warning"></label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div id="payment-transaction"  class="{% if globalOption.ecommerceConfig.cashOnDelivery == 1 %}payment-hide{% else %}payment-show{% endif %}">
                                                            <p>
                                                                <label>Receive Account</label>
                                                                <select id="accountMobile" name="accountMobile" class="form-cart select-cart">
                                                                    {% for mobile in globalOption.accountMobileBank %}
                                                                        {% if mobile.status == 1 %}
                                                                            <option value="{{ mobile.id }}">{{ mobile.name }}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </p>
                                                            <p>
                                                                <label>Payment Mobile</label>
                                                                <input type="text" class="form-cart" name="paymentMobile" id="paymentMobile">
                                                            </p>
                                                            <p>
                                                                <label>Trx Id</label>
                                                                <input type="text" class="form-cart" name="transactionId" id="transactionId">
                                                            </p>
                                                        </div>

                                                    </div>
                                                </li>
                                                {% if globalOption.ecommerceConfig.uploadFile == 1 %}
                                                    <li>
                                                        <div class="accordion-control">Upload Order</div>
                                                        <div class="accordion-panel">
                                                            <div style="height:32px; overflow: hidden">
                                                                <input type="file" id="uploadFile" name="uploadFile" class="dropzone"/>
                                                            </div>
                                                            <p style="font-size:10px; color: red; line-height: 14px; height: 24px; margin-bottom: 0">*JPG/GIF/PDF/PNG, less than 5MB</p>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                                <li>
                                                    <div class="accordion-control">Remark</div>
                                                    <div class="accordion-panel">
                                                        <p>
                                                            <textarea name="comment" id="comment" class="address" rows="2"  placeholder="Enter order related instruction"></textarea>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div id="cart-user row">
                                                        <div class="top cart-head">Order Summary</div>
                                                        <div class="modal-footer">
                                                            <div class="row">
                                                                <div class="col-xs-8 col-md-8 text-left">Coupon code</div>
                                                                <div class="col-xs-4 col-md-4 text-right"><input data-url="{{ path(globalOption.subDomain ~ '_webservice_order_coupon') }}" type="text" class="form-cart" id="couponCode" name="couponCode" value="" ></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-8 col-md-8 text-left">Sub-Total</div>
                                                                <div class="col-xs-4 col-md-4 text-right totalAmount" >{{ cart.total|number_format(2) }}</div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-8 col-md-8 text-left">Discount</div>
                                                                <div class="col-xs-4 col-md-4 text-right" id="cartDiscount">0.00
                                                                    <input type="hidden" id="grandDiscount" name="grandDiscount" value="">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-8 col-md-8 text-left">Shipping Charge</div>
                                                                <div class="col-xs-4 col-md-4 text-right">{% if cart.total %}{{ globalOption.ecommerceConfig.shippingCharge|number_format(2) }}{% endif %}
                                                                    <input type="hidden" id="shippingCharge" name="shippingCharge" value="{{ globalOption.ecommerceConfig.shippingCharge }}">
                                                                </div>
                                                            </div>
                                                            <div class="row" style="border-top: 1px solid #999999; margin-bottom: 15px; margin-top: 7px">
                                                                <div class="col-xs-8 col-md-8 text-left"><strong>Total</strong></div>
                                                                <div class="col-xs-4 col-md-4 text-right"><strong class="grandTotal">{% if cart.total %}{{ (globalOption.ecommerceConfig.shippingCharge + cart.total)|number_format(2) }}{% endif %}</strong></div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="col-xs-12 col-md-12 text-center">
                                                                <button  type="submit" class="btn btn-success">Place Order <span class="glyphicon glyphicon-play"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>

{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/product.css'
    '@FrontendBundle/Resources/public/template/desktop/css/basket.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/desktop/js/ecommerce.js'
    '@FrontendBundle/Resources/public/template/desktop/js/owlcarousel.js'
    '@FrontendBundle/Resources/public/template/desktop/js/basket.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}