<div class="modal-header">
    <button type="button" class="close-btn btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
    <h4 class="modal-title">{% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}{{ product.brand.name }}&nbsp;-&nbsp;{% endif %}{{ product.webName }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-5 col-md-5">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        {% if  product.webPath is not empty %}
                            <img class="img-responsive "  data-match-height="image-gallery" src="{% if product.webPath is not empty  %}{{ image(product.webPath).resize(450,450) }}{% else %}{{ image(product.webPath).resize(450,450) }}{% endif %}" alt="{{ product.webName }}">
                        {% elseif product.medicine is not empty and product.medicine.webPath is not empty %}
                            <img class="img-responsive "  data-match-height="image-gallery" src="{% if product.webPath is not empty  %}{{ image(product.medicine.webPath).resize(450,450) }}{% else %}{{ image(product.medicine.webPath).resize(450,450) }}{% endif %}" alt="{{ product.webName }}">
                        {% else %}
                            <img class="img-responsive "  data-match-height="image-gallery" alt="{{ product.webName }}" src="{{ image(globalOption.ecommerceConfig.webPath).forceresize(275,275) }}"/>
                        {% endif %}
                    </div>
                    {% if(product.itemGalleries) %}
                        {% for photo in product.itemGalleries %}
                            <div class="item"><img class="img-responsive "  data-match-height="image-gallery"  src="{{ image(photo.getAbsolutePath(product.ecommerceConfig.globalOption.id,product.id)).resize(275,275) }}" alt="" data-description="{{ product.webName }}"> </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if product.itemGalleries is not empty %}
                <div class="col-xs-12 col-md-12 text-center">
                    <a class="left-modal " href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right-modal" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {% endif %}

            </div>
        </div>
            <div class="col-xs-7 col-md-7" >
                <div class="row meta-caption">
                    <div class="col-xs-4 col-md-4"><strong>PRICE</strong></div>
                    <div class="col-xs-8 col-md-8"><strong class="currency">{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %} <strong>{{ product.discountPrice|number_format() }}</strong>{% endif %}</div>
                </div>
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Stock in<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 "><strong>{{ product.masterQuantity  }}</strong>&nbsp;{% if product.productUnit is not empty %}{{ product.productUnit.name }}{% endif %}</div></div>
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">SKU<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 "><strong>{{ product.sku  }}</strong></div></div>
                {% if product.gender is not empty %}
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Gender<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.gender }}</div></div>
                {% endif %}
                {% if product.ageGroup is not empty %}
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Age Group<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.ageGroup }}</div></div>
                {% endif %}
                {% if product.category is defined and product.category is not empty %}
                    <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Category<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.category.name }}</div></div>
                {% endif %}
                {% if product.brand is not empty %}
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Brand<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.brand.name }}</div></div>
                {% endif %}
                {% if product.country is not empty %}
                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Country<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.country.name }}</div></div>
                {% endif %}
                <div class="row meta-value">
                    <div class="col-xs-12 col-md-12 text-justify">
                        {% if product.content is not empty %}
                            {{ product.content|raw }}
                       {% endif  %}
                    </div>
                </div>
                {% if  product.itemMetaAttributes is defined and  product.itemMetaAttributes is not empty or  product.itemKeyValues is defined and product.itemKeyValues is not empty  %}
                    <div class="row meta-caption"><div class="col-xs-11 col-md-11"><strong>Specification</strong></div><div class="col-xs-1 col-md-1 text-right btn btn-success" id="spec"><strong><span class="glyphicon glyphicon-chevron-down"></span></strong></div></div>
                    <div class="row" id="showSpec">
                        <div class="col-xs-12 col-md-12 scrollbar">
                            {% if  product.itemMetaAttributes is defined and  product.itemMetaAttributes is not empty %}
                                {% for attribute in  product.itemMetaAttributes %}
                                    <div class="row meta-key-value"><div class="col-xs-4 col-md-4">{{ attribute.itemAttribute.name }}<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ attribute.value }}</div></div>
                                {% endfor %}
                            {% endif %}
                            {% if  product.itemKeyValues is defined and product.itemKeyValues is not empty %}
                                {% for meta in product.itemKeyValues %}
                                    {% if meta.metaKey is not empty %}
                                        <div class="row meta-key-value"><div class="col-xs-4 col-md-4">{{ meta.metaKey }}<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ meta.metaValue  }}</div></div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
</div>
<div class="loader loader-double" ></div>
<div class="modal-footer">
    <form id="add_buy_cart-{{ product.id }}" class="addCart">
        <div class="col-xs-10 col-md-10"  ></div>
        <div class="col-xs-2 col-md-2" >
            <div class="input-group">
           <span class="input-group-btn input-group-btn-custom">
                                                      <button type="button" class="btn btn-transparent danger-font btn-new-cart-item-modal input-group-btn-left" id="btn-left-modal" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                      </button>
                                                  </span>
                <input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-number" value="" data-id="{{ product.id }}" min="1" max="100" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                <span class="input-group-btn">
              <button type="button" data-id="{{ product.id }}" class="btn btn-transparent cyan-font btn-new-cart-item-modal" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                                                      <span class="glyphicon glyphicon-chevron-right"></span>
                                                  </button>
          </span></div>
        </div>
    </form>
</div>