<div class="row">
    <div class="col-xs-4 col-md-4">
        {% if globalOption.ecommerceConfig.isSize == 1 and subItem.size is defined  %}
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-list-alt"></span></span>
                    <select class="form-control changeSize" data-url="{{ path(globalOption.subDomain~'_webservice_product_sub_item', {'product' : product.id }) }}" name="size" id="size" >
                        {% for goodsItem in  product.goodsItems  %}
                            <option {% if subItem.id == goodsItem.id %} selected="selected" {% endif %} value="{{ goodsItem.id }}" > {% if goodsItem.size is not empty %}{{ goodsItem.size.name }}{% else %}-Default-{% endif %}{% if goodsItem.productUnit is not empty %} - {{ goodsItem.productUnit.name }}{% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-xs-4 col-md-4">
        {% if globalOption.ecommerceConfig.isColor == 1 and subItem.colors is defined %}
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3"><span class="glyphicon glyphicon-text-background"></span></span>
                    <select class="form-control" name="color" >
                        {% for color in  subItem.colors %}
                            <option value="{{ color.id }}" >{{ color.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-xs-4 col-md-4 pull-right">
        <div class="form-group">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon3">{{ globalOption.ecommerceConfig.currency }}</span>
                <input class="form-control" name="" id="" disabled="disabled" value="{% if subItem.discountPrice is empty %}{{ subItem.salesPrice|number_format }} {% else %}{{ subItem.discountPrice|number_format }}{% endif %}" aria-label="Text input">
            </div>
        </div>
    </div>
</div>
<div class="input-group col-xs-12 col-md-12">
    <span class="input-group-btn">
        <button type="button" class="btn btn-lg btn-danger btn-number" data-type="minus" data-field="quantity">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </span>
    <input readonly="readonly" type="text" name="quantity" id="quantity" class="form-control input-lg input-number" style="width:100%; text-align: center; font-weight: bold" value="1" min="1" max="{{ product.masterQuantity }}">
    <span class="input-group-btn ">
          <button type="button" class="btn btn-lg btn-success btn-number" data-type="plus" data-field="quantity">
              <span class="glyphicon glyphicon-plus"></span>
          </button>
        {% if  globalOption.ecommerceConfig.cart == 1 %}
            <input type="hidden" name="productImg"  value="{% if product.webPath is not empty %}{{ product.webPath }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ product.masterItem.webPath }}{% endif %}">
            <button type="submit" id="productBuy" class="btn btn-lg btn-info" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_cart',{'product' : product.id,'subitem' : subItem.id }) }}">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Add to Buy
            </button>
        {% endif %}
    </span>
</div>