{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                    Patient Diagnostic Invoice # {{ entity.invoice }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('hms_invoice') }}">Diagnostic</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Diagnostic Patient</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>c
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Invoice Details</div>

                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="{{ path('hms_invoice') }}"><i class="icon-th-list"></i> Diagnostic</a>
                                <a class="btn red" href="{{ path('hms_invoice_new') }}"><i class="icon-plus-sign"></i> Add Invoice</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            <div class="row-fluid">

                                <div class="span3">
                                    <h4>About:</h4>
                                    <ul class="unstyled">
                                        {% if entity.customer is not empty %}<li><strong>Patient #:</strong>&nbsp;{{ entity.customer.name }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Mobile #:</strong>&nbsp;{{ entity.customer.mobile }}</li>{% endif %}
                                        {% if entity.customer is not empty and entity.customer.location is not empty   %}<li><strong>Location #:</strong>&nbsp;{{ entity.customer.location.name }}, {{ entity.customer.location.parent.name }}</li>{% endif %}
                                        <li><strong>Created:</strong>&nbsp;{{ entity.created|date('d-m-Y') }}</li>
                                    </ul>
                                </div>

                                <div class="span3 invoice-payment">
                                    <h4>Payment Details:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Total BDT:</strong>&nbsp;{{ entity.total|number_format() }}</li>
                                        <li><strong>Payment BDT:</strong>&nbsp;{{ entity.payment|number_format() }}</li>
                                        {% if entity.discount %}<li><strong>Discount BDT:</strong>&nbsp;{{ entity.discount|number_format() }}</li>{% endif %}
                                        {% if entity.due %}<li><strong>Due BDT:</strong>&nbsp;{{ entity.due|number_format() }}</li>{% endif %}
                                        <li><strong>Payment status</strong>&nbsp;{{  entity.paymentStatus|capitalize }}</li>
                                    </ul>

                                </div>
                                <div class="span3">
                                    <h4>Payment Method:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Invoice Status:</strong>&nbsp;{{ entity.process }}</li>
                                        <li><strong>Payment Method:</strong>&nbsp;{{ entity.paymentMethod }}</li>
                                        <li><strong>Received By:</strong>&nbsp;{% if entity.createdBy is defined and entity.createdBy is not empty %}{{ entity.createdBy }}{% endif %}</li>
                                    </ul>
                                </div>
                                <div class="span3">
                                    <h4>Referred By:</h4>
                                    {% if entity.referredDoctor is not empty %}
                                        <ul class="unstyled">
                                            <li><strong>Code:</strong>&nbsp;{{ entity.referredDoctor.particularCode }}</li>
                                            <li><strong>Name:</strong>&nbsp;{{ entity.referredDoctor.name }}</li>
                                            <li><strong>Mobile:</strong>&nbsp;{{ entity.referredDoctor.mobile }}</li>
                                            <li><strong>Address:</strong>&nbsp;{{ entity.referredDoctor.address }}</li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid box green">
                                {% if entity.invoiceParticulars is defined and  entity.invoiceParticulars is not empty  %}
                                    <table class="table table-bordered table-striped table-condensed flip-content ">
                                        <thead class="flip-content ">
                                        <tr class="head-green">
                                            <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                            <th class="numeric">Si/No</th>
                                            <th class="numeric">Code</th>
                                            <th class="numeric">Particular</th>
                                            <th class="numeric">Service</th>
                                            <th class="numeric">Qnt</th>
                                            <th class="numeric">Amount</th>
                                            <th class="numeric">Report Progress</th>
                                            <th class="numeric">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in entity.invoiceParticulars %}
                                            <tr id="remove-{{ item.id }}">
                                                <td><span class="badge badge-warning toggle badge-custom" id="{{ item.id  }}" ><span>[+]</span></span></td>
                                                <td  class="numeric">{{ loop.index }}</td>
                                                <td  class="numeric">{{ item.particular.particularCode }}</td>
                                                <td class="numeric">{{ item.particular.name }}</td>
                                                <td class="numeric">{{ item.particular.service.name }}</td>
                                                <td class="numeric">{{ item.quantity }}</td>
                                                <td class="numeric">{{ item.subTotal|number_format }}</td>
                                                <th class="numeric">{% if item.particular.service.id == 1 %}{{ item.process }} By {{ item.particularPreparedBy }}{% endif %}</th>
                                                <td class="numeric">
                                                    {% if item.particular.service.id == 1 and item.process == 'Done' and item.particularDeliveredBy is empty %}
                                                    <a class="btn mini green confirm" href="javascript:" data-url="{{ path('hms_invoice_particular_delivery', {'id': item.id}) }}"><i class="icon-truck"></i>&nbsp;Delivery</a>
                                                    <a target="_blank" class="btn mini blue" href="{{ path('hms_invoice_particular_report_print', {'id': item.id}) }}"><i class="icon-print"></i>&nbsp;Report </a>
                                                    {% endif %}
                                                    {% if item.particular.service.id == 1 and item.process == 'Done' and item.particularDeliveredBy is not empty %}
                                                    <a class="btn mini purple confirm"   href="javascript:"><i class="icon-truck"></i>&nbsp;Delivered </a>
                                                    <a target="_blank" class="btn mini blue" href="{{ path('hms_invoice_particular_report_print', {'id': item.id}) }}"><i class="icon-print"></i>&nbsp;Report </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% if item.particular.service.id == 1 %}
                                            <tr id="show-{{ item.id }}" class="showing-overview">
                                                <td colspan="11">

                                                        <table class="table table-bordered table-striped table-condensed flip-content ">
                                                            <tr class="">
                                                                <th class="span3" >Instruction</th>
                                                                <td class="span9" >{{ item.particular.instruction }}</td>
                                                            </tr>
                                                            <tr class="">
                                                                <th class="span3" >Pathological Comment</th>
                                                                <td class="span9" >{{ item.comment }}</td>
                                                            </tr>
                                                        </table>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="9" class="span12" style="border: 1px double #000"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Total Amount TK.</strong> =</span></td>
                                            <td class="span2"><strong id="subTotal">{{ entity.subTotal|number_format }}</strong></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Vat/Tax TK.</strong> =</span></td>
                                            <td class="span2"><strong id="vat">{{ entity.vat|number_format }}</strong></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Discount TK.</strong> =</span></td>
                                            <td class="span2"><strong id="vat">{{ entity.discount|number_format }}</strong></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Net Total TK.</strong> =</span></td>
                                            <td class="span2"><strong id="vat">{{ entity.total|number_format }}</strong></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Received TK.</strong> =</span></td>
                                            <td class="span2"><strong id="vat">{{ entity.payment|number_format }}</strong></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td colspan="6" class="span9"><span class="pull-right"><strong>Due TK.</strong> =</span></td>
                                            <td class="span2"><strong id="vat">{{ entity.due|number_format }}</strong></td>
                                            <td></td>
                                            <td></td>

                                        </tr>

                                        </tfoot>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-money"></i>Transaction Information</div>
                                    <div class="actions">
                                        <a target="_blank" href="{{ path('hms_invoice_admission_transaction_print',{'invoice':entity.invoice}) }}" class="btn purple"><i class="icon icon-print"></i> Print</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-bordered table-striped table-condensed table-fixed">
                                        <thead>
                                        <tr class="head-green">
                                            <th class="numeric">&nbsp;&nbsp;<i class="icon-list"></i></th>
                                            <th class="numeric">Created</th>
                                            <th class="numeric">Payment Method</th>
                                            <th class="numeric">Discount</th>
                                            <th class="numeric">Vat/Tax</th>
                                            <th class="numeric">Total</th>
                                            <th class="numeric">Payment</th>
                                            <th class="numeric">Created By</th>
                                            <th class="numeric">Process</th>
                                            <th class="numeric"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="invoiceTransaction">
                                        {% for transaction in entity.invoiceTransactions %}
                                            <tr id="delete-{{ transaction.id }}" {% if transaction.process in ['Pending','In-progress'] %} class="yellow-alert" {% endif %}  >
                                                <td  class="numeric">{{ transaction.transactionCode }}</td>
                                                <td  class="numeric">{{ transaction.updated|date('d-m-Y') }}</td>
                                                <td class="numeric">{% if transaction.transactionMethod is not empty %}{{ transaction.transactionMethod.name }}{% endif %}</td>
                                                <td class="numeric">{{ transaction.discount }}</td>
                                                <td class="numeric">{{ transaction.vat }}</td>
                                                <td class="numeric" id="total-{{ transaction.id }}">{{ transaction.total }}</td>
                                                <td class="numeric">{{ transaction.payment }}</td>
                                                <td class="numeric">{{ transaction.createdBy }}</td>
                                                <td class="numeric">{{ transaction.process }}</td>
                                                <td class="numeric">


                                                    {% if entity.paymentStatus != 'Paid' and entity.process !='Done' %}
                                                        {% set processArr = ['Created','Pending','In-progress'] %}
                                                        {% if transaction.process in  processArr %}
                                                            <a href="javascript:" data-id="{{ transaction.id }}" data-url="{{ path('hms_invoice_admission_daily_delete',{'invoice':entity.invoice,'id':transaction.id}) }}" class="btn delete red mini"><i class="fa fa-trash"></i></a>
                                                        {% endif %}
                                                        {% if transaction.admissionPatientParticulars is defined and transaction.admissionPatientParticulars is not empty %}
                                                            <a href="javascript:" data-id="{{ transaction.id }}" class="btn showTransaction green mini"><i class="fa fa-plus"></i> View</a>
                                                        {% endif %}
                                                        {% if (transaction.process in  processArr and transaction.admissionPatientParticulars is defined and transaction.admissionPatientParticulars is not empty ) %}
                                                            <a href="javascript:" data-id="{{ transaction.id }}" data-url="{{ path('hms_invoice_admission_daily_approve',{'id':transaction.id}) }}" class="btn approve blue mini"><i class="fa fa-ok"></i> Approve</a>
                                                        {% endif %}
                                                        {% if transaction.process not in processArr %}
                                                            <a target="_blank" href="{{ path('hms_invoice_admission_transaction_print_single',{'invoice':entity.invoice,'id':transaction.id}) }}" data-id="{{ transaction.id }}"  class="btn purple mini"><i class="fa fa-print"></i> Print</a>
                                                        {% endif %}
                                                        {% if transaction.process == 'In-progress' or ( transaction.process == 'Pending' and transaction.total > 0 ) %}
                                                            <a href="javascript:" data-id="{{ transaction.id }}" data-url="{{ path('hms_invoice_admission_daily_approve',{'id':transaction.id}) }}" class="btn approve blue mini"><i class="fa fa-ok"></i> Approve</a>
                                                        {% endif %}
                                                    {% endif %}

                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td class="numeric" colspan="3"><span class="pull-right"><strong>Total TK.</strong> =</span></td>
                                            <td class="numeric"><strong class="discountAmount">{{ entity.discount|number_format }}</strong></td>
                                            <td class="numeric"><strong class="vat">{{ entity.vat|number_format }}</strong></td>
                                            <td class="numeric"><strong class="">{{ entity.total|number_format }}</strong></td>
                                            <td class="numeric"><strong class="paymentAmount">{{ entity.payment|number_format }}</strong></td>
                                            <td class="numeric"><strong>{{ entity.due|number_format }}</strong></td>
                                            <td class="numeric"></td>
                                            <td class="numeric"></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            {% if entity.process !='Done' %}
                                <div class="row-fluid particular-info" >
                                    <form method="post" name="form" id="form">
                                        <div class="span4" >&nbsp;</div>
                                        <div class="span8 text-right">
                                            <div class="input-append span12" style="margin-bottom:0!important">
                                                <input type="text" class="m-wrap span3" id="discount" name="discount" placeholder="Discount amount"  >
                                                <input type="text" class="m-wrap span3" id="payment" name="payment" value="" maxlength="8"  placeholder="Payment amount">
                                                <select id="process" name="process" class="span3 m-wrap">
                                                    <option {% if entity.process == 'In-progress' %} selected="selected" {% endif %} value="In-progress">In-progress</option>
                                                    <option {% if entity.process == 'Done' %} selected="selected" {% endif %} value="Done">Done</option>
                                                </select>
                                                <div class="btn-group">
                                                    <button type="button" class="btn blue" id="addPayment" data-url="{{ path('hms_invoice_approved',{'id':entity.id}) }}" ><i class="fa fa-save"></i> Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            {% endif %}
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box grey">
                                <div class="pull-right" id="action-{{ entity.id }}">
                                    <a target="_blank"  href="{{ path('hms_invoice_print_invoice',{'id':entity.id}) }}" class="btn green"><i class="icon-print"></i>&nbsp;Print</a>
                                    <span  class="btn blue"><i class=" icon-retweet"></i>&nbsp;{{ entity.process }}</span>
                                    <span  class="btn yellow"><i class="icon-money"></i>&nbsp;{{ entity.paymentStatus }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@HospitalBundle/Resources/public/css/invoice.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@HospitalBundle/Resources/public/js/invoice.js'
    '@HospitalBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}


