{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN category HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="category-title">
                    Patient Invoice no #  <strong>{{ entity.invoice }}</strong>
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('hms_invoice') }}">Patient Invoice</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Patient Invoice</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END category HEADER-->
        <!-- BEGIN category CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Patient Invoice  Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="{{ path('dms_invoice') }}"><i class="icon-th-list"></i> Invoice</a>
                                <a class="btn red" href="{{ path('dms_invoice_new') }}"><i class="icon-plus-sign"></i> Add Invoice</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <div class="row-fluid">
                                <div class="span3">Menu</div>
                                <div class="span9">fdgdfkgh</div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12 patient-info">
                                    <div class="row-fluid customer-add">
                                        <div class="span4">
                                            <div class="control-group">
                                                <label class="control-label red" for="firstName"><span>Search Existing Customer Code</span></label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-search customer-search" style="margin-top:40px"></i>
                                                        <input type="text" id="customerId" name="customerId" class="m-wrap span12 select2CustomerCode" autocomplete="off" placeholder="Search existing customer code" value="{% if entity.customer is not empty %}{{ entity.customer.customerId }}{% endif %}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="control-group">
                                                <label class="control-label red" for="firstName"><span>Mobile no</span><span class="required">*</span></label>
                                                <div class="controls">
                                                    {{ form_widget(form.customer.mobile) }}
                                                    {{ form_errors(form.customer.mobile) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label red" for="firstName"><span>Patient Name</span><span class="required">*</span></label>
                                                        <div class="controls">
                                                            {{ form_widget(form.customer.name) }}
                                                            {{ form_errors(form.customer.name) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label red" for="firstName"><span>Gender & Age</span><span class="required">*</span></label>
                                                        <div class="controls span4">
                                                            {{ form_widget(form.customer.gender) }}
                                                        </div>
                                                        <div class="controls span4">
                                                            {{ form_widget(form.customer.age) }}
                                                        </div>
                                                        <div class="controls span4">
                                                            {{ form_widget(form.customer.ageType) }}
                                                            {{ form_errors(form.customer.ageType) }}
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="controls">
                                                            {{ form_errors(form.customer.gender) }}
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="controls">
                                                            {{ form_errors(form.customer.age) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label red" for="firstName"><span>Location</span></label>
                                                        <div class="controls">
                                                            {{ form_widget(form.customer.location) }}
                                                            {{ form_errors(form.customer.location) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div class="control-group">
                                                        <label class="control-label red" for="firstName"><span>Address</span></label>
                                                        <div class="controls">
                                                            {{ form_widget(form.customer.address) }}
                                                            {{ form_errors(form.customer.address) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Chief Complaints</div>
                                    <div class="actions">
                                        <div class="btn-group">
                                            <a href="javascript:" class="btn purple addmore"><i class="icon icon-plus"></i> Add New Row</a>
                                            <a href="javascript:" class="btn blue addmore"><i class="icon icon-save"></i> Save</a>
                                            <a class="btn yellow" href="javascript:"><span class="fa fa-angle-double-up"></span>&nbsp;Show</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>

                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid clone-block" id="clone-block">
                                <div class="row-fluid clone" id="">
                                    <div class="span8"><input type="text" name="metaKey[]" class="span12 m-wrap"  ></div>
                                    <div class="span2">
                                        <select name="teethPosition" class="span12 m-wrap">
                                            <option value="">Select Position</option>
                                            <option value="upper-left">Upper Left</option>
                                            <option value="upper-right">Upper Right</option>
                                            <option value="lower-left">Lower Left</option>
                                            <option value="lower-right">Lower Right</option>
                                        </select>
                                    </div>
                                    <div class="span2">
                                        <div class="input-append span12">
                                        <select name="teethNo" class="span9 m-wrap">
                                            <option value="">No of Teeth</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                        <a href="javascript:"  class="btn red  remove hidden"><i class="icon-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix">&nbsp;</div>

                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>History of the Presenting Complaints</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="row-fluid">
                                    <div class="span6"><input type="text" name="metaKey[]" class="span12 m-wrap"  ></div>
                                    <div class="span4">
                                        <select name="teethPosition" class="span12 m-wrap">
                                            <option value="">Select Position</option>
                                            <option value="upper-left">Upper Left</option>
                                            <option value="upper-right">Upper Right</option>
                                            <option value="lower-left">Lower Left</option>
                                            <option value="lower-left">Lower Right</option>
                                        </select>
                                    </div>
                                    <div class="span2">
                                        <select name="teethNo" class="span12 m-wrap">
                                            <option value="">Number of Teeth</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Past Medical History</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            {% for particular in particulars %}
                                {% if particular.service.slug == 'medical-history' %}
                                    <div class="row-fluid">
                                        <div class="span3"><label>{{ particular.name }}</label></div>
                                        <div class="span9">
                                            <div class="form-control">
                                            <input type="hidden" id="metaKey" name="metaKey[]" value="{{ particular.id }}">
                                            <input type="text" class="m-wrap span12 " name="metaValue[]" value="{% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty %}{{ invoiceParticularArr[particular.id].metaValue }}{% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                {% endif %}
                            {% endfor %}
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Drug History</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span12">
                                    {{ form_widget(form.drugHistory) }}
                                    {{ form_errors(form.drugHistory) }}
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>General Examination</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            {% for particular in particulars %}
                                {% if particular.service.slug == 'general' %}
                                    <div class="row-fluid">
                                        <div class="span3"><label>{{ particular.name }}</label></div>
                                        <div class="span9">
                                            <div class="form-control">
                                                <input type="hidden" id="metaKey" name="metaKey[]" value="{{ particular.id }}">
                                                <input type="text" class="m-wrap span12 " name="metaValue[]" value="{% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty %}{{ invoiceParticularArr[particular.id].metaValue }}{% endif %}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                {% endif %}
                            {% endfor %}
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Local  Examination</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            {% for particular in particulars %}
                                {% if particular.service.slug == 'physical' %}
                                    <div class="row-fluid">
                                        <div class="span12"><label>{{ particular.name }}</label></div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="form-control">
                                                <input type="hidden" id="metaKey" name="metaKey[]" value="{{ particular.id }}">
                                                <textarea class="m-wrap span12 " name="metaValue[]">{% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty %}{{ invoiceParticularArr[particular.id].metaValue }}{% endif %}</textarea>
                                             </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                {% endif %}
                            {% endfor %}
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Investigation</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="spn12">
                                    {{ form_widget(form.investigations) }}
                                    {{ form_errors(form.investigations) }}
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Diagnosis</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span12">{{ form_widget(form.diagnosis) }}
                                    {{ form_errors(form.diagnosis) }}</div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Prescription</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="row-fluid particular-info" >
                                    <div class="span6">
                                        <input type="text" id="medicine" name="medicine"  class="span12 m-wrap select2Medicine" value="{% if searchForm.toUser is defined %}{{ searchForm.toUser }}{% endif %}"  autocomplete="off" placeholder="Search medicine brand">
                                    </div>
                                    <div class="span6">
                                        <input type="text" id="generic" name="generic"  class="span12 m-wrap select2Generic" value="{% if searchForm.toUser is defined %}{{ searchForm.toUser }}{% endif %}"  autocomplete="off" placeholder="Search generic name">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="row-fluid particular-info" >
                                    <div class="span12">
                                        <div class="input-append span12" style="margin-bottom:0!important">
                                            <select class="m-wrap span2" id="medicineQuantity" name="medicineQuantity"  >
                                                {% for attribute in attributes %}
                                                    {% if attribute.parent == 'medicine-quantity' %}
                                                        <option value="{{ attribute.id }}">{{ attribute.nameBn }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                               </select>
                                            <select class="m-wrap span3" id="medicineDose" name="medicineDose">
                                                {% for attribute in attributes %}
                                                    {% if attribute.parent == 'medicine-dose' %}
                                                        <option value="{{ attribute.id }}">{{ attribute.nameBn }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <select class="m-wrap span3" id="medicineDoseTime" name="medicineDoseTime" >
                                                {% for attribute in attributes %}
                                                    {% if attribute.parent == 'medicine-dose-time' %}
                                                        <option value="{{ attribute.id }}">{{ attribute.nameBn }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <input type="number" class="m-wrap span2" style="margin-top:1px" id="medicineDuration" name="medicineDuration" value="7">
                                            <select class="m-wrap span2" id="medicineDurationType" name="medicineDurationType">
                                                {% for attribute in attributes %}
                                                    {% if attribute.parent == 'medicine-duration-type' %}
                                                        <option value="{{ attribute.id }}">{{ attribute.nameBn }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <div class="btn-group">
                                                <button type="button" class="btn blue"  id="addPrescriptionParticular" data-url="{{ path('dms_invoice_medicine_add',{'invoice':entity.id}) }}" ><i class="icon-plus"></i> Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-green">
                                    <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                    <th class="numeric">Medicine Name</th>
                                    <th class="numeric">Quantity</th>
                                    <th class="numeric">Dose Time</th>
                                    <th class="numeric">Duration</th>
                                    <th class="numeric">Action</th>
                                </tr>
                                </thead>
                                <tbody id="invoiceMedicine">
                                {% for medicine in entity.invoiceMedicines %}
                                <tr id="medicine-{{ medicine.id }}">
                                    <td  class="numeric">{{ loop.index }}.</td>
                                    <td  class="numeric">{{ medicine.medicine.name }}</td>
                                    <td class="numeric">{{ medicine.medicineQuantity }}</td>
                                    <td class="numeric">{{ medicine.medicineDose }} - {{ medicine.medicineDoseTime }}</td>
                                    <td class="numeric">{{ medicine.medicineDuration }} {{ medicine.medicineDurationType }}</td>
                                    <td class="numeric">
                                        <a  href="javascript:" data-url="{{ path('dms_invoice_medicine_delete',{'id':medicine.id}) }}" data-id="{{ medicine.id }}" id="{{ medicine.id }}"  class="btn red mini deleteMedicine"> <i class="icon-trash"></i></a>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Advise</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span12">{{ form_widget(form.comment) }}
                                    {{ form_errors(form.comment) }}</div>
                            </div>
                            <div class="clearfix">&nbsp;</div>

                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="form-actions portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Treatment Plan & Payment</div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="row-fluid particular-info" >
                                                <div class="span6">
                                                    <select id="particular" name="particular" class="span12 select2">
                                                        <option value="">--- Select Treatment & Services ---- </option>
                                                        {{ particularService|raw }}
                                                    </select>
                                                </div>
                                                <div class="span2">
                                                    <input type="text" class="m-wrap span12 form-control datePicker" id="appointmentDate" name="appointmentDate" value="{{ "now"|date('d-m-Y') }}" >
                                                </div>
                                                <div class="span2">
                                                    <div class="input-append span12" style="margin-bottom:0!important">
                                                        <div class="input-group">
                                                <span class="input-group-btn">
                                                   <button type="button" class="btn yellow btn-number" data-type="minus" data-field="quantity">
                                                            <span class="fa fa-minus"></span>
                                                   </button>
                                                </span>
                                                            <input type="number" class="m-wrap span5 form-control input-number" id="quantity" name="quantity" value="1" min="1" max="100">
                                                            <span class="input-group-btn">
                                                  <button type="button" class="btn green btn-number"  data-type="plus" data-field="quantity">
                                                          <span class="fa fa-plus"></span>
                                                  </button>
                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span2">
                                                    <div class="input-append span11" style="margin-bottom:0!important">
                                                        <input type="hidden" id="particularId" name="particularId" value="">
                                                        <input type="text" class="m-wrap span8" id="price" name="price" value="" maxlength="8">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn blue" id="addParticular" data-url="{{ path('dms_invoice_particular_add',{'invoice':entity.id}) }}" ><i class="icon-plus"></i> Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12" id="instruction"></div>
                                    </div>

                                    <div class="row-fluid">
                                        <table class="table table-bordered table-striped table-condensed flip-content ">
                                            <thead class="flip-content ">
                                            <tr class="head-green">
                                                <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                                <th class="numeric">Treatment Particular</th>
                                                <th class="numeric">Appointment Date</th>
                                                <th class="numeric">Price</th>
                                                <th class="numeric">SubTotal</th>
                                                <th class="numeric">Discount</th>
                                                <th class="numeric">Paid</th>
                                                <th class="numeric">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody id="invoiceParticulars">
                                            {% for treatment in entity.dmsTreatmentPlans %}
                                            <tr id="remove-{{ treatment.id }}">
                                                <td  class="numeric">{{ loop.index }}</td>
                                                <td  class="numeric">{{ treatment.dmsParticular.particularCode }} - {{ treatment.dmsParticular.name }}</td>
                                                <td  class="numeric">
                                                    {% if treatment.status ==1 %}
                                                        {{ treatment.appointmentDate }}
                                                    {% else %}
                                                            <a  class="editable" data-name="AppointmentDate" href="javascript:"  data-url="{{ path('dms_treatment_inline_update') }}" data-value="{{ treatment.appointmentDate }}" data-format="YYYY-MM-DD" data-viewformat="DD-MM-YYYY" data-template="DD-MM-YYYY" data-type="text" data-pk="{{ treatment.id }}" data-original-title="Change appointment date">{{ treatment.appointmentDate }}</a>
                                                    {% endif %}
                                                </td>
                                                <th class="numeric">{{ treatment.price }}</th>
                                                <th class="numeric">{{ treatment.subTotal }}</th>
                                                <th class="numeric">
                                                    {% if treatment.status ==1 %}
                                                        {{ treatment.discount }}
                                                     {% else %}
                                                         <a  class="editable" data-name="Discount" href="javascript:"  data-url="{{ path('dms_treatment_inline_update') }}" data-type="text" data-pk="{{ treatment.id }}" data-original-title="Change discount amount">{{ treatment.discount }}</a>
                                                    {% endif %}
                                                </th>
                                                <th class="numeric">
                                                    {% if treatment.status ==1 %}
                                                        {{ treatment.payment }}
                                                     {% else %}
                                                         <a  class="editable" data-name="Payment" href="javascript:"  data-url="{{ path('dms_treatment_inline_update') }}" data-type="text" data-pk="{{ treatment.id }}" data-original-title="Change payment amount">{{ treatment.payment }}</a>
                                                    {% endif %}
                                                </th>
                                                <td class="numeric">
                                                    {% if treatment.status !=1 %}
                                                        <a href="javascript:" class="btn blue mini approve" data-url="{{ path('dms_invoice_treatment_approved',{'id':treatment.id}) }}">Approve</a>
                                                        <a href="javascript:" class="btn red mini treatmentDelete" data-id="{{ treatment.id }}" id="{{ treatment.id }}" data-url="{{ path('dms_invoice_treatment_delete',{'invoice':entity.id , 'id':treatment.id}) }}"><i class="icon-trash"></i></a>
                                                    {% else %}
                                                        Done
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <th  class="numeric text-right" colspan="4" ><span class="pull-right">Total Summary</span></th>
                                            <th  class="numeric subTotal" >{{ entity.subTotal }}</th>
                                            <th  class="numeric discountAmount">{{ entity.discount }}</th>
                                            <th class="numeric payment">{{ entity.payment }}</th>
                                            <th class="numeric due">{{ entity.due }}</th>
                                            </tfoot>

                                        </table>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                   </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box grey">
                                <div class="pull-left span4"></div>
                                <div class="pull-right span8">
                                    <input type="hidden" id="patient" name="patient" value="{% if entity.customer is not empty %}{{ entity.customer.id }}{% endif %}">
                                    <input type="hidden" id="invoice" name="invoice" data-action="{{ path('hms_invoice_print_for',{'id': entity.id}) }}" value="{{ entity.id }}">
                                    <input type="hidden" name="invoiceId" id="invoiceId" value="{{ entity.id }}" >
                                    <input type="hidden" name="netTotal" class="" id="netTotal" value="{{ entity.total }}">
                                    <input type="hidden" name="due" class="" id="due" value="{{ entity.due }}">
                                    <div class="controls">
                                        <div class="input-append span12">
                                            {{ form_widget(form.assignDoctor) }}
                                            {{ form_errors(form.assignDoctor) }}
                                            {{ form_widget(form.process) }}
                                            {{ form_errors(form.process) }}
                                            <div class="btn-group">
                                                <button type="button"  class="btn blue span6" id="receiveBtn"><i class="icon-save"></i> Save</button>
                                                <a target="_blank" href="{{ path('dms_invoice_print_invoice',{'id':entity.id}) }}" class="btn purple span6"><i class="icon-print"></i> Print</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <style>
     #project-label {
         display: block;
         font-weight: bold;
         margin-bottom: 1em;
     }
     #project-icon {
         float: left;
         height: 32px;
         width: 32px;
     }
     #project-description {
         margin: 0;
         padding: 0;
     }
     .check-list label {
         float: left;
         width: 23%;
     }
 </style>
{% endblock %}

{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@DmsBundle/Resources/public/css/invoice.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@DmsBundle/Resources/public/js/invoice.js'
    '@DmsBundle/Resources/public/js/editable.js'
    '@HospitalBundle/Resources/public/js/datetimepicker_css.js'
    '@DmsBundle/Resources/public/js/approveProcess.js'

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
{% endblock %}
