{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Templating</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Backgroundcolor</th>
                <td>{{ entity.backgroundColor }}</td>
            </tr>
            <tr>
                <th>Headercolor</th>
                <td>{{ entity.headerColor }}</td>
            </tr>
            <tr>
                <th>Footercolor</th>
                <td>{{ entity.footerColor }}</td>
            </tr>
            <tr>
                <th>Bodycolor</th>
                <td>{{ entity.bodyColor }}</td>
            </tr>
            <tr>
                <th>Menucolor</th>
                <td>{{ entity.menuColor }}</td>
            </tr>
            <tr>
                <th>Menulicolor</th>
                <td>{{ entity.menuLiColor }}</td>
            </tr>
            <tr>
                <th>Menulihovercolor</th>
                <td>{{ entity.menuLiHoverColor }}</td>
            </tr>
            <tr>
                <th>Sitefontsize</th>
                <td>{{ entity.siteFontSize }}</td>
            </tr>
            <tr>
                <th>Sitefontfamily</th>
                <td>{{ entity.siteFontFamily }}</td>
            </tr>
            <tr>
                <th>Anchorcolor</th>
                <td>{{ entity.anchorColor }}</td>
            </tr>
            <tr>
                <th>Anchorhovercolor</th>
                <td>{{ entity.anchorHoverColor }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('templating') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('templating_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
