{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                   {{ globalOption.name }} Employee Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('attendance') }}">Branch</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Branch Employee lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Branch </div>
                        <div class="actions">
                            <a href="{{ path('attendance') }}"><i class="icon-th-list"></i>&nbsp;Lists</a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="numeric" >Name </th>
                                    <th class="numeric" >User</th>
                                    <th class="numeric" >Designation</th>
                                    <th class="numeric" >Mobile</th>
                                    <th class="numeric" >Joining Date</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for user in employees %}
                                    <tr>
                                        <td class="numeric" >{{ user.profile.name }}</td>
                                        <td class="numeric" >{{ user }}</td>
                                        <td class="numeric" >{{ user.profile.designation.name }}</td>
                                        <td class="numeric" >{{ user.profile.mobile }}</td>
                                        <td class="numeric" >{{ user.profile.joiningDate|date('d-m-Y') }}</td>
                                        <td class="numeric" >
                                            <a href="{{ path('attendance_user_details',{'id':user.id}) }}" class="btn purple mini" ><i class="icon-eye-open"></i>&nbsp;View</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}



