{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Attendance Month: {{ showMonth|date("F-Y") }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="{{ path('daily_attendance') }}">Attendance</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Attendance Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="red btn" href="{{ path('daily_attendance') }}"><i class="icon-th-list"></i>&nbsp; Attendance</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        {% include('flash-message.html.twig')  %}

                        <table id="attendance" class="stripe row-border order-column" cellspacing="0" width="100%">
                            <thead class="head-blue">
                            <tr>
                                <th class="numeric" >Name of Employee</th>
                                {% set max          =  showMonth|date("t") %}
                                {% set today        =  showMonth|date("d") %}
                                {% set month        =  showMonth|date("Y/m/") %}
                                {% set year         =  showMonth|date("Y") %}
                                {% set currentMonth =  showMonth|date("F") %}
                                {% for i in 1..max %}
                                    {% set blackO = date(month~i)|date('m/d/Y') %}
                                    <td class="numeric {% if blackO  in  blackoutdate %} red {% endif %}" >
                                        <div class="row-fluid">
                                            <span class="span12 pull-center"><strong>{{ i }}</strong></span>
                                        </div>
                                        <div class="row-fluid">
                                            <span class="span12 pull-center">IN</span>
                                        </div>
                                    </td>
                                {% endfor %}
                                <th class="numeric" >Yes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in employees  %}
                                <tr>
                                    <th class=""><span class="">{{ user.profile.name }}<br/><sub>{{ user.profile.designation.name }}</sub></span></th>
                                    {% for i in 1..max %}
                                        {% set blackO = date(month~i)|date('m/d/Y') %}
                                        {% if blackO  in  blackoutdate %}
                                            <td class="red" >&nbsp;</td>
                                        {% else %}
                                            <td>
                                    <span class="row-fluid pull-center">
                                    <input type="checkbox" disabled="disabled"  {% if i in user.userAttendanceMonth(year,currentMonth) %} checked="checked" {% endif %} data-id="{{ i }}" id="{{ i }}" class="attendance"  name="present"  value="{{ i }}" >
                                    </span>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>{{ user.monthlyPresentDay(year,currentMonth) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@HumanResourceBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@HumanResourceBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}





