<div class="portlet box">
    <div class="portlet-body" style="min-height: 460px">
        <div class="portlet box blue" style="margin-bottom: 0">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>MANAGE ORDER</div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn" target="_blank" href="{{ path('restaurant_invoice') }}"><i class="icon-th-list"></i> Sales</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                <!--BEGIN TABS-->
                <div class="tabbable tabbable-custom">
                    <!-- Only required for left/right tabs -->
                    <ul  class="nav nav-tabs tabs-left">
                        <li class="active"><a href="#all-product" data-toggle="tab" class="saveButton" aria-expanded="false">All Products</a></li>
                        {% for category in categories %}
                            <li class=""><a href="#{{ category.slug }}" data-toggle="tab" class="saveButton" aria-expanded="false">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane tab-height active" id="all-product">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="form-control">
                                        <input type="text" id="search" name="search" class="span12 m-wrap m-wrap-bg" value="" autocomplete="off" placeholder="Search product">
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12" style="height: 620px; overflow-y: scroll">
                                    <ul class="unstyled">
                                        {% if categories is not empty %}
                                            {% for category in categories %}
                                                {% for product in category.particulars %}
                                                    {% if product.status == 1 %}
                                                    <li class="product-content addProduct" data-action="{{ path('restaurant_temporary_product_add',{'product':product.id}) }}">
                                                        <div data-match-height="tab-content" class="bs-calltoaction bs-calltoaction-primary">
                                                            <div class="row">
                                                                <div class="col-md-9 cta-contents">
                                                                    <h1 class="cta-title">{{ product.particularCode }}-{{ product.name }}</h1>
                                                                </div>
                                                                <div class="col-md-3 cta-button">
                                                                    <a href="#" class="btn btn-lg btn-block btn-primary">{{ product.price }}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                        </div>
                        {% for category in categories %}
                            <div class="tab-pane tab-height" id="{{ category.slug }}">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <ul class="unstyled">
                                            {% if category.particulars is not empty %}
                                                {% for product in category.particulars %}
                                                    {% if product.status == 1 %}
                                                    <li class="product-content addProduct" data-action="{{ path('restaurant_temporary_product_add',{'product':product.id}) }}">
                                                        <div data-match-height="tab-content" class="bs-calltoaction bs-calltoaction-primary">
                                                            <div class="row">
                                                                <div class="col-md-9 cta-contents">
                                                                    <h1 class="cta-title">{{ product.particularCode }}-{{ product.name }}</h1>
                                                                </div>
                                                                <div class="col-md-3 cta-button">
                                                                    <a href="#" class="btn btn-lg btn-block btn-primary">{{ product.price }}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <!--END TABS-->
            </div>
            <div class="span4">
                <div class="portlet box yellow">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>TRANSACTION INFORMATION</div>
                    </div>

                    <div class="portlet-body">
                        <table class="table table-bordered">

                            <thead class="flip-content ">
                            <tr class="head-blue">
                                <th class="numeric span8">Product</th>
                                <th class="numeric">Price</th>
                                <th class="numeric span2">Qnt</th>
                                <th class="numeric">Total</th>
                                <th class="numeric"></th>
                            </tr>
                            </thead>
                            <tbody id="invoiceParticulars">
                            {% if user.restaurantTemps is not empty  %}
                                {% for item in user.restaurantTemps %}
                                    <tr id="remove-{{ item.id }}">
                                        <td class="numeric">{{ loop.index }}. {{ item.particular.name }}</td>
                                        <td class="numeric">{{ item.salesPrice }}</td>
                                        <td class="">
                                            <div class="input-append" style="margin-bottom: 0!important;">
                                                    <span class="input-group-btn">
  <a href="javascript:" data-action="{{ path('restaurant_temporary_product_update',{'product':item.particular.id}) }}" class="btn yellow btn-number mini" data-type="minus" data-id="{{ item.id }}"  data-text="{{ item.id }}" data-title="{{ item.salesPrice }}"  data-field="quantity">
                                                            <span class="fa fa-minus"></span>
                                                   </a>
                                                                     <input type="text" class="form-control inline-m-wrap updateProduct btn-qnt-particular" data-id="{{ item.id }}"  id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" data-title="{{ item.salesPrice }}" value="{{ item.quantity }}" data-action="{{ path('restaurant_temporary_product_update',{'product':item.particular.id}) }}" min="1" max="100">
                                                      <a href="javascript:" data-action="{{ path('restaurant_temporary_product_update',{'product':item.particular.id}) }}" class="btn green btn-number mini"  data-type="plus" data-id="{{ item.id }}" data-title="{{ item.salesPrice }}"  data-text="{{ item.id }}" data-field="quantity">
                                                          <span class="fa fa-plus"></span>
                                                  </a>
                                                        </span>

                                            </div>

                                        </td>
                                        <td class="numeric"><strong id="subTotal-{{ item.id }}">{{ item.subTotal }}</strong></td>
                                        <td class="numeric">
                                            <a id="{{ item.id }}" data-id="{{ item.id }}" data-url="{{ path('restaurant_temporary_particular_delete',{'id':item.id}) }}" href="javascript:" class="btn red mini particularDelete"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="3">Total</th>
                                <th id="subTotal">{{ temporarySubTotal|number_format(2) }}</th>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                        <br/>
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}
                        <div class="payment-info">
                            {% if tables is not empty and config.tablePlan == 1 %}
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" style="text-align: center"  for="firstName">Select Table No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12" style="padding: 7px">
                                    <ul class="unstyled">
                                        {% for table in tables  %}
                                            <li style="width: 33%; float: left">
                                                 <label style="line-height:20px!important;" for="{{ table.id }}"> <input style="margin-top: 0!important;" class="checkbox" id="{{ table.id }}" type="checkbox" value="{{ table.name }}" name="tableNos[]" > {{ table.name }}</label>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            {% endif %}
                            <div class="clearfix"></div>
                            {% if config.isCustomer == 1 %}
                            <div class="row-fluid">
                                <div class="span12">
                                    <input type="text" style="margin-left:0!important;" id="mobile" name="mobile"  class="span10 m-wrap select2Customer" value=""  autocomplete="off" placeholder="Customer mobile no">
                                    <button type="button" class="pull-right btn btn-large blue addCustomer"><i class="icon-user"></i></button>
                                </div>
                            </div>
                            <div class="row-fluid customer" id="">
                                <div class="span12 input-append-border">
                                    <div class="row-fluid">
                                        <div class="input-icon left input-height">
                                            <i class="icon-user"></i>
                                            <input type="text" id="customerName" name="customerName" class="m-wrap span12 customer-input" autocomplete="off" placeholder="Customer name" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid customer">
                                <div class="span12 input-append-border">
                                    <div class="row-fluid">
                                        <div class="input-icon left input-height">
                                            <i class="icon-phone"></i>
                                            <input type="text" id="customerMobile" name="customerMobile" class="m-wrap span12 mobile customer-input" autocomplete="off" placeholder="Customer mobile no" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid customer">
                                <div class="span12 input-append-border">
                                    <div class="row-fluid">
                                        <textarea id="customerAddress" name="customerAddress" class="m-wrap span12 customer-input" rows="2" placeholder="Enter customer address"></textarea>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        {{ form_widget(form.salesBy) }}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">
                                            <span class="label-custom" >Slip/Token No</span>
                                            <span class="pull-right sales-right">
                                {{ form_widget(form.slipNo) }}
                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">
                                            <span class="label-custom" >Discount Type</span>
                                            <span class="pull-right sales-right">
                                {{ form_widget(form.discountType) }}
                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName"><span class="label-custom" >Discount TK.</span> <span class="pull-right sales-right">{{ form_widget(form.discountCalculation) }}</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label"  for="firstName"><span class="label-custom" >Discount Coupon</span> <span class="pull-right sales-right">{{ form_widget(form.discountCoupon) }}</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label"  for="firstName"><span class="label-custom" >Discount TK.</span>
                                            <span class="pull-right sales-right initialDiscount">{{ initialDiscount }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                             <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label"  for="firstName"><span class="label-custom" >Vat TK.</span>
                                            <span class="pull-right sales-right initialVat">{{ initialVat }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName"><span class="label-custom" id="balance">Due TK.</span> <span class="pull-right sales-right due" style="text-align: right; width: 110px"  id="dueable" >{{ initialTotal }}</span></label>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" style="height: 50px; line-height: 40px!important;background: red" for="firstName"><span class="label-custom" >Receivable TK.</span>
                                            <span class="pull-right sales-right">
                                                    {{ form_widget(form.payment) }}
                                                {{ form_errors(form.payment) }}
                                                </span>
                                        </label>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <div class="controls">
                                            {{ form_widget(form.transactionMethod) }}
                                            {{ form_errors(form.transactionMethod) }}
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div id="cartMethod" class="bankHide">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <div class="controls">
                                                {{ form_widget(form.cardNo) }}
                                                {{ form_errors(form.cardNo) }}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <div class="controls">
                                                {{ form_widget(form.paymentCard) }}
                                                {{ form_errors(form.paymentCard) }}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <div class="controls">
                                                {{ form_widget(form.accountBank) }}
                                                {{ form_errors(form.accountBank) }}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                            <div id="bkashMethod" class="mobileBankHide">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <div class="controls">
                                                {{ form_widget(form.accountMobileBank) }}
                                                {{ form_errors(form.accountMobileBank) }}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <div class="controls">
                                                {{ form_widget(form.paymentMobile) }}
                                                {{ form_errors(form.paymentMobile) }}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <div class="controls">
                                                {{ form_widget(form.transactionId) }}
                                                {{ form_errors(form.transactionId) }}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <div class="controls">
                                            {{ form_widget(form.remark) }}
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="clearfix"></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">
                                            <span class="label-custom" >Is Hold</span>
                                            <span class="pull-right sales-right">
                                {{ form_widget(form.isHold) }}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row-fluid">
                            <div class="">
                                <div class="pull-center">
                                    {{ form_widget(form.discount) }}
                                    <input type="hidden" class="initialGrandTotal" name="initialDue" id="initialDue" value="{{ initialTotal }}" >
                                    <input type="hidden" name="initialDiscount" id="initialDiscount" value="">
                                    <input type="hidden" name="buttonType" id="buttonType" value="">
                                    <button type="button" style="margin-left: 0!important;" class="btn span6 blue big  receiveBtn" {% if temporarySubTotal is empty %} disabled="disabled" {% endif %} id="saveButton"><i class="icon-save"></i> SAVE</button>
                                    {% if config.posPrint == 1 %}
                                        <input type="hidden" name="printMode" id="printMode" value="posPrint">
                                        <button type="button" class="btn span6 yellow big receiveBtn" {% if temporarySubTotal is empty %} disabled="disabled" {% endif %} id="posButton"><i class="icon-print"></i> POS PRINT</button>
                                    {% endif %}
                                    {% if config.deliveryPrint == 1 %}
                                        <input type="hidden" name="printMode" id="printMode" value="deliveryPrint">
                                        <button type="button" class="btn span6 yellow big receiveBtn" {% if temporarySubTotal is empty %} disabled="disabled" {% endif %} id="posButton"><i class="icon-print"></i> POS PRINT</button>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
</div>
<style>

    #calBorder, .select2-drop , .select2-drop-mask{
        z-index: 999999!important;
    }

    .portlet-body form{
        margin: 0!important;
    }

    .select2-container .select2-choice {
        height: 35px!important;
        z-index: 99999!important;
    }

    input[type="text"].inline-m-wrap{

        width: 50px;
        font-size: 12px;
        border: 1px solid #c49f47;
        margin-bottom: 0;
        text-align: center;
        font-weight: bold;

    }

    input[class*="span"].m-wrap-bg{
        height: 50px!important;
        background: #ffffff;
        font-size: 30px;
    }

    input.m-wrap , select.m-wrap , textarea.m-wrap{
        border: 2px solid #1e7b85!important;
    }
    table.table {
        clear: both;
        margin-bottom: 0 !important;
        max-width: none !important;
        font-size: 11px;
    }

    .table th, .table td{
        padding: 0;
        margin: 0;
        padding-left: 5px;
    }

    select.m-wrap{
        height: 30px!important;
    }

    .product-content{
        width: 33%;
        margin-bottom: 13px;
        text-align: center;
        float: left;
        font-size: 12px!important;
        cursor: pointer;
    }

    .sales-right input[class*="span"].payment, .sales-right input[class*="span"].discount, .sales-right input[class*="span"].discountCoupon{
        border: 1px solid #1e7b85!important;
        font-size: 15px;
    }

    .sales-right input[class*="span"].payment{
        border: 2px solid #ff2515 !important;
        font-size: 20px;
        height: 42px!important;
    }

    .bankHide , .mobileBankHide , .customer{
        display: none;
    }
</style>