{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN item HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="item-title">
                    Add New Product Item
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('assetsitem') }}">Item</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Product Item Details</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END item HEADER-->
        <!-- BEGIN item CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Product Item Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn black" href="{{ path('assetsitem') }}"><i class="icon-th-list"></i>&nbsp;Product Item</a>
                            </div>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}
                        <!--/span-->
                        <!--/span-->
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="">Product Group<span class="required">*</span></label>
                                            <div class="controls">
                                                {{ form_widget(form.productGroup) }}
                                                {{ form_errors(form.productGroup) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="">Category<span class="required">*</span></label>
                                            <div class="controls">
                                                {{ form_widget(form.category) }}
                                                {{ form_errors(form.category) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="name">Product Item<span class="required">*</span></label>
                                            <div class="controls">
                                                {{ form_widget(form.name) }}
                                                {{ form_errors(form.name) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span8">
                                        <div class="control-group">
                                            <label class="control-label" for="name">Product Price</label>
                                            <div class="controls">
                                                {{ form_widget(form.price) }}
                                                {{ form_errors(form.price) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="">Brand</label>
                                            <div class="controls">
                                                {{ form_widget(form.brand) }}
                                                {{ form_errors(form.brand) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="span6">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="">Description</label>
                                            <div class="controls">
                                                {{ form_widget(form.description) }}
                                                {{ form_errors(form.description) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" >Product image</label>
                                        <div class="controls">
                                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                                <div  class="fileupload-new thumbnail">
                                                    {% if(entity.webPath) %}
                                                        <img class="fileupload-preview fileupload-exists thumbnail" alt="" src="{{ image(entity.webPath).resize(250,200) }}">
                                                    {% else %}
                                                        <img alt="" src="http://www.placehold.it/250x200/EFEFEF/AAAAAA&amp;text=no+image">
                                                    {% endif %}
                                                </div>
                                                <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                <div>
                                                        <span class="btn btn-file">
                                                            <span class="fileupload-new">Select image</span>
                                                            <span class="fileupload-exists">Change</span>
                                                            {{ form_widget(form.file) }}
                                                        </span>
                                                    <div class="clearfix"><br/></div>
                                                    {{ form_errors(form.file) }}
                                                    <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="form-actions portlet box grey">
                            <div class="pull-right">
                                <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                                <a href="{{ path('item_new') }}" class="btn purple"><i class="icon-refresh"></i> Reset</a>
                                {% if(entity.id > 0 ) %}
                                    <a href="{{ path('item_delete',{'id': entity.id} ) }}"  class="btn red confirm" title="Are you sure went to delete?"><i class="icon-remove"></i> Delete</a>
                                {% endif %}
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <!-- END FORM-->
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AssetsBundle/Resources/public/js/approveProcess.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
{% endblock %}