
    {% if widget.categoryShow == 'imageProduct' %}
    <div id="" class="">
        {% if featureCategory is not empty %}
        <div class="col-md-4">
            <div id="" class="product-canvas feature-cat-image categoryProductLeft" >
                <a class="{% if products|length > 3  %} img-card-large {% else %} img-card {% endif %}" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':category.id }) }}">
                    <img  src="{{ image(featureCategory.webPath).resize(400,700, 'white') }}"/>
                </a>
                <div class="card-read-more text-center" data-match-height="item-category">
                    <a class="" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':category.id }) }}"><strong>{{ category.name }}</strong></a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="{% if category.featureCategory is not empty %} col-md-8 {% else %} col-md-12 {% endif %}" id="categoryProductRight"  >
            <div class="row" >
                {% for product in  products  %}
                    <div class="col-lg-6 col-xs-6 col-md-6 col-sm-6 col-sm-cus-6 fadeInDown animated product-item" data-wow-delay="0.1s">
                        <div class="thumbnail">
                            <div class="product-preview group list-group-image">
                                <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" class="thumb-product-img">
                                    {% if  product.webPath is not empty %}
                                        <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(product.webPath).resize(200,160, 'white') }}"/>                        {% elseif product.medicine is not empty and product.medicine.webPath is not empty %}
                                        <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(product.medicine.webPath).resize(200,160, 'white') }}"/>            {% else %}
                                        <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(globalOption.ecommerceConfig.webPath).resize(200,160) }}"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption">
                                <div class="card-content" data-match-height="item-product">
                                    {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                                        <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':product.category.id }) }}">{{ product.category.name }}</a>
                                        </span>
                                    {% endif %}
                                    <span class="product-name">
                                        <a class="product-preview product-url" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:">{{ product.webName }}</a>
                                        </span>
                                    {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                                        <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':product.brand.id }) }}">{{ product.brand.name }}</a>
                                    </span>
                                    {% endif %}
                                </div>

                                <div class="card-read-more text-center" >
                                    <span id="currency-{{ product.id }}"> {{ globalOption.ecommerceConfig.currency }} {% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}  <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} {% if product.productUnit is not empty %} / {{ product.productUnit.name }}{% endif %}</span>
                                </div>
                                <div class="card-price">
                                    <div class="input-group">
              <span class="input-group-btn input-group-btn-custom">
                  <button type="button" class="btn btn-transparent danger-font btn-new-cart-item input-group-btn-left" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </button>
              </span>
                                        <input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="cart-input input-number" value="" data-id="{{ product.id }}" min="1" max="100" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                                        <span class="input-group-btn">
                  <button type="button" data-id="{{ product.id }}" class="btn btn-transparent cyan-font btn-new-cart-item" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </button>

              </span></div></div>
                            </div>
                        </div>
                        {% if product.discount is not empty %}
                            <a class="product-discount btn-xs" href="javascript:">
                                <span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}
                            </a>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% elseif widget.categoryShow == 'subCategoryProduct' %}
    <div class="">
            {% if category.children is not empty %}
                <div class="col-md-3">
                    <div id="subCategoryProductLeft">
                        <ul class="list-line list-group">
                        {% for child in category.children %}
                            <li><a href="">{{ child.name }}</a> </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="{% if category.children is not empty %} col-md-8 {% else %} col-md-12 {% endif %}">
                {% for product in  products  %}
                    <div class="col-lg-6 col-xs-6 col-md-6 col-sm-6 col-sm-cus-6 fadeInDown animated product-item" data-wow-delay="0.1s">
                        <div class="thumbnail">
                            <div class="product-preview group list-group-image">
                                <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" class="thumb-product-img">
                                    {% if  product.webPath is not empty %}
                                        <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(product.webPath).resize(200,160, 'white') }}"/>                        {% elseif product.medicine is not empty and product.medicine.webPath is not empty %}
                                        <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(product.medicine.webPath).resize(200,160, 'white') }}"/>            {% else %}
                                        <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(globalOption.ecommerceConfig.webPath).resize(200,160) }}"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption">
                                <div class="card-content" data-match-height="item-product">
                                    {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                                        <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':product.category.id }) }}">{{ product.category.name }}</a>
                                        </span>
                                    {% endif %}
                                    <span class="product-name">
                                        <a class="product-preview product-url" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:">{{ product.webName }}</a>
                                        </span>
                                    {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                                        <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':product.brand.id }) }}">{{ product.brand.name }}</a>
                                    </span>
                                    {% endif %}
                                </div>

                                <div class="card-read-more text-center" >
                                    <span id="currency-{{ product.id }}"> {{ globalOption.ecommerceConfig.currency }} {% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}  <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} {% if product.productUnit is not empty %} / {{ product.productUnit.name }}{% endif %}</span>
                                </div>
                                <div class="card-price">
                                    <div class="input-group">
              <span class="input-group-btn input-group-btn-custom">
                  <button type="button" class="btn btn-transparent danger-font btn-new-cart-item input-group-btn-left" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </button>
              </span>
                                        <input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="cart-input input-number" value="" data-id="{{ product.id }}" min="1" max="100" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                                        <span class="input-group-btn">
                  <button type="button" data-id="{{ product.id }}" class="btn btn-transparent cyan-font btn-new-cart-item" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </button>

              </span></div></div>
                            </div>
                        </div>
                        {% if product.discount is not empty %}
                            <a class="product-discount btn-xs" href="javascript:">
                                <span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}
                            </a>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
    </div>
    {% elseif widget.categoryShow == 'categorySubCategory' %}
        <div id="" class="feature-carousel">
            {% if category.featureCategory is not empty %}
                <div class="col-md-4">
                    <div class="product-canvas" id="categorySubCategoryLeft">
                        <a class="{% if category.children|length > 3  %}img-card-cat {% else %} img-card {% endif %}" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':category.id }) }}">
                            <img  src="{{ image(category.featureCategory.webPath).resize(400,700, 'white') }}"/>
                        </a>
                        <div class="card-read-more text-center" data-match-height="item-category">
                            <a class="" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':category.id }) }}"><strong>{{ category.name }}</strong></a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-8" id="categorySubCategoryRight">
                <div class="row" >
                {% for child in category.children|slice(0,6) %}
                    {% if child.featureCategory is not empty %}
                        <div class="col-lg-6 col-xs-6 col-md-6 col-sm-6 col-sm-cus-6 fadeInDown animated product-item" data-wow-delay="0.1s">
                            <div class="thumbnail">
                                <div class="product-preview group list-group-image">
                                    <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" class="thumb-product-img">
                                        {% if  product.webPath is not empty %}
                                            <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(product.webPath).resize(200,160, 'white') }}"/>                        {% elseif product.medicine is not empty and product.medicine.webPath is not empty %}
                                            <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(product.medicine.webPath).resize(200,160, 'white') }}"/>            {% else %}
                                            <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(globalOption.ecommerceConfig.webPath).resize(200,160) }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="caption">
                                    <div class="card-content" data-match-height="item-product">
                                        {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                                            <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':product.category.id }) }}">{{ product.category.name }}</a>
                                        </span>
                                        {% endif %}
                                        <span class="product-name">
                                        <a class="product-preview product-url" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:">{{ product.webName }}</a>
                                        </span>
                                        {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                                            <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':product.brand.id }) }}">{{ product.brand.name }}</a>
                                    </span>
                                        {% endif %}
                                    </div>

                                    <div class="card-read-more text-center" >
                                        <span id="currency-{{ product.id }}"> {{ globalOption.ecommerceConfig.currency }} {% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}  <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} {% if product.productUnit is not empty %} / {{ product.productUnit.name }}{% endif %}</span>
                                    </div>
                                    <div class="card-price">
                                        <div class="input-group">
              <span class="input-group-btn input-group-btn-custom">
                  <button type="button" class="btn btn-transparent danger-font btn-new-cart-item input-group-btn-left" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </button>
              </span>
                                            <input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="cart-input input-number" value="" data-id="{{ product.id }}" min="1" max="100" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                                            <span class="input-group-btn">
                  <button type="button" data-id="{{ product.id }}" class="btn btn-transparent cyan-font btn-new-cart-item" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </button>

              </span></div></div>
                                </div>
                            </div>
                            {% if product.discount is not empty %}
                                <a class="product-discount btn-xs" href="javascript:">
                                    <span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}
                                </a>
                            {% endif %}

                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </div>
    {% elseif widget.categoryShow == 'slider' %}
        {% for product in  products  %}
            <div class="col-lg-6 col-xs-6 col-md-6 col-sm-6 col-sm-cus-6 fadeInDown animated product-item" data-wow-delay="0.1s">
                <div class="thumbnail">
                    <div class="product-preview group list-group-image">
                        <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" class="thumb-product-img">
                            {% if  product.webPath is not empty %}
                                <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(product.webPath).resize(200,160, 'white') }}"/>                        {% elseif product.medicine is not empty and product.medicine.webPath is not empty %}
                                <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(product.medicine.webPath).resize(200,160, 'white') }}"/>            {% else %}
                                <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(globalOption.ecommerceConfig.webPath).resize(200,160) }}"/>
                            {% endif %}
                        </a>
                    </div>
                    <div class="caption">
                        <div class="card-content" data-match-height="item-product">
                            {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                                <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':product.category.id }) }}">{{ product.category.name }}</a>
                                        </span>
                            {% endif %}
                            <span class="product-name">
                                        <a class="product-preview product-url" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:">{{ product.webName }}</a>
                                        </span>
                            {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                                <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':product.brand.id }) }}">{{ product.brand.name }}</a>
                                    </span>
                            {% endif %}
                        </div>

                        <div class="card-read-more text-center" >
                            <span id="currency-{{ product.id }}"> {{ globalOption.ecommerceConfig.currency }} {% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}  <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} {% if product.productUnit is not empty %} / {{ product.productUnit.name }}{% endif %}</span>
                        </div>
                        <div class="card-price">
                            <div class="input-group">
              <span class="input-group-btn input-group-btn-custom">
                  <button type="button" class="btn btn-transparent danger-font btn-new-cart-item input-group-btn-left" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </button>
              </span>
                                <input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="cart-input input-number" value="" data-id="{{ product.id }}" min="1" max="100" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                                <span class="input-group-btn">
                  <button type="button" data-id="{{ product.id }}" class="btn btn-transparent cyan-font btn-new-cart-item" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </button>

              </span></div></div>
                    </div>
                </div>
                {% if product.discount is not empty %}
                    <a class="product-discount btn-xs" href="javascript:">
                        <span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}
                    </a>
                {% endif %}

            </div>
        {% endfor %}
    {% else %}
        {% for product in  products  %}
            <div class="col-lg-6 col-xs-6 col-md-6 col-sm-6 col-sm-cus-6 fadeInDown animated product-item" data-wow-delay="0.1s">
                <div class="thumbnail">
                    <div class="product-preview group list-group-image">
                        <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" class="thumb-product-img">
                            {% if  product.webPath is not empty %}
                                <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(product.webPath).resize(200,160, 'white') }}"/>                        {% elseif product.medicine is not empty and product.medicine.webPath is not empty %}
                                <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(product.medicine.webPath).resize(200,160, 'white') }}"/>            {% else %}
                                <img class="img-responsive" alt="{{ product.webName }}" src="{{ image(globalOption.ecommerceConfig.webPath).resize(200,160) }}"/>
                            {% endif %}
                        </a>
                    </div>
                    <div class="caption">
                        <div class="card-content" data-match-height="item-product">
                            {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                                <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':product.category.id }) }}">{{ product.category.name }}</a>
                                        </span>
                            {% endif %}
                            <span class="product-name">
                                        <a class="product-preview product-url" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:">{{ product.webName }}</a>
                                        </span>
                            {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                                <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':product.brand.id }) }}">{{ product.brand.name }}</a>
                                    </span>
                            {% endif %}
                        </div>

                        <div class="card-read-more text-center" >
                            <span id="currency-{{ product.id }}"> {{ globalOption.ecommerceConfig.currency }} {% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}  <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} {% if product.productUnit is not empty %} / {{ product.productUnit.name }}{% endif %}</span>
                        </div>
                        <div class="card-price">
                            <div class="input-group">
              <span class="input-group-btn input-group-btn-custom">
                  <button type="button" class="btn btn-transparent danger-font btn-new-cart-item input-group-btn-left" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </button>
              </span>
                                <input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="cart-input input-number" value="" data-id="{{ product.id }}" min="1" max="100" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                                <span class="input-group-btn">
                  <button type="button" data-id="{{ product.id }}" class="btn btn-transparent cyan-font btn-new-cart-item" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_medicine_cart',{'product':product.id }) }}">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </button>

              </span></div></div>
                    </div>
                </div>
                {% if product.discount is not empty %}
                    <a class="product-discount btn-xs" href="javascript:">
                        <span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}
                    </a>
                {% endif %}

            </div>
        {% endfor %}
    {% endif %}


