{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN prepurchaseitem HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="prepurchaseitem-title">
                    Pre-purchase Item
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('prepurchaseitem') }}">Pre-purchase Item</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Pre-purchase Item new/edit</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END prepurchaseitem HEADER-->
        <!-- BEGIN prepurchaseitem CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Pre-purchase Item Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('prepurchaseitem') }}"><i class="icon-th-list"></i>&nbsp; Pre-purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}

                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Select Product Name </label>
                                        <div class="controls">
                                            {{ form_widget(form.masterItem) }}
                                            {{ form_errors(form.masterItem) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Requested By</label>
                                        <div class="controls">
                                            {{ form_widget(form.requestBy) }}
                                            {{ form_errors(form.requestBy) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Request Qnt</label>
                                        <div class="controls">
                                            {{ form_widget(form.requestQnt) }}
                                            {{ form_errors(form.requestQnt) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Available Date</label>
                                        <div class="controls">
                                            {{ form_widget(form.availableDate) }}
                                            {{ form_errors(form.availableDate) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Remark</label>
                                        <div class="controls">
                                            {{ form_widget(form.content) }}
                                            {{ form_errors(form.content) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>
                            <!--/span-->
                            <div class="form-actions portlet box grey">
                                <div class="pull-center">
                                    <button type="submit" class="btn green"><i class="icon-ok"></i> Save</button>
                                    <button type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</button>
                                    {% if(entity.id > 0 ) %}
                                        <a href="{{ path('prepurchaseitem_delete',{'id': entity.id} ) }}"  class="btn red confirm" title="Are you sure went to delete?"><i class="icon-remove"></i> Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
