{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Product Sales System
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('inventory_salesmanual') }}"> Product Sales System</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Item Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Product Sales System</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="{{ path('inventory_salesonline') }}"><i class="icon-th-list"></i> Sales</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <div class="clearfix">&nbsp;</div>
                            {{ form_start(itemForm) }}
                            {{ form_row(itemForm._token) }}
                            <div class="row-fluid">
                                <div class="row-fluid particular-info" >
                                    <div class="span2">
                                        <input type="text" style="text-align:center; margin-left:15px;height: 42px!important;" class="m-wrap span12 form-control"  id="barcode" name="barcode" data-id="{{ entity.id }}" placeholder="Barcode"  value="" >
                                    </div>
                                     <div class="{% if inventory.isAttribute == 1 %} span3 {% else %} span5 {% endif %}">
                                        {{ form_widget(itemForm.item) }}
                                        {{ form_errors(itemForm.item) }}
                                    </div>
                                    {% if inventory.salesMode == 'purchase-item' %}
                                    <div class="span2">
                                        <select style="height: 42px!important;" class="m-wrap span12 form-control" name="subItem" id="subItem">
                                            <option>Select Sub-item</option>
                                        </select>
                                    </div>
                                    {% endif %}
                                    {% if inventory.isAttribute == 1 %}
                                    <div class="span2">
                                        <select style="height:42px!important;" class="m-wrap span12 form-control" name="serialNo" id="serialNo">
                                            <option>Item IME/Serial no</option>
                                        </select>
                                    </div>
                                    {% endif %}
                                    <div class="span3">
                                        <div class="input-append span12" style="margin-bottom:0!important">
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                <button href="javascript:" class="btn btn-large black">Tk.</button>
                                                <input type="text" style="text-align:center;height: 42px!important;width:80px; " class="m-wrap span2 form-control"  id="salesPrice" name="salesPrice"  value="" >
                                                <input type="hidden" name="purchasePrice" id="purchasePrice" value="">
                                                </span>
                                                <span class="input-group-btn">
                                                <input type="number" style="text-align:center; width:60px; height: 42px!important;" class="m-wrap span5 form-control btn-qnt-particular" id="quantity" name="quantity" value="1" min="1" max="100">
                                                <button type="button" class="btn btn-large blue" id="addItem" data-url="{{ path('inventory_salesmanual_insert_item',{'sales':entity.id}) }}" ><i class="icon-shopping-cart"></i> <strong>Add</strong></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {{ form_end(itemForm) }}
                            <div class="clearfix">&nbsp;</div>
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <div class="row-fluid">
                                <div class="span8">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                                <thead class="flip-content ">
                                                <tr class="head-blue">
                                                    <th class="numeric" ><i class="icon icon-th-list"></i></th>
                                                    <th class="numeric" >Name </th>
                                                    {% if inventory.isAttribute == 1 %}
                                                        <th class="numeric">Serial no</th>
                                                    {% endif %}
                                                    <th class="numeric" >Price</th>
                                                    <th class="numeric" >Quantity</th>
                                                    <th class="numeric" >Unit</th>
                                                    <th class="numeric" >Total</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody id="salesItem">
                                                {% set quantity = 0 %}
                                                {% set salesPrice = 0 %}
                                                {% for salesItem in entity.salesItems %}
                                                    <tr id="remove-{{ salesItem.id }}">
                                                        <td class="numeric" >{{ loop.index }}</td>
                                                        <td class="numeric" >{{ salesItem.item.name }}</td>
                                                        {% if inventory.isAttribute == 1 %}
                                                            <td class="numeric" >
                                                                {% if salesitem.purchaseItem.serialNo is not empty %}
                                                                    {% set serials = salesitem.serialNo|trim|split(',') %}
                                                                    {% set purchaseItems = salesitem.purchaseItem.serialNo|split(',') %}
                                                                    <select class="m-wrap inputs" name="serialNo" id="serialNo-{{ salesitem.id }}" multiple="multiple" >
                                                                        <option value="">--IME/Serial No--</option>
                                                                        {% for serial in  purchaseItems %}
                                                                            <option {% if serial|trim in serials %} selected="selected" {% endif %} value="{{ serial }}" >{{ serial }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                {% endif %}
                                                            </td>
                                                        {% endif %}
                                                        <td>
                                                            <input class="numeric salesPrice inputs td-inline-input"  data-id="{{ salesItem.id }}" id="salesPrice-{{ salesItem.id }}" type="text" name="salesPrice" value="{{ salesItem.salesPrice }}" placeholder="{{ salesItem.estimatePrice }}">
                                                        </td>
                                                        <td class=" span1" >
                                                            <input type="text" id="quantity-{{ salesItem.id }}" data-id="{{ salesItem.id }}" name="quantity[]"  value="{{ salesItem.quantity }}" class="quantity inputs td-inline-input" placeholder="{{ salesItem.quantity }}" min="1" max="">
                                                        </td>
                                                        <td class="numeric" >{% if salesItem.item.masterItem.productUnit is not empty %}{{ salesItem.item.masterItem.productUnit.name }}{% endif %}</td>
                                                        <td><span id="subTotalShow-{{ salesItem.id }}" ><strong>{{ salesItem.subTotal }}</strong></span></td>
                                                        <td><button class="btn red mini remove" data-url="{{ path('inventory_salesmanual_salesitem_delete',{'sales':entity.id,'salesItem':salesItem.id}) }}" id="{{ salesItem.id }}" type="button" ><i class="icon-trash"></i></button></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="clearfix"></div>
                                    <div class="row-fluid">
                                    <div class="span12" id="payment-info">
                                        <div class="row-fluid">
                                            <div class="span8"><strong>SUB-TOTAL TK.</strong></div>
                                            <div class="span4"><strong id="subTotal">{{ entity.subTotal }}</strong></div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span8"><strong>DISCOUNT TK.</strong></div>
                                            <div class="span4"><strong id="discount">{{ entity.discount }}</strong></div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span8"><strong>VAT/TAX TK.</strong></div>
                                            <div class="span4"><strong class="vat">{{ entity.vat }}</strong></div>
                                        </div>
                                        <div class="row-fluid" style="border-top: 2px solid #c49f47;padding-top: 10px;border-bottom: 2px solid #c49f47;margin-bottom: 10px;">
                                            <div class="span8"><strong>NET-TOTAL TK.</strong></div>
                                            <div class="span4"><strong id="netTotal">{{ entity.total }}</strong></div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span8"><strong id="balance">DUE TK.</strong></div>
                                            <div class="span4"><strong id="due">{{ entity.due }}</strong></div>
                                        </div>
                                        <div class="payment-box">
                                        <div class="row-fluid">
                                            <div class="span3"><label class="control-label"><strong>Discount</strong></label></div>
                                            <div class="span5"> {{ form_widget(form.discountType) }}</div>
                                            <div class="span4"> {{ form_widget(form.discountCalculation) }}</div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span8"><label class="control-label"><strong>Delivery Charge</strong></label></div>
                                            <div class="span4">{{ form_widget(form.deliveryCharge) }}</div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span8"><label class="control-label"><strong>Receive TK.</strong></label></div>
                                            <div class="span4">{{ form_widget(form.payment) }}</div>
                                        </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span12 input-append-border">
                                                {{ form_widget(form.transactionMethod) }}
                                                {{ form_errors(form.transactionMethod) }}
                                            </div>
                                        </div>
                                        <div id="cartMethod" class="bankHide">
                                            <div class="row-fluid">
                                                {{ form_widget(form.cardNo) }}
                                                {{ form_errors(form.cardNo) }}
                                            </div>
                                            <div class="row-fluid">
                                                {{ form_widget(form.paymentCard) }}
                                                {{ form_errors(form.paymentCard) }}
                                            </div>
                                            <div class="row-fluid">
                                                {{ form_widget(form.accountBank) }}
                                                {{ form_errors(form.accountBank) }}
                                            </div>
                                        </div>
                                        <div id="bkashMethod" class="mobileBankHide">
                                            <div class="row-fluid">
                                                {{ form_widget(form.accountMobileBank) }}
                                                {{ form_errors(form.accountMobileBank) }}
                                            </div>
                                            <div class="row-fluid">
                                                {{ form_widget(form.paymentMobile) }}
                                                {{ form_errors(form.paymentMobile) }}
                                            </div>
                                            <div class="row-fluid">
                                                {{ form_widget(form.transactionId) }}
                                                {{ form_errors(form.transactionId) }}
                                            </div>
                                        </div>

                                        <div class="row-fluid">
                                            <div class="span12 input-append-border">
                                                {{ form_widget(form.salesBy) }}
                                             </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="input-append span12">
                                                <input type="text" style="margin-left: 0!important; margin-bottom:15px!important" id="customerMobile" name="customerMobile"  class="span10 m-wrap select2CustomerName" value="{{ entity.customer.mobile }}"  autocomplete="off" placeholder="Customer mobile">
                                                <a href="javascript:" class="pull-right btn blue  addCustomer"><i class="icon-user"></i></a>
                                            </div>
                                        </div>
                                        <div class="row-fluid customer" id="">
                                            <div class="span12 input-append-border">
                                                <div class="row-fluid">
                                                    <div class="input-icon left input-height">
                                                        <i class="icon-user"></i>
                                                        <input type="text" id="customerName" name="customerName" class="m-wrap span12 customer-input" autocomplete="off" placeholder="Customer name" value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid customer">
                                            <div class="span12 input-append-border">
                                                <div class="row-fluid">
                                                    <div class="input-icon left input-height">
                                                        <i class="icon-phone"></i>
                                                        <input type="text" id="customerMobile" name="customerMobile" class="m-wrap span12 mobile customer-input" autocomplete="off" placeholder="Customer mobile no" value="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid customer">
                                            <div class="span12 input-append-border">
                                                <div class="row-fluid">
                                                    <textarea id="customerAddress" name="customerAddress" class="m-wrap span12 customer-input" rows="2" placeholder="Enter customer address"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="input-append span12 ">
                                                <div class="btn-group">
                                                    {{ form_widget(form.process) }}
                                                    {{ form_errors(form.process) }}
                                                    {{ form_widget(form.discount) }}
                                                    <input type="hidden" name="total" id="total" value="{{ entity.total }}">
                                                    <input type="hidden" name="salesId" id="salesId" value="{{ entity.id }}">
                                                    <button rel=""  type="button" class="btn btn-large green paymentBtn" id="submitBtn"><i class="icon-refresh m-icon-white"></i>&nbsp;Process</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <style>
        .disabled{
            opacity: 0.5;
        }
        #sales_process{
            height: 42px!important;
        }
        #payment-info{
            padding:15px;
            background-color:#E5E7E7;
            border:1px solid #B7B9B9;
        }
        .payment-box{
            background: #fff9f9;
            margin-left: -15px;
            margin-right: -15px;
            padding: 15px;
            padding-bottom: 0;
            margin-bottom: 15px;
        }
        #sales_discount{
            border: 2px solid #eca22e!important;
        }
        #sales_payment{
            border: 2px solid red!important;
        }
        .customer{
            display: none;
        }
        input[class*="span"].m-wrap{
            background: #ffffff!important;
        }
        table.dataTable tbody th, table.dataTable tbody td {
            padding: 1px 10px!important;
        }

    </style>
{% endblock %}

{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@InventoryBundle/Resources/public/css/manual-sales.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/approveProcess.js'
    '@InventoryBundle/Resources/public/js/sales-manual.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    ApproveProcess();
    InventorySales({{ entity.id ? entity.id : 0 }});
{% endblock %}