{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                    Sales Invoice # {{ entity.invoice }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('inventory_salesmanual') }}">Sales</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Add/Edit sales</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>c
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Sales Details</div>

                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('inventory_salesmanual_new') }}"><i class="icon-plus-sign"></i>&nbsp;Add Sales</a>
                                <a class="btn" href="{{ path('inventory_salesmanual') }}"><i class="icon-th-list"></i>&nbsp;Lists</a>

                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            <div class="row-fluid">

                                <div class="span4">
                                    <h4>About:</h4>
                                    <ul class="unstyled">
                                        {% if entity.customer is not empty %}<li><strong>Customer #:</strong>&nbsp;{{ entity.customer.name }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Mobile #:</strong>&nbsp;{{ entity.customer.mobile }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Address #:</strong>&nbsp;{{ entity.customer.address }}</li>{% endif %}
                                        {% if entity.customer is not empty and entity.customer.location is not empty   %}<li><strong>Location #:</strong>&nbsp;{{ entity.customer.location.name }}, {{ entity.customer.location.parent.name }}</li>{% endif %}
                                        <li><strong>Created:</strong>&nbsp;{{ entity.created|date('d-m-Y') }}</li>
                                    </ul>
                                </div>

                                <div class="span4 invoice-payment">
                                    <h4>Payment Details:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Total Quantity:</strong>&nbsp;{{ entity.totalItem }}</li>
                                        <li><strong>Total item:</strong>&nbsp;{{ entity.totalItem }}</li>
                                        <li><strong>Total Tk.</strong>&nbsp;{{ entity.total|number_format() }}</li>
                                        <li><strong>Payment Tk.</strong>&nbsp;{{ entity.payment|number_format() }}</li>
                                        {% if entity.discount %}<li><strong>Discount Tk.</strong>&nbsp;{{ entity.discount|number_format() }}</li>{% endif %}
                                        {% if entity.due %}<li><strong>Due Tk.</strong>&nbsp;{{ entity.due|number_format() }}</li>{% endif %}
                                    </ul>
                                </div>
                                <div class="span4">
                                    <h4>Payment Method:</h4>
                                    <ul class="unstyled">

                                        <li><strong>Payment Method:</strong>&nbsp;{% if entity.payment > 0 %}{{ entity.paymentMethod }}{% endif %}</li>
                                        {% if entity.accountMobileBank is not empty %}<li><strong>Received Mobile:</strong>&nbsp;{{ entity.accountMobileBank.name }}</li>{% endif %}
                                        {% if entity.paymentMobile is not empty %}<li><strong>Mobile/Transaction:</strong>&nbsp;{{ entity.paymentMobile }}/{{ entity.transactionId }}</li>{% endif %}
                                        {% if entity.accountBank is not empty %}<li><strong>Received Bank:</strong>&nbsp;{{ entity.accountBank.name }}</li>{% endif %}
                                        {% if entity.paymentCard is not empty %}<li><strong>Payment Card/No:</strong>&nbsp;{{ entity.paymentCard.name }}/{{ entity.cardNo }}</li>{% endif %}
                                        {% if entity.bank is not empty %}<li><strong>Bank:</strong>&nbsp;{{ entity.bank.name  }}</li>{% endif %}
                                        <li><strong>Sales By:</strong>&nbsp;{% if entity.salesBy is defined and entity.salesBy is not empty %}{{ entity.salesBy }}{% endif %}</li>
                                        <li><strong>Received By:</strong>&nbsp;{% if entity.createdBy is defined and entity.createdBy is not empty %}{{ entity.createdBy }}{% endif %}</li>
                                        <li><strong>Process: </strong>&nbsp;{{  entity.process|capitalize }}</li>
                                    </ul>
                                </div>
                            </div>
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid box green">
                                {% if entity.salesItems is defined and  entity.salesItems is not empty  %}
                                    <table class="table table-bordered table-striped table-condensed flip-content ">
                                        <thead class="flip-content ">
                                        <tr class="head-green">
                                            <td>&nbsp;&nbsp;<i class="icon-reorder"></i></td>
                                            <th class="numeric" >Item</th>
                                            <th class="numeric" >Estimate price</th>
                                            <th class="numeric" >Sales price</th>
                                            <th class="numeric" >Qnt</th>
                                            <th class="numeric" >Sub-total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for salesItem in entity.salesItems %}
                                            <tr>
                                                <td class="numeric" >{{ loop.index }}</td>
                                                <td class="numeric" >{{ salesItem.item.name }}/{{ salesItem.item.sku }}</td>
                                                <td class="numeric" >{{ salesItem.estimatePrice|number_format() }}</td>
                                                <td class="numeric" >{{ salesItem.salesPrice|number_format() }}</td>
                                                <td class="numeric" >{{ salesItem.quantity }}</td>
                                                <td class="numeric" >={{ salesItem.subTotal|number_format() }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td class="numeric" colspan="5" ><strong class="pull-right">Total Tk.</strong></td>
                                            <td class="numeric" >={{ entity.subTotal|number_format() }}</td>
                                        </tr>
                                        <tr>
                                            {% if entity.vat %}
                                            <td class="numeric" colspan="5" ><strong class="pull-right">Vat Tk.</strong></td>
                                            <td class="numeric" >={{ entity.vat|number_format() }}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            {% if entity.discount %}
                                            <td class="numeric" colspan="5" ><strong class="pull-right">Discount Tk.</strong></td>
                                            <td class="numeric" >={{ entity.discount|number_format() }}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td class="numeric" colspan="5" ><strong class="pull-right">Grand Total Tk.</strong></td>
                                            <td class="numeric" >={{ entity.total|number_format() }}</td>
                                        </tr>
                                        <tr>
                                            <td class="numeric" colspan="5" ><strong class="pull-right">Payment Tk.</strong></td>
                                            <td class="numeric" >={{ entity.payment|number_format() }}</td>
                                        </tr>
                                        <tr>
                                            {% if entity.due %}
                                            <td class="numeric" colspan="5" ><strong class="pull-right">Due Tk.</strong></td>
                                            <td class="numeric" >={{ entity.due|number_format() }}</td>
                                            {% endif %}
                                        </tr>
                                        </tfoot>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="clearfix">&nbsp;</div>
                           <div class="form-actions portlet box grey">
                                <div class="span6" id="message"></div>

                                <div class="pull-right" id="action-{{ entity.id }}">
                                    {% set process = ['In-progress','Courier'] %}
                                    {% if entity.process in process  %}
                                        <a data-type="select" class="editable btn red" id="process" data-name="Process" href="#" data-source="{{ path('inventory_salesmanual_inline_status_select') }}"  data-url="{{ path('inventory_salesmanual_inline_process_update') }}" data-pk="{{ entity.id }}" data-value="{{ entity.process }}" data-original-title="Select change process">{{ entity.process }}</a>
                                    {% else %}
                                      <span class="btn blue">{{  entity.process }}</span>
                                    {% endif %}
                                    {% if entity.due > 0 %}
                                        <a href="{{ path('account_sales_due',{'sales':entity.id}) }}" class="btn yellow"><i class="icon-money"></i> Receive Amount</a>
                                    {% endif %}
                                    <a target="_blank"  href="{{ path('inventory_sales_print_invoice',{'invoice':entity.invoice}) }}" class="btn green"><i class="icon-print"></i>&nbsp;Print Bill</a>
                                    <a target="_blank"  href="{{ path('inventory_sales_print_chalan',{'invoice':entity.invoice}) }}" class="btn purple"><i class="icon-print"></i>&nbsp;Print Chalan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/editable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
    $(document).on("click", ".editable-submit", function() {
    setTimeout(pageReload, 1000);
    });
    function pageReload() {
    location.reload();
    }
{% endblock %}

