{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    View Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('gallery') }}">Photo Gallery</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="btn-group pull-right">

                    <span class="btn-group">
                        {%  set keyword = app.request.query.get('keyword') %}
                        {%  set direction = app.request.query.get('direction') %}
                        {%  set sort = app.request.query.get('sort') %}
                        <form name="search" class="search" method="get" action="">
                            <input type="text" name="keyword" id="search" class="search-input span12" value="{{ keyword }}"><button type="submit" class="btn black icn-only" ><i class="halflings-icon white search"></i></button>
                        </form>
                    </span>
                </div>
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Photo Gallery Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('gallery_new') }}"><i class="icon-plus-sign"></i>&nbsp; Add Gallery</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                    <th class="numeric" >Created</th>
                                    <th {% if pagination.isSorted('name') %} class="sorted" {% endif %} >{{ knp_pagination_sortable(pagination, 'Name', 'name') }}{% if( direction == 'desc' and sort == 'name') %}<i class="icon-sort-up"></i> {% else %}<i class="icon-sort-down"></i> {% endif %}</th>
                                    <th class="numeric" >Action</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for entity in pagination %}
                                    <tr>
                                        <td>&nbsp;&nbsp;<span class="badge badge-warning badge-custom"  > {{ loop.index }} </span></td>
                                        <td class="numeric">{{ entity.created|date('d-m-Y') }}</td>
                                        <td class="numeric" ><a href="{{ path('gallery_edit',{'id': entity.id })}}">{{ entity.name }}</a></td>
                                        <td class="numeric" >
                                            {% if( entity.status == 1) %}
                                                <a class="btn mini green-stripe btn-action" href="{{ path('gallery_status', { 'id': entity.id}) }}"><span class="badge badge-success">x</span></a>
                                            {% else %}
                                                <a class="btn mini green-stripe btn-action" href="{{ path('gallery_status', { 'id': entity.id}) }}"><span class="badge badge-important">a</span>    </a>
                                            {% endif %}
                                            <a class="btn mini green-stripe btn-action" href="{{ path('gallery_edit', { 'id': entity.id }) }}">Edit</a>
                                            <a class="btn mini blue-stripe btn-action" href="{{ path('gallery_show', { 'id': entity.id }) }}">View</a>
                                            <a class="btn mini purple-stripe btn-action" href="{{ path('galleryimage_new', { 'galleryId': entity.id }) }}">Add Image</a>
                                            <a class="btn mini purple-stripe btn-action" href="{{ path('galleryimage_edit', { 'id': entity.id }) }}">Edit Image</a>
                                            <a class="btn mini red-stripe btn-action confirm" title="Are you sure went to delete ?" href="{{ path('gallery_delete', { 'id': entity.id }) }}" >Delete</a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="pagination" >
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

