{% if globalOption.templateCustomize.contactForm == 1 %}
    <div class="sidebars" style="display: none">
    <div class="sidebar right" style="right: 0px;">
        <a href="javascript:" class="sidebar-panel" data-action="close" data-side="right"><i class="fa fa-close"></i></a>
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">CONTACT FORM</h2>
             </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form id="contactUs" name="contactUs" method="post" action="{{ path(globalOption.subDomain ~ '_webservice_email_receive') }}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name or company"  />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Mobile no</label>
                                    <input type="text" class="form-control mobile" id="mobile" name="mobile" placeholder="Enter mobile no" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Email Address</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter valid email address ie. user@domain.com"  />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Message</label>
                                    <textarea name="message" id="message"  class="form-control" rows="5" cols="25"  placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="margin-bottom:15px">
                                <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
                                <div class="g-recaptcha" data-sitekey="6LdSLy8UAAAAAO3p8W8JcrplH4x-bcXFOOJ9ZJhL"></div>
                                {#<div id="captcha"></div>#}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div id="contactMsg" class="msg-area alert-success" role="alert">
                                    Thanks! receive your msg.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary pull-right" id="contactForm" ><i class="fa fa-send"></i> Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}
{% if globalOption.templateCustomize.registrationForm == 1 %}
    <div class="sidebars">
        <div class="sidebar right" id="registration-panel"  style="right:0;display: none">
            <a href="javascript:" class="registration-event" data-action="close" data-side="right"><i class="fa fa-close"></i></a>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title">WELL COME TO {{ globalOption.name|upper }} REGISTRATION</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <form id="registrationForm" name="registrationForm" method="post" action="{{ path(globalOption.subDomain ~ '_webservice_member_signup') }}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="name">Name <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="registration_name" name="registration_name" placeholder="Enter your full name"  />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Mobile No <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="registration_mobile" name="registration_mobile" placeholder="Enter mobile no" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="name">Email Address</label>
                                        <input type="email" class="form-control" id="registration_email" name="registration_email" placeholder="Enter valid email address ie. user@domain.com"  />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="name">Facebook ID</label>
                                        <input type="text" class="form-control" id="registration_facebookId" name="registration_facebookId" placeholder="Enter only id ie. terminalbd,facebook"  />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="name">Address</label>
                                        <textarea name="registration_address" id="registration_address"  class="form-control" rows="3" cols="25"  placeholder="Enter your mail address details"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                   <div id="captcha">
                                       <span id="question"></span><input id="ans" type="number">
                                   </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary pull-right" id="registrationSubmitForm" ><i class="fa fa-send"></i> Register</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" id="captcha-msg" >
                                    <div id="verify">Please verify.</div>
                                    <div id="success">Validation complete :)</div>
                                    <div id="fail">Validation failed :(</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endif %}
{% if globalOption.templateCustomize.topBar is not empty %}
    <section id="top-bar" class="header-position">
        <div class="container" >
            <div class="row">

                <div class="col-md-4 text-left">
                    <div class="box">
                        {% if globalOption.templateCustomize.topTextPosition == "text-left" and globalOption.templateCustomize.topBarContent is not empty %}
                            {{  globalOption.templateCustomize.topBarContent|raw }}
                        {% endif %}
                        {% if globalOption.templateCustomize.socialIconPosition == "top-left" %}
                            <ul class="{% if globalOption.templateCustomize.socialIconType == 'icon-square' %}square-social-links{% else %}circle-social-links{% endif %}">
                                {% if globalOption.facebookPageUrl is not empty %}
                                    <li><a class="facebook" target="_blank" href="{{ globalOption.facebookPageUrl }}"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}
                                {% if globalOption.twitterUrl is not empty %}
                                    <li><a class="twitter" target="_blank" href="{{ globalOption.twitterUrl }}"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}
                                {% if globalOption.youtube is not empty %}
                                    <li><a class="youtube" target="_blank" href="{{ globalOption.youtube }}"><i class="fa fa-youtube"></i></a></li>
                                {% endif %}
                                {% if globalOption.instagramPageUrl is not empty %}
                                    <li><a class="instagram" target="_blank" href="{{ globalOption.instagramPageUrl }}"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}
                                {% if globalOption.linkedin is not empty %}
                                    <li><a class="linkedin" target="_blank" href="{{ globalOption.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                                {% endif %}
                                {% if globalOption.googlePlus is not empty %}
                                    <li><a class="google-plus" target="_blank" href="{{ globalOption.googlePlus }}"><i class="fa fa-google-plus"></i></a></li>
                                {% endif %}
                                {% if globalOption.skype is not empty %}
                                    <li><a class="skype" target="_blank" href="{{ globalOption.skype }}"><i class="fa fa-skype"></i></a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        {% if globalOption.templateCustomize.topIconPosition == "text-left" %}
                            <ul class="info-links">
                                {% if globalOption.templateCustomize.showCalendar == 1 %}
                                    <li><i class="fa fa-calendar"></i> {{ "now"|date("j M, Y") }}</li>
                                {% endif %}
                                {% if globalOption.templateCustomize.showEmail == 1 and globalOption.email is not empty %}
                                    <li><i class="fa fa-envelope"></i> {{ globalOption.email }}</li>
                                {% endif %}
                                {% if globalOption.templateCustomize.showMobile == 1 %}
                                    <li><i class="fa fa-mobile"></i> {{ globalOption.mobile }}</li>
                                {% endif %}
                            </ul>
                        {% endif %}

                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="box">
                        {% if globalOption.templateCustomize.topTextPosition == "text-center" and globalOption.templateCustomize.topBarContent is not empty %}
                            {{  globalOption.templateCustomize.topBarContent|raw }}
                        {% endif %}
                        {% if globalOption.templateCustomize.socialIconPosition == "top-center" %}
                            <ul class="{% if globalOption.templateCustomize.socialIconType == 'icon-square' %}square-social-links{% else %}circle-social-links{% endif %}">
                                {% if globalOption.facebookPageUrl is not empty %}
                                    <li><a class="facebook" target="_blank" href="{{ globalOption.facebookPageUrl }}"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}
                                {% if globalOption.twitterUrl is not empty %}
                                    <li><a class="twitter" target="_blank" href="{{ globalOption.twitterUrl }}"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}
                                {% if globalOption.youtube is not empty %}
                                    <li><a class="youtube" target="_blank" href="{{ globalOption.youtube }}"><i class="fa fa-youtube"></i></a></li>
                                {% endif %}
                                {% if globalOption.instagramPageUrl is not empty %}
                                    <li><a class="instagram" target="_blank" href="{{ globalOption.instagramPageUrl }}"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}
                                {% if globalOption.linkedin is not empty %}
                                    <li><a class="linkedin" target="_blank" href="{{ globalOption.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                                {% endif %}
                                {% if globalOption.googlePlus is not empty %}
                                    <li><a class="google-plus" target="_blank" href="{{ globalOption.googlePlus }}"><i class="fa fa-google-plus"></i></a></li>
                                {% endif %}
                                {% if globalOption.skype is not empty %}
                                    <li><a class="skype" target="_blank" href="{{ globalOption.skype }}"><i class="fa fa-skype"></i></a></li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        {% if globalOption.templateCustomize.topIconPosition == "text-center" %}
                            <ul class="info-links">
                                {% if globalOption.templateCustomize.showCalendar == 1 %}
                                    <li><i class="fa fa-calendar"></i> {{ "now"|date("j M, Y") }}</li>
                                {% endif %}
                                {% if globalOption.templateCustomize.showEmail == 1 and globalOption.email is not empty %}
                                    <li><i class="fa fa-envelope"></i> {{ globalOption.email }}</li>
                                {% endif %}
                                {% if globalOption.templateCustomize.showMobile == 1 %}
                                    <li><i class="fa fa-mobile"></i> {{ globalOption.mobile }}</li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class=" col-md-4 text-right">
                    <div class="box">
                        {% if globalOption.templateCustomize.topTextPosition == "text-right" and globalOption.templateCustomize.topBarContent is not empty %}
                            {{  globalOption.templateCustomize.topBarContent|raw }}
                        {% endif %}
                        {% if globalOption.templateCustomize.socialIconPosition == "top-right" %}
                            <ul class="{% if globalOption.templateCustomize.socialIconType == 'icon-square' %}square-social-links{% else %}circle-social-links{% endif %}">
                                {% if globalOption.facebookPageUrl is not empty %}
                                    <li><a class="facebook" target="_blank" href="{{ globalOption.facebookPageUrl }}"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}
                                {% if globalOption.twitterUrl is not empty %}
                                    <li><a class="twitter" target="_blank" href="{{ globalOption.twitterUrl }}"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}
                                {% if globalOption.youtube is not empty %}
                                    <li><a class="youtube" target="_blank" href="{{ globalOption.youtube }}"><i class="fa fa-youtube"></i></a></li>
                                {% endif %}
                                {% if globalOption.instagramPageUrl is not empty %}
                                    <li><a class="instagram" target="_blank" href="{{ globalOption.instagramPageUrl }}"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}
                                {% if globalOption.linkedin is not empty %}
                                    <li><a class="linkedin" target="_blank" href="{{ globalOption.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                                {% endif %}
                                {% if globalOption.googlePlus is not empty %}
                                    <li><a class="google-plus" target="_blank" href="{{ globalOption.googlePlus }}"><i class="fa fa-google-plus"></i></a></li>
                                {% endif %}
                                {% if globalOption.skype is not empty %}
                                    <li><a class="skype" target="_blank" href="{{ globalOption.skype }}"><i class="fa fa-skype"></i></a></li>
                                {% endif %}
                            </ul>
                        {% endif %}

                        {% if globalOption.templateCustomize.topIconPosition == "text-right" %}
                            <ul class="info-links">
                                {% if globalOption.templateCustomize.showCalendar == 1 %}
                                    <li><i class="fa fa-calendar"></i> {{ "now"|date("j M, Y") }}</li>
                                {% endif %}
                                {% if globalOption.templateCustomize.showEmail == 1 and globalOption.email is not empty %}
                                    <li><i class="fa fa-envelope"></i> {{ globalOption.email }}</li>
                                {% endif %}
                                {% if globalOption.templateCustomize.showMobile == 1 %}
                                    <li><i class="fa fa-mobile"></i> {{ globalOption.mobile }}</li>
                                {% endif %}
                            </ul>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% set arrs  = ['brand-center','navbar-brand-top','brand-center center-side'] %}
<nav class="navbar navbar-default bootsnav sticky {% if globalOption.templateCustomize.menuPosition in arrs %} {{ globalOption.templateCustomize.menuPosition }} {% endif %}">
    <!-- Start Top Search -->
    <div class="top-login" style="display: none">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-login"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
    <div class="container">
        <!-- Start Header Navigation -->
        <div class="attr-nav">
            {% if globalOption.templateCustomize.socialIconPosition == "menu-right" %}
                {% if globalOption.templateCustomize.socialIconType == 'icon-fadein' %}
                    <ul class="icon-circle-fadein">
                        {% if globalOption.facebookPageUrl is not empty %}
                            <li>
                                <a target="_blank" href="{{ globalOption.facebookPageUrl }}" class="icon-button facebook"><i class="fa fa-facebook"></i><span></span></a>
                            </li>
                        {% endif %}
                        {% if globalOption.twitterUrl is not empty %}
                            <li>
                                <a target="_blank" href="{{ globalOption.twitterUrl }}" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
                            </li>
                        {% endif %}
                        {% if globalOption.youtube is not empty %}
                            <li>
                                <a target="_blank" href="{{ globalOption.youtube }}" class="icon-button youtube"><i class="fa fa-youtube"></i><span></span></a>
                            </li>
                        {% endif %}
                        {% if globalOption.linkedin is not empty %}
                            <li>
                                <a target="_blank" href="{{ globalOption.linkedin }}" class="icon-button linkedin"><i class="fa fa-linkedin"></i><span></span></a>
                            </li>
                        {% endif %}
                        {% if globalOption.instagramPageUrl is not empty %}
                            <li>
                                <a target="_blank" href="{{ globalOption.instagramPageUrl }}" class="icon-button instagram"><i class="fa fa-instagram"></i><span></span></a>
                            </li>
                        {% endif %}
                        {% if globalOption.googlePlus is not empty %}
                            <li>
                                <a target="_blank" href="{{ globalOption.googlePlus }}" class="icon-button google-plus"><i class="fa fa-google-plus"></i><span></span></a>
                            </li>
                        {% endif %}
                        {% if globalOption.skype is not empty %}
                            <li>
                                <a target="_blank" href="{{ globalOption.skype }}" class="icon-button skype"><i class="fa fa-skype"></i><span></span></a>
                            </li>
                        {% endif %}


                    </ul>
                {% elseif  globalOption.templateCustomize.socialIconType == 'icon-loop' %}
                    <ul class="icon-circle-fancy" id="fancy-circle">
                        {% if globalOption.facebookPageUrl is not empty %}
                            <li><div class="facebook"><a target="_blank" href="{{ globalOption.facebookPageUrl }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></div></li>
                        {% endif %}
                        {% if globalOption.twitterUrl is not empty %}
                            <li><div class="twitter"><a target="_blank" href="{{ globalOption.twitterUrl }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></div></li>
                        {% endif %}
                        {% if globalOption.youtube is not empty %}
                            <li><div class="youtube"><a target="_blank" href="{{ globalOption.youtube }}"><i class="fa fa-youtube" aria-hidden="true"></i></a></div></li>
                        {% endif %}
                        {% if globalOption.linkedin is not empty %}
                            <li><div class="linkedin"><a target="_blank" href="{{ globalOption.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div></li>
                        {% endif %}
                        {% if globalOption.instagramPageUrl is not empty %}
                            <li><div class="instagram"><a target="_blank" href="{{ globalOption.instagramPageUrl }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></div></li>
                        {% endif %}
                        {% if globalOption.googlePlus is not empty %}
                            <li><div class="google-plus"><a target="_blank" href="{{ globalOption.googlePlus }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div></li>
                        {% endif %}
                        {% if globalOption.skype is not empty %}
                            <li><div class="skype"><a target="_blank" href="{{ globalOption.skype }}"><i class="fa fa-skype" aria-hidden="true"></i></a></div></li>
                        {% endif %}

                    </ul>
                {% elseif  globalOption.templateCustomize.socialIconType == 'icon-square' %}
                    <ul class="icon-square">
                        {% if globalOption.facebookPageUrl is not empty %}
                            <li><a target="_blank" href="{{ globalOption.facebookPageUrl }}" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a></li>
                        {% endif %}
                        {% if globalOption.twitterUrl is not empty %}
                            <li><a target="_blank" href="{{ globalOption.facebookPageUrl }}" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a></li>
                        {% endif %}
                        {% if globalOption.youtube is not empty %}
                            <li><a target="_blank" href="{{ globalOption.youtube }}" class="btn-social btn-youtube"><i class="fa fa-youtube"></i></a></li>
                        {% endif %}
                        {% if globalOption.linkedin is not empty %}
                            <li><a target="_blank" href="{{ globalOption.linkedin }}" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a></li>
                        {% endif %}
                        {% if globalOption.instagramPageUrl is not empty %}
                            <li><a target="_blank" href="{{ globalOption.instagramPageUrl }}" class="btn-social btn-instagram"><i class="fa fa-instagram"></i></a></li>
                        {% endif %}
                        {% if globalOption.googlePlus is not empty %}
                            <li><a target="_blank" href="{{ globalOption.googlePlus }}" class="btn-social btn-google-plus"><i class="fa fa-google-plus"></i></a></li>
                        {% endif %}
                        {% if globalOption.skype is not empty %}
                            <li><a target="_blank" href="{{ globalOption.skype }}" class="btn-social btn-skype"><i class="fa fa-skype"></i></a></li>
                        {% endif %}

                    </ul>
                {% elseif  globalOption.templateCustomize.socialIconType == 'icon-circle' %}
                    <ul class="icon-circle">
                        {% if globalOption.facebookPageUrl is not empty %}
                            <li><a target="_blank" href="{{ globalOption.facebookPageUrl }}" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a></li>
                        {% endif %}
                        {% if globalOption.twitterUrl is not empty %}
                            <li><a target="_blank" href="{{ globalOption.facebookPageUrl }}" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a></li>
                        {% endif %}
                        {% if globalOption.youtube is not empty %}
                            <li><a target="_blank" href="{{ globalOption.youtube }}" class="btn-social btn-youtube"><i class="fa fa-youtube"></i></a></li>
                        {% endif %}
                        {% if globalOption.linkedin is not empty %}
                            <li><a target="_blank" href="{{ globalOption.linkedin }}" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a></li>
                        {% endif %}
                        {% if globalOption.instagramPageUrl is not empty %}
                            <li><a target="_blank" href="{{ globalOption.instagramPageUrl }}" class="btn-social btn-instagram"><i class="fa fa-instagram"></i></a></li>
                        {% endif %}
                        {% if globalOption.googlePlus is not empty %}
                            <li><a target="_blank" href="{{ globalOption.googlePlus }}" class="btn-social btn-google-plus"><i class="fa fa-google-plus"></i></a></li>
                        {% endif %}
                        {% if globalOption.skype is not empty %}
                            <li><a target="_blank" href="{{ globalOption.skype }}" class="btn-social btn-skype"><i class="fa fa-skype"></i></a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endif %}
            <ul>
                {% if globalOption.templateCustomize.showSearch == 1 %}
                    <li class="search"><a href="javascript:"><i class="fa fa-search"></i></a></li>
                {% endif %}
                {% if globalOption.templateCustomize.showLogin == 1 and app.user is empty %}
                    <li class=""><a href="javascript:" class="login-preview"><i class="fa fa-lock"></i></a></li>
                {% endif %}
                {% if globalOption.templateCustomize.contactForm == 1 %}
                    <li class="">
                        <a href="javascript:" class="sidebar-panel" data-action="toggle" data-side="right"><span><i class="fa fa-comments"></i></span></a>
                    </li>
                {% endif %}
{#                 {% if globalOption.templateCustomize.registrationForm == 1 %}
                    <li class="">
                        <a href="javascript:" class="registration-event" data-action="toggle" data-side="right"><span><i class="fa fa-sign-in"></i></span></a>
                    </li>
                {% endif %}#}
                {% if  app.user  %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i> {{ app.user }}
                        </a>
                        <ul class="dropdown-menu sign-list">
                            {% if is_granted('ROLE_CUSTOMER') %}
                            <li><a href="{{ path('domain_customer_homepage',{'shop':globalOption.slug}) }}"><i class="fa fa-home"></i> Dashboard</a></li>
                            {% else %}
                            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                            {% endif %}
                            <li><a href="{{ path('customerweb_profile',{'shop':globalOption.slug}) }}"><i class="fa fa-user"></i> My Profile</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if globalOption.templateCustomize.topTextPosition == "menu-right" and globalOption.templateCustomize.topBarContent is not empty %}
                {{  globalOption.templateCustomize.topBarContent|raw }}
            {% endif %}
            {% if globalOption.templateCustomize.showMobile == 1 and globalOption.templateCustomize.topIconPosition == 'menu-right' %}
                <div class="support-box">
                    <div class="support">For Support Call <span class="icon fa fa-headphones"></span></div>
                    <div class="support-number">{{ globalOption.mobile }}</div>
                </div>
            {% endif %}
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}">
                {% set width = globalOption.templateCustomize.logoWidth is not empty ? globalOption.templateCustomize.logoWidth :'120' %}
                {% set height = globalOption.templateCustomize.logoHeight is not empty ? globalOption.templateCustomize.logoHeight :'50' %}
                <img src="{{ image(globalOption.templateCustomize.webPath('logo')).resize(width,height) }}" alt="{{ globalOption.name }}" />
            </a>
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            {{ menuTree|raw }}
        </div><!-- /.navbar-collapse -->
    </div>
    <div class="top-search">
        <form action="{{ path(globalOption.subDomain ~ '_webservice_search') }}" class="" method="get">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search" name="keyword" id="keyword">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </form>
    </div>
</nav>
<div class="clearfix"></div>
<div class="pageheader-header dark"></div>
<div class="clearfix"></div>
{% if menu.featureWidgets is defined and menu.featureWidgets is not empty and menu.featureWidgetPositionExist('header') %}
    <section class="feature-widget-header-top" >
        {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'header'}) %}
    </section>
{% endif %}
<style>
    {% set menuHeight = height+20 %}
    .required{
        color:#ff2515;
    }
    .navbar-brand {
        height: auto;
    }
    #navbar-menu, .attr-nav{
        display: flex!important;
        align-items: center;
        height: {{ menuHeight }}px!important;
    }

    .paginate-form-group label, .form-group label {
        font-weight: normal;
        text-align: left;
        float: left;
        color: #000;
        font-size: 13px;
    }

</style>
