{% for category in widget.moduleCategory %}
    <div class="page-block page-carousel-{{ globalOption.templateCustomize.sliderPosition }}" >
        <div class="page-title">{{ category.name }}</div>
        <div class="row">
            {% for key,product in category.pages  %}
                <div class="col-md-3 grid">
                    <div class="our-portfolio" data-match-height="portfolio-list">
                        <img style="width: 100%!important;" src="{{ image(product.webPath).forceResize(400,250) }}" alt="">
                        <div class="team-content">
                            <h3 class="team-prof">
                                <a href="{{ path(globalOption.subDomain ~ '_webservice_module_page',{'subdomain': globalOption.subDomain,'module': product.module.slug,'slug':product.slug }) }}">{{ product.name }}</a>
                                {% if product.category is not empty %}<small>{{ product.category.name }}</small>{% endif %}
                            </h3>
                        </div>
                    </div>
                    <h4><a href="{{ path(globalOption.subDomain ~ '_webservice_module_page',{'subdomain': globalOption.subDomain,'module': product.module.slug,'slug':product.slug }) }}"><strong>{{ product.name }}</strong></a></h4>
                    <p>{% for cat in product.moduleCategory  %}
                            <a class="" href="{{ path(globalOption.subDomain ~ '_webservice_module_category',{'subdomain': globalOption.subDomain,'module': product.module.slug,'slug':cat.slug }) }}"> {{ cat.name }}</a>
                            {% if not loop.last %},{% endif %}
                        {% endfor %}
                    </p>
                    {% if product.price is not empty and product.price > 0 %}
                        <p class="text-left">{% if product.pricePrefix is not empty %}{{ product.pricePrefix.currency }}. {% endif %}<strong>{{ product.price }}</strong></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
<style>
    .our-team{
        text-align: center;
    }
    .pic{
        position: relative;
        overflow: hidden;
    }
    .pic img{
        width: 100%;
        height: auto;
    }
    .social_media_team{
        position: absolute;
        top:100%;
        width: 100%;
        height: 100%;
        background-color:rgba(222, 79, 0, 0.8);
        transition: all 0.35s ease 0s;
    }
    .team_social{
        list-style: none;
        padding: 0;
        height: 100%;
        position: relative;
        top:40%;
    }
    .team_social > li{
        display: inline-block;
        margin: 0 5px 5px 0;
    }
    .team_social > li > a{
        width: 45px;
        height: 45px;
        line-height: 45px;
        border: 1px solid #fff;
        display: block;
        color:#fff;
        font-size: 18px;
        transition: all 1.3s ease 0s;
    }
    .team_social > li > a:hover{
        background: #fff;
        color:#de4f00;
        transition: all 1.3s ease 0s;
    }
    .team-prof{
        margin-top: 10px;
    }
    .post-title > a{
        text-transform: capitalize;
        color:#424242;
        transition: all 0.2s ease 0s;
    }
    .post-title > a:hover{
        text-decoration: none;
        color:#de4f00;
    }
    .post{
        color:#de4f00;
        font-size: 18px;
    }
    .pic:hover .social_media_team{
        top:0;
    }
    @media screen and (max-width: 990px){
        .our-team{
            margin-bottom: 30px;
        }
    }
</style>