{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    View Lists
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('news') }}">News</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-append span11">
                            {%  set keyword = app.request.query.get('keyword') %}
                            {%  set direction = app.request.query.get('direction') %}
                            {%  set sort = app.request.query.get('sort') %}
                            <input class="m-wrap span12" name="keyword" id="search" value="{{ keyword }}" placeholder="Enter search keyword"  type="text">
                            <div class="btn-group">
                                <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Basic Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('news_new') }}"><i class="icon-plus-sign"></i>&nbsp;Create</a></li>
                                    <li><a href="{{ path('news') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                          <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <td>&nbsp;&nbsp;<i class="icon-list"></i></td>
                                    <th class="numeric" >Name</th>
                                    <th class="numeric" >Author</th>
                                    <th class="numeric" >Category</th>
                                    <th class="numeric" >Date</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    <tr>
                                        <td><span class="badge badge-warning toggle badge-custom" id="{{ entity.id  }}" ><span>[+]</span></span></td>
                                        <td class="numeric" ><a href="{{ path('news_edit',{'id': entity.id })}}">{{ entity.name }}</a></td>
                                        <td class="numeric" >{{ entity.authorName }}</td>
                                        <td class="numeric" >
                                            {% if entity.moduleCategory is defined and entity.moduleCategory is not empty %}
                                                <ul>
                                                    {% for  cat in entity.moduleCategory %}
                                                    <li>{{ cat.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                                        <td class="numeric" >
                                            {% if( entity.status == 1) %}
                                                <a class="btn mini green-stripe btn-action" href="{{ path('news_status', { 'id': entity.id}) }}"><span class="badge badge-success">x</span></a>
                                            {% else %}
                                                <a class="btn mini green-stripe btn-action" href="{{ path('news_status', { 'id': entity.id}) }}"><span class="badge badge-important">a</span>    </a>
                                            {% endif %}
                                            <a class="btn mini green-stripe btn-action" href="{{ path('news_edit', { 'id': entity.id }) }}">Edit</a>
                                            <a class="btn mini blue-stripe btn-action" href="{{ path('news_show', { 'id': entity.id }) }}">View</a>
                                            <a class="btn mini red-stripe btn-action confirm" title="Are you sure went to delete ?" href="{{ path('news_delete', { 'id': entity.id }) }}" >Delete</a>
                                        </td>
                                    </tr>
                                    <tr id="show-{{ entity.id }}" class="showing-overview">
                                        <td colspan="6">
                                            <table class="inner-table">
                                                <tr><td>Content</td><td>{{ entity.content|raw }}</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
