{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                   Manage Marketing Executive
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('hms_marketing_executive') }}">Marketing Executive</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Marketing Executive</div>
                        <div class="actions">
                            <a class="btn red" href="{{ path('hms_marketing_executive_new') }}"><i class="icon-plus-sign"></i> Add Marketing Executive</a>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content" id="datatable">
                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Code</th>
                                    <th class="numeric" >Name</th>
                                    <th class="numeric" >Designation</th>
                                    <th class="numeric" >Mobile</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if entities is not empty %}
                                {% for entity in entities %}
                                    <tr>
                                        <td class="numeric" >{{ entity.particularCode }}</td>
                                        <td class="numeric" ><a href="{{ path('hms_marketing_executive_edit',{'id': entity.id })}}">{{ entity.marketingExecutive.profile.name }}</a></td>
                                        <td class="numeric" >{{ entity.marketingExecutive.profile.designation.name }}</td>
                                        <td class="numeric" >{{ entity.marketingExecutive.profile.mobile }}</td>
                                        <td class="numeric" >
                                            {% if( entity.status == 1) %}
                                                <a class="btn mini blue btn-action" href="{{ path('hms_marketing_executive_status', { 'id': entity.id}) }}"><i class="icon-ok"></i></a>
                                            {% else %}
                                                <a class="btn mini red btn-action" href="{{ path('hms_marketing_executive_status', { 'id': entity.id}) }}">x</a>
                                            {% endif %}
                                            <a href="{{ path('hms_marketing_executive_edit', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-edit"></i></a>
                                            <a href="{{ path('hms_marketing_executive_delete', { 'id': entity.id }) }}" class="btn red mini" ><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
