{% extends '::base-report.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center"><h2>{{ option.name }}</h2>
            <p>Name of Report: User base Sales & Collection</p>
        </div>
        <div class="col-md-4 text-right">Printed: {{ "now"|date('d-m-Y') }}</div>
    </div>
    <div class="row">
        <div class="col-md-2  text-right">
            <p>&nbsp;</p>
            <p><strong>Start Date:&nbsp;</strong></p>
        </div>
        <div class="col-md-2  text-left">
            <p>&nbsp;</p>
            <p><strong>{% if data['startDate'] is defined and data['startDate'] is not empty %}{{ data['startDate']|date('d-m-Y') }}{% endif %}</strong></p>
        </div>
        <div class="col-md-2  text-right">
            <p>&nbsp;</p>
            <p><strong>End Date:&nbsp;</strong></p>
        </div>
        <div class="col-md-2  text-left">
            <p>&nbsp;</p>
            <p><strong>{% if data['endDate'] is defined and data['endDate'] is not empty %}{{ data['endDate']|date('d-m-Y') }}{% endif %}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table" border="1">
                <tbody><tr>
                    <th>SI.</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th class="text-right">Sales</th>
                    <th class="text-right">Receive</th>
                    <th class="text-right">Balance</th>
                </tr>
                <tbody>
                {% set balance = 0 %}
                {% for entity in entities %}
                    {% set balance = balance + entity.balance %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="numeric" >{{ entity.name }}</td>
                        <td class="numeric" >{{ entity.mobile }}</td>
                        <td class="text-right" >{{ entity.debit|number_format(2) }}</td>
                        <td class="text-right" >{{ entity.credit|number_format(2) }}</td>
                        <td class="text-right" >{{ entity.balance|number_format(2) }}</td>
                    </tr
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="text-right" colspan="5">Grand Balance</th>
                    <th class="text-right">{{ balance|number_format(2) }}</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}


