<!DOCTYPE html>
<html lang="en">
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <title>{{ globalOption.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <meta property="og:site_name" content="{{ globalOption.name }}">
    <meta property="og:title" content="{{ globalOption.name }}">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}"><!-- link to image for socio -->
    <meta property="og:url" content="{{ globalOption.domain }}">
    <link rel="shortcut icon" href="favicon.ico">

    {% stylesheets filter='cssrewrite'
    'assets/template/mobile/default/css/jquery.mmenu.all.css'
    'assets/bindu/3rd/select2/select2.css'
    'assets/template/mobile/default/css/style.css'
    'assets/template/mobile/default/css/camera.css'
    'assets/template/mobile/default/css/photoswipe/photoswipe.css'
    'assets/frontend/common/css/hover-effects.css'
    'assets/frontend/common/css/accordion.css'
    'assets/bindu/3rd/tooltip/css/iml-styles.css'
    'assets/module/accordion/css/accordion.css'
    'assets/module/remodal/css/jquery.remodal.css'
    'assets/bindu/3rd/simple-editor/css/jquery.classyedit.css'
    'assets/bindu/3rd/rcswitcher/css/rcswitcher.min.css'
    'assets/bindu/3rd/time-picker/css/jquery.ptTimeSelect.css'
    'assets/frontend/common/css/common.css'
    'assets/module/capSlide/css/jquery.capSlide.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">

</head>
<body class="o-page o-home p-blog">
<div id="page">
<!-- Header -->
<div id="header">
    <div class="header-content">
        <a class="menu-btn" href="#menu"></a>
        <a href="javascript:history.back();" class="p-link-back"><i class="fa fa-arrow-left"></i></a>
    </div>
</div>
<nav id="menu">
    {{ menuTree|raw }}
</nav>
<!-- Content -->
