{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN account_sales HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="account_sales-title">
                    Customer Payment
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('account_sales') }}">Customer Payment</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Customer Payment new/edit</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END account_sales HEADER-->
        <!-- BEGIN account_sales CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Sales Invoice Information # {{ entity.sales.invoice }}</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('account_sales_new') }}"><i class="icon-plus-sign"></i>&nbsp; New Receive</a>
                                <a class="btn black" href="{{ path('account_sales') }}"><i class="icon-th-list"></i>&nbsp;Lists</a>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            {% if entity.sales is not empty %}

                                <div class="row-fluid">

                                    <div class="span4">
                                        <h4>About:</h4>
                                        <ul class="unstyled">
                                            {% if entity.sales.customer is not empty %}<li><strong>Customer #:</strong>&nbsp;{{ entity.sales.customer.name }}</li>{% endif %}
                                            {% if entity.sales.customer is not empty %}<li><strong>Mobile #:</strong>&nbsp;{{ entity.sales.customer.mobile }}</li>{% endif %}
                                            {% if entity.sales.customer is not empty %}<li><strong>Address #:</strong>&nbsp;{{ entity.sales.customer.address }}</li>{% endif %}
                                            {% if entity.sales.customer is not empty and entity.sales.customer.location is not empty   %}<li><strong>Location #:</strong>&nbsp;{{ entity.sales.customer.location.name }}, {{ entity.sales.customer.location.parent.name }}</li>{% endif %}
                                            <li><strong>Created:</strong>&nbsp;{{ entity.sales.created|date('d-m-Y') }}</li>
                                        </ul>
                                    </div>

                                    <div class="span4 invoice-payment">
                                        <h4>Payment Details:</h4>
                                        <ul class="unstyled">
                                            <li><strong>Total BDT:</strong>&nbsp;{{ entity.sales.total|number_format() }}</li>
                                            <li><strong>Payment BDT:</strong>&nbsp;{{ entity.sales.payment|number_format() }}</li>
                                            {% if entity.sales.discount %}<li><strong>Discount BDT:</strong>&nbsp;{{ entity.sales.discount|number_format() }}</li>{% endif %}
                                            {% if entity.sales.due %}<li><strong>Due BDT:</strong>&nbsp;{{ entity.sales.due|number_format() }}</li>{% endif %}
                                            <li><strong>Payment status</strong>&nbsp;{{  entity.sales.paymentStatus|capitalize }}</li>
                                        </ul>
                                    </div>
                                    <div class="span4">
                                        <h4>Payment Method:</h4>
                                        <ul class="unstyled">
                                            <li><strong>Invice no:</strong>&nbsp;{{ entity.sales.invoice }}</li>
                                            <li><strong>Payment Method:</strong>&nbsp;{{ entity.sales.paymentMethod }}</li>
                                            {% if entity.sales.accountMobileBank is not empty %}<li><strong>Received Mobile:</strong>&nbsp;{{ entity.sales.accountMobileBank.name }}</li>{% endif %}
                                            {% if entity.sales.paymentMobile is not empty %}<li><strong>Mobile/Transaction:</strong>&nbsp;{{ entity.sales.paymentMobile }}/{{ entity.sales.transactionId }}</li>{% endif %}
                                            {% if entity.sales.accountBank is not empty %}<li><strong>Received Bank:</strong>&nbsp;{{ entity.sales.accountBank.name }}</li>{% endif %}
                                            {% if entity.sales.paymentCard is not empty %}<li><strong>Payment Card/No:</strong>&nbsp;{{ entity.sales.paymentCard.name }}/{{ entity.sales.cardNo }}</li>{% endif %}
                                            {% if entity.sales.bank is not empty %}<li><strong>Bank:</strong>&nbsp;{{ entity.sales.bank.name  }}</li>{% endif %}
                                            <li><strong>Sales By:</strong>&nbsp;{% if entity.sales.salesBy is defined and entity.sales.salesBy is not empty %}{{ entity.sales.salesBy }}{% endif %}</li>
                                            <li><strong>Received By:</strong>&nbsp;{% if entity.sales.createdBy is defined and entity.sales.createdBy is not empty %}{{ entity.sales.createdBy }}{% endif %}</li>
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Customer Payment Information</div>
                                </div>
                            </div>
                            <br/>
                            <div class="clearfix"></div>
                            {% include('flash-message.html.twig')  %}
                            <div class="clearfix"></div>
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}

                            <div class="row-fluid">
                                <div class="span8">
                                    <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="paymentMethod">Transaction method</label>
                                            <div class="controls">
                                                {{ form_widget(form.transactionMethod) }}
                                                {{ form_errors(form.transactionMethod) }}
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                    <div class="row-fluid bankHide">
                                        <div class="span12">
                                            <div class="control-group ">
                                                <label class="control-label" for="accountBank">
                                                    {{ form_widget(form.accountBank) }}
                                                    {{ form_errors(form.accountBank) }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid mobileBankHide">
                                        <div class="span12">
                                            <div class="control-group ">
                                                <label class="control-label" for="accountBkash">
                                                    {{ form_widget(form.accountMobileBank) }}
                                                    {{ form_errors(form.accountMobileBank) }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="amount">Received Amount</label>
                                                <div class="controls">
                                                    {{ form_widget(form.amount) }}
                                                    {{ form_errors(form.amount) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Remark</label>
                                        <div class="controls">
                                            {{ form_widget(form.remark) }}
                                            {{ form_errors(form.remark) }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--/span-->
                            <div class="form-actions portlet box grey">
                                <div class="pull-right">
                                    <button type="submit" class="btn green"><i class="icon-ok"></i>&nbsp;Received</button>
                                    {% if(entity.id > 0 ) %}
                                        <a href="{{ path('account_sales_delete',{'id': entity.id} ) }}"  class="btn red confirm" title="Are you sure went to delete?"><i class="icon-remove"></i> Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/common.js'
    '@AccountingBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    CommonJs();
    AccountingApproveProcess();
{% endblock %}