<link rel="stylesheet" href="{{ asset('assets/css/print-dms.css') }}"/>
<style>

    .table{
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
        font-family:tahoma, geneva, sans-serif;
    }
    .table tr.head th, .table tr.head td{
        font-size: 15px;
        background: #333;
        color: #fff;
        height: 40px;
    }

    .table tr.sub-head th, .table tr.sub-head td{
        font-size: 15px;
        background: #666;
        color: #fff;
        height: 40px;
    }

    .table th, .table td{
        border: 1px solid #e5e5e5;
        text-align: left;
        padding-left: 20px;
        height: 30px;
        line-height: 30px;

    }
    h3 {
        font-size: 24px;
        display: block;
        padding: 0;
        margin: 0;
        line-height: 45px;
        height: 45px;
    }

    .report-title-box{
        height: 40px;
        line-height: 40px;
        background-color: #f1f4f8;
    }

    .report-title{
        font-size: 20px;
    }

    .pull-center{
        background: #e5e5e5;
        text-align: center!important;

    }
    .pull-left{
        text-align: left!important;
        display: block;
        padding-left: 20px;
        float: left;
    }
    .pull-right{
        text-align: right!important;
        display: block;
        padding-right: 20px;
        float: right;
    }

</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="portlet box green">
                <div class="portlet-body form">
                    <div class="report-title-box">
                        <div class="pull-left report-title">Cash Overview: {{ searchForm.startDate is defined ? searchForm.startDate :'' }} To {{ searchForm.startDate is defined ? searchForm.startDate :'' }}</div><div class="pull-right">Print:{{ ("now")|date('d-F-Y') }}</div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="portlet-body form">
                        <div class="clearfix">&nbsp;</div>
                        <table class="table table-bordered table-striped table-condensed flip-content ">
                            <thead class="flip-content ">
                            <tr class="head-blue">
                                <th class="numeric">Cash Account</th>
                                <th class="numeric" >Opening Balance</th>
                                <th class="numeric" >Receive</th>
                                <th class="numeric" >Payment</th>
                                <th class="numeric" >Closing Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {#{{ dump(transactionCashOverviews.transactionBalances[1][0]['debit']) }}#}
                            {% set totalOpen = 0 %}
                            {% set totalDebit = 0 %}
                            {% set totalCredit = 0 %}
                            {% for mode in transactionCashOverviews.result %}
                                {% set open = transactionCashOverviews.openingBalance[mode.transactionId]|default(0) %}
                                {% set debit = transactionCashOverviews.transactionBalances[mode.transactionId][loop.index0].debit|default(0)  %}
                                {% set credit = transactionCashOverviews.transactionBalances[mode.transactionId][loop.index0].credit|default(0)  %}
                                {% set totalOpen = totalOpen + open %}
                                {% set totalDebit = totalDebit + debit %}
                                {% set totalCredit = totalCredit + credit %}

                                <tr>
                                    <th class="numeric">{{ mode.transactionName }}</th>
                                    <th class="numeric">{{ open|number_format }}</th>
                                    <th class="numeric">{{ debit|number_format }}</th>
                                    <th class="numeric">{{ credit|number_format }}</th>
                                    <th class="numeric" >{{ ((open + debit)-credit)|number_format }}</th>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th class="numeric">Total Amount</th>
                                <th class="numeric">{{ totalOpen|number_format }}</th>
                                <th class="numeric">{{ totalDebit|number_format }}</th>
                                <th class="numeric">{{ totalCredit|number_format }}</th>
                                <th class="numeric" >{{ ((totalOpen + totalDebit)-totalCredit)|number_format }}</th>
                            </tr>
                            </tbody>

                        </table>
                        <div class="clearfix">&nbsp;</div>
                        <div class="report-title-box">
                            <div class="pull-left report-title">Bank Wise Cash Overview: </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <table class="table table-bordered tatransactionCashOverviewsble-striped table-condensed flip-content ">
                            <thead class="flip-content ">
                            <tr class="head-green">
                                <th class="numeric">Bank Account</th>
                                <th class="numeric" >Opening Balance</th>
                                <th class="numeric" >Receive</th>
                                <th class="numeric" >Payment</th>
                                <th class="numeric" >Closing Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set sumBank = 0 %}
                            {% for row in transactionBankCashOverviews.result %}
                                <tr>
                                    {% set closing = (transactionBankCashOverviews.openingBalance[row.accountId]|default + row.debit - row.credit) %}
                                    {% set sumBank = sumBank + closing %}
                                    <th >{{ row.bankName }}</th>
                                    <th class="numeric">{{ transactionBankCashOverviews.openingBalance[row.accountId]|default|number_format }}</th>
                                    <td class="numeric" >{{ row.debit|number_format }}</td>
                                    <td class="numeric" >{{ row.credit|number_format }}</td>
                                    <th class="numeric" >{{ closing|number_format }}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tr>
                                <th class="numeric" colspan="4"><span class="pull-right">Grand Total</span></th>
                                <td class="numeric" ><strong>{{ sumBank|number_format }}</strong></td>
                            </tr>
                        </table>
                        <div class="clearfix">&nbsp;</div>
                        <div class="report-title-box">
                            <div class="pull-left report-title">Mobile Bank wise Cash Overview</div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <table class="table table-bordered table-striped table-condensed flip-content ">
                            <thead class="flip-content ">
                            <tr class="head-grey">
                                <th>Mobile Account</th>
                                <th class="numeric" >Opening Balance</th>
                                <th class="" >Receive</th>
                                <th class="" >Payment</th>
                                <th class="" >Closing Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set sumTotal = 0 %}
                            {% for row in transactionMobileBankCashOverviews.result %}
                                <tr>
                                    {% set closing = (transactionMobileBankCashOverviews.openingBalance[row.accountId]|default + row.debit - row.credit) %}
                                    {% set sumTotal = sumTotal + closing %}
                                    <th  >{{ row.mobileBankName }}</th>
                                    <th class="numeric">{{ transactionMobileBankCashOverviews.openingBalance[row.accountId]|default|number_format }}</th>
                                    <td class="numeric" >{{ row.debit|number_format }}</td>
                                    <td class="numeric" >{{ row.credit|number_format }}</td>
                                    <th class="numeric" >{{ closing|number_format }}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tr>
                                <th class="numeric" colspan="4"><span class="pull-right">Grand Total</span></th>
                                <td class="numeric" ><strong>{{ sumTotal|number_format }}</strong></td>
                            </tr>
                        </table>
                        <div class="clearfix">&nbsp;</div>
                        <div class="report-title-box">
                            <div class="pull-left report-title">Module wise Cash Overview</div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <table class="table table-bordered table-striped table-condensed flip-content ">
                            <thead class="flip-content ">
                            <tr class="head-yellow">
                                <th>Account Head</th>
                                <th class="numeric"  >Receive</th>
                                <th class="numeric"  >Payment</th>
                                <th class="numeric"  >Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set sumCash = 0 %}
                            {% for row in transactionAccountHeadCashOverviews %}
                                <tr>
                                    {% set sumCash = sumCash + (row.debit-row.credit) %}
                                    <th >{{ row.name }}</th>
                                    <td class="numeric"  >{{ row.debit|number_format }}</td>
                                    <td cclass="numeric"  >{{ row.credit|number_format }}</td>
                                    <td class="numeric"  >{{ (row.debit-row.credit)|number_format }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tr>
                                <th class="numeric" colspan="3"><span class="pull-right">Grand Total</span></th>
                                <td class="numeric" ><strong>{{ sumCash|number_format }}</strong></td>
                            </tr>
                        </table>
                        <div class="clearfix">&nbsp;</div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>




