{% extends ':frontend/template:ecommerce-base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home"><a href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="active"><a href="javascript:void(0);">Contact Us</a></li>
            </ul>
        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-top')  %}
            {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'body-top'}) %}
        {% endif %}
        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-top') %}
            <div class="container">
                {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'body-top'}) %}
            </div>
        {% endif %}
    </section>
    <div class="clearfix"></div>
    <section class="contain-section">
        <div class="container">
            <div class="row">
                {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'left' and menu.featureWidgetExist == 'ture' %}
                    <div class="col-md-3"  >
                        {% if globalOption.templateCustomize.sidebarTitle is not empty %}
                            <div class="page-title-bar">
                                <div class="btn-group pull-left">
                                    <div class="page-title"><span class="glyphicon glyphicon-tag"></span>&nbsp;{{ globalOption.templateCustomize.sidebarTitle }}</div>
                                </div>
                            </div>
                        {% endif %}
                        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty %}
                            {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'sidebar-top'}) %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="{% if globalOption.templateCustomize.showSidebar == 1 and menu.featureWidgetExist == 'true'  %} col-md-9 {% else %} col-md-12 {% endif %}"  >
                    <div class="page-title-bar row">
                        <div class="col-md-12">
                            <div class="page-title"><span class="glyphicon glyphicon-home"></span>&nbsp;Contact Us
                                <div class="pull-right">
                                    <ul class="mbm_social">
                                        <li><a class="social-facebook" target="_blank" href="https://www.facebook.com/share.php?u={{ app.request.getSchemeAndHttpHost() }}/{{ menu.slug }}&title={{ page.name }}">
                                                <i class="fa fa-facebook"></i>
                                                <div class="tooltip"><span>facebook</span></div>
                                            </a>
                                        </li>
                                        <li><a class="social-linkedin" target="_blank" href="//www.linkedin.com/shareArticle?mini=true&url={{ app.request.getSchemeAndHttpHost() }}/{{ menu.slug }}">
                                                <i class="fa  fa-linkedin"></i>
                                                <div class="tooltip"><span>LinkedIn</span></div>
                                            </a>
                                        </li>
                                        <li><a class="social-google-plus" target="_blank" href="//plus.google.com/share?url={{ app.request.getSchemeAndHttpHost() }}/{{menu.slug }}">
                                                <i class="fa fa-google-plus"></i>
                                                <div class="tooltip"><span>Google</span></div>
                                            </a>
                                        </li>
                                        <li><a class="social-twitter" target="_blank" href="//twitter.com/share?url={{ app.request.getSchemeAndHttpHost() }}/{{ menu.slug }}">
                                                <i class="fa fa-twitter"></i>
                                                <div class="tooltip"><span>Twitter</span></div>
                                            </a>
                                        </li>
                                        <li><a class="social-instagram" target="_blank" href="//instagram.com/share?url={{ app.request.getSchemeAndHttpHost() }}/{{ menu.slug }}">
                                                <i class="fa  fa-instagram"></i>
                                                <div class="tooltip"><span>Instagram</span></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <strong><i class="fa fa-home"></i>&nbsp;Office</strong><br>
                                {{ page.address1 }}
                                {% if page.location is defined and page.location %}
                                    ,{{ page.location.name }}
                                {% endif %}
                                {% if page.location is defined and page.location %}
                                ,{{ page.location.parent.name }} {% endif %}-{{ page.postalCode }}<br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><i class="fa fa-hand-o-right"></i>&nbsp;Communication</strong><br>
                                {% if page.startHour %}
                                    <strong><i class="fa fa-clock-o"></i></strong>&nbsp;{{ page.startHour }} To {{ page.endHour }}
                                {% endif %}
                                {% if page.weeklyOffDay %}
                                    <br/>
                                    <strong><i class="fa fa-power-off"></i></strong>&nbsp;{% for day in page.weeklyOffDay %}{{ day }}{{ loop.last ? '' : ', ' }}{% endfor %}<br>
                                {% endif %}
                                <strong><i class="fa fa-mobile"></i></strong>&nbsp;<a href="tel:+ 088 {{ globalOption.mobile }}" class="contact-call">+ 088 {{ globalOption.mobile }}</a></br>
                                <strong><i class="fa fa-envelope"></i></strong>&nbsp;<a href="mailto:{{ globalOption.email }}" class="contact-email">{{ globalOption.email }}</a></br>
                                <strong><i class="fa fa-fax"></i></strong>&nbsp;{% if(page.fax) %}<a href="javascript:">Fax: + 02{{ page.fax|raw }}</a>{% endif %}

                            </div>
                        </div>
                        <hr>
                        {% if(page.isContactForm == false) %}
                            <div class="row">
                                <div class="col-md-12">
                                    <strong><i class="fa fa-user"></i>&nbsp;Contact Information</strong><br>
                                    <em>{{ page.contactPerson|raw }}</em><br/>
                                    {% if page.designation %}{{ page.designation }}{% endif %}</br>
                                    {% if(page.additionalPhone) %}<a href="javascript:" ><strong><i class="fa fa-phone"></i></strong>&nbsp;{{ page.additionalPhone|raw }}</a></br>{% endif %}
                                    {% if(page.additionalEmail) %}<a href="javascript:" ><strong><i class="fa fa-envelope"></i></strong>&nbsp;{{ page.additionalEmail|raw }}</a></br>{% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well well-sm">
                                        <form id="contactUs" name="contactUs" method="post" action="{{ path(globalOption.subDomain ~ '_webservice_email_receive') }}">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="name">Name</label>
                                                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name or company"  />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="email">Mobile no</label>
                                                        <input type="text" class="form-control mobile" id="mobile" name="mobile" placeholder="Enter mobile no" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="name">Email Address</label>
                                                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter valid email address ie. user@domain.com"  />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="name">Message</label>
                                                        <textarea name="message" id="message"  class="form-control" rows="3" cols="25"  placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12" style="margin-bottom:15px">
                                                    <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
                                                    <div class="g-recaptcha" data-sitekey="6LdSLy8UAAAAAO3p8W8JcrplH4x-bcXFOOJ9ZJhL"></div>
                                                    {#<div id="captcha"></div>#}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div id="contactMsg" class="msg-area alert-success" role="alert">
                                                        Thanks! receive your msg.
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="submit" class="btn btn-info pull-right" id="contactForm" ><i class="fa fa-send"></i> Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            {% if page.latitude is not empty and page.longitude is not empty %}
                                <div id="gmap_canvas" class="gmap">
                                    <div class="Lat">{{ page.latitude }}</div>
                                    <div class="Lng">{{ page.longitude }}</div>
                                    <div class="imgMap">{{ asset('assets/img/placeholder.png') }}</div>
                                    <div class="infoWindow">
                                        <span>{% if page.address1 is not empty %}
                                                <i class="fa fa-home"></i>&nbsp;{{ page.address1 }}<br>
                                                {% if page.thana is defined and page.thana %}
                                                    {{ page.thana.name }},
                                                {% endif %}
                                                {% if page.district is defined and page.district %}
                                                    {{ page.district.name }} {% endif %}-{{ page.postalCode }}
                                            {% endif %}
                                            {% if page.startHour %}
                                                <br><i class="fa fa-clock-o"></i>&nbsp;<strong>{{ page.startHour }} To {{ page.endHour }}</strong>
                                            {% endif %}
                                            <br>
                                            <i class="fa fa-mobile-phone"></i>&nbsp;+ 088&nbsp;<a href="tel:+ 088 {{ globalOption.mobile }}" class="contact-call">{{ globalOption.mobile }}</a>
                                            <i class="fa fa-map-pin"></i>&nbsp;<a target="_blank" href="https://maps.google.com?saddr={{ page.address1 }}&daddr={{ page.latitude }},{{ page.longitude }}">Direction</a>
                                        </span>
                                    </div>
                                    <div class="mapCenter">true</div>
                                    <div class="Title">{{ globalOption.name }}</div>
                                    <div class="infoWidth">250</div>
                                    <div class="mapZoom">15</div>
                                    <div class="scrollwheel">true</div>
                                    <div class="disableDoubleClickZoom">false</div>
                                    <div class="fullscreenControl">true</div>
                                    <div class="disableOpenURL">false</div>
                                    <div class="OpenURL">View full map</div>
                                    <div class="draggable">true</div>
                                    <div class="disableDefaultUI">false</div>
                                </div>
                            {% elseif page.googleMap is not empty %}
                                {{ page.googleMap|raw }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix"><br/></div>
                </div>
                {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'right' and menu.featureWidgetExist == 'true'  %}
                    <div class="col-md-3">
                        {% if globalOption.templateCustomize.sidebarTitle is not empty %}
                            <div class="page-title-bar row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-left">
                                        <div class="page-title"><span class="glyphicon glyphicon-tag"></span>&nbsp;{{ globalOption.templateCustomize.sidebarTitle }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty %}
                            {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'sidebar-top'}) %}
                        {% endif %}
                        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty %}
                            {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'sidebar-bottom'}) %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-bottom')  %}
            {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'body-bottom'}) %}
        {% endif %}
        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-bottom') %}
            <div class="container">
                {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu': menu.id,'position':'body-bottom'}) %}
            </div>
        {% endif %}
    </section>
    <div class="clearfix"></div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/common.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/desktop/js/page.js'
    '@FrontendBundle/Resources/public/template/desktop/js/headerfooter.js'
    '@FrontendBundle/Resources/public/template/desktop/js/sidebar.js'
    '@FrontendBundle/Resources/public/template/desktop/js/product.js'
    '@FrontendBundle/Resources/public/template/desktop/js/e-commerce.js'
    '@FrontendBundle/Resources/public/js/kmaps.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('#gmap_canvas').kmaps();
    sliderPageOwl(4);
{% endblock %}

