{% extends ':frontend/template:ecommerce-base.html.twig' %}
{% block body %}
    <div class="clearfix"></div>
    <section id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home"><a href="{{ path(globalOption.subDomain ~ '_ecommercesubdomain') }}"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="{{ path(globalOption.subDomain ~ '_webservice_module',{'subdomain':globalOption.subDomain,'module': menu.module.slug }) }}"> {{ menu.module.name }}</a></li>
                <li class="active"><a href="javascript:void(0);">{{ page.name }}</a></li>
            </ul>
        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="clearfix"></div>
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-top')  %}
            {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'body-top'}) %}
        {% endif %}
        <div class="clearfix"></div>
        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty  and menu.getFeatureWidgetPositionExist('body-top')  %}
            <div class="container">
                {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'body-top'}) %}
            </div>
        {% endif %}
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <section class="contain-section">
        <div class="container">
            <div class="row">
                {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'left' and menu.featureWidgetExist == 'true' %}
                    <div class="col-md-3"  >
                        {% if globalOption.templateCustomize.sidebarTitle is not empty %}
                            <div class="page-title-bar">
                                <div class="col-md-12">
                                    <div class="btn-group pull-left">
                                        <div class="page-title"><span class="glyphicon glyphicon-tag"></span>&nbsp;{{ globalOption.templateCustomize.sidebarTitle }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty %}
                            {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'sidebar-top'}) %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="{% if globalOption.templateCustomize.showSidebar == 1 and menu.featureWidgetExist == 'true'  %} col-md-9 {% else %}col-md-12 {% endif %}"  >
                    {% if menu.featureWidgets is defined and menu.featureWidgets is not empty %}
                        {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'body-top'}) %}
                    {% endif %}
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12" >
                            {% if ( menu.module.slug == 'news') %}
                                {{ include('@Frontend/Template/Desktop/ModuleDetails/news.html.twig')}}
                            {% elseif( menu.module.slug == 'blog' ) %}
                                {{ include('@Frontend/Template/Desktop/ModuleDetails/blog.html.twig')}}
                            {% elseif( menu.module.slug == 'testimonial' ) %}
                                {{ include('@Frontend/Template/Desktop/ModuleDetails/testimonial.html.twig')}}
                            {% elseif( menu.module.slug == 'branch' ) %}
                                {{ include('@Frontend/Template/Desktop/ModuleDetails/branch.html.twig')}}
                            {% elseif( menu.module.slug == 'event' ) %}
                                {{ include('@Frontend/Template/Desktop/ModuleDetails/blackout.html.twig')}}
                            {% elseif( menu.module.slug == 'noticeboard' ) %}
                                {{ include('@Frontend/Template/Desktop/ModuleDetails/noticeboard.html.twig')}}
                            {% elseif( menu.module.slug == 'service' ) %}
                                {{ include('@Frontend/Template/Desktop/ModuleDetails/service.html.twig')}}
                            {% elseif( menu.module.slug == 'team' ) %}
                                {{ include('@Frontend/Template/Desktop/ModuleDetails/team.html.twig')}}
                            {% elseif( menu.module.slug == 'syndicate' ) %}
                                {{ include('@Frontend/Template/Desktop/ModuleDetails/syndicate.html.twig')}}
                            {% else %}
                                {{ include('@Frontend/Template/Desktop/Module/default.html.twig')}}
                            {% endif %}

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    {% if menu.featureWidgets is defined and menu.featureWidgets is not empty %}
                        {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'body-bottom'}) %}
                    {% endif %}

                </div>
                {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.templateCustomize.sidebarPosition == 'right' and menu.featureWidgetExist == 'true' %}
                    <div class="col-md-3">
                        {% if globalOption.templateCustomize.sidebarTitle is not empty %}
                            <div class="page-title-bar row">
                                <div class="col-md-12">
                                    <div class="btn-group pull-left">
                                        <div class="page-title"><span class="glyphicon glyphicon-tag"></span>&nbsp;{{ globalOption.templateCustomize.sidebarTitle }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty %}
                            {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'sidebar-top'}) %}
                        {% endif %}
                        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty %}
                            {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'sidebar-bottom'}) %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="clearfix"></div>
        {% if menu.featureWidgets is defined and menu.featureWidgets is not empty  and menu.getFeatureWidgetPositionExist('body-bottom')  %}
            <div class="container">
                {% render controller("FrontendBundle:WebsiteWidget:featureWidget",{'globalOption':globalOption.id, 'menu':menu.id,'position':'body-bottom'}) %}
            </div>
        {% endif %}
        <div class="clearfix"></div>
        {% if globalOption.featureWidgets is defined and globalOption.featureWidgets is not empty and menu.getFeatureWidgetPositionExist('body-bottom')  %}
            {% render controller("FrontendBundle:EcommerceWidget:featureTemplateWidget",{'globalOption':globalOption.id,'menu': menu.id,'position':'body-bottom'}) %}
        {% endif %}
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/desktop/css/sidebar.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@FrontendBundle/Resources/public/template/desktop/js/page.js'
    '@FrontendBundle/Resources/public/template/desktop/js/headerfooter.js'
    '@FrontendBundle/Resources/public/template/desktop/js/sidebar.js'
    '@FrontendBundle/Resources/public/template/desktop/js/product.js'
    '@FrontendBundle/Resources/public/template/desktop/js/e-commerce.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    sliderPageOwl(4);
{% endblock %}


