{% extends '::base.html.twig' %}

{% block body -%}
    <h1>FooterSetting</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Copyright</th>
                <td>{{ entity.copyRight }}</td>
            </tr>
            <tr>
                <th>Displayhomepage</th>
                <td>{{ entity.displayHomePage }}</td>
            </tr>
            <tr>
                <th>Displaysubpage</th>
                <td>{{ entity.displaySubPage }}</td>
            </tr>
            <tr>
                <th>Displayicon</th>
                <td>{{ entity.displayIcon }}</td>
            </tr>
            <tr>
                <th>Phonedisplayhomepage</th>
                <td>{{ entity.phoneDisplayHomePage }}</td>
            </tr>
            <tr>
                <th>Phonedisplaysubpage</th>
                <td>{{ entity.phoneDisplaySubPage }}</td>
            </tr>
            <tr>
                <th>Phonedisplayicon</th>
                <td>{{ entity.phoneDisplayIcon }}</td>
            </tr>
            <tr>
                <th>Webdisplayhomepage</th>
                <td>{{ entity.webDisplayHomePage }}</td>
            </tr>
            <tr>
                <th>Webdisplaysubpage</th>
                <td>{{ entity.webDisplaySubPage }}</td>
            </tr>
            <tr>
                <th>Turnoff</th>
                <td>{{ entity.turnOff }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('footersetting') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('footersetting_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
