{% if categoryProducts is not empty %}
    <div id="" class="category-slider">
    {% for product in  categoryProducts  %}
        <div class="col-md-12">
            <div class="thumbnail" data-match-height="item-promotion">
                <div class="product-preview group list-group-image product-equal-height" >
                    <img class="img-responsive" src="{{ image(product.webPath).resize(400,400, 'white') }}" alt="">
                    <div class="team-content">
                        <h3 class="team-prof">
                            <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}">{{ product.webName }}</a>
                            <small>{#{{ product.price|number_format }}#}</small>
                        </h3>
                        <ul class="social-link">
                            <li><a target="_blank" href="https://www.facebook.com/share.php?u={{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}&picture={{ app.request.getSchemeAndHttpHost() }}/{{ product.webPath }}&title={{ product.webName }}&description={{ product.content|striptags|truncate(250)|raw }}"  class="fa fa-facebook"></a></li>
                            <li><a target="_blank" href="https://plus.google.com/share?url={{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}"  class="fa fa-google-plus"></a></li>
                            <li><a target="_blank" href=" http://twitter.com/intent/tweet?status={{ product.webName }}+{{ app.request.getSchemeAndHttpHost() }}/product/{{ product.slug }}"  class="fa fa-twitter"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="caption">
                    {% if globalOption.ecommerceConfig.showBrand == 1 and product.brand is not empty %}
                        <p class="group inner brand text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':product.brand.id }) }}"><span>{% if product.brand is not empty %}{{ product.brand.name }}{% endif %}</span></a> </p>
                    {% endif %}
                    <p class="group inner product-name text-center" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}"><strong>{% if product.masterItem is not empty and  globalOption.ecommerceConfig.showMasterName == 1 %}{{ product.masterItem.name }}&nbsp;-&nbsp;{% endif %}{{ product.webName }}</strong></a> </p>
                    <div class="row">
                        <div class="row-fluid">
                            <div class="col-xs-8 col-md-8 text-right"><strong class="currency">{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %} <strong>{{ product.discountPrice|number_format() }}</strong>{% endif %}</div>
                            <div class="col-xs-4 col-md-4 text-left"><strong>{{ product.quantity }}&nbsp;{% if  product.masterItem.productUnit is defined and product.masterItem.productUnit is not empty %}{{ product.masterItem.productUnit.name }}{% endif %}</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
