{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'default' %}
    {% for product in products %}
        <div  class="product-item product-grid-default" data-match-height="product-item-height">
            <div  class="product-item">
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-canvas">
                      {#  <a data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  class="btn btn-warning item-preview product-eye"><span class="glyphicon glyphicon-eye-open"></span> Preview</a>#}
                        {% if product.discount is not empty  %}<a class="btn btn-danger product-discount btn-sm"  href="javascript:"><span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}</a>{% endif %}
                        {% if product.discount is not empty  %}<a class="product-discount btn-sm"  href="javascript:"><span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}</a>{% endif %}
                        <a class="img-card product-preview" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                            <picture class="picture">
                                <img class="img" srcset="{{ web_image(product.webPath).resize(358,358) }},
             {{ web_image(product.webPath).resize(358,358) }} 1.5x,
             {{ web_image(product.webPath).resize(358,358) }} 2x"
                                     src="{{ web_image(product.webPath).resize(358,358) }}"
                                     alt="{{ product.productName }}">
                            </picture>
                        </a>
                        <div class="card-content" data-match-height="item-product">
                            {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                                <span class="category-name">
                                    <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.category.slug }) }}">{{ product.category.name }}</a>
                                </span>
                            {% endif %}
                            <h3 class="title">
                                {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                    <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug })}}" >{{ product.productName }} <span id="subSize-{{ product.id }}">{% if product.size is not empty %}{{ product.size.name }}{% endif %}</span>&nbsp;<span id="subSizeUnit-{{ product.id }}">{% if product.sizeUnit is not empty %}{{ product.sizeUnit.name }}{% endif %}</span></a>
                                {% else %}
                                    <a class="product-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.productName }} <span id="subSize-{{ product.id }}">{% if product.size is not empty %}{{ product.size.name }}{% endif %}</span>&nbsp;<span id="subSizeUnit-{{ product.id }}">{% if product.sizeUnit is not empty %}{{ product.sizeUnit.name }}{% endif %}</span></a>
                                {% endif %}
                            </h3>
                            {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                                <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brand.slug }) }}">{{ product.brand.name }}</a>
                                    </span>
                            {% endif %}
                        </div>
                        <div class="text-center price-block" >
                            <div class="sub-product" id="inlineLoading-{{ product.id }}">
                                {% if product.itemSubs is not empty and product.itemSubs|length > 1   %}
                                    <div>
                                        <select class="col-xs-12 col-lg-12 item-select item-select-bg inlineSizeChange size-{{ product.id }}"  data-id="{{ product.id }}" data-url="{{ path('ajax_inline_item_load', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" name="size" id="size-{{ product.id }}" >
                                            {% for goodsItem in  product.itemSubs   %}
                                                {% if goodsItem.status == 1 %}
                                                    <option  value="{{ goodsItem.id }}" >{% if goodsItem.size is not empty %}{{ goodsItem.size.name }}{% else %} Default {% endif %}{% if goodsItem.productUnit is not empty %} - {{ goodsItem.productUnit.name }}{% endif %} {{ globalOption.ecommerceConfig.currency }} {% if goodsItem.discountPrice is empty %}{{ goodsItem.salesPrice|number_format }} {% else %}{{ goodsItem.discountPrice|number_format }}{% endif %}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                {% if  product.itemColors is not empty and product.itemColors is defined and product.itemColors|length > 1 %}
                                    <div>
                                        <select class="item-select item-select-bg col-xs-12 col-lg-12" name="color" id="color-{{ product.id }}" >
                                            {% for color in  product.itemColors %}
                                                <option value="{{ color.id }}" >{{ color.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                            </div>
                            <div style="margin-bottom: 10px">
                                <strong class="currency" >{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;<span id="currency-{{ product.id }}">{% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}  <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} {% if product.productUnit is not empty %} / {{ product.productUnit.name }}{% endif %}</span>
                            </div>
                            <div class="input-group col-xs-12 col-md-12">
    <span class="input-group-btn">
             <button type="button" class="btn btn-new-cart-item input-group-btn-left btn-minus" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}">
            <i class="fa fa-minus"></i>
        </button>
    </span><input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-inline-cart" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" ><span class="input-group-btn ">
          <button type="button" data-id="{{ product.id }}" class="btn btn-new-cart-item btn-plus" data-type="plus" data-field="quant-{{ product.id }}" >
              <span class="fa fa-plus"></span>
          </button>
            <input type="hidden" name="productImg"  value="{% if product.webPath is not empty %}{{ product.webPath }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ product.masterItem.webPath }}{% endif %}">
            <button type="button" id="productBuy-{{ product.id }}" data-id="{{ product.id }}" class="btn  btn-info product-inline-buy btn-action" data-url="{{ path('ajax_product_inline_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ADD
            </button>
    </span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="productImg-{{ product.id }}" id="productImg-{{ product.id }}" value="{% if product.webPath is not empty  %}{{ product.webPath }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ product.masterItem.webPath }}{% endif %}">
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'family-mart' %}
    {% for product in products %}
        <div  class="product-item product-grid-default" data-match-height="product-item-height">
            <div  class="product-item">
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-canvas">
                        {% if product.discount is not empty  %}<a class="btn btn-danger product-discount btn-sm"  href="javascript:"><span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}</a>{% endif %}
                        {% if product.discount is not empty  %}<a class="product-discount btn-sm"  href="javascript:"><span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}</a>{% endif %}
                        <a class="img-card product-preview" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                            <picture class="picture">
                                <img class="img" srcset="{{ web_image(product.webPath).resize(358,358) }},
             {{ web_image(product.webPath).resize(358,358) }} 1.5x,
             {{ web_image(product.webPath).resize(358,358) }} 2x"
                                     src="{{ web_image(product.webPath).resize(358,358) }}"
                                     alt="{{ product.productName }}">
                            </picture>
                        </a>
                        <div class="card-content" data-match-height="item-product">
                            {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                                <span class="category-name">
                                    <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.category.slug }) }}">{{ product.category.name }}</a>
                                </span>
                            {% endif %}
                            <h3 class="title">
                                {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                    <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug })}}" >{{ product.productName }} <span id="subSize-{{ product.id }}">{% if product.size is not empty %}{{ product.size.name }}{% endif %}</span>&nbsp;<span id="subSizeUnit-{{ product.id }}">{% if product.sizeUnit is not empty %}{{ product.sizeUnit.name }}{% endif %}</span></a>
                                {% else %}
                                    <a class="product-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.productName }} <span id="subSize-{{ product.id }}">{% if product.size is not empty %}{{ product.size.name }}{% endif %}</span>&nbsp;<span id="subSizeUnit-{{ product.id }}">{% if product.sizeUnit is not empty %}{{ product.sizeUnit.name }}{% endif %}</span></a>
                                {% endif %}
                            </h3>
                            {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                                <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brand.slug }) }}">{{ product.brand.name }}</a>
                                    </span>
                            {% endif %}
                        </div>
                        <div class="text-center price-block" >
                            <div class="sub-product" id="inlineLoading-{{ product.id }}">
                                {% if product.itemSubs is not empty and product.itemSubs|length > 1   %}
                                    <div>
                                        <select class="col-xs-12 col-lg-12 item-select item-select-bg inlineSizeChange size-{{ product.id }}"  data-id="{{ product.id }}" data-url="{{ path('ajax_inline_item_load', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" name="size" id="size-{{ product.id }}" >
                                            {% for goodsItem in  product.itemSubs   %}
                                                {% if goodsItem.status == 1 %}
                                                    <option  value="{{ goodsItem.id }}" >{% if goodsItem.size is not empty %}{{ goodsItem.size.name }}{% else %} Default {% endif %}{% if goodsItem.productUnit is not empty %} - {{ goodsItem.productUnit.name }}{% endif %} {{ globalOption.ecommerceConfig.currency }} {% if goodsItem.discountPrice is empty %}{{ goodsItem.salesPrice|number_format }} {% else %}{{ goodsItem.discountPrice|number_format }}{% endif %}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                {% if  product.itemColors is not empty and product.itemColors is defined and product.itemColors|length > 1 %}
                                    <div>
                                        <select class="item-select item-select-bg col-xs-12 col-lg-12" name="color" id="color-{{ product.id }}" >
                                            {% for color in  product.itemColors %}
                                                <option value="{{ color.id }}" >{{ color.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                            </div>
                            <div style="margin-bottom: 10px">
                                <strong class="currency" >{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;<span id="currency-{{ product.id }}">{% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}  <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} {% if product.productUnit is not empty %} / {{ product.productUnit.name }}{% endif %}</span>
                            </div>

                            <div id="cart-product-{{ product.id }}" class="input-group col-xs-12 col-md-12 cart-wrapper-hide">
    <span class="input-group-btn">
             <button type="button" class="btn btn-new-cart-item input-group-btn-left btn-minus" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}">
            <i class="fa fa-minus"></i>
        </button>
    </span> <span class="item-cart-bag col-md-12"><span id="item-cart-quantity-{{ product.id }}"></span> in Bag</span>
                                <input type="hidden" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-inline-cart" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" ><span class="input-group-btn ">
          <button type="button" data-id="{{ product.id }}" class="btn btn-new-cart-item btn-plus" data-type="plus" data-field="quant-{{ product.id }}" >
              <span class="fa fa-plus"></span>
          </button>
            <input type="hidden" name="productImg"  value="{% if product.webPath is not empty %}{{ product.webPath }}{% elseif product.masterItem.webPath is defined and product.masterItem.webPath is not empty %}{{ product.masterItem.webPath }}{% endif %}">
    </span>
                            </div>
                            <a class="productSingleCart btn btn-info col-md-12 cart-wrapper-show" id="single-cart-{{ product.id }}" href="javascript:" data-id="{{  product.id }}" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add To Cart</a>
                        </div>
                    </div>
                    <input type="hidden" name="productImg-{{ product.id }}" id="productImg-{{ product.id }}" value="{% if product.webPath is not empty  %}{{ product.webPath }}{% endif %}">
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'medicine' %}
    {% for product in products %}
        <div  class="product-item product-grid-default" data-match-height="product-item-height">
            <div  class="product-item">
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-canvas">
                        <a data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  class="btn btn-warning product-preview product-eye"><span class="glyphicon glyphicon-eye-open"></span> Preview</a>

                        {% if product.discount is not empty  %}<a class="product-discount btn-sm"  href="javascript:"><span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}</a>{% endif %}
                        <a class="img-card product-preview" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                            {% if  product.webPath is not empty %}
                                <img alt="{{ product.webName }}" src="{{ image(product.webPath).resize(600,600, 'white') }}"/>
                            {% elseif product.medicine is not empty and product.medicine.webPath is not empty %}
                                <img alt="{{ product.webName }}" src="{{ image(product.medicine.webPath).resize(600,600, 'white') }}"/>
                            {% else %}
                                <img alt="{{ product.webName }}" src="{{ image(globalOption.ecommerceConfig.webPath).resize(600,600) }}"/>
                            {% endif %}
                        </a>
                        <div class="card-content" data-match-height="item-product">
                            {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                                <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.category.id }) }}">{{ product.category.name }}</a>
                                        </span>
                            {% endif %}

                            <h3 class="title">
                                {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                    <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug })}}" >{{ product.productName }} <span id="subSize-{{ product.id }}">{% if product.size is not empty %}{{ product.size.name }}{% endif %}</span>&nbsp;<span id="subSizeUnit-{{ product.id }}">{% if product.sizeUnit is not empty %}{{ product.sizeUnit.name }}{% endif %}</span></a>
                                {% else %}
                                    <a class="product-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.productName }} <span id="subSize-{{ product.id }}">{% if product.size is not empty %}{{ product.size.name }}{% endif %}</span>&nbsp;<span id="subSizeUnit-{{ product.id }}">{% if product.sizeUnit is not empty %}{{ product.sizeUnit.name }}{% endif %}</span></a>
                                {% endif %}
                            </h3>
                            {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                                <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brand.id }) }}">{{ product.brand.name }}</a>
                                    </span>
                            {% endif %}
                        </div>
                        <div class="card-read-more text-center" >
                            <strong class="currency" >{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;<span id="currency-{{ product.id }}">{% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}  <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} {% if product.productUnit is not empty %} / {{ product.productUnit.name }}{% endif %}</span>
                        </div>
                        <div class="card-cart-box">
                            <div class="input-group">
                                             <span class="input-group-btn input-group-btn-custom">
                                                      <button type="button" class="btn btn-transparent danger-font btn-new-cart-item input-group-btn-left" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}" data-url="{{ path('ajax_product_medicine_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                      </button>
                                                  </span>
                                <input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-number" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path('ajax_product_medicine_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                <span class="input-group-btn">
                                                  <button type="button" data-id="{{ product.id }}" class="btn btn-transparent cyan-font btn-new-cart-item" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path('ajax_product_medicine_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                                      <span class="glyphicon glyphicon-chevron-right"></span>
                                                  </button>
                                              </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'alshefa' %}
    {% for product in products %}
        <div  class="product-item product-grid-default" data-match-height="product-item-height">
            <div  class="product-item">
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-canvas">
                        <a data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:"  class="btn btn-warning product-preview product-eye"><span class="glyphicon glyphicon-eye-open"></span> Preview</a>

                        {% if product.discount is not empty  %}<a class="product-discount btn-sm"  href="javascript:"><span class="glyphicon glyphicon-tag"></span> {{ product.discount.discountAmount }}{% if product.discount.type !='flat' %}%{% endif %}</a>{% endif %}
                        <a class="img-card product-preview" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal',{'item':product.id }) }}" href="javascript:"  >
                            {% if  product.webPath is not empty %}
                                <img alt="{{ product.webName }}" src="{{ image(product.webPath).resize(600,600, 'white') }}"/>                        {% elseif product.medicine is not empty and product.medicine.webPath is not empty %}
                                <img alt="{{ product.webName }}" src="{{ image(product.medicine.webPath).resize(600,600, 'white') }}"/>            {% else %}
                                <img alt="{{ product.webName }}" src="{{ image(globalOption.ecommerceConfig.webPath).resize(600,600) }}"/>
                            {% endif %}
                        </a>

                        <div class="card-content" data-match-height="item-product">
                            {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                                <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'id':product.category.id }) }}">{{ product.category.name }}</a>
                                        </span>
                            {% endif %}
                            <h3 class="title">
                                {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                    <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug })}}" >{{ product.productName }} <span id="subSize-{{ product.id }}">{% if product.size is not empty %}{{ product.size.name }}{% endif %}</span>&nbsp;<span id="subSizeUnit-{{ product.id }}">{% if product.sizeUnit is not empty %}{{ product.sizeUnit.name }}{% endif %}</span></a>
                                {% else %}
                                    <a class="product-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.productName }} <span id="subSize-{{ product.id }}">{% if product.size is not empty %}{{ product.size.name }}{% endif %}</span>&nbsp;<span id="subSizeUnit-{{ product.id }}">{% if product.sizeUnit is not empty %}{{ product.sizeUnit.name }}{% endif %}</span></a>
                                {% endif %}
                            </h3>
                            {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                                <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id':product.brand.id }) }}">{{ product.brand.name }}</a>
                                    </span>
                            {% endif %}
                        </div>
                        <div class="card-read-more text-center" >
                            <strong class="currency" >{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;<span id="currency-{{ product.id }}">{% if product.discount is not empty  %}<strike>{% endif %}<span {% if product.discount is empty  %} class="list-price" {% endif %} >{{ product.salesPrice|number_format() }}</span>{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %}  <strong class="list-price">{{ product.discountPrice|number_format() }}</strong>{% endif %} {% if product.productUnit is not empty %} / {{ product.productUnit.name }}{% endif %}</span>
                        </div>
                        <div class="card-cart-box">
                            <div class="input-group">
                                             <span class="input-group-btn input-group-btn-custom">
                                                      <button type="button" class="btn btn-transparent danger-font btn-new-cart-item input-group-btn-left" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}" data-url="{{ path('ajax_product_medicine_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                      </button>
                                                  </span>
                                <input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-number" value="" data-id="{{ product.id }}" min="1" max="100" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path('ajax_product_medicine_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                <span class="input-group-btn">
                                      <button type="button" data-id="{{ product.id }}" class="btn btn-transparent cyan-font btn-new-cart-item" data-type="plus" data-field="quant-{{ product.id }}" data-url="{{ path('ajax_product_medicine_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                          <span class="glyphicon glyphicon-chevron-right"></span>
                                      </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'theme-1' %}
    {% for product in products %}
        <div class="product-grid" data-match-height="product-item-height" >
            <div class="product-image">
                <a class="product-preview"  data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                    {% if  product.path is not empty %}
                        <img class="lazyOwl" alt="{{ product.name }}" src="{{ web_image(imagePath~product.path).resize(250,250) }}"/>
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ image(globalOption.ecommerceConfig.path).resize(266,355) }}"/>
                    {% endif %}
                </a>
                <ul class="social">
                    <li><a class="product-preview" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                </ul>
                {% if product.discountName is not empty %}
                    <span class="product-new-label discount-label">{{ product.discountName }}</span>
                {% endif %}
                {% if product.discountAmount is not empty %}
                    <span class="product-discount-label discount-amount">{{ product.discountAmount }}{% if product.discountType !='flat' %}%{% endif %}</span>
                {% endif %}
            </div>
            <div class="product-content" >
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-content-inner" >
                        {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                            <span class="category-name">
               <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.categorySlug }) }}">{{ product.categoryName }}</a>
           </span>
                        {% endif %}
                        <h3 class="title" data-match-height="item-product" >
                            {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" >{{ product.name }}</a>
                            {% else %}
                                <a class="product-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.name }}</a>
                            {% endif %}
                        </h3>
                        {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                            <span class="brand-name">
           <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brandSlug }) }}">{{ product.brandName }}</a>
       </span>
                        {% endif %}
                        <div class="price" id="currency-{{ product.id }}">{{ globalOption.ecommerceConfig.currency }} {{ product.salesPrice|number_format(2) }}
                            {% if product.discount is not empty  %}
                                <span>{{ globalOption.ecommerceConfig.currency }} {{ product.discount|number_format(2) }}</span>
                            {% endif %}
                        </div>
                        <div class="sub-product" id="inlineLoading-{{ product.id }}">
                            {% if product.subProductIds is not empty  and product.subProductIds|length > 1  %}
                                <select class="col-xs-12 col-lg-12 item-select item-select-bg inlineSizeChange size-{{ product.id }}"  data-id="{{ product.id }}" data-url="{{ path('ajax_inline_item_load', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" name="size" id="size-{{ product.id }}" >                                                     {% set subIds = product.subProductIds|split(',') %}
                                    {% set subProductIds = product.subProducts|split(',') %}

                                    {% for key,goodsItem in  subProductIds  %}
                                        <option  value="{{ subIds[key] }}" >{{ goodsItem }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    {% if globalOption.ecommerceConfig.cartProcess == "inline" %}
                        <div class="text-center cart-area" >
                            <div class="input-group col-xs-12 col-md-12">
<span class="input-group-btn">
<button type="button" class="btn btn-new-cart-item input-group-btn-left btn-minus" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}">
<i class="fa fa-minus"></i>
</button>
</span><input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-inline-cart" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" ><span class="input-group-btn ">
<button type="button" data-id="{{ product.id }}" class="btn btn-new-cart-item btn-plus" data-type="plus" data-field="quant-{{ product.id }}" >
<span class="fa fa-plus"></span>
</button>
<input type="hidden" name="productImg"  value="{% if product.path is not empty %}{{ product.path }}{% elseif product.masterItem.path is defined and product.masterItem.path is not empty %}{{ product.masterItem.path }}{% endif %}">
<button type="button" id="productBuy-{{ product.id }}" data-id="{{ product.id }}" class="btn  btn-info product-inline-buy btn-action" data-url="{{ path('ajax_product_inline_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ADD
</button>
</span>
                            </div>
                        </div>
                    {% else %}
                        <a class="productSingleCart" href="javascript:" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">Add To Cart</a>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'theme-2' %}
    {% for product in products %}
        <div class="product-grid2" data-match-height="product-item-height">
            <div class="product-image2">
                <a class="product-preview"  data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                    {% if  product.path is not empty %}
                        <img alt="{{ product.name }}" src="{{ web_image(imagePath~product.path).resize(250,250) }}"/>
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ image(globalOption.ecommerceConfig.path).resize(266,355) }}"/>
                    {% endif %}
                </a>
                <ul class="social">
                    <li><a class="product-preview" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>

                    <li><a class="productSingleCart" href="javascript:" data-tip="Add to Cart" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" ><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                {% if globalOption.ecommerceConfig.cartProcess == "single" %}
                    <a class="add-to-cart productSingleCart" href="javascript:" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">Add to cart</a>
                {% endif %}
            </div>
            <div class="product-content">
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-content-inner" data-match-height="item-product">


                        {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                            <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.categorySlug }) }}">{{ product.categoryName }}</a>
                                        </span>
                        {% endif %}
                        <h3 class="title">
                            {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" >{{ product.name }}</a>
                            {% else %}
                                <a class="product-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.name }}</a>
                            {% endif %}
                        </h3>
                        {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                            <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brandSlug }) }}">{{ product.brandName }}</a>
                                    </span>
                        {% endif %}
                        <div class="price" id="currency-{{ product.id }}">{{ globalOption.ecommerceConfig.currency }} {{ product.salesPrice|number_format(2) }}
                            {% if product.discount is not empty  %}
                                <span>{{ globalOption.ecommerceConfig.currency }} {{ product.discount|number_format(2) }}</span>
                            {% endif %}
                        </div>
                        <div class="sub-product" id="inlineLoading-{{ product.id }}">
                            {% if product.subProductIds is not empty  and product.subProductIds|length > 1  %}
                                <select class="col-xs-12 col-lg-12 item-select item-select-bg inlineSizeChange size-{{ product.id }}"  data-id="{{ product.id }}" data-url="{{ path('ajax_inline_item_load', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" name="size" id="size-{{ product.id }}" >                                                     {% set subIds = product.subProductIds|split(',') %}
                                    {% set subProductIds = product.subProducts|split(',') %}

                                    {% for key,goodsItem in  subProductIds  %}
                                        <option  value="{{ subIds[key] }}" >{{ goodsItem }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    {% if globalOption.ecommerceConfig.cartProcess == "inline" %}
                        <div class="text-center cart-area" >
                            <div class="input-group col-xs-12 col-md-12">
    <span class="input-group-btn">
             <button type="button" class="btn btn-new-cart-item input-group-btn-left btn-minus" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}">
            <i class="fa fa-minus"></i>
        </button>
    </span><input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-inline-cart" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" ><span class="input-group-btn ">
          <button type="button" data-id="{{ product.id }}" class="btn btn-new-cart-item btn-plus" data-type="plus" data-field="quant-{{ product.id }}" >
              <span class="fa fa-plus"></span>
          </button>
            <input type="hidden" name="productImg"  value="{% if product.path is not empty %}{{ product.path }}{% elseif product.masterItem.path is defined and product.masterItem.path is not empty %}{{ product.masterItem.path }}{% endif %}">
            <button type="button" id="productBuy-{{ product.id }}" data-id="{{ product.id }}" class="btn  btn-info product-inline-buy btn-action" data-url="{{ path('ajax_product_inline_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ADD
            </button>
    </span>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'theme-3' %}
    {% for product in products %}
        <div class="product-grid3" data-match-height="product-item-height">
            <div class="product-image3">
                <a class="item-preview"  data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                    {% if  product.path is not empty %}
                        <img alt="{{ product.name }}" src="{{ web_image(imagePath~product.path).resize(250,250) }}"/>
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ image(globalOption.ecommerceConfig.path).resize(266,355) }}"/>
                    {% endif %}
                </a>
                <ul class="social">
                    <li><a class="item-preview" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}"><i class="fa fa-search"></i></a></li>
                    <li><a  class="productSingleCart" href="javascript:" data-tip="Add to Cart" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                {% if product.discount is not empty  %}
                    <span class="product-new-label discount-label">{{ product.discountName }}</span>
                {% endif %}
            </div>
            <div class="product-content">
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-conent-inner" data-match-height="item-product">
                        {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                            <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.categorySlug }) }}">{{ product.categoryName }}</a>
                                        </span>
                        {% endif %}
                        <h3 class="title">
                            {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" >{{ product.name }}</a>
                            {% else %}
                                <a class="item-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.name }}</a>
                            {% endif %}
                        </h3>
                        {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                            <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brandSlug }) }}">{{ product.brandName }}</a>
                                    </span>
                        {% endif %}
                        <div class="price" id="currency-{{ product.id }}">{{ globalOption.ecommerceConfig.currency  }} {% if  product.discount is not empty %}{{ product.discountPrice|number_format(2) }} {% else %} {{ product.salesPrice|number_format(2) }} {% endif %}
                            {% if product.discount is not empty  %}
                                <span>{{ globalOption.ecommerceConfig.currency }} {{ product.salesPrice|number_format(2) }}</span>
                            {% endif %}
                        </div>
                        <div class="sub-product" id="inlineLoading-{{ product.id }}">
                            {% if product.subProductIds is not empty  and product.subProductIds|length > 1  %}
                                <select class="col-xs-12 col-lg-12 item-select item-select-bg inlineSizeChange size-{{ product.id }}"  data-id="{{ product.id }}" data-url="{{ path('ajax_inline_item_load', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" name="size" id="size-{{ product.id }}" >                                                     {% set subIds = product.subProductIds|split(',') %}
                                    {% set subProductIds = product.subProducts|split(',') %}

                                    {% for key,goodsItem in  subProductIds  %}
                                        <option  value="{{ subIds[key] }}" >{{ goodsItem }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    {% if globalOption.ecommerceConfig.cartProcess == "inline" %}
                        <div class="text-center cart-area" >
                            <div class="input-group col-xs-12 col-md-12">
    <span class="input-group-btn">
             <button type="button" class="btn btn-new-cart-item input-group-btn-left btn-minus" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}">
            <i class="fa fa-minus"></i>
        </button>
    </span><input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-inline-cart" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" ><span class="input-group-btn ">
          <button type="button" data-id="{{ product.id }}" class="btn btn-new-cart-item btn-plus" data-type="plus" data-field="quant-{{ product.id }}" >
              <span class="fa fa-plus"></span>
          </button>
            <input type="hidden" name="productImg"  value="{% if product.path is not empty %}{{ product.path }}{% elseif product.masterItem.path is defined and product.masterItem.path is not empty %}{{ product.masterItem.path }}{% endif %}">
            <button type="button" id="productBuy-{{ product.id }}" data-id="{{ product.id }}" class="btn  btn-info product-inline-buy btn-action" data-url="{{ path('ajax_product_inline_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ADD
            </button>
    </span>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'theme-4' %}
    {% for product in products %}
        <div class="product-grid4" data-match-height="product-item-height">
            <div class="product-image4">
                <a class="item-preview"  data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                    {% if  product.path is not empty %}
                        <img alt="{{ product.name }}" src="{{ web_image(imagePath~product.path).resize(266,355) }}"/>
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ image(globalOption.ecommerceConfig.path).resize(266,355) }}"/>
                    {% endif %}
                </a>
                <ul class="social">
                    <li><a class="item-preview" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>

                    <li><a class="productSingleCart" href="javascript:" data-tip="Add to Cart" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" ><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                {% if product.discountName is not empty %}
                    <span class="product-new-label discount-label">{{ product.discountName }}</span>
                {% endif %}
                {% if product.discountAmount is not empty %}
                    <span class="product-discount-label discount-amount">{{ product.discountAmount }}{% if product.discountType !='flat' %}%{% endif %}</span>
                {% endif %}
            </div>
            <div class="product-content">
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-conent-inner" data-match-height="item-product">
                        {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                            <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.categorySlug }) }}">{{ product.categoryName }}</a>
                                        </span>
                        {% endif %}
                        <h3 class="title">
                            {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" >{{ product.name }}</a>
                            {% else %}
                                <a class="item-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.name }}</a>
                            {% endif %}
                        </h3>
                        {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                            <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brandSlug }) }}">{{ product.brandName }}</a>
                                    </span>
                        {% endif %}
                        <div class="price" id="currency-{{ product.id }}">{{ globalOption.ecommerceConfig.currency  }} {% if  product.discount is not empty %}{{ product.discountPrice|number_format(2) }} {% else %} {{ product.salesPrice|number_format(2) }} {% endif %}
                            {% if product.discount is not empty  %}
                                <span>{{ globalOption.ecommerceConfig.currency }} {{ product.salesPrice|number_format(2) }}</span>
                            {% endif %}
                        </div>
                        <div class="sub-product" id="inlineLoading-{{ product.id }}">
                            {% if product.subProductIds is not empty  and product.subProductIds|length > 1  %}
                                <select class="col-xs-12 col-lg-12 item-select item-select-bg inlineSizeChange size-{{ product.id }}"  data-id="{{ product.id }}" data-url="{{ path('ajax_inline_item_load', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" name="size" id="size-{{ product.id }}" >                                                     {% set subIds = product.subProductIds|split(',') %}
                                    {% set subProductIds = product.subProducts|split(',') %}

                                    {% for key,goodsItem in  subProductIds  %}
                                        <option  value="{{ subIds[key] }}" >{{ goodsItem }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    {% if globalOption.ecommerceConfig.cartProcess == "inline" %}
                        <div class="text-center cart-area" >
                            <div class="input-group col-xs-12 col-md-12">
                                                    <span class="input-group-btn">
                                                             <button type="button" class="btn btn-new-cart-item input-group-btn-left btn-minus" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </span><input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-inline-cart" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" ><span class="input-group-btn ">
                                                          <button type="button" data-id="{{ product.id }}" class="btn btn-new-cart-item btn-plus" data-type="plus" data-field="quant-{{ product.id }}" >
                                                              <span class="fa fa-plus"></span>
                                                          </button>
                                                            <input type="hidden" name="productImg"  value="{% if product.path is not empty %}{{ product.path }}{% elseif product.masterItem.path is defined and product.masterItem.path is not empty %}{{ product.masterItem.path }}{% endif %}">
                                                            <button type="button" id="productBuy-{{ product.id }}" data-id="{{ product.id }}" class="btn  btn-info product-inline-buy btn-action" data-url="{{ path('ajax_product_inline_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ADD
                                                            </button>
                                                    </span>
                            </div>
                        </div>
                    {% else %}
                        <a class="productSingleCart add-to-cart" href="javascript:" data-tip="Add to Cart" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" > ADD TO CART</a>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'theme-6' %}
    {% for product in products %}
        <div class="product-grid5" data-match-height="product-item-height">
            <div class="product-image5">
                <a class="item-preview"  data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                    {% if  product.path is not empty %}
                        <img alt="{{ product.name }}" src="{{ web_image(imagePath~product.path).resize(266,355) }}"/>
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ image(globalOption.ecommerceConfig.path).resize(266,355) }}"/>
                    {% endif %}
                </a>
                <ul class="social">
                    <li><a class="item-preview" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>

                    <li><a class="productSingleCart" href="javascript:" data-tip="Add to Cart" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" ><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                <a class="productSingleCart select-options" href="javascript:" data-tip="Add to Cart" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" > ADD TO CART</a>
            </div>
            <div class="product-content">
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-conent-inner" data-match-height="item-product">
                        {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                            <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.categorySlug }) }}">{{ product.categoryName }}</a>
                                        </span>
                        {% endif %}
                        <h3 class="title">
                            {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" >{{ product.name }}</a>
                            {% else %}
                                <a class="item-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.name }}</a>
                            {% endif %}
                        </h3>
                        {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                            <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brandSlug }) }}">{{ product.brandName }}</a>
                                    </span>
                        {% endif %}
                        <div class="price" id="currency-{{ product.id }}">{{ globalOption.ecommerceConfig.currency  }} {% if  product.discount is not empty %}{{ product.discountPrice|number_format(2) }} {% else %} {{ product.salesPrice|number_format(2) }} {% endif %}
                            {% if product.discount is not empty  %}
                                <span>{{ globalOption.ecommerceConfig.currency }} {{ product.salesPrice|number_format(2) }}</span>
                            {% endif %}
                        </div>
                        <div class="sub-product" id="inlineLoading-{{ product.id }}">
                            {% if product.subProductIds is not empty  and product.subProductIds|length > 1  %}
                                <select class="col-xs-12 col-lg-12 item-select item-select-bg inlineSizeChange size-{{ product.id }}"  data-id="{{ product.id }}" data-url="{{ path('ajax_inline_item_load', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" name="size" id="size-{{ product.id }}" >                                                     {% set subIds = product.subProductIds|split(',') %}
                                    {% set subProductIds = product.subProducts|split(',') %}

                                    {% for key,goodsItem in  subProductIds  %}
                                        <option  value="{{ subIds[key] }}" >{{ goodsItem }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    {% if globalOption.ecommerceConfig.cartProcess == "inline" %}
                        <div class="text-center cart-area" >
                            <div class="input-group col-xs-12 col-md-12">
                                                    <span class="input-group-btn">
                                                             <button type="button" class="btn btn-new-cart-item input-group-btn-left btn-minus" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </span><input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-inline-cart" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" ><span class="input-group-btn ">
                                                          <button type="button" data-id="{{ product.id }}" class="btn btn-new-cart-item btn-plus" data-type="plus" data-field="quant-{{ product.id }}" >
                                                              <span class="fa fa-plus"></span>
                                                          </button>
                                                            <input type="hidden" name="productImg"  value="{% if product.path is not empty %}{{ product.path }}{% elseif product.masterItem.path is defined and product.masterItem.path is not empty %}{{ product.masterItem.path }}{% endif %}">
                                                            <button type="button" id="productBuy-{{ product.id }}" data-id="{{ product.id }}" class="btn  btn-info product-inline-buy btn-action" data-url="{{ path('ajax_product_inline_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ADD
                                                            </button>
                                                    </span>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'theme-7' %}
    {% for product in products %}
        <div class="product-grid6" data-match-height="product-item-height">
            <div class="product-image6">
                <a class="item-preview"  data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                    {% if  product.path is not empty %}
                        <img alt="{{ product.name }}" src="{{ web_image(imagePath~product.path).resize(266,355) }}"/>
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ image(globalOption.ecommerceConfig.path).resize(266,355) }}"/>
                    {% endif %}
                </a>
            </div>
            <div class="product-content">
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-conent-inner" data-match-height="item-product">
                        {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                            <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.categorySlug }) }}">{{ product.categoryName }}</a>
                                        </span>
                        {% endif %}
                        <h3 class="title">
                            {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" >{{ product.name }}</a>
                            {% else %}
                                <a class="item-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.name }}</a>
                            {% endif %}
                        </h3>
                        {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                            <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brandSlug }) }}">{{ product.brandName }}</a>
                                    </span>
                        {% endif %}
                        <div class="price" id="currency-{{ product.id }}">{{ globalOption.ecommerceConfig.currency  }} {% if  product.discount is not empty %}{{ product.discountPrice|number_format(2) }} {% else %} {{ product.salesPrice|number_format(2) }} {% endif %}
                            {% if product.discount is not empty  %}
                                <span>{{ globalOption.ecommerceConfig.currency }} {{ product.salesPrice|number_format(2) }}</span>
                            {% endif %}
                        </div>
                        <div class="sub-product" id="inlineLoading-{{ product.id }}">
                            {% if product.subProductIds is not empty  and product.subProductIds|length > 1  %}
                                <select class="col-xs-12 col-lg-12 item-select item-select-bg inlineSizeChange size-{{ product.id }}"  data-id="{{ product.id }}" data-url="{{ path('ajax_inline_item_load', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" name="size" id="size-{{ product.id }}" >                                                     {% set subIds = product.subProductIds|split(',') %}
                                    {% set subProductIds = product.subProducts|split(',') %}

                                    {% for key,goodsItem in  subProductIds  %}
                                        <option  value="{{ subIds[key] }}" >{{ goodsItem }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    {% if globalOption.ecommerceConfig.cartProcess == "inline" %}
                        <div class="text-center cart-area" >
                            <div class="input-group col-xs-12 col-md-12">
                                                    <span class="input-group-btn">
                                                             <button type="button" class="btn btn-new-cart-item input-group-btn-left btn-minus" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </span><input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-inline-cart" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" ><span class="input-group-btn ">
                                                          <button type="button" data-id="{{ product.id }}" class="btn btn-new-cart-item btn-plus" data-type="plus" data-field="quant-{{ product.id }}" >
                                                              <span class="fa fa-plus"></span>
                                                          </button>
                                                            <input type="hidden" name="productImg"  value="{% if product.path is not empty %}{{ product.path }}{% elseif product.masterItem.path is defined and product.masterItem.path is not empty %}{{ product.masterItem.path }}{% endif %}">
                                                            <button type="button" id="productBuy-{{ product.id }}" data-id="{{ product.id }}" class="btn  btn-info product-inline-buy btn-action" data-url="{{ path('ajax_product_inline_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ADD
                                                            </button>
                                                    </span>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
            <ul class="social">
                <li><a class="item-preview" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>

                <li><a class="productSingleCart" href="javascript:" data-tip="Add to Cart" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" ><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'theme-8' %}
    {% for product in products %}
        <div class="product-grid8" data-match-height="product-item-height">
            <div class="product-image8">
                <a class="item-preview"  data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                    {% if  product.path is not empty %}
                        <img alt="{{ product.name }}" src="{{ web_image(imagePath~product.path).resize(266,355) }}"/>
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ image(globalOption.ecommerceConfig.path).resize(266,355) }}"/>
                    {% endif %}
                </a>
                <ul class="social">
                    <li><a class="item-preview" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                    <li><a class="productSingleCart" href="javascript:" data-tip="Add to Cart" data-url="{{ path('ajax_product_single_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" ><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                {% if product.discountAmount is not empty %}
                    <span class="product-discount-label discount-amount">{{ product.discountAmount }}{% if product.discountType !='flat' %}%{% endif %}</span>
                {% endif %}
            </div>
            <div class="product-content">
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-conent-inner" data-match-height="item-product">
                        {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                            <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.categorySlug }) }}">{{ product.categoryName }}</a>
                                        </span>
                        {% endif %}
                        <h3 class="title">
                            {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" >{{ product.name }}</a>
                            {% else %}
                                <a class="item-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.name }}</a>
                            {% endif %}
                        </h3>
                        {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                            <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brandSlug }) }}">{{ product.brandName }}</a>
                                    </span>
                        {% endif %}
                        <div class="price" id="currency-{{ product.id }}">{{ globalOption.ecommerceConfig.currency  }} {% if  product.discount is not empty %}{{ product.discountPrice|number_format(2) }} {% else %} {{ product.salesPrice|number_format(2) }} {% endif %}
                            {% if product.discount is not empty  %}
                                <span>{{ globalOption.ecommerceConfig.currency }} {{ product.salesPrice|number_format(2) }}</span>
                            {% endif %}
                        </div>
                        <div class="sub-product" id="inlineLoading-{{ product.id }}">
                            {% if product.subProductIds is not empty  and product.subProductIds|length > 1  %}
                                <select class="col-xs-12 col-lg-12 item-select item-select-bg inlineSizeChange size-{{ product.id }}"  data-id="{{ product.id }}" data-url="{{ path('ajax_inline_item_load', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" name="size" id="size-{{ product.id }}" >                                                     {% set subIds = product.subProductIds|split(',') %}
                                    {% set subProductIds = product.subProducts|split(',') %}

                                    {% for key,goodsItem in  subProductIds  %}
                                        <option  value="{{ subIds[key] }}" >{{ goodsItem }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    {% if globalOption.ecommerceConfig.cartProcess == "inline" %}
                        <div class="text-center cart-area" >
                            <div class="input-group col-xs-12 col-md-12">
                                                    <span class="input-group-btn">
                                                             <button type="button" class="btn btn-new-cart-item input-group-btn-left btn-minus" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </span><input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-inline-cart" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" ><span class="input-group-btn ">
                                                          <button type="button" data-id="{{ product.id }}" class="btn btn-new-cart-item btn-plus" data-type="plus" data-field="quant-{{ product.id }}" >
                                                              <span class="fa fa-plus"></span>
                                                          </button>
                                                            <input type="hidden" name="productImg"  value="{% if product.path is not empty %}{{ product.path }}{% elseif product.masterItem.path is defined and product.masterItem.path is not empty %}{{ product.masterItem.path }}{% endif %}">
                                                            <button type="button" id="productBuy-{{ product.id }}" data-id="{{ product.id }}" class="btn  btn-info product-inline-buy btn-action" data-url="{{ path('ajax_product_inline_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ADD
                                                            </button>
                                                    </span>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if globalOption.ecommerceConfig.productTheme is empty or globalOption.ecommerceConfig.productTheme == 'theme-9' %}
    {% for product in products %}
        <div class="product-grid9" data-match-height="product-item-height">
            <div class="product-image9">
                <a class="item-preview"  data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:"  >
                    {% if  product.path is not empty %}
                        <img alt="{{ product.name }}" src="{{ web_image(imagePath~product.path).resize(266,250) }}"/>
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ image(globalOption.ecommerceConfig.path).resize(266,355) }}"/>
                    {% endif %}
                </a>
                <a class="item-preview fa fa-search product-full-view" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" ></a>
            </div>
            <div class="product-content">
                <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <form id="add_buy_cart-{{ product.id }}" class="addCart">
                    <div class="product-conent-inner" data-match-height="item-product">
                        {% if product.category is not empty and  globalOption.ecommerceConfig.showCategory == 1 %}
                            <span class="category-name">
                                            <a class="category-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':product.categorySlug }) }}">{{ product.categoryName }}</a>
                                        </span>
                        {% endif %}
                        <h3 class="title">
                            {% if globalOption.ecommerceConfig.productDetails == 1 %}
                                <a class="product-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':product.slug }) }}" >{{ product.name }}</a>
                            {% else %}
                                <a class="item-preview product-url" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}" href="javascript:">{{ product.name }}</a>
                            {% endif %}
                        </h3>
                        {% if product.brand is not empty and  globalOption.ecommerceConfig.showBrand == 1 %}
                            <span class="brand-name">
                                        <a class="brand-url" href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':product.brandSlug }) }}">{{ product.brandName }}</a>
                                    </span>
                        {% endif %}
                        <div class="price" id="currency-{{ product.id }}">{{ globalOption.ecommerceConfig.currency  }} {% if  product.discount is not empty %}{{ product.discountPrice|number_format(2) }} {% else %} {{ product.salesPrice|number_format(2) }} {% endif %}
                            {% if product.discount is not empty  %}
                                <span>{{ globalOption.ecommerceConfig.currency }} {{ product.salesPrice|number_format(2) }}</span>
                            {% endif %}
                        </div>
                        <div class="sub-product" id="inlineLoading-{{ product.id }}">
                            {% if product.subProductIds is not empty  and product.subProductIds|length > 1  %}
                                <select class="col-xs-12 col-lg-12 item-select item-select-bg inlineSizeChange size-{{ product.id }}"  data-id="{{ product.id }}" data-url="{{ path('ajax_inline_item_load', {'subdomain':globalOption.subDomain,'product' : product.id }) }}" name="size" id="size-{{ product.id }}" >                                                     {% set subIds = product.subProductIds|split(',') %}
                                    {% set subProductIds = product.subProducts|split(',') %}

                                    {% for key,goodsItem in  subProductIds  %}
                                        <option  value="{{ subIds[key] }}" >{{ goodsItem }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                    {% if globalOption.ecommerceConfig.cartProcess == "inline" %}
                        <div class="text-center cart-area" >
                            <div class="input-group col-xs-12 col-md-12">
                                                    <span class="input-group-btn">
                                                             <button type="button" class="btn btn-new-cart-item input-group-btn-left btn-minus" id="btn-left-{{ product.id }}" data-id="{{ product.id }}"  data-type="minus" data-field="quant-{{ product.id }}">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </span><input type="text" id="quant-{{ product.id }}" name="quant-{{ product.id }}" class="form-control cart-input input-inline-cart" value="{{ product.minQuantity }}" data-id="{{ product.id }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}" data-type="plus" data-field="quant-{{ product.id }}" ><span class="input-group-btn ">
                                                          <button type="button" data-id="{{ product.id }}" class="btn btn-new-cart-item btn-plus" data-type="plus" data-field="quant-{{ product.id }}" >
                                                              <span class="fa fa-plus"></span>
                                                          </button>
                                                            <input type="hidden" name="productImg"  value="{% if product.path is not empty %}{{ product.path }}{% elseif product.masterItem.path is defined and product.masterItem.path is not empty %}{{ product.masterItem.path }}{% endif %}">
                                                            <button type="button" id="productBuy-{{ product.id }}" data-id="{{ product.id }}" class="btn  btn-info product-inline-buy btn-action" data-url="{{ path('ajax_product_inline_cart', {'subdomain':globalOption.subDomain,'product' : product.id }) }}">
                                                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ADD
                                                            </button>
                                                    </span>
                            </div>
                        </div>
                    {% else %}
                        <a class="add-to-cart item-preview" href="javascript:" data-url="{{ path('ajax_product_modal',{'subdomain':globalOption.subDomain,'item':product.id }) }}">VIEW PRODUCTS</a>
                    {% endif %}
                </form>

            </div>
        </div>
    {% endfor %}
{% endif %}

