<div class="col-md-3 {% if position == 'left' %} slider-left {% else %} slider-right {% endif %} " data-match-height="slider-height">
    {% if feature == 'promotion' %}
        <div class="widget-feature-center">
        {% for entity in entities %}
            <div class="thumbnail wow fadeInDown" data-wow-delay="2s">
                <a  href="{{ path(globalOption.subDomain ~ '_webservice_product_promotion',{'promotion':entity.slug}) }}" class=""  > <img class="img-responsive" style="height: 137px"   src="{{ image(entity.webPath).forceResize(350,137) }}" alt="{{ entity.name }}"></a>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if feature == 'tag' %}
        <div class="widget-feature-center">
            {% for entity in entities %}
            <div class="thumbnail wow fadeInDown" data-wow-delay="2s">
             <a href="{{ path(globalOption.subDomain ~ '_webservice_product_tag',{'tag':entity.slug}) }}"  > <img class="img-responsive" style="height: 137px"   src="{{ image(entity.webPath).forceResize(350,137) }}" alt="{{ entity.name }}"></a>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if feature == 'discount' %}
        <div class="widget-feature-center">
            {% for entity in entities %}
            <div class="thumbnail wow fadeInDown" data-wow-delay="2s">
                <a href="{{ path(globalOption.subDomain ~ '_webservice_product_discount',{'discount':entity.slug}) }}"  > <img class="img-responsive" style="height: 137px"   src="{{ image(entity.webPath).forceResize(350,137) }}" alt="{{ entity.name }}"></a>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if feature == 'category' %}
    <div  class="rounded-list widget-feature-center">
        <div class="scrollbar-inner wow fadeInDown" style="overflow: hidden">
            <ul class="slider-category-feature">
                {% for entity in entities %}
                    <li class="{{ position }}"><a href="{{ path(globalOption.subDomain ~ '_webservice_product_category',{'category':entity.slug}) }}" class="" >{{ entity.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if feature == 'brand' %}
        <div class="widget-feature-center">
           {% for entity in entities %}
                <div class="col-md-6  wow fadeInDown" data-wow-delay="2s" >
                    <div class="thumbnail">
                        <a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':entity.slug}) }}" class="" > <img class="img-responsive" src="{{ image(entity.webPath).forceResize(120,75) }}" alt="{{ entity.name }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
