{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Stock Remaining Report
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:">  Stock Remaining Report</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Stock Remaining Report</div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body">
                            {% include('flash-message.html.twig') %}
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">

                                    <div class="span4">
                                        <select name="vendor" id="vendor" class="select2 leftMargin span12">
                                            {% for vendor in globalOption.medicineConfig.medicineVendors %}
                                                <option {% if searchForm.vendor is defined and searchForm.vendor == vendor.companyName %} selected="selected" {% endif %} value="{{ vendor.companyName }}" >{{ vendor.companyName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <select name="transactionMethod" id="transactionMethod" class="select2 leftMargin span12">
                                            <option value="" >--Transaction Method--</option>
                                            {% for method in transactionMethods %}
                                                <option {% if searchForm.transactionMethod is defined and searchForm.transactionMethod == method.id %} selected="selected" {% endif %} value="{{ method.id }}" >{{ method.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span2">
                                        <input type="text" id="startDate" name="startDate"  class="m-wrap span12 search-input  datePicker" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}Start date{% endif %} ">
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span11">
                                                <input type="text" id="endDate" name="endDate"  class="m-wrap span10 search-input  m-ctrl-medium datePicker" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}End date{% endif %} ">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content">
                                <tr class="head-red">
                                    <th class="" >Purchase Amount</th>
                                    <th class="" >Payment Amount</th>
                                    <th class="" >Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="numeric" ><strong>{{ overview.purchaseAmount|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ overview.payment|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ (overview.purchaseAmount - overview.payment)|number_format }}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="portlet-body flip-scroll">

                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Vendor</th>
                                    <th class="numeric" >Transaction</th>
                                    <th class="numeric" >Purchase</th>
                                    <th class="numeric" >Payment</th>
                                    <th class="numeric" >Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                                        <td class="numeric" >{% if entity.medicineVendor %}{{ entity.medicineVendor.companyName }}{% endif %}</td>
                                        <td class="numeric" >{% if entity.transactionMethod is not empty %}{{ entity.transactionMethod.name }}{% endif %}</td>
                                        <td class="numeric" >{{ entity.purchaseAmount|number_format }}</td>
                                        <td class="numeric" >{{ entity.payment|number_format }}</td>
                                       <td class="numeric" >{{ entity.balance|number_format }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        .leftMargin {
            margin-left: 0!important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/editable.js'
    '@AccountingBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
    AccountingApproveProcess();
{% endblock %}


