<div class="tm-accordion tm-style4">
     <div class="accordion-title">
        <h3><a href="#">Features</a></h3>
    </div>
    <div class="accordion-container">
        Below are the active features / pages that have been added to your site.

        Click on the features below to update content on your site. To change the title, icon or the position of a feature, click the Options tab of that feature. To add a new feature/page to your site click ‘Add Feature’ button

   </div>
    {#<div class="accordion-title">
        <h3><a href="#"><i class="fa fa-phone-square"></i>&nbsp;Call me back</a></h3>
    </div>
    <div class="accordion-container">
        <form class="design-form option" id="callme" action="" method="post" enctype="multipart/form-data" >
            Never miss a call. Your customers leave a number and you call them back.
            <div class="clear"></div>
            <label>Provide email address where you want to receive messages.<a class="small-text align-right"  href="javascript:"
                                                        data-interface="tooltip"
                                                        data-position="top"
                                                        data-content="Enter the email address where you would like messages from your customers to be sent."
                                                        data-shift="10"
                                                        data-defineClass = "bord"
                                                        data-radius = "0px"
                        >help</a></label>
            <p>
                <span class="fa-icon"><i class="fa  fa-envelope-o"></i></span><input id="callBackEmail" class="emailCheck" type="text" required="" value="{{ entity.callBackEmail }}" placeholder="Enter your correct email(info@example.com)" name="callBackEmail">
                <span class="error" id="callBackEmailError"></span>
            </p>
            <label>Enter a brief description (optional)<a class="small-text align-right"  href="#"
                                                          data-interface="tooltip"
                                                          data-position="top"
                                                          data-content="Enter a brief description to add to the top of the page viewed by your site visitors"
                                                          data-shift="10"
                                                          data-defineClass = "bord"
                                                          data-radius = "0px"
                        >help</a></label>
            <p><textarea class="" id="callBackContent" name="callBackContent">{{ entity.callBackContent }}</textarea></p>
            <div class="clear"></div>
            <div class="checkbox block">
               <label>Are you interest SMS notification? </label><input type="checkbox" name="callBackNotify" {% if(entity.promotion == 1) %} checked {% endif %} value="1" />
            </div>
            <div class="clear"></div>
            <p class="align-right" >To keep these changes, click 'Update'&nbsp;&nbsp;&nbsp;<input id="" class="tm-btn mini" type="submit" value="update" name="callUs"></p>
        </form>
        <div class="clear"></div>
    </div>
    <div class="accordion-title">
        <h3><a href="javascript:"><i class="fa  fa-envelope"></i>&nbsp;Leave a message</a></h3>
    </div>
    <div class="accordion-container">
        <form class="design-form option" action="" method="post" enctype="multipart/form-data" >
            Let customers leave a message for you via the email address you provide.
            <div class="clear"></div>
            <label>Email <a class="small-text align-right"  href="#"
                            data-interface="tooltip"
                            data-position="top"
                            data-content="Provide an email address where you'd like to receive customer messages."
                            data-shift="10"
                            data-defineClass = "bord"
                            data-radius = "0px"
                        >help</a></label>

            <p>
                <span class="fa-icon"><i class="fa  fa-envelope-o"></i></span><input id="leaveEmail" type="text" value="{{ entity.leaveEmail }}" placeholder="Enter your correct email(info@example.com)" name="leaveEmail">
                <span class="error" id="leaveEmailError"></span>
            </p>
            <label>Enter a brief description (optional)<a class="small-text align-right"  href="#"
                                                          data-interface="tooltip"
                                                          data-position="top"
                                                          data-content="Enter a brief description to add to the top of the page viewed by your site visitors"
                                                          data-shift="10"
                                                          data-defineClass = "bord"
                                                          data-radius = "0px"
                        >help</a></label>
            <p><textarea class="" id="leaveContent" name="leaveContent">{{ entity.leaveContent }}</textarea></p>
            <p class="align-right" >To keep these changes, click 'Update'&nbsp;&nbsp;&nbsp;<button id="signup" class="tm-btn mini"  name="submit">update</button></p>
        </form>
        <div class="clear"></div>
    </div>#}
    <div class="accordion-title">
        <h3><a href="#"><i class="fa  fa-tasks"></i>&nbsp;About us</a></h3>
    </div>
    <div class="accordion-container">
        Enter a description for your business. This text will appear above/below the logo on the home page of your mobile site only.
        {% render controller("BinduBundle:Widget:aboutus") %}
        <div class="clear"></div>
    </div>
    <div class="accordion-title">
        <h3><a href="#"><i class="fa  fa-home"></i>&nbsp;Contact us</a></h3>
    </div>
    <div class="accordion-container">
        Add Your Address & Contact Person Details.
        <form class="design-form contact" action="" method="post" enctype="multipart/form-data" >
            <div class="brclear"></div>
            <label>Address</label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="address1" class="" type="text" value="{{ entity.contactPage.address1 }}" placeholder="Enter your communication address" name="address1"></p>
            <label>Zip/Postal Code</label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="postalCode" class="" type="text" value="{{ entity.contactPage.postalCode }}" placeholder="Enter your postal code" name="postalCode"></p>
            <label>Additional Phone & Mobile</label>
            <p><span class="fa-icon"><i class="fa  fa-mobile"></i></span><input id="additionalPhone" class="" type="text" value="{{ entity.contactPage.additionalPhone }}" placeholder="Enter your others contact no" name="additionalPhone"></p>
            <label>Email address</label>
            <p><span class="fa-icon"><i class="fa  fa-envelope-o"></i></span><input id="additionalEmail" class="" type="text" value="{{ entity.contactPage.additionalEmail }}" placeholder="Enter your others email address" name="additionalEmail"></p>

            <label>Fax</label>
            <p><span class="fa-icon"><i class="fa  fa-phone"></i></span><input id="fax" class="" type="text" value="{{ entity.contactPage.fax }}" placeholder="Enter your fax no" name="fax"></p>

            <label>Contact Person</label>
            <p><span class="fa-icon"><i class="fa  fa-user"></i></span><input id="contactPerson" class="" type="text" value="{{ entity.contactPage.contactPerson }}" placeholder="Enter your others email address" name="contactPerson"></p>
            <label>Designation</label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="designation" class="" type="text" value="{{ entity.contactPage.designation }}" placeholder="Enter your others email address" name="designation"></p>

            <p class="align-right" >To keep these changes, click 'Update'&nbsp;&nbsp;&nbsp;<button id="contact" class="tm-btn mini"  name="submit">update</button></p>
        </form>
        <div class="clear"></div>
    </div>
    {#<div class="accordion-title">
        <h3><a href="#">Contact us</a></h3>
    </div>
    <div class="accordion-container">
        <p>Maximize contact with customers.</p>

        <form class="design-form contact" action="" method="post" enctype="multipart/form-data" >
            <div class="brclear"></div>

            <label>Provide your email address to receive form submissions.</label>
            <p><span class="fa-icon"><i class="fa  fa-envelope-o"></i></span><input id="email" class="" type="text" value="{{ entity.contactPage.email }}" placeholder="e.g. bob@example.com, bob@example.net" name="email"></p>
            <div class="checkbox block">
                <label class="label-big" >Ask for email address</label><input type="checkbox" name="askForEmail" {% if(entity.contactPage.askForEmail == 1) %} checked {% endif %} value="1" />
                <label class="label-big" >Ask for their number to send SMS</label><input type="checkbox" name="askForSms" {% if(entity.contactPage.askForSms == 1) %} checked {% endif %} value="1" />
            </div>
            <div class="brclear"></div>
            <label>Enter a brief description (optional)</label>
            <p>
                <textarea  id="content" name="content">{{ entity.contactPage.content|raw }}</textarea>
            </p>
            <div class="checkbox block">
                <label class="label-big">Display Phone Number ['Call Us' feature must be activated]</label>
                <input type="checkbox" name="displayPhone" {% if(entity.contactPage.displayPhone == 1) %} checked {% endif %} value="1" />
                <label class="label-big" >Display Email Address</label>
                <input type="checkbox" name="displayEmail" {% if(entity.contactPage.displayEmail == 1) %} checked {% endif %} value="1" />
            </div>

            <p class="align-right" >To keep these changes, click 'Update'&nbsp;&nbsp;&nbsp;<button id="contact" class="tm-btn mini"  name="submit">update</button></p>
        </form>
        <div class="clear"></div>
    </div>
#}    <div class="accordion-title">
        <h3><a href="#"><i class="fa  fa-phone"></i>&nbsp;Call & Email us</a></h3>
    </div>
    <div class="accordion-container">
        <form class="design-form option callEmail" action="" method="post"  >
            <div class="brclear"></div>
            <label>Add a number for one-click calling.</label>
            <p><span class="fa-icon"><i class="fa  fa-phone"></i></span><input id="mobile" class="mobile" type="text" value="{{ entity.mobile }}" placeholder="enter your avabilable contact mobile no " name="mobile"></p>
            <div class="clear"></div>
            <label>Add a email for any information 24 hours.</label>
            <p><span class="fa-icon"><i class="fa  fa-envelope"></i></span><input id="email" class="email" type="text" value="{{ entity.email }}" placeholder="enter your valid email address" name="email"></p>
            <div class="clear"></div>
            <div class="checkbox block" >
                <label style="width: 250px" >This is the primary business number</label><input type="checkbox" name="primaryNumber" {% if(entity.primaryNumber == 1) %} checked {% endif %} value="1" />
            </div>
            <div class="clear"></div>
            <p class="align-right" >To keep these changes, click 'Update'&nbsp;&nbsp;&nbsp;<button type="submit" id="signup" class="tm-btn mini"  name="submit">update</button></p>
        </form>
        <div class="clear"></div>
    </div>
    <div class="accordion-title">
        <h3><a href="#"><i class="fa  fa-clock-o"></i>&nbsp;Opening Hour</a></h3>
    </div>
    <div class="accordion-container">
        <form class="design-form contact" action="" method="post" enctype="multipart/form-data" >
            <label>Start hour</label>
            <p><span class="fa-icon"><i class="fa fa-calendar-times-o"></i></span><input id="startHour" class="timepicker" type="text" value="{{ entity.contactPage.startHour }}" placeholder="hh:mm:ss" name="startHour"></p>
            <label>End hour</label>
            <p><span class="fa-icon"><i class="fa fa-calendar-times-o"></i></span><input id="endHour" class="timepicker" type="text" value="{{ entity.contactPage.endHour }}" placeholder="hh:mm:ss" name="endHour"></p>
            <label>Weekly Off day</label>
            <p>
                <select name="weeklyOffDay" id="weeklyOffDay" class="select2">
                    <option  value="">---Select weekly off day---</option>
                    <option {% if(entity.contactPage.weeklyOffDay == 'Sunday') %} selected="selected" {% endif %} value="Sunday">Sunday</option>
                    <option {% if(entity.contactPage.weeklyOffDay == 'Monday') %} selected="selected"  {% endif %} value="Monday">Monday</option>
                    <option {% if(entity.contactPage.weeklyOffDay == 'Tuesday') %} selected="selected"  {% endif %} value="Tuesday">Tuesday</option>
                    <option {% if(entity.contactPage.weeklyOffDay == 'Wednesday') %} selected="selected" {% endif %} value="Wednesday">Wednesday</option>
                    <option {% if(entity.contactPage.weeklyOffDay == 'Thursday') %} selected="selected" {% endif %} value="Thursday">Thursday</option>
                    <option {% if(entity.contactPage.weeklyOffDay == 'Friday') %} selected="selected" {% endif %} value="Friday">Friday</option>
                    <option {% if(entity.contactPage.weeklyOffDay == 'Saturday') %} selected="selected" {% endif %} value="Saturday">Saturday</option>
                </select>
            </p>
            <p class="align-right" >To keep these changes, click 'Update'<button id="signup" class="tm-btn mini"  name="submit">update</button></p>
        </form>
        <div class="clear"></div>
    </div>

    <div class="accordion-title">
        <h3><a href="#"><i class="fa  fa-map-marker"></i>&nbsp;Google Map</a></h3>
    </div>
    <div class="accordion-container">
        Add your address(es) so visitors can find you on Google maps.<a target="_blank" href="http://www.latlong.net/">Click here</a>
        <form class="design-form contact" action="" method="post" enctype="multipart/form-data" >
            <div class="brclear"></div>
            <label>Latitude</label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="latitude" class="" type="text" value="{{ entity.contactPage.latitude }}" placeholder="Enter latitude" name="latitude"></p>
            <label>Longitude</label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="longitude" class="" type="text" value="{{ entity.contactPage.longitude }}" placeholder="Enter longitude" name="longitude"></p>
            <p class="align-right" >To keep these changes, click 'Update'&nbsp;&nbsp;&nbsp;<button id="contact" class="tm-btn mini"  name="submit">update</button></p>
        </form>
        <div class="clear"></div>
    </div>

{#
    <div class="accordion-title">
        <h3>
            <a href="#" class="setting-tab" data-ref="setting-tab_div_0"><i class="fa  fa-phone"></i>&nbsp;Call me back</a>
																	<span class="tm-accordion-setting" style="display: none">
																		<dl>
                                                                            <dt><i title="Settings" data-ref="setting-tab_div_1" class="fa fa-gears setting-tab "></i></dt>
                                                                            <dt><i title="marker" data-ref="setting-tab_div_2"  class="fa  fa-wrench setting-tab"></i></dt>
                                                                        </dl>
																	</span>
        </h3>
    </div>
    <div class="accordion-container">
        <div class="setting-hidden setting-tab setting-tab_div_0">
            <p>Never miss a call. Your customers leave a number and you call them back.</p>
            <form class="design-form" action="create.php" >
                <label>Provide email address where you want to receive messages.<a class="small-text align-right"  href="#"
                                                                                   data-interface="tooltip"
                                                                                   data-position="top"
                                                                                   data-content="Enter the email address where you would like messages from your customers to be sent."
                                                                                   data-shift="10"
                                                                                   data-defineClass = "bord"
                                                                                   data-radius = "0px"
                            >help</a></label>
                <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="name" type="text" value="" placeholder="Enter your name" name="name"></p>
                <label>Description (optional)</label>
                <p><textarea class="" id="content" name="content"></textarea></p>
                <p class="align-right" >To keep these changes, click 'Update'<button id="signup" class="tm-btn mini"  name="submit">update</button></p>
                <div class="brclear"></div>
            </form>
        </div>
        <div class="setting-hidden setting-tab_div_1" >
            <form class="design-form" action="create.php" method="post" enctype="multipart/form-data" >
                <label>Feature name<a class="small-text align-right"  href="#"
                                      data-interface="tooltip"
                                      data-position="top"
                                      data-content="Enter the email address where you would like messages from your customers to be sent."
                                      data-shift="10"
                                      data-defineClass = "bord"
                                      data-radius = "0px"
                            >help</a></label>
                <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="name" type="text" value="" placeholder="Enter your name" name="name"></p>
                <label>Position</label>
                <p>
                    <select>
                        <option value="1">Left</option>
                        <option value="1">Right</option>
                        <option value="1">Center</option>
                    </select>
                </p>
                <hr>
                <div class="brclear"></div>
                <strong>Display in Site Navigation</strong>

                <p><input type="checkbox">Display on homepage</p>
                <p><input type="checkbox">Display in site navigation menu bare</p>

                <label>Page URL<a class="small-text align-right"  href="#"
                                  data-interface="tooltip"
                                  data-position="top"
                                  data-content="Enter the email address where you would like messages from your customers to be sent."
                                  data-shift="10"
                                  data-defineClass = "bord"
                                  data-radius = "0px"
                            >help</a></label>
                <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="name" type="text" value="" placeholder="Enter your name" name="name"></p>
                <strong>Change Icon</strong>
                Change or upload a new icon
                <input type="file" name="files[]" id="filer_input" multiple="multiple">
                <div class="brclear"></div>
                <p class="align-right" >To keep these changes, click 'Update'<button id="signup" class="tm-btn mini"  name="submit">update</button></p>
            </form>

        </div>
        <div class="setting-hidden setting-tab_div_2">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>#}
</div>