<div class="tm-accordion tm-style4">
    <div class="accordion-title">
        <h3>
            <a href="javascript:" id="" class="iframe">Adding Social Connection</a>

        </h3>
    </div>
    <div class="accordion-container">
        <div class="setting-hidden setting-tab" >
            <p>
            {#    <a href="{{ path('barcode_image',{'id':1}) }}">barcode</a>#}
                Use the tools below to promote your mobile site and increase traffic to your site. Click on 'Next' to continue.</p>
            <form class="design-form socialMedia" id="homepageID" action="" method="post" >
                <label>FaceBook URL<a class="small-text align-right"  href="#"
                                      data-interface="tooltip"
                                      data-position="top"
                                      data-content="Enter a description of your company. This text will appear below the logo on the homepage on your mobile site."
                                      data-shift="10"
                                      data-defineClass = "bord"
                                      data-radius = "0px"
                            >help</a></label>
                <p><span class="fa-icon"><i class="fa  fa-facebook"></i></span><input id="facebookPageUrl" type="text" value="https://facebook.com/{{ entity.facebookPageUrl }}" placeholder="Enter your facebook url" name="facebookPageUrl">
                    <span>Follow this example:http://facebook.com/group or page name</span>
                </p>
                <label>Google Plus<a class="small-text align-right"  href="#"
                                     data-interface="tooltip"
                                     data-position="top"
                                     data-content="Link to your Google+ page."
                                     data-shift="10"
                                     data-defineClass = "bord"
                                     data-radius = "0px"
                            >help</a></label>
                <p><span class="fa-icon"><i class="fa  fa-google-plus"></i></span><input id="googlePlus" type="text" value="https://plus.google.com/{{ entity.googlePlus }}" placeholder="Enter your google plus url" name="googlePlus"></p>
                <label>Twitter URL<a class="small-text align-right"  href="#"
                                     data-interface="tooltip"
                                     data-position="top"
                                     data-content="Enter a description of your company. This text will appear below the logo on the homepage on your mobile site."
                                     data-shift="10"
                                     data-defineClass = "bord"
                                     data-radius = "0px"
                            >help</a></label>
                <p><span class="fa-icon"><i class="fa  fa-twitter"></i></span><input id="twitterUrl" type="text" value="https://twitter.com/{{ entity.twitterUrl }}" placeholder="Enter your twitter url" name="twitterUrl"></p>
                <div class="checkbox block">
                    <label >FaceBook Apps</label><input type="checkbox" name="facebookApps" {% if(entity.facebookApps == 1) %} checked {% endif %} value="1" />
                    <label>Facebook Ads</label><input type="checkbox" name="facebookAds" {% if(entity.facebookAds == 1) %} checked {% endif %} value="1" />
                    <label>Google Ads</label><input type="checkbox" name="googleAds" {% if(entity.googleAds == 1) %} checked {% endif %} value="1" />
                </div>
                <div class="brclear"></div>
                <p class="align-right" ><input id="homepage" class="tm-btn mini optionBtn" type="submit" value="update" name="homepage"></p>
            </form>
            <div class="clear"></div>

        </div>

    </div>


   {# <div class="accordion-title">
        <h3><a href="#">Ads</a></h3>
    </div>
    <div class="accordion-container">
        Place ads on your site and add new revenue to your business.
        <form class="design-form adsTool" action="" method="post" enctype="multipart/form-data" >
            <label>Your service ID<a class="small-text align-right"  href="#"
                                     data-interface="tooltip"
                                     data-position="top"
                                     data-content="Visit Our Mobile Website"
                                     data-shift="10"
                                     data-defineClass = "bord"
                                     data-radius = "0px"
                        >help</a></label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="googleServiceID" class="" type="text" value="{{ entity.adsTool.googleServiceID }}" placeholder="" name="googleServiceID"></p>
            <label>Google AdSense ad slot ID (optional)</label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="slotID" class="" type="text" value="{{ entity.adsTool.slotID }}" placeholder="" name="slotID"></p>

            <p class="align-right" >To keep these changes, click 'Update'<button id="signup" class="tm-btn mini"  name="submit">add to site</button></p>
        </form>
        <div class="clear"></div>
    </div>
    <div class="accordion-title">
        <h3><a href="#">Site SEO</a></h3>
    </div>
    <div class="accordion-container">
        Add keywords so search engines can understand your business and you can grow traffic. There will be no visible changes to your site.
        <form class="design-form adsTool" action="" method="post" enctype="multipart/form-data" >
            <label>Add a title to your site</label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="siteName" class="" type="text" value="{{ entity.adsTool.siteName }}" placeholder="" name="siteName"></p>
            <label>Add keywords<a class="small-text align-right"  href="#"
                                  data-interface="tooltip"
                                  data-position="top"
                                  data-content="Enter up to six words that help to describe your business, separated by commas."
                                  data-shift="10"
                                  data-defineClass = "bord"
                                  data-radius = "0px"
                        >help</a></label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="keyword" class="" type="text" value="{{ entity.adsTool.keyword }}" placeholder="e.g example-1234 or axxxx" name="keyword"></p>
            <label>Add a short description of your business</label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="metaDescription" class="" type="text" value="" placeholder="" name="metaDescription"></p>
            <label>Google site verification code<a class="small-text align-right"  href="#"
                                                   data-interface="tooltip"
                                                   data-position="top"
                                                   data-content="This code is used by Google to validate the ownership of your site when adding it to Google's Webmaster Tools, see help for more details."
                                                   data-shift="10"
                                                   data-defineClass = "bord"
                                                   data-radius = "0px"
                        >help</a></label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="googleVerificationCode" class="" type="text" value="{{ entity.adsTool.googleVerificationCode }}" placeholder="e.g '932869957d4ef943'" name="googleVerificationCode"></p>

            <p class="align-right" >To keep these changes, click 'Update'<button id="signup" class="tm-btn mini"  name="submit">add to site</button></p>
        </form>
        <div class="clear"></div>
    </div>
    <div class="accordion-title">
        <h3><a href="#">Redirections Code Generate</a></h3>
    </div>
    <div class="accordion-container">
        Generate redirection code for your desktop site. Simply select the language of your desktop site below.
        <form class="design-form adsTool" action="" method="post" enctype="multipart/form-data" >
            <label>Choose Language or CMS Platform<a class="small-text align-right"  href="#"
                                                     data-interface="tooltip"
                                                     data-position="top"
                                                     data-content="The redirection code can be embedded in your desktop site to send mobile visitors to your mobile site. Select the language of your desktop site to get the appropriate code. Then copy the code into your desktop site. You may require the help of your site developer for this step."
                                                     data-shift="10"
                                                     data-defineClass = "bord"
                                                     data-radius = "0px"
                        >help</a></label>
            <p>
                <select name="redirectLang" id="redirectLang">
                    <option value="php">PHP</option>
                    <option value="jsp">JSP</option>
                    <option value="cs">ASP.NET (C#)</option>
                    <option value="js" selected="selected">Javascript</option>
                    <option value="htaccess">htaccess</option>
                    <option value="d6">Drupal 6</option>
                    <option value="d7">Drupal 7</option>
                    <option value="wp">Wordpress</option>
                    <option value="joomla25">Joomla 2.5</option>
                    <option value="joomla32">Joomla 3.2</option>
                </select>
            </p>
            <div class="checkbox block">
                <label>Redirect tablet computers</label>
                <input type="checkbox" name="redirectTablet" {% if(entity.adsTool.redirectTablet == 1) %} checked {% endif %} value="1" />
            </div>

            <p class="align-right" >To keep these changes, click 'Update'<button id="signup" class="tm-btn mini"  name="submit">add to site</button></p>
        </form>
        <div class="clear"></div>
    </div>
    <div class="accordion-title">
        <h3><a href="#">Google Analytics</a></h3>
    </div>
    <div class="accordion-container">
        Know where your traffic is coming from and where they're visiting.
        Select an analytics provider below.
        <form class="design-form adsTool" action="" method="post" enctype="multipart/form-data" >
            <label>StatCounter Project ID</label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="statCounterID" class="" type="text" value="{{ entity.adsTool.statCounterID }}" placeholder="" name="statCounterID"></p>
            <label>StatCounter Security Code<a class="small-text align-right"  href="#"
                                               data-interface="tooltip"
                                               data-position="top"
                                               data-content="Get real-time analytics, fast, friendly email support and detailed mobile device tracking (not just smartphones).
If you don't have StatCounter sign up for free at http://statcounter.com/sign-up/?guided=mp to generate your tracking code."
                                               data-shift="10"
                                               data-defineClass = "bord"
                                               data-radius = "0px"
                        >help</a></label>
            <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="statCounterSecurityCode" class="" type="text" value="{{ entity.adsTool.statCounterSecurityCode }}" placeholder="" name="statCounterSecurityCode"></p>
            <label>Always Invisible<a class="small-text align-right"  href="#"
                                      data-interface="tooltip"
                                      data-position="top"
                                      data-content="Select 'yes' unless you would like a visible counter for your site. Your visible counter can be configured from your StatCounter account"
                                      data-shift="10"
                                      data-defineClass = "bord"
                                      data-radius = "0px"
                        >help</a></label>
            <div class="clear"></div>
            <div class="checkbox block">
                <input type="checkbox" name="statCounterVisible" {% if(entity.adsTool.statCounterVisible == 1) %} checked {% endif %} value="1" />
            </div>
            <div class="clear"></div>
            <p class="align-right" >To keep these changes, click 'Update'<button id="signup" class="tm-btn mini"  name="submit">add to site</button></p>
        </form>
        <div class="clear"></div>
    </div>#}
</div>