{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Product Ledger Report
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Product Ledger Report</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Product Ledger Report</div>
                        <div class="actions">
                            <div class="btn-group">
                                {% set name = searchForm.name is defined ? searchForm.name :'' %}
                                {% set month = searchForm.month is defined ? searchForm.month :"now"|date("F") %}
                                {% set year = searchForm.year is defined ? searchForm.year :"now"|date("Y") %}
                                <a class="btn purple" target="_blank" href="{{ path('business_stock_ledger',{'pdf':'pdf','month':month,year:year,name:name}) }}" >
                                    <i class=" icon-download"></i>&nbsp;Download PDF
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <div class="row-fluid">
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <select class="span12 m-wrap select2" name="name" id='name'>
                                            {% for particular in particulars %}
                                                <option value='{{ particular.id }}' {% if (name == particular.id) %} selected="selected" {% endif %} >{{ particular.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        {%  set months = ['January','February','March','April','May','June','July','August','September','October','November','December'] %}
                                        <select class="span12 m-wrap" name="month" id='month'>
                                            {% for mon in months %}
                                                <option value='{{ mon }}' {% if (month == mon) %} selected="selected" {% endif %} >{{ mon }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            {% set years = [2018,2019,2020,2021,2022,2023,2024,2025] %}
                                            <div class="input-append span11">
                                                <select class="span11 m-wrap" name="year" id='year'>
                                                    {% for yea in years %}
                                                        <option value='{{ yea }}' {% if year == yea %} selected="selected" {% endif %} >{{ yea }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <table class="table table-bordered table-striped table-condensed flip-content ">
                            <thead class="flip-content ">
                            <tr>
                                <th class="pull-center" colspan="9"><h3><strong>DATE WISE STATEMENT SHEET: {{ month|capitalize }} , {{ year }}</strong></h3></th>
                            </tr>
                            <tr class="head-green">
                                <th>Date</th>
                                <th>Opening</th>
                                <th>Purchase</th>
                                <th>PurchaseReturn</th>
                                <th>Sales</th>
                                <th>SalesReturn</th>
                                <th>SalesBonus</th>
                                <th>Damage</th>
                                <th>Closing</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set fullDate =  date(year~'-'~month~'-1')|date('Y-m-d') %}
                            {% set month =  date(year~'-'~month~'-1')|date('Y-m-') %}
                            {% set max =  fullDate|date("t") %}
                            {% set sales = 0 %}
                            {% set purchase = 0 %}
                            {% set purchaseReturn = 0 %}
                            {% set expenditure = 0 %}
                            {% set purchaseExpenditure = 0 %}
                            {% set openingQuantity = 0 %}
                            {% set salesBonus = 0 %}
                            {% set opening = app.session.get('opening') %}
                            {% set balance = 0 %}
                            {% set closing = 0 %}
                            {% set totalPurchase = 0 %}
                            {% set totalPurchaseReturn = 0 %}
                            {% set totalSales = 0 %}
                            {% set totalSalesReturn = 0 %}
                            {% set totalSalesBonus = 0 %}
                            {% set totalDamage = 0 %}
                            {% set totalClosing = 0 %}
                            {% for i in 1..max %}
                                {% set blackO               = date(month~i)|date('d-m-Y') %}
                                {% set openingQuantity       = openingBalance[blackO] is defined and openingBalance[blackO] is not empty ? openingBalance[blackO] : 0  %}
                                {% set sales                = entity[blackO] is defined and entity[blackO] is not empty ? entity[blackO].salesQuantity : 0  %}
                                {% set salesReturn          = entity[blackO] is defined and entity[blackO] is not empty ? entity[blackO].salesReturnQuantity : 0  %}
                                {% set purchase             = entity[blackO] is defined and entity[blackO] is not empty ? entity[blackO].purchaseQuantity : 0  %}
                                {% set purchaseReturn       = entity[blackO] is defined and entity[blackO] is not empty ? entity[blackO].purchaseReturnQuantity : 0  %}
                                {% set damage               = entity[blackO] is defined and entity[blackO] is not empty ? entity[blackO].damageQuantity : 0  %}
                                {% set salesBonus               = entity[blackO] is defined and entity[blackO] is not empty ? entity[blackO].bonusSalesQuantity : 0  %}
                                {% set closing              = ((openingQuantity + purchase + salesReturn) - (sales + purchaseReturn + damage))|default(0)|number_format  %}

                                {% set totalPurchase = totalPurchase + purchase %}
                                {% set totalPurchaseReturn = totalPurchaseReturn + purchaseReturn %}
                                {% set totalSales = totalSales + sales %}
                                {% set totalSalesReturn = totalSalesReturn + salesReturn %}
                                {% set totalDamage = totalDamage + damage %}
                                {% set totalSalesBonus = totalSalesBonus + salesBonus %}
                                {% set totalClosing = totalClosing + closing %}
                                <tr>
                                    <td>{{ blackO }}</td>
                                    <td>{{ openingQuantity }}</td>
                                    <td>{{ purchase }}</td>
                                    <td>{{ purchaseReturn }}</td>
                                    <td>{{ sales }}</td>
                                    <td>{{ salesReturn }}</td>
                                    <td>{{ salesBonus }}</td>
                                    <td>{{ damage }}</td>
                                    <td>{{ closing }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@BusinessBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
