
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Account head
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('account_purchase') }}">Account head</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:">Account head lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Account Head</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('accounthead_new') }}"><i class="icon-plus"></i>&nbsp; New Head</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <style>
                                .table-striped tbody>tr.head-grey:nth-child(odd)>td, .table-striped tbody>tr.head-grey:nth-child(odd)>th{
                                    background: #555555!important
                                }
                            </style>
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Name</th>
                                    <th class="numeric" >Code</th>
                                    <th class="numeric" >Mother Name</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for account in accountHead %}
                                <tr class="head-grey">
                                    <th class="numeric" >{{ account.name }}</th>
                                    <th class="numeric" >{{ account.code }}</th>
                                    <th class="numeric" >{{ account.motherAccount|capitalize }}</th>
                                    <td class="numeric" ></td>
                                </tr>
                                    {% if heads[account.id] is defined and heads[account.id] is not empty %}
                                        {% for head in heads[account.id] %}
                                            <tr>
                                                <td class="numeric" >{{ head.name }}</td>
                                                <td class="numeric" >{{ head.code }}</td>
                                                <td class="numeric" >{{ head.parentName|capitalize }}</td>
                                                <td class="numeric" ></td>
                                            </tr>
                                            {% if heads[head.id] is defined and heads[head.id] is not empty %}
                                                {% for sub in heads[head.id] %}
                                                    <tr class="">
                                                        <td class="numeric" style="padding-left: 30px" >{{ sub.name }}</td>
                                                        <td class="numeric" >{{ sub.code }}</td>
                                                        <td class="numeric" >{{ sub.parentName|capitalize }}</td>
                                                        <td class="numeric" ></td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/editable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
{% endblock %}