{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN accounthead HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="accounthead-title">
                    Account sub-head
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('accounthead') }}">Account sub-head</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Account sub-head</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END accounthead HEADER-->
        <!-- BEGIN accounthead CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Account sub-head Information</div>
                        {% if app.user.granted("ROLE_SUPER_ADMIN") or app.user.granted("ROLE_DOMAIN_ACCOUNTING_JOURNAL") or app.user.granted("ROLE_DOMAIN_ACCOUNTING") %}
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn" href="{{ path('accounthead') }}"><i class="icon-th-list"></i>&nbsp; Account Head</a>
                                    <a class="btn red" href="{{ path('account_double_entry_new') }}"><i class="icon-th-list"></i>&nbsp; New Double Entry</a>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="parent">Parent Head<span class="required">*</span></label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            {{ form_widget(form.parent) }}
                                            {{ form_errors(form.parent) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label" for="name">Sub Head Name<span class="required">*</span></label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            <i class="icon-font"></i>
                                            {{ form_widget(form.name) }}
                                            {{ form_errors(form.name) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label" for="name">Head Code</label>
                                    <div class="controls">
                                        {{ form_widget(form.code) }}
                                        {{ form_errors(form.code) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3 ">
                                <div class="control-group">
                                    <label class="control-label" for="staus">Status</label>
                                    <div class="controls">
                                        {{ form_widget(form.status) }}
                                        {{ form_errors(form.status) }}
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"><br/></div>
                        <!--/span-->
                        <div class="form-actions portlet box grey">
                            <div class="pull-center">
                                <button type="submit" class="btn green"><i class="icon-ok"></i> Save</button>
                                <button type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</button>
                                {% if(entity.id > 0 ) %}
                                    <a href="{{ path('accounthead_delete',{'id': entity.id} ) }}"  class="btn red confirm" title="Are you sure went to delete?"><i class="icon-remove"></i> Delete</a>
                                {% endif %}
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <!-- END FORM-->
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
