{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Vendor Summary
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:">Vendor Summary lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Vendor Summary</div>
                        <div class="actions">
                            {% set amount = searchForm.amount is defined ? searchForm.amount :'' %}
                            <div class="btn-group">
                                <a class="btn blue" href="{{ path('report_vendor_outstanding') }}"><i class="icon-th-list"></i>&nbsp; Outstanding</a>
                                <a class="btn red" href="{{ path('account_purchase_new') }}"><i class="icon-plus-sign"></i>&nbsp; Add Payment</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form class="search-form" action="" method="get" name="itemSearch">
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-bordered table-striped table-condensed flip-content ">
                                        <thead class="flip-content">
                                        <tr class="head-red">
                                            <th class="" >Purchase</th>
                                            <th class="" >Payment</th>
                                            <th class="" >Balance</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="numeric" ><strong>{{ summary.purchase|number_format(2) }}</strong></td>
                                            <td class="numeric" ><strong>{{ summary.payment|number_format(2) }}</strong></td>
                                            <td class="numeric" ><strong>{{ summary.balance|number_format(2) }}</strong></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                {#<div class="span3">
                                    <div class="controls">
                                        <div class="input-append span11">
                                            <input type="text" id="amount" name="amount"  class="leftMargin span10  m-wrap" value="{% if searchForm.amount is defined %}{{ searchForm.amount }}{% endif %}"  autocomplete="off" placeholder="Enter till amount">
                                            <div class="btn-group">
                                                <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>#}
                            </div>
                        </form>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Company Name</th>
                                    <th class="numeric" >Name</th>
                                    <th class="numeric" >Mobile</th>
                                    <th class="numeric" >Purchase</th>
                                    <th class="numeric" >Payment</th>
                                    <th class="numeric" >Outstanding</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td class="numeric" >{{ entity.companyName }}</td>
                                        <td class="numeric" >{{ entity.vendorName }}</td>
                                        <td class="numeric" >{{ entity.vendorMobile }}</td>
                                        <th class="numeric" >{{ entity.purchaseAmount|number_format }}</th>
                                        <th class="numeric" >{{ entity.payment|number_format }}</th>
                                        <th class="numeric" >{{ entity.customerBalance|number_format }}</th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        .leftMargin {
            margin-left: 0!important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    AccountingApproveProcess();
{% endblock %}


