
<style>
    @media print{@page {size: landscape}}
    @media print {
        h1 , h2 , h3 , h4 , h5 , h6,p{
            display: block;
            padding: 0;
            margin: 0;
        }
        h3 {
            font-size: 24px;
            line-height: 45px;
            height: 45px;
        }

        body{
            background-color:#fff!important;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 10px;
        }

        ul{
            list-style: none;
            padding: 0 !important;
            margin: 0 !important;
        }

        ul li {
            list-style: none;
            padding: 0 !important;
            margin: 0 !important;
        }
        .pull-right {
            float: right;
            text-align: right;
            width: 220px!important;
        }

        .table-margin{
            margin-bottom: 15px!important;
            margin-top: 15px !important;
        }

        label{
            text-decoration:underline;
            font-size:13px
        }

        table.table {
            clear: both;
            margin-bottom: 6px !important;
            max-width: none !important;
            font-family: Helvetica, Arial, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ddd;
            width: 100%;
        }



        table.table-border{
            border: 1px solid #777777!important;
        }

        table.table-no-border {
            clear: both;
            max-width: none !important;
            border-collapse: collapse;
            width: 100%;
            border: none!important;
        }

        .print-header{
            height: 50px;
            border: 1px solid #777777;
        }
        .print-header .title{
            float: left;
            padding-left: 10px;
            line-height: 50px;
            font-size: 18px;
            clear: both;
            display: inline-block;

        }
        .print-header .title-center{
            padding-left: 10px;
            line-height: 50px;
            font-size: 18px;
            clear: both;
            display: inline-block;
        }

        .print-header .barcode-left{
            float: left;
            padding-left: 10px;
            margin-top: 5px;
        }

        .print-header .barcode-right{
            float: right;
            padding-right: 10px;
            margin-top: 5px;
        }

        .print-header .barcode{
            float: right;
            padding-right: 10px;
            margin-top: 5px;
        }


        .table td {
            padding:1px;
            line-height: 20px;
            vertical-align: top;
            font-size: 11px;
            padding-left: 8px;
            padding-right: 8px;
        }

        .table thead th {
            vertical-align: bottom;
        }
        .table thead tr th {
            font-size: 11px;
            line-height: 30px;
            padding-left: 10px!important;
            padding-right: 10px!important;
        }
        .table-bordered tr td{
            border: 1px solid #444 !important;
        }

        .table-no-border tr td{
            border: 0!important;
            padding: 0!important;
        }

        .table-no-border tr td .table-bordered tr td{
            padding-left: 8px!important;
            padding-right: 8px!important;
        }


        .table-striped tbody>tr:nth-child(add)>td,
        .table-striped tbody>tr:nth-child(add)>th {
            background-color: #313131;
        }
        .table-striped tbody>tr:nth-child(odd)>td,
        .table-striped tbody>tr:nth-child(odd)>th {
            background-color: #f9f9f9;
        }

        .head-blue{
            background:#ddd!important;
            height: 30px;
            color: #000;
            line-height: 30px;
            border:1px solid #dddddd;
            text-align: left;
            padding-left:10px;
        }

        .header .navbar-inner{
            display: none;
        }
        .page-sidebar{
            display: none;
        }

        .page-content{
            margin-left: 0 !important;
        }
        .table{
            border: none!important;
        }
        .table th, .table td{
            border-top: none;
        }
        .table th .span4, .table td .span4{
            width: 100%;
        }
        .table-bordered th, .table-bordered td{
            border-left:none;
        }

        .footer{
            display: none!important;
        }
        .page-content{
            margin: 0 auto !important;
            width: 100%;
        }

        .barcode-block {
            text-align: center!important;
            white-space: nowrap;
            width: 140px;
            float: left;
            height: 80px;
            border: 1px solid #ccc;
            border-right: none;
            border-top: none;
        }

        /* The ghost, nudged to maintain perfect centering */
        .barcode-block:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
        }

        /* The element to be centered, can also be of any width and height */
        .centered {
            display: inline-block;
            vertical-align: middle;
            width: 113px;
        }
        .centered p{
            padding: 0!important;
            margin: 0!important;
            display: block;
            height: 14px;
            font-size: 11px;
            line-height: 13px;
            font-weight: bold;
        }

        .centered .left{
            text-align: left;
            float: left;
            display: inline-block;
            height: 14px;
            font-size: 9px;
        }
        .centered .center{
            text-align: center;
            display: inline-block;
            height: 14px;
        }
        .centered .right{
            text-align: right;
            float: right;
            display: inline-block;
            height: 14px;
            font-size: 9px;
        }

        .text-left{
            text-align: left!important;
        }
        .text-center{
            text-align: center !important;
        }
        .text-right{
            text-align: right !important;
        }
        .span12{
            width: 100%
        }
        .span9{
            width:75%
        }
        .span8{
            width:66.66666667%
        }
        .span6{
            width: 50%
        }
        .span4{
            width: 33.33333333%
        }
        .span3{
            width: 25%
        }
        .span2{
            width: 12.50%
        }
        .span1{
            width: 8.33333333%
        }

        .approve-box{
            height:30px;
            padding-top: 40px;
            text-align:center;
            font-weight:bold;
            float: left;
        }


        h1 , h2 , h3 , h4 , h5 , h6,p{
            display: block;
            padding: 0;
            margin: 0;
        }
        h3 {
            font-size: 18px;
            line-height: 36px;
            height: 36px;
        }

        h4 {
            font-size: 16px;
            line-height: 32px;
            height: 32px;
        }

        .table{
            width: 100%;
            border-collapse: collapse;
            font-size: 14px;
            font-family:tahoma, geneva, sans-serif;
        }
        .table tr.head th, .table tr.head td{
            font-size: 15px;
            background: #333;
            color: #fff;
            height: 40px;
        }

        .table tr.sub-head th, .table tr.sub-head td{
            font-size: 15px;
            background: #666;
            color: #fff;
            height: 40px;
        }

        .table th, .table td{
            border: 1px solid rgba(97, 101, 221, 0.09);
            text-align: left;
            height: 30px;
            line-height: 30px;

        }
        h3 {
            font-size: 24px;
            display: block;
            padding: 0;
            margin: 0;
            line-height: 45px;
            height: 45px;
        }
        .pull-center{
            background: #e5e5e5;
            text-align: center!important;

        }
        .pull-right{
            text-align: right!important;
            display: block;
            padding-right: 20px;
        }

        .unstyled li{
            margin: 0;
            padding: 0;
            list-style: none!important;
        }

        .span12, .span9, .span8, .span6,.span5, .span4, .span3, .span2, .span1{
            display: inline-block;
        }
    }


</style>
{% set startDate = searchForm.startDate is defined ? searchForm.startDate :"now"|date("d-m-Y") %}
{% set endDate = searchForm.endDate is defined ? searchForm.endDate :"now"|date("d-m-Y") %}
<table class="table">
    <thead>
    <tr><td class="pull-center" colspan="10"><h3>{{ globalOption.name }}</h3></td></tr>
    <tr>
        <th class="pull-center" colspan="10"><h4><strong>Vendor/Supplier outstanding</strong></h4></th>
    </tr>
    <tr>
        <th class="pull-left"  colspan="8">
            <ul class="unstyled">
                {% if vendor is not empty %}<li><strong>Vendor Company #:</strong>&nbsp;{{ vendor.companyName }}</li>{% endif %}
                {% if vendor is not empty %}<li><strong>Vendor Name #:</strong>&nbsp;{{ vendor.name }}</li>{% endif %}
                {% if vendor is not empty %}<li><strong>Mobile No #:</strong>&nbsp;{{ vendor.mobile }}</li>{% endif %}
                {% if vendor is not empty %}<li><strong>Address #:</strong>&nbsp;{{ vendor.address|raw }}</li>{% endif %}
            </ul>
        </th>
    </tr>
    <tr>
        <th class="pull-left"  colspan="10">Printed Date: {{ "now"|date("d-m-Y") }}, Date Period:  {{ startDate }} To {{ endDate }}</th>
    </tr>
    <tr class="head-blue">
        <th class="numeric" >S/N</th>
        <th class="numeric" style="width:70px!important;" >Created</th>
        <th class="numeric" >Invoice</th>
        <th class="numeric" style="padding: 0!important;border: 0 0 1px 0!important;" >
            {% if globalOption.mainApp.slug == 'business' %}
                <table class="inner-table" style="width: 100%; border-collapse: collapse;" border="0">
                    <tr>
                        <th width="40%">Particular</th>
                        <th width="10%">Qnt</th>
                        <th width="10%">Unit</th>
                        <th width="10%">Price</th>
                        <th width="10%">Total</th>
                    </tr>
                </table>
            {% endif %}
        </th>
        <th class="numeric" >Method</th>
        <th class="numeric" >Mode</th>
        <th class="numeric" >Total</th>
        <th class="numeric" >Received</th>
        <th class="numeric" >Due</th>
    </tr>
    </thead>
    <tbody>
    {% set total = 0 %}
    {% set received = 0 %}
    {% for entity in entities %}
        {% set total = total + entity.purchaseAmount %}
        {% set received = received + entity.payment %}
        <tr id="remove-{{ entity.id }}">
            <td class="numeric" >{{ loop.index }}.</td>
            <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
            <td class="numeric" >
                {{ entity.grn }}
            </td>
            <td class="numeric" style="padding: 0!important; border: none!important;">
                {% if globalOption.mainApp.slug == 'business' and entity.businessPurchase is defined and  entity.businessPurchase is not empty %}
                    <table style="width: 100%; border-collapse: collapse" >
                        {% for item in entity.businessPurchase.businessPurchaseItems %}
                            <tr>
                                <td  width="40%">{{ loop.index }}. {{ item.businessParticular.name }}</td>
                                <td width="10%">{{ item.quantity }}</td>
                                <td width="10%">{% if item.businessParticular.unit is not empty %}{{ item.businessParticular.unit.name }}{% endif %}</td>
                                <td width="10%">{{ item.purchasePrice }}</td>
                                <td width="10%" id="subTotal-{{ item.id }}">{{ item.purchaseSubTotal|number_format }}</td></tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </td>
            <td class="numeric" >
                {% if entity.transactionMethod is defined and entity.transactionMethod is not empty %}{{ entity.transactionMethod.name }}{% endif %}
            </td>
            <td class="numeric" >{{ entity.processType }}</td>
            <td class="numeric" >{{ entity.purchaseAmount|number_format(2) }}</td>
            <td class="numeric" >{{ entity.payment|number_format(2) }}</td>
            <td class="numeric" >{{ entity.balance|number_format(2) }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6">Grand Total</th>
            <th>{{ total|number_format(2) }}</th>
            <th>{{ received|number_format(2) }}</th>
            <th>{{ (total-received)|number_format(2) }}</th>
        </tr>
    </tfoot>
</table>
<script>
    window.print();
    setTimeout(function () {
        window.open('', '_self', '');
        window.close();
    }, 2000);
</script>
