{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Product Barcode print
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('item') }}">Stock</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Product Barcode print list</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Product Barcode print lists</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn black" href="{{ path('item') }}"><i class="icon-th-list"></i>&nbsp;Stock</a>
                                <a class="btn red" target="_blank"  href="{{ path('barcode_print') }}" > Print <i class="icon-print"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% for barcode in barCoder %}
                    {{ barcode|raw }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@InventoryBundle/Resources/public/css/print.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
