{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                    Purchase GRN # {{ entity.grn }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('medicine_purchase') }}">Purchase</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Purchase</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>c
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Purchase Details</div>

                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('medicine_purchase_new') }}"><i class="icon-plus-sign"></i> Add Purchase</a>
                                <a class="btn" href="{{ path('medicine_purchase') }}"><i class="icon-th-list"></i> Purchase</a>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            <div class="row-fluid">

                                <div class="span4">
                                    <h4>About:</h4>
                                    <ul class="unstyled">
                                        {% if entity.medicineVendor is not empty %}<li><strong>Company #:</strong>&nbsp;{{ entity.medicineVendor.companyName }}</li>{% endif %}
                                        {% if entity.medicineVendor is not empty %}<li><strong>Name #:</strong>&nbsp;{{ entity.medicineVendor.name }}</li>{% endif %}
                                        {% if entity.medicineVendor is not empty %}<li><strong>Mobile #:</strong>&nbsp;{{ entity.medicineVendor.mobile }}</li>{% endif %}
                                        <li><strong>Created:</strong>&nbsp;{{ entity.created|date('d-m-Y') }}</li>
                                    </ul>
                                </div>

                                <div class="span4 invoice-payment">
                                    <h4>Payment Details:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Sub-Total BDT:</strong>&nbsp;{{ entity.subTotal|number_format() }}</li>
                                        <li><strong>Total BDT:</strong>&nbsp;{{ entity.netTotal|number_format() }}</li>
                                        <li><strong>Payment BDT:</strong>&nbsp;{{ entity.payment|number_format() }}</li>
                                        {% if entity.discount %}<li><strong>Discount BDT:</strong>&nbsp;{{ entity.discount|number_format() }}</li>{% endif %}
                                        {% if entity.due %}<li><strong>Due BDT:</strong>&nbsp;{{ entity.due|number_format() }}</li>{% endif %}
                                    </ul>

                                </div>
                                <div class="span4">
                                    <h4>Payment Method:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Investment:</strong>&nbsp;{% if  entity.asInvestment == 1 %}Yes {% else %} No{% endif %}</li>
                                        <li><strong>Invoice Mode: </strong>{{ entity.invoiceMode|capitalize }}</li>
                                        <li><strong>Payment Method:</strong>&nbsp;{% if  entity.TransactionMethod is not empty %}{{ entity.TransactionMethod.name }}{% endif %}</li>
                                        {% if entity.accountMobileBank is not empty %}<li><strong>Payment Mobile:</strong>&nbsp;{{ entity.accountMobileBank.name }}</li>{% endif %}
                                        {% if entity.accountBank is not empty %}<li><strong>Bank:</strong>&nbsp;{{ entity.accountBank.name  }}</li>{% endif %}
                                        <li><strong>Created By:</strong>&nbsp;{% if entity.createdBy is defined and entity.createdBy is not empty %}{{ entity.createdBy }}{% endif %}</li>
                                    </ul>
                                </div>

                            </div>
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid box green">
                                {% if entity.medicinePurchaseItems is defined and  entity.medicinePurchaseItems is not empty  %}
                                    <table class="table table-bordered table-striped table-condensed flip-content ">
                                        <thead class="flip-content ">
                                        <tr class="head-blue">
                                            <th class="span1">&nbsp;&nbsp;<i class="icon-list"></i> Barcode</th>
                                            <th class="span3">Name</th>
                                            <th class="span1">Rack</th>
                                            <th class="span1">Expiration Date</th>
                                            <th class="span1">PP</th>
                                            <th class="span1">MRP</th>
                                            <th class="span1">Qnt</th>
                                            <th class="span1">Remin. Qnt</th>
                                            <th class="span1">Sub-total</th>
                                         </tr>
                                        </thead>
                                        <tbody id="invoiceParticulars">
                                        {% if entity.medicinePurchaseItems is not empty %}
                                            {% for item in entity.medicinePurchaseItems %}
                                                <tr id="remove-{{ item.id }}">
                                                    <td  class="span1">{{ loop.index }}. {{ item.barcode }}</td>
                                                    <td class="span3">{{ item.medicineStock.name }}</td>
                                                    <td class="span1">{% if item.medicineStock.rackNo is not empty %}{{ item.medicineStock.rackNo.name }}{% endif %}</td>
                                                    <td class="span1">
                                                        <a href="javascript:" id="expirationDate-{{ item.id }}" class="expirationDate" data-type="date" data-name="expirationDate" data-pk="{{ item.id }}" data-url="{{ path('medicine_purchaseitem_inline_update') }}" data-title="Enter Expiration Date" >{% if item.expirationEndDate is not empty %}{{ item.expirationEndDate|date('d-m-Y') }}{% endif %}</a>
                                                    </td>
                                                    <td class="span1">{{ item.purchasePrice }}</td>
                                                    <td class="span1">{{ item.salesPrice }}</td>
                                                    <td class="span1">{{ item.quantity }}</td>
                                                    <td class="span1">{{ item.remainingQuantity }}</td>
                                                    <td class="span1">{{ (item.actualPurchasePrice * item.quantity)|number_format }}</td>
                                                 </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="10" class="span12" style="border: 1px double #000"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="span9"><span class="pull-right"><strong>Sub-Total TK.</strong> =</span></td>
                                            <td class="span2"><strong id="subTotal">{{ entity.subTotal|number_format }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="span9"><span class="pull-right"><strong>Total TK.</strong> =</span></td>
                                            <td class="span2"><strong id="subTotal">{{ entity.netTotal|number_format }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="span9"><span class="pull-right"><strong>Discount TK.</strong> =</span></td>
                                            <td class="span2"><strong id="subTotal">{{ entity.discount|number_format }}</strong> <span class="btn red mini">{{ entity.discountCalculation|number_format(2, '.', ',') }}{% if entity.discountType != 'flat' %}%{% endif %}</span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="span9"><span class="pull-right"><strong>Payment TK.</strong> =</span></td>
                                            <td class="span2"><strong id="subTotal">{{ entity.payment|number_format }}</strong></td>
                                        </tr>
                                        {% if entity.due > 0 %}
                                        <tr>
                                            <td colspan="8" class="span9"><span class="pull-right"><strong>Due TK.</strong> =</span></td>
                                            <td class="span2"><strong id="subTotal">{{ entity.due|number_format }}</strong></td>
                                         </tr>
                                        {% endif %}
                                        </tfoot>
                                    </table>
                                {% endif %}
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box grey">
                                <div class="pull-right" id="action-{{ entity.id }}">
                                    {% if ( entity.process == 'Complete') %}
                                    <a  href="javascript:"  data-url="{{ path('medicine_purchase_approved',{'id':entity.id}) }}" class="btn green approve"><i class="icon-refresh"></i>&nbsp;Approve</a>
                                    <a  href="{{ path('medicine_purchase_edit',{'id':entity.id}) }}"  class="btn red"><i class="icon-edit"></i>&nbsp;Edit</a>
                                    {% endif %}
                                    {% if ( ("now"|date("d-m-y") == entity.updated|date('d-m-y')) and entity.process == 'Approved' and app.user.granted("ROLE_MEDICINE_REVERSE")) or (entity.process == 'Approved' and app.user.granted("ROLE_DOMAIN")) %}
                                        <a  href="{{ path('medicine_purchase_reverse',{'id':entity.id}) }}" class="btn yellow"><i class="icon-refresh"></i>&nbsp;Reverse</a>
                                    {% endif %}
                                    <span  class="btn blue"><i class=" icon-ok"></i>&nbsp;{{ entity.process }}</span>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@DmsBundle/Resources/public/js/purchase.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.expirationDate').editable({
        format: 'yyyy-mm-dd',
        viewformat: 'dd-mm-yyyy',
        datepicker: {
        minYear: {{ "now"|date('YY') }},
        maxYear: {{ "now"|date_modify("+5 year")|date('YY') }},
        minuteStep: 1
        }
    });
{% endblock %}

