{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Monthly Income Statement
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:">Monthly Income Statement</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Income Statement</div>
                         <div class="actions">
                            <div class="btn-group">
                                {% set currentMonth = "now"|date("m") %}
                                {% set currentYear = "now"|date("Y") %}
                                {% set startMonth = searchForm.startMonth is defined ? searchForm.startMonth :"now"|date("m") %}
                                {% set endMonth = searchForm.endMonth is defined ? searchForm.endMonth :"now"|date("m") %}
                                {% set year = searchForm.year is defined ? searchForm.year :"now"|date("Y") %}
                                <a class="btn purple" target="_blank" href="{{ path('hms_report_monthly_income_pdf',{'startMonth':startMonth,'endMonth':endMonth,'year':year}) }}" >
                                    <i class=" icon-download"></i>&nbsp;Download PDF
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <div class="portlet search-portlet">
                                <form class="search-form" action="" method="get" name="itemSearch">

                                    <div class="row-fluid">
                                        <div class="span4">
                                           {% set months = {'01':'January','02':'February','03':'March','04':'April','05':'May','06':'June','07':'July','08':'August','09':'September','10':'October','11':'November','12':'December'} %}
                                            <select class="span12 m-wrap" name="startMonth" id='startMonth'>
                                                {% for key,month in months %}
                                                    <option value='{{ key }}' {% if (searchForm.startMonth is defined and searchForm.startMonth == key) or (key == currentMonth) %} selected="selected" {% endif %} >{{ month }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="span4">
                                            <select class="span12 m-wrap" name="endMonth" id='endMonth'>
                                                    {% for key,month in months %}
                                                        <option value='{{ key }}' {% if (searchForm.endMonth is defined and searchForm.endMonth == key) or (key == currentMonth) %} selected="selected" {% endif %} >{{ month }}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                        <div class="span4">
                                            <div class="controls">
                                                {% set years = [2018,2019,2020,2021,2022,2023,2024,2025] %}
                                                <div class="input-append span11">
                                                    <select class="span11 m-wrap" name="year" id='year'>
                                                        {% for year in years %}
                                                            <option value='{{ year }}' {% if (searchForm.year is defined and searchForm.year == year) or (year == currentYear) %} selected="selected" {% endif %} >{{ year }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="btn-group">
                                                        <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead>
                                <tr>
                                    <th class="pull-center" colspan="3"><h3>INCOME STATEMENT SHEET</h3></th>
                                </tr>
                                <tr>
                                    {% set startMonth = searchForm.startMonth is defined ? searchForm.startMonth :"now"|date("F") %}
                                    {% set endMonth = searchForm.endMonth is defined ? searchForm.endMonth :"now"|date("F") %}
                                    {% set year = searchForm.year is defined ? searchForm.endMonth : currentYear %}
                                    <th colspan="3">
                                        <span class="pull-right">Period:&nbsp;&nbsp;{{ dateRange }} </span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set totalCredit = 0 %}
                                {% set totalDebit = 0 %}
                                {% if overview.revenues is not empty %}
                                    <tr><th colspan="3">Operating Revenue</th></tr>
                                    {% for revenue in overview.revenues %}
                                        {% set totalCredit = totalCredit + revenue.credit  %}
                                        {% set totalDebit = totalDebit + revenue.debit  %}
                                        <tr><td>{{ revenue.name }}</td><td class="numeric" >{% if revenue.toIncrease == 'Debit' %}{{ revenue.debit|number_format }}{% endif %}</td><td class="numeric" >{% if revenue.toIncrease == 'Credit' %}{{ revenue.credit|number_format }}{% endif %}</td></tr>
                                    {% endfor %}
                                {% endif %}
                                <tr><td>Purchase Accessories/Medicine</td><td class="numeric" >({{ overview.purchase|number_format }})</td><td></td></tr>
                                <tr><td>Service Vat</td><td class="numeric" >({{ overview.salesVat|number_format }})</td><td></td></tr>
                                <tr><th colspan="3">Operating Expense</th></tr>
                                {% set totalExpense = 0 %}
                                {% for expense in overview.expenditures %}
                                    {% set totalExpense = totalExpense + expense.amount  %}
                                    <tr><td>{{ expense.name }}</td><td class="numeric" >{{ expense.amount|number_format }}</td><td></td></tr>
                                {% endfor %}
                                <tr><th>Grand Total Expense</th><th class="numeric" >({{ totalExpense|number_format }})</th><td></td></tr>
                                {% set grandTotal = totalCredit - ( totalExpense + overview.salesVat + totalDebit + overview.purchase) %}
                                <tr><th colspan="2"><span class="pull-right">Grand Profit/Loss</span></th><th class="numeric" >{{ grandTotal|number_format }}</th></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<script>
    function doPrint() {
        window.print();
    }
</script>
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('#startMonth').change(function(){
        var month = $(this).val();
        $('#endMonth').val(month);
    });
{% endblock %}


