{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Domain
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('tools_domain') }}">Manage Domain</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Domain Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Domain Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('globaloption_new') }}"><i class="icon-th-list"></i>&nbsp; New Client</a></li>
                                    <li><a href="{{ path('tools_domain') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="numeric" >Name</th>
                                    <th class="numeric" >Mobile</th>
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Domain/Sub-domain</th>
                                    <th class="numeric" >Status</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td class="numeric" >{{ entity.name }}</td>
                                        <td class="numeric" >{{ entity.mobile }}</td>
                                        <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                        <td class="numeric" >
                                            <a target="_blank" href="http://{{ entity.domain }}">{{ entity.domain }}</a>/
                                            {% if entity.subDomain is not empty %}
                                                <a target="_blank" href="">{{ entity.subDomain }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >{{ entity.currentStatus }}</td>
                                        <td class="numeric" >
                                            <a href="{{ path('globaloption_edit',{id: entity.id}) }}" data-url="" class="btn blue mini" ><i class="icon-pencil"></i>&nbsp;Edit Global Option</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@SettingToolBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@SettingToolBundle/Resources/public/js/editable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
{% endblock %}


