{% extends ':bindu/mobile:base.html.twig' %}
{% block body %}
    <div class="bannerPane bannerPane-find-business" {% if  entity.webPath is not empty %} style="background-image: url('/{{ entity.webPath }}')" {% endif %} >
        <div class="overlay"></div>
        <div class="s-banner-content">
            <div><img width="100" src="{{ asset('assets/frontend/img/logo.png') }}" /></div>
            <div class="page-title"> {{ entity.name }}</div>
        </div>
    </div>
    <div id="content">
        {{ entity.content|raw }}
        <div class="clear"></div>
    <style>
        .p-blog article a p {
            color: #333;
        }
        article h2 {
            text-transform: uppercase;
            font-weight: bold;
        }

    </style>
        <br/>
        <h3 class="title"><i class="fa fa-th-list"></i> OUR TEAMS</h3>
        {% if teams is defined and teams is not empty %}
            {% for team in teams %}
                <article>
                    <div class="article-img-pane">
                        <img src="{{ image(team.webPath).scaleResize(120,120) }}" alt="Thumb">
                    </div>
                    <h2><i class="fa fa-user"></i> {{ team.name }}</h2>
                    <span> <i class="fa fa-cog"></i> {{ team.designation }}</span>
                    <p>{{ team.content|raw }}</p>
                </article>
            {% endfor %}
        {% endif %}


        <div class="clear"></div>
    </div>
{% endblock %}