{% if globalOption.ecommerceConfig.menuType == 'Mega' %}
{#  ==================== Start Mega Menu ================================== #}
<nav class="navbar navbar-mega-menu row">
    <div class="collapse navbar-collapse js-navbar-collapse">
        <ul class="nav navbar-nav">
            {% for  menu in globalOption.ecommerceMenus  %}
                <li class="dropdown {% if menu.singleMenu != 1 %} mega-dropdown {% endif %}">
                    {% if menu.menu is not empty %}
                    <a href="{% if menu.menu is not empty %}/{{ menu.menu.slug }}{% endif %}" class="" >{{ menu.name }}</a>
                    {% else %}
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">{{ menu.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu {% if menu.singleMenu != 1 %} mega-dropdown-menu {% else %} single-dropdown-menu {% endif %} ">
                        {% if menu.features is not empty or menu.promotions is not empty or menu.discounts is not empty or menu.tags is not empty %}
                            <li  {% if menu.singleMenu != 1 %} class="col-sm-3" data-match-height="menu-content" style="background-color: #f9f9f9; border-right:1px solid #d6d9dd" {% endif %} >
                                {% if menu.features is not empty %}
                                    <div id="mega-menu-carousel" class="carousel slide" data-ride="carousel">
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner menu-carousel-inner" >
                                            {% for feature in  menu.features %}
                                                {% if(feature.webPath) %}
                                                    {% if feature.targetTo == 'Promotion' and feature.promotion is not empty %}
                                                        {% set path = path(globalOption.subDomain ~ '_webservice_product_promotion',{'promotion':feature.promotion.slug}) %}
                                                    {% elseif feature.targetTo == 'Tag' and feature.tag is not empty %}
                                                        {% set path = path(globalOption.subDomain ~ '_webservice_product_tag',{'tag':feature.tag.slug}) %}
                                                    {% elseif feature.targetTo == 'Category' and feature.category is not empty %}
                                                        {% set path = path(globalOption.subDomain ~ '_webservice_product_category',{'category':feature.category.slug}) %}
                                                    {% elseif feature.targetTo == 'Discount' and feature.discount is not empty %}
                                                        {% set path = path(globalOption.subDomain ~ '_webservice_product_discount',{'discount':feature.discount.slug}) %}
                                                    {% elseif feature.targetTo == 'Brand' and feature.brand is not empty %}
                                                        {% set path = path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':feature.brand.slug}) %}
                                                    {% elseif feature.targetTo == 'Page' and feature.page is not empty %}
                                                        {% set path = path(globalOption.subDomain ~ '_webservice_module',{'id':feature.page.slug}) %}
                                                    {% else %}
                                                        {% set path = path(globalOption.subDomain ~ '_webservice_product') %}
                                                    {% endif %}
                                                    <div class="item menu-slider {% if loop.index - 1 == 0 %} active {% endif %}">
                                                        <a href="{{ path }}"><img  src="{{ image(feature.webPath).forceResize(220,160) }}"  style="height: 160px!important;" class="img-responsive" alt="{{ feature.name }}"></a>
                                                        <h4><small>{{ feature.name|capitalize }}</small></h4>
                                                        <span class="menu-slider-button text-center"><a href="{{ path }}" class="btn btn-info" type="button">See Me&nbsp;<span class="glyphicon glyphicon-play"></span></a></span>
                                                    </div><!-- End Item -->
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <!-- Controls -->
                                        <a class="header-carousel-left carousel-control" href="#mega-menu-carousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        </a>
                                        <a class="header-carousel-right carousel-control" href="#mega-menu-carousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if menu.promotions is not empty %}
                                    <ul class="col-sm-12">
                                        <li class="dropdown-header">Promotion's</li>
                                        {% for promotion in  menu.promotions %}
                                            <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'promotion':promotion.slug}) }}">{{ promotion.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if menu.discounts is not empty %}
                                    <ul class="col-sm-12">
                                        <li class="dropdown-header">Discount Offer's</li>
                                        {% for discount in  menu.discounts %}
                                            <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'discount':discount.slug}) }}">{{ discount.name }}&nbsp;{{ discount.type|capitalize }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if menu.tags is not empty %}
                                    <ul class="col-sm-12">
                                        <li class="dropdown-header">Popular Tag's</li>
                                        {% for tag in  menu.tags %}
                                            <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'tag':tag.slug}) }}">{{ tag.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if menu.categories is not empty %}
                            {% if menu.features is empty and menu.promotions is empty and menu.discounts is empty and menu.tags is  empty and  menu.brands is empty %}
                                {% set column   = "col-sm-3" %}
                                {% set class    = "col-sm-12" %}
                            {% elseif (menu.features is not empty  and  menu.brands is not empty ) or (menu.promotions is not empty  and  menu.brands is not empty ) or (menu.discounts is not empty  and  menu.brands is not empty ) or ( menu.tags is not empty  and  menu.brands is not empty) %}
                                {% set column   = "col-sm-6" %}
                                {% set class    = "col-sm-6" %}
                            {% elseif (menu.features is not empty and  menu.brands is empty)  or (menu.promotions is not empty and  menu.brands is empty ) or (menu.discounts is not empty and  menu.brands is empty ) or (menu.tags is not  empty and  menu.brands is empty )  %}
                                {% set column   = "col-sm-4" %}
                                {% set class    = "col-sm-9" %}
                            {% elseif (menu.features is empty and  menu.brands is not empty)  or (menu.promotions is empty and  menu.brands is not empty ) or (menu.discounts is empty and  menu.brands is not empty ) or (menu.tags is empty and  menu.brands is not empty )  %}
                                {% set column   = "col-sm-4" %}
                                {% set class    = "col-sm-9" %}
                            {% else %}
                                {% set column   = "col-sm-6" %}
                                {% set class    = "col-sm-6" %}
                            {% endif %}
                            <li {% if menu.singleMenu != 1 %}  class="{{ class }}" data-match-height="menu-content" style="border-right:1px solid #d6d9dd" {% endif %}>
                                {% render controller("FrontendBundle:EcommerceWidget:returnMegaCategoryMenu",{globalOption:globalOption, categories: menu.categories,column:column}) %}
                            </li>
                        {% endif %}
                        {% if menu.brands is not empty %}
                            <li {% if menu.singleMenu != 1 %}  data-match-height="menu-content" class="{% if (menu.features is empty or menu.promotions is empty or menu.discounts is empty or menu.tags is  empty ) and  menu.categories is empty %} col-sm-12 {% elseif menu.categories is empty %} col-sm-9 {% else %} col-sm-3 {% endif %}"  {% endif %} >
                                <ul class="col-sm-12">
                                    <li class="dropdown-header">Brand's</li>
                                    {% for brand in menu.brands %}
                                        <li class="{% if menu.categories is empty  and menu.singleMenu != 1  %} col-sm-3 {% endif %}" ><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand' : brand.slug}) }}" >{{ brand.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if menu.childMenus is not empty %}
                            <li {% if menu.singleMenu != 1 %}  data-match-height="menu-content" class="{% if (menu.features is empty or menu.promotions is empty or menu.discounts is empty or menu.tags is  empty ) and  menu.categories is empty %} col-sm-12 {% elseif menu.categories is empty %} col-sm-9 {% else %} col-sm-3 {% endif %}"  {% endif %} >
                                <ul class="col-sm-12">
                                    <li class="dropdown-header">Page's</li>
                                    {% if menu.childMenus is not empty %}
                                        {% for childMenu in  menu.childMenus %}
                                            <li class="{% if menu.categories is empty  and menu.singleMenu != 1  %} col-sm-3 {% endif %}"  ><a href="{{ path(globalOption.subDomain ~ '_webservice_module',{'module':childMenu.slug}) }}">{{ childMenu.menu }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div><!-- /.nav-collapse -->
</nav>
{#  ==================== End Mega Menu ================================== #}
{% endif %}

{% if globalOption.ecommerceConfig.menuType == 'Dropdown' %}
{#  ==================== Start Dropdown Menu ================================== #}

<nav id="header-menu">
    <ul>
        {% for  menu in globalOption.ecommerceMenus  %}
            <li><a href="{% if menu.menu is not empty %}/{{ menu.menu.slug }}{% endif %}"> {{ menu.name }}</a>
                <ul>
                    {% if menu.childMenus is not empty %}
                        {% for childMenu in  menu.childMenus %}
                            <li><a href="{{ path(globalOption.subDomain ~ '_webservice_module',{'module':childMenu.slug}) }}">{{ childMenu.menu }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if menu.features is not empty %}
                        <li><a href="#">Feature's</a>
                            <ul>
                                {% for feature in  menu.features %}
                                    {% if feature.targetTo == 'Category' and feature.category is not empty %}
                                        {% set path = path(globalOption.subDomain ~ '_webservice_product_category',{'category':feature.category.slug}) %}
                                    {% elseif feature.targetTo == 'Promotion' and feature.promotion is not empty %}
                                        {% set path = path(globalOption.subDomain ~ '_webservice_product_promotion',{'promotion':feature.promotion.slug}) %}
                                    {% elseif feature.targetTo == 'Tag' and feature.tag is not empty %}
                                        {% set path = path(globalOption.subDomain ~ '_webservice_product_tag',{'tag':feature.tag.slug}) %}
                                    {% elseif feature.targetTo == 'Discount' and feature.discount is not empty %}
                                        {% set path = path(globalOption.subDomain ~ '_webservice_product_discount',{'discount':feature.discount.slug}) %}
                                    {% elseif feature.targetTo == 'Brand' and feature.brand is not empty %}
                                        {% set path = path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':feature.brand.slug}) %}
                                    {% elseif feature.targetTo == 'Page' and feature.menu is not empty %}
                                        {% set path = path(globalOption.subDomain ~ '_webservice_module',{'module':feature.menu.slug}) %}
                                    {% else %}
                                        {% set path = path(globalOption.subDomain ~ '_webservice_product') %}
                                    {% endif %}
                                    <li><a href="{{ path }}">{{ feature.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if menu.promotions is not empty %}
                        <li><a href="#">Promotion's</a>
                            <ul>
                                {% for promotion in  menu.promotions %}
                                    <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'promotion':promotion.slug}) }}">{{ promotion.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if menu.discounts is not empty %}
                        <li><a href="#">Discount Offer's</a>
                            <ul>
                                {% for discount in  menu.discounts %}
                                    <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'discount':discount.slug}) }}">{{ discount.name }}&nbsp;{{ discount.type|capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                    {% endif %}
                    {% if menu.tags is not empty %}
                        <li><a href="#">Popular Tag's</a>
                            <ul>
                                {% for tag in  menu.tags %}
                                    <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'tag':tag.slug}) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                    {% endif %}
                    {% if menu.categories is not empty %}
                        <li>
                            {% render controller("FrontendBundle:EcommerceWidget:returnSimpleCategoryMenu",{categories: menu.categories}) %}
                        </li>
                    {% endif %}
                    {% if menu.brands is not empty %}
                        {% for brand in menu.brands %}
                            <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'brand' : brand.slug}) }}">{{ brand.name }}</a></li>
                        {% endfor %}
                    {% endif %}

                </ul>
            </li>
        {% endfor %}
    </ul>
</nav>
{#  ==================== End Dropdown Menu ================================== #}
{% endif %}
{% if globalOption.ecommerceConfig.menuType == 'Sidebar' %}
{#  ==================== Start Sidebar Menu ================================== #}
    <nav id="mm-menu">
        <ul>
            {% for  menu in globalOption.ecommerceMenus  %}
                <li><a href="{% if menu.menu is not empty %}/{{ menu.menu.slug }}{% endif %}"> {{ menu.name }}</a>
                    <ul>
                        {% if menu.childMenus is not empty %}
                            {% for childMenu in  menu.childMenus %}
                                <li><a href="{{ path(globalOption.subDomain ~ '_webservice_module',{'module':childMenu.slug}) }}">{{ childMenu.menu }}</a></li>
                            {% endfor %}
                        {% endif %}
                        {% if menu.features is not empty %}
                            <li><a href="#">Feature's</a>
                                <ul>
                                    {% for feature in  menu.features %}
                                        {% if feature.targetTo == 'Category' and feature.category is not empty %}
                                            {% set path = path(globalOption.subDomain ~ '_webservice_product_category',{'category':feature.category.slug}) %}
                                        {% elseif feature.targetTo == 'Promotion' and feature.promotion is not empty %}
                                            {% set path = path(globalOption.subDomain ~ '_webservice_product_promotion',{'promotion':feature.promotion.slug}) %}
                                        {% elseif feature.targetTo == 'Tag' and feature.tag is not empty %}
                                            {% set path = path(globalOption.subDomain ~ '_webservice_product_tag',{'tag':feature.tag.slug}) %}
                                        {% elseif feature.targetTo == 'Discount' and feature.discount is not empty %}
                                            {% set path = path(globalOption.subDomain ~ '_webservice_product_discount',{'discount':feature.discount.slug}) %}
                                        {% elseif feature.targetTo == 'Brand' and feature.brand is not empty %}
                                            {% set path = path(globalOption.subDomain ~ '_webservice_product_brand',{'brand':feature.brand.slug}) %}
                                        {% elseif feature.targetTo == 'Page' and feature.menu is not empty %}
                                            {% set path = path(globalOption.subDomain ~ '_webservice_module',{'module':feature.menu.slug}) %}
                                        {% else %}
                                            {% set path = path(globalOption.subDomain ~ '_webservice_product') %}
                                        {% endif %}
                                        <li><a href="{{ path }}">{{ feature.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if menu.promotions is not empty %}
                            <li><a href="#">Promotion's</a>
                                <ul>
                                    {% for promotion in  menu.promotions %}
                                        <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'promotion':promotion.slug}) }}">{{ promotion.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if menu.discounts is not empty %}
                            <li><a href="#">Discount Offer's</a></li>
                            <ul>
                                {% for discount in  menu.discounts %}
                                    <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'discount':discount.slug}) }}">{{ discount.name }}&nbsp;{{ discount.type|capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if menu.tags is not empty %}
                            <li><a href="#">Popular Tag's</a></li>
                            <ul>
                                {% for tag in  menu.tags %}
                                    <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product',{'tag':tag.slug}) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if menu.categories is not empty %}
                            <li>
                                {% render controller("FrontendBundle:EcommerceWidget:returnSimpleCategoryMenu",{categories: menu.categories}) %}
                            </li>
                        {% endif %}
                        {% if menu.brands is not empty %}
                            {% for brand in menu.brands %}
                                <li><a href="{{ path(globalOption.subDomain ~ '_webservice_product_brand',{'id' : brand.slug}) }}">{{ brand.name }}</a></li>
                            {% endfor %}
                        {% endif %}

                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>
{#  ==================== End Sidebar Menu ================================== #}
{% endif %}
{#
<div class="col-md-2 col-lg-2 text-right" style="padding-right: 0!important; float: right">
    <div class="input-group text-right" style="margin-top:1px; position: relative" >

        <div class="input-group-btn">
             <a  href="javascript:" data-toggle="tooltip" title="View Shopping Items "  id=""  class="btn btn-info cartItem"> <span  class="fa fa-shopping-cart"></span> Carts</a>
            <span class="totalItem btn btn-warning cartItem" >{{ cart.total_items }}</span>
        </div><!-- /btn-group -->
    </div><!-- /input-group -->
</div>
#}
<style>
    .totalItem{
      left: 0!important;
    }
</style>

