{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Purchase Return
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('business_purchase_return') }}"> Manage Purchase Return</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Purchase</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('business_purchase_return_new') }}"><i class="icon-plus-sign"></i> Add Purchase Return</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid">
                                <form class="search-form" action="" method="get" name="itemSearch">
                                    <div class="row-fluid" >
                                        <form class="search-form" action="" method="get" name="itemSearch">
                                            <div class="row-fluid" style="margin-bottom: 10px">
                                                <div class="span3">
                                                    <input class="m-wrap span12 select2VendorCompany search-input" name="vendor" id="vendor" value="{% if searchForm.vendor is defined %}{{ searchForm.vendor }}{% endif %}"  autocomplete="off" placeholder="Vendor company name">
                                                </div>
                                                <div class="span3">
                                                    <div class="input-icon left">
                                                        <i class="icon-calendar"></i>
                                                        <input class="m-wrap span12 search-input dateCalendar" name="startDate" id="startDate" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}Start date{% endif %}" >
                                                    </div>
                                                </div>

                                                <div class="span3">
                                                    <div class="input-icon left">
                                                        <i class="icon-calendar"></i>
                                                        <input class="m-wrap span12 search-input dateCalendar" name="endDate" id="endDate" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}End date{% endif %}">
                                                    </div>
                                                </div>
                                                <div class="span3">
                                                    <div class="controls">
                                                        <div class="input-append span11">
                                                            <input type="text" id="grn" name="grn"  class="span11 m-wrap" value="{% if searchForm.grn is defined %}{{ searchForm.grn }}{% endif %}"  autocomplete="off" placeholder="Enter grn no ">
                                                            <div class="btn-group">
                                                                <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Vendor</th>
                                    <th class="numeric" >Invoice</th>
                                    <th class="numeric" >Purchase Invoice</th>
                                    <th class="numeric" >Sales Invoice</th>
                                    <th class="numeric" >Total</th>
                                    <th class="numeric" >Process</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set approveProcess = ['created','commission','sales'] %}
                                {% for entity in entities %}
                                    <tr id="delete-{{ entity.id }}">
                                        <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                        <td class="numeric" >
                                            {% if  entity.process in approveProcess and entity.subTotal > 0 %}
                                                <a  data-type="select" class="editable" id="Vendor" data-name="Vendor" href="#" data-source="{{ path('business_purchase_vendor_select') }}"  data-url="{{ path('business_purchase_vendor_update',{'id':entity.id}) }}" data-pk="{{ entity.id }}" data-value="{% if entity.vendor is defined and entity.vendor is not empty %}{{ entity.vendor.id }}{% endif %}" data-original-title="Enter Vendor name">{% if entity.vendor is defined and entity.vendor is not empty %}{{ entity.vendor.companyName }}{% endif %}</a>
                                            {% else %}
                                                {% if entity.vendor is defined and entity.vendor is not empty %}{{ entity.vendor.companyName }}{% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >{{ entity.invoice }}</td>
                                        <td class="numeric" >{{ entity.purchaseInvoice }}</td>
                                        <td class="numeric" >{{ entity.salesInvoice }}</td>
                                        <td class="numeric" >{{ entity.subTotal|number_format }}</td>
                                        <td class="numeric" >{{ entity.process|capitalize }}</td>
                                        <td class="numeric" >
                                            {% set process = ['created','commission'] %}
                                            {% if  entity.process in process %}
                                                <a href="{{ path('business_purchase_return_edit', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-pencil"></i></a>
                                                {% if  entity.process != 'commission' %}
                                                    <a id="{{ entity.id }}" data-id="{{ entity.id }}" data-url="{{ path('business_purchase_return_delete', { 'id': entity.id }) }}" href="javascript:" class="btn red mini delete" ><i class="icon-trash"></i></a>
                                                {% endif %}
                                            {% endif %}
                                            {% if  entity.process == 'sales' %}
                                                <a id="{{ entity.id }}" data-id="{{ entity.id }}" data-url="{{ path('business_purchase_return_delete', { 'id': entity.id }) }}" href="javascript:" class="btn red mini delete" ><i class="icon-trash"></i></a>
                                            {% endif %}
                                            <a href="{{ path('business_purchase_return_show', { 'id': entity.id }) }}" class="btn purple mini" ><i class="icon-eye-open"></i></a>
                                            {% set approveProcess = ['created','commission','sales'] %}
                                            {% if  entity.process in approveProcess and entity.subTotal > 0 and entity.vendor is not empty %}
                                                <a  href="javascript:"  data-url="{{ path('business_purchase_return_approved',{'id':entity.id}) }}" class="btn blue mini approve"><i class="icon-refresh"></i>&nbsp;Approve</a>
                                            {% endif %}
                                            </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination pull-center" >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@BusinessBundle/Resources/public/js/approveProcess.js'
    '@BusinessBundle/Resources/public/js/editable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
{% endblock %}


