{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Order
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('order',{'shop':globalOption.slug}) }}">Manage Order</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Order Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Order Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                 <a class="btn purple" href="{{ path('order_print_invoice', { 'shop':globalOption.slug,'invoice': entity.invoice }) }} " target="_blank"><i class="icon-print"></i>&nbsp; Print</a>
                                 <a class="btn yellow" href="{{ path('order',{'shop':globalOption.slug}) }}"><i class="icon-th-list"></i>&nbsp;Orders</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>Bill Overview</strong></label>
                                        <ul class="unstyled" >
                                            <li><strong>Invoice</strong>:#&nbsp;{{ entity.invoice }}</li>
                                            <li><strong>Grand Total</strong>:&nbsp;{{ entity.grandTotalAmount }}</li>
                                            {% if entity.discountAmount > 0 %}
                                                <li><strong>Discount</strong>:&nbsp;{{ entity.discountAmount }}</li>
                                            {% endif %}
                                            <li><strong>Delivery Fee</strong>:&nbsp;{{ entity.shippingCharge }}</li>
                                            <li><strong>Paid</strong>:&nbsp;{{ entity.paidAmount }}</li>
                                            {% if entity.paidAmount <  entity.grandTotalAmount and entity.dueAmount > 0 %}
                                                <li><strong>Due</strong>:&nbsp;{{ entity.dueAmount }}</li>
                                            {% elseif entity.paidAmount >  entity.grandTotalAmount and entity.returnAmount > 0 %}
                                                <li><strong>Return</strong>:&nbsp;{{ entity.returnAmount }}</li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>{{ entity.delivery|capitalize }} Address</strong></label>
                                        <ul class="unstyled" >
                                            <li><strong>Name</strong>:&nbsp;{{ entity.createdBy.profile.name }}</li>
                                            <li><strong>Mobile</strong>:&nbsp;{{ entity.createdBy.profile.mobile }}</li>
                                            <li><strong>Location</strong>:&nbsp;{{ entity.createdBy.profile.location.name }}</li>
                                            <li>{{ entity.address }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>Process Details</strong></label>
                                        <ul class="unstyled" >
                                            {% if entity.cashOnDelivery == 1 %}
                                                <li><strong>Payment</strong>:&nbsp;Cash On Delivery</li>
                                            {% endif %}
                                            <li><strong>Shipping</strong>:&nbsp;{{ entity.delivery|capitalize }}</li>
                                            <li><strong>Delivery Date</strong>:&nbsp;{{ entity.deliveryDate|date('d-m-Y') }}</li>
                                            <li><strong>Process Status</strong>:&nbsp;{{ entity.process|capitalize }}</li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>Payment </strong></label>
                                        {% if entity.accountMobileBank is not empty %}
                                            <ul class="unstyled" >
                                                <li><strong>Receive Mob.</strong>:&nbsp;{{ entity.accountMobileBank.mobile }}</li>
                                                <li><strong>Service</strong>:&nbsp;{{ entity.accountMobileBank.serviceName }}</li>
                                                <li><strong>Sender Mob.</strong>:&nbsp;{{ entity.mobileAccount }}</li>
                                                <li><strong>Transaction ID</strong>:&nbsp;{{ entity.transaction }}</li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="numeric" ><i class="icon-reorder"></i></th>
                                    <th class="numeric" >Item</th>
                                    <th class="numeric" >Size/Weight/Dimension</th>
                                    <th class="numeric" >Color</th>
                                    <th class="numeric" >Quantity</th>
                                    <th class="numeric" >Unit Price</th>
                                    <th class="numeric" >Total Price</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in entity.orderItems %}
                                    <tr id="remove-{{ item.id }}">
                                        <input type="hidden" name="itemId[]" value="{{ item.id }}">
                                        <td>{{ loop.index }}.</td>
                                        <td class="numeric" >{{ item.purchaseVendorItem.masterItem.name }} {{ item.purchaseVendorItem.webName }}</td>
                                        <td class="numeric" >
                                            {% if item.purchaseVendorItem.size is defined and item.purchaseVendorItem.size is not empty %}
                                                {% if entity.process == 'created' and item.status == 0  %}
                                                    {% if item.purchaseVendorItem.size is not empty %}
                                                        <select class="m-wrap span12" id="size-{{ item.id }}" name="size-{{ item.id }}">
                                                            {% for goodsItem in item.purchaseVendorItem.goodsItems %}
                                                                <option {% if  item.goodsItem.id == goodsItem.id  %} selected="selected" {% endif %} value="{{ goodsItem.id  }}">{{ goodsItem.size.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                {% else %}
                                                    {{ item.goodsItem.size.name }}
                                                {% endif %}
                                            {% endif %}

                                        </td>
                                        <td class="numeric" >
                                            {% if entity.process == 'created' and item.status == 0  %}
                                                {% if item.goodsItem.colors is not empty  %}
                                                    <select class="m-wrap span12" id="color-{{ item.id }}"  name="color-{{ item.id }}">
                                                        {% for itemColor in item.goodsItem.colors %}
                                                            <option {% if item.color is not empty and item.color.id == itemColor.id  %} selected="selected" {% endif %} value="{{ itemColor.id }}">{{ itemColor.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                {% endif %}
                                            {% else %}
                                                {% if item.color is not empty %}{{ item.color.name }}{% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >
                                            {% if entity.process == 'created' and item.status == 0  %}
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn red btn-number" data-type="minus" data-field="quantity" data-id="{{ item.id }}" data-url="{{ path('order_item_update',{'shop':globalOption.slug,'order':entity.id,'id':item.id}) }}" data-text="{{ item.id }}" data-title="{{ item.price }}">
                                                              <span class="add-on"><i class="icon-minus"></i></span>
                                                        </button>
                                                    </span>
                                                    <input type="text" readonly="readonly" name="quantity" id="quantity-{{ item.id }}" class="form-control m-wrap  span4 input-number" value="{{ item.quantity }}" min="1" max="100" >
                                                    <span class="input-group-btn">
                                                          <button type="button" class="btn blue btn-number" data-type="plus" data-field="quantity" data-id="{{ item.id }}"  data-url="{{ path('order_item_update',{'shop':globalOption.slug,'order':entity.id,'id':item.id}) }}" data-text="{{ item.id }}" data-title="{{ item.price }}">
                                                              <span class="add-on"><i class="icon-plus"></i></span>
                                                          </button>
                                                    </span>
                                                    {% if item.purchaseVendorItem.masterItem.productUnit is not empty %}
                                                        <span class="input-group-btn">
                                                          <button type="button" class="btn green">
                                                              <span class="add-on">{{ item.purchaseVendorItem.masterItem.productUnit.name }}</span>
                                                          </button>
                                                    </span>
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                {{ item.quantity }}
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >{{ item.price }}</td>
                                        <td class="numeric" >=&nbsp;{{ item.subTotal }}</td>
                                        <td class="numeric" >
                                            {% if item.status == 1 %}
                                                <a class="btn  mini green" ><i class=" icon-thumbs-up"></i> Accept</a>
                                            {% elseif item.status == 2 %}
                                                <a class="btn  mini yellow " ><i class="icon-thumbs-down"></i> Rejected</a>
                                            {% endif %}
                                            {% if entity.process == 'created'  %}
                                                <a title="Are you sure went to add ?"  data-id="{{ item.id }}" data-url="{{ path('order_item_update',{'shop':globalOption.slug,'order':entity.id,'id':item.id}) }}" data-value="{{ globalOption.slug }}" class="btn blue orderItemProcess" ><i class="icon-save"></i></a>
                                                <a title="Are you sure went to delete ?"  data-id="{{ item.id }}" data-url="{{ path('order_item_delete',{'shop':globalOption.slug,'order':entity.id,'id':item.id}) }}" data-value="{{ globalOption.slug }}" class="btn red item-remove" ><i class="icon-trash"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Total</span></td>
                                    <td class="numeric" colspan="1" >=&nbsp;{{ entity.totalAmount|number_format }}</td>
                                </tr>
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Delivery Charge</span></td>
                                    <td class="numeric">=&nbsp;{{ entity.shippingCharge }}</td>
                                </tr>

                                {% if entity.ecommerceConfig.vatEnable == 1 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Vat & Tax</span></td>
                                        <td class="numeric">=&nbsp;{{ entity.vat }}</td>
                                    </tr>
                                {% endif %}
                                {% if entity.discountAmount > 0 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Discount Amount</span></td>
                                        <td class="numeric">=&nbsp;{{ ( entity.discountAmount)|number_format }}</td>
                                    </tr>
                                {% endif %}
                                {% if entity.coupon is not empty %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Coupon Code({{ entity.coupon.couponCode }})</span></td>
                                        <td class="numeric">=&nbsp;{{ entity.couponAmount }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Grand Total</span></td>
                                    <td class="numeric"><strong>=&nbsp;{{ ( entity.grandTotalAmount)|number_format }}</strong></td>
                                </tr>
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Paid Amount</span></td>
                                    <td class="numeric"><strong>=&nbsp;{{ ( entity.paidAmount)|number_format }}</strong></td>
                                </tr>

                                {% if entity.dueAmount  > 0 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Due Amount</span></td>
                                        <td class="numeric" >=&nbsp;{{ ( entity.dueAmount)|number_format }}</td>
                                    </tr>
                                {% endif %}
                                {% if entity.returnAmount  > 0 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Return Amount</span></td>
                                        <td class="numeric">=&nbsp;{{ ( entity.returnAmount)|number_format }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                        </div>
                        <div class="clearfix"><br/></div>
                        <div class="form-actions portlet box yellow">
                            <div class="portlet-title"><div class="caption"><i class="icon-reorder"></i>Comments Information</div></div>
                        </div>
                        <div class="clearfix"><br/> </div>
                        {% set paymentID = entity.globalOption.id~'-ecommerce-payment-'~entity.id %}
                        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': paymentID } %}
                        <div class="clearfix"><br/> </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@EcommerceBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#fos_comment_comment_body').addClass('span12');
    $('.fos_comment_submit input[type="submit"]').addClass('btn blue');
{% endblock %}
