    {% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Account of Cash
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="javascript:">Account of Cash</a>
                    </li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Account Cash</div>
                        <div class="actions">
                            <div class="btn-group">
                                {% set startDate = searchForm.startDate is defined ? searchForm.startDate :"now"|date("d-m-Y") %}
                                {% set endDate = searchForm.endDate is defined ? searchForm.endDate :"now"|date("d-m-Y") %}
                                <a target="_blank" href="{{ path('account_transaction_accountcash',{'pdf':'pdf','startDate':startDate,'endDate':endDate}) }}" class="btn purple"><i class="icon icon-print"></i> Download</a>

                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body">
                            {% include('flash-message.html.twig') %}
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span6">

                                    </div>
                                   <div class="span3">
                                        <input type="text" id="startDate" name="startDate"  class="m-wrap span12 dateCalendar" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}Start date{% endif %} ">
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span11">
                                                <input type="text" id="endDate" name="endDate"  class="span11 m-wrap dateCalendar" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}End date{% endif %}  ">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content">
                                <tr class="head-red">
                                    <th class="" ><strong>Opening Balance</strong></th>
                                    <th class="" ><strong>Receive</strong></th>
                                    <th class="" ><strong>Payment</strong></th>
                                    <th class="" ><strong>Closing Balance</strong></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td class="numeric" ><strong>{{ overview.openingBalance|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ overview.debit|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ overview.credit|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ (overview.openingBalance + overview.debit - overview.credit)|number_format }}</strong></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="portlet-body flip-scroll">

                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Process</th>
                                    <th class="numeric" >Description</th>
                                    <th class="numeric" colspan="3" >
                                    <div class="row-fluid" style="border-bottom: 2px solid #ffffff; text-align: center; font-weight: bold"><span class="span12">Receive</span></div>
                                    <div class="row-fluid"><span class="span4">Cash</span><span class="span4">Bank</span><span class="span4">Mobile</span></div>
                                    </th>
                                    <th class="numeric" colspan="3" >
                                        <div class="row-fluid" style="border-bottom: 2px solid #ffffff; text-align: center; font-weight: bold"><span class="span12">Payment</span></div>
                                        <div class="row-fluid"><span class="span4">Cash</span><span class="span4">Bank</span><span class="span4">Mobile</span></div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr id="remove-{{ entity.id }}">
                                        <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                                        <td class="numeric" >{{ entity.processHead }}</td>
                                        <td class="numeric" >
                                            {% if entity.processHead == 'Expenditure' %}
                                               Expense: {% if entity.expenditure.category is defined and entity.expenditure.category is not empty %} {{ entity.expenditure.category.accountHead.name }}{% endif %}: {{ entity.accountRefNo }}
                                               {% if entity.expenditure.remark is not empty  %}
                                                <br/> {{ entity.expenditure.remark }}
                                               {% endif %}
                                            {% elseif entity.processHead == 'Sales' %}
                                                Account Sales : {{ entity.accountRefNo }}
                                                {% if entity.accountSales.remark is not empty  %}
                                                    <br/> {{ entity.accountSales.remark }}
                                                {% endif %}
                                            {% elseif entity.processHead == 'Purchase' %}
                                                Account Purchase : {{ entity.accountRefNo }}
                                                {% if entity.accountPurchase.remark is not empty  %}
                                                    <br/> {{ entity.accountPurchase.remark }}
                                                {% endif %}
                                            {% elseif entity.processHead == 'Journal' and  entity.debit > 0 %}
                                                Journal: {% if entity.accountJournal is defined and entity.accountJournal.accountHeadCredit is not empty %} {{ entity.accountJournal.accountHeadCredit.name }}{% endif %}: {{ entity.accountRefNo }}
                                                {% if entity.accountJournal.remark is not empty  %}
                                                    <br/> {{ entity.accountJournal.remark }}
                                                {% endif %}
                                            {% elseif entity.processHead == 'Journal' and  entity.credit > 0 %}
                                                Journal: {% if  entity.accountJournal is defined and entity.accountJournal.accountHeadDebit is not empty %} {{ entity.accountJournal.accountHeadDebit.name }}{% endif %}: {{ entity.accountRefNo }}
                                                {% if entity.accountJournal.remark is not empty  %}
                                                    <br/> {{ entity.accountJournal.remark }}
                                                {% endif %}
                                            {% elseif entity.processHead == 'BalanceTransfer'%}
                                                Balance Transfer: {% if  entity.balanceTransfer is defined  %} {{ entity.accountHead.name }}{% endif %}: {{ entity.accountRefNo }}
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >{% if entity.debit > 0 and entity.transactionMethod.slug == 'cash'  %}{{ entity.debit|number_format }}{% endif %}</td>
                                        <td class="numeric" >{% if entity.debit > 0 and entity.transactionMethod.slug == 'bank'  %}{{ entity.debit|number_format }}{% endif %}</td>
                                        <td class="numeric" >{% if entity.debit > 0 and entity.transactionMethod.slug == 'mobile'  %}{{ entity.debit|number_format }}{% endif %}</td>
                                        <td class="numeric" >{% if entity.credit > 0 and entity.transactionMethod.slug == 'cash'  %}{{ entity.credit|number_format }}{% endif %}</td>
                                        <td class="numeric" >{% if entity.credit > 0 and entity.transactionMethod.slug == 'bank'  %}{{ entity.credit|number_format }}{% endif %}</td>
                                        <td class="numeric" >{% if entity.credit > 0 and entity.transactionMethod.slug == 'mobile'  %}{{ entity.credit|number_format }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
 <style>
     .leftMargin {
         margin-left: 0!important;
     }
 </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    AccountingApproveProcess();
{% endblock %}


