{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Account of transaction overview
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('account_transaction') }}">Account of transaction overview</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:">Account of transaction overview lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Account transaction overview</div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <div class="cashPayment box">
                                <form class="search-form" action="" method="" name="itemSearch">
                                    <div class="span12 pull-right">
                                        <select id="accountHead" name="accountHead" class="span3 select2">
                                            <option value="Cash">--Select account head--</option>
                                            {% for account in accountHead %}
                                                <option value="{{ account.id }}">{{ account.name }}</option>
                                            {% endfor %}

                                        </select>
                                        <input type="text" id="remark" name="remark"  class=" span6 m-wrap"   placeholder="Remark...">
                                        <div class="input-append">
                                            <input  class="" type="hidden" name="parent" id="parent" value="">
                                            <div class="btn-group"><button id="payment-button" type="button" class="btn green" >Submit</button></div>
                                        </div>
                                    </div>

                                </form>
                                <div class="clearfix"></div>
                            </div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Parent Head</th>
                                    <th class="numeric" >Account Head</th>
                                    <th class="numeric" >Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, entity in entities %}
                                  <tr><td colspan="3" class="span9 service-group"><strong>{{ key }}</strong></td></tr>
                                    {% set total = 'total'~key  %}
                                    {% set total =  0   %}
                                    {% for val in  entities[key] %}
                                        {% set total = total + val.amount %}
                                         <tr><td>&nbsp;</td><td> {{ val.code }} - {{ val.name }}</td><td> {{ val.amount }}</td></tr>
                                    {% endfor %}
                                   <tr><td>&nbsp;</td><td>Total</td><td> {{ total }}</td></tr>
                                {% endfor %}
                              </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/pettycash.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $(".editable").editable();
    AccountingPettyCashPage();
{% endblock %}



