{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                    Sales Invoice # {{ entity.invoice }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('medicine_sales') }}">Sales</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Sales Details</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i> {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Sales Details</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" id="temporarySales" href="javascript:" data-url="{{ path('medicine_sales_temporary_new') }}"><i class="icon-plus-sign"></i> Add Sales</a>
                                <a class="btn black" href="{{ path('medicine_sales') }}"><i class="icon-th-list"></i> Sales</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="portlet-body form">
                            <div class="row-fluid">
                                <div class="span4">
                                    <h4>About:</h4>
                                    <ul class="unstyled">
                                        {% if entity.customer is not empty %}<li><strong>Customer #:</strong>&nbsp;{{ entity.customer.name }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Mobile #:</strong>&nbsp;{{ entity.customer.mobile }}</li>{% endif %}
                                        {% if entity.customer is not empty %}<li><strong>Address #:</strong>&nbsp;{{ entity.customer.address }}</li>{% endif %}
                                        {% if entity.customer is not empty and entity.customer.location is not empty   %}<li><strong>Location #:</strong>&nbsp;{{ entity.customer.location.name }}, {{ entity.customer.location.parent.name }}</li>{% endif %}
                                        <li><strong>Created:</strong>
                                            <a href="javascript:" id="created-{{ entity.id }}" class="created" data-type="date" data-name="created" data-pk="{{ entity.id }}" data-url="{{ path('medicine_sales_inline_update') }}" data-title="Enter created date" >{% if entity.created is not empty %}{{ entity.created|date('d-m-Y') }}{% endif %}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="span4 invoice-payment">
                                    <h4>Payment Details:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Total BDT:</strong>&nbsp;{{ entity.netTotal|number_format() }}</li>
                                        <li><strong>Payment BDT:</strong>&nbsp;{{ entity.received|number_format() }}</li>
                                        {% if entity.discount %}<li><strong>Discount BDT:</strong>&nbsp;{{ entity.discount|number_format() }}</li>{% endif %}
                                        {% if entity.due %}<li><strong>Due BDT:</strong>&nbsp;{{ entity.due|number_format() }}</li>{% endif %}
                                        <li><strong>Payment status</strong>&nbsp;{{  entity.paymentStatus|capitalize }}</li>
                                    </ul>
                                </div>
                                <div class="span4">
                                    <h4>Payment Method:</h4>
                                    <ul class="unstyled">
                                        <li><strong>Process:</strong>&nbsp;{{ entity.process }}</li>
                                        <li><strong>Payment Method:</strong>&nbsp;{{ entity.transactionMethod.name }}</li>
                                        {% if entity.accountMobileBank is not empty %}<li><strong>Received Mobile:</strong>&nbsp;{{ entity.accountMobileBank.name }}</li>{% endif %}
                                        {% if entity.paymentMobile is not empty %}<li><strong>Mobile/Transaction:</strong>&nbsp;{{ entity.paymentMobile }}/{{ entity.transactionId }}</li>{% endif %}
                                        {% if entity.accountBank is not empty %}<li><strong>Received Bank:</strong>&nbsp;{{ entity.accountBank.name }}</li>{% endif %}
                                        {% if entity.paymentCard is not empty %}<li><strong>Payment Card/No:</strong>&nbsp;{{ entity.paymentCard.name }}/{{ entity.cardNo }}</li>{% endif %}
                                        {% if entity.bank is not empty %}<li><strong>Bank:</strong>&nbsp;{{ entity.bank.name  }}</li>{% endif %}
                                        <li><strong>Sales By:</strong>&nbsp;{% if entity.salesBy is defined and entity.salesBy is not empty %}{{ entity.createdBy }}{% endif %}</li>
                                        <li><strong>Confirmed By:</strong>&nbsp;{% if entity.approvedBy is defined and entity.approvedBy is not empty %}{{ entity.approvedBy }}{% endif %}</li>
                                    </ul>
                                </div>
                            </div>
                            {% include('flash-message.html.twig')  %}
                            <div class="row-fluid box green">
                                <table class="table table-bordered table-striped table-condensed table-fixed">
                                    <thead class="flip-content ">
                                    <tr class="head-blue">
                                        {#<th class="span1">&nbsp;&nbsp;<i class="icon-list"></i> Barcode</th>#}
                                        <th class="span3">Name</th>
                                        <th class="span1">Sales Price</th>
                                        <th class="span1">Quantity</th>
                                        <th class="span1">Sub-total</th>
                                    </tr>
                                    </thead>
                                    <tbody id="">
                                    {% set totalQuantity = 0 %}
                                    {% if entity.medicineSalesItems is not empty %}
                                        {% for item in entity.medicineSalesItems %}
                                            {% set totalQuantity = totalQuantity + item.quantity %}
                                            <tr id="remove-{{ item.id }}">
                                                {#<td  class="span1">{{ loop.index }}. {{ item.getMedicinePurchaseItem.barcode }}</td>#}
                                                <td class="span3">{{ loop.index }}. {{ item.medicineStock.name }}</td>
                                                <td class="span1">{{ item.salesPrice }}</td>
                                                <td class="span1">{{ item.quantity }}</td>
                                                <td class="span1">{{ item.subTotal|number_format }}</td>
                                             </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="4" class="span12" style="border: 1px double #000"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="span9"><span class="pull-right"><strong>Total TK.</strong> =</span></td>
                                        <td class="span2"><strong id="">{{ totalQuantity }}</strong></td>
                                        <td class="span2"><strong id="">{{ entity.subTotal|number_format }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="span9"><span class="pull-right"><strong>Discount TK.</strong> =</span></td>
                                        <td class="span2"><strong id="">{{ entity.discount|number_format }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="span9"><span class="pull-right"><strong>Net-Total TK.</strong> =</span></td>
                                        <td class="span2"><strong id="">{{ entity.netTotal|number_format }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="span9"><span class="pull-right"><strong>Received TK.</strong> =</span></td>
                                        <td class="span2"><strong id="">{{ entity.received|number_format }}</strong></td>
                                     </tr>

                                     <tr>
                                        <td colspan="3" class="span9"><span class="pull-right"><strong>Due TK.</strong> =</span></td>
                                        <td class="span2"><strong id="">{{ entity.due|number_format }}</strong></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box grey">
                                <div class="pull-right">
                                   <span  class="btn purple"><i class=" icon-ok"></i>&nbsp;{{ entity.process }}</span>
                                    {% if ( (entity.process == 'Done' and app.user.granted("ROLE_MEDICINE_REVERSE")) or (entity.process == 'Done' and app.user.granted("ROLE_DOMAIN"))) %}
                                        <a  href="{{ path('medicine_sales_reverse',{'id':entity.id}) }}" class="btn yellow"><i class="icon-refresh"></i>&nbsp;Reverse</a>
                                    {% endif %}
                                </div>
                           </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@MedicineBundle/Resources/public/css/invoice.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
        '@MedicineBundle/Resources/public/js/temporary-sales.js'
        '@MedicineBundle/Resources/public/js/editable.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableWithLoadInit();
    jqueryTemporaryLoad();
    jqueryInstantTemporaryLoad();
    $('#salesTemporaryItem_stockName').focus();
    $('.created').editable({
    format: 'yyyy-mm-dd',
    viewformat: 'dd-mm-yyyy',
    datepicker: {
    minYear: {{ "now"|date('YY') }},
    maxYear: {{ "now"|date_modify("+5 year")|date('YY') }},
    minuteStep: 1
    }
    });
{% endblock %}
