{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN account_journal HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="account_journal-title">
                    Journal Double Entry
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('account_double_entry') }}">Journal Double Entry</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Journal Entry</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END account_journal HEADER-->
        <!-- BEGIN account_journal CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Journal Double Entry Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a href="javascript:" class="btn red  addmore"><i class="icon-plus"></i> Add Account Head</a>
                                <a class="btn" href="{{ path('account_double_entry') }}"><i class="icon-th-list"></i>&nbsp; Double Entry</a>
                                {% if app.user.granted("ROLE_SUPER_ADMIN") or app.user.granted("ROLE_DOMAIN_ACCOUNTING_JOURNAL") or app.user.granted("ROLE_DOMAIN_ACCOUNTING") %}
                                <a target="_blank" class="btn blue" href="{{ path('accounthead_new') }}"><i class="icon-plus-sign"></i>&nbsp; New Sub-head</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}
                        <div class="clearfix">&nbsp;</div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row-fluid">
                            <div class="span3"><strong>Account Head</strong></div>
                            <div class="span3"><strong>Sub-account Head</strong></div>
                            <div class="span3"><strong>Narration</strong></div>
                            <div class="span3"><strong>Dr.Amount or Cr.Amount</strong></div>
                        </div>
                        <div class="row-fluid clone-block" id="clone-block">
                            <div class="clone">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <input type="hidden" id="journalItem" name="journalItem[]" value="">
                                        <select required="required" class="search-input  span12 m-wrap accountHead" id="accountHead" name="accountHead[]">
                                            <option value=""  >Choose Account Head</option>
                                            {% for account in accountHead %}
                                                {% if heads[account.id] is defined and heads[account.id] is not empty %}
                                                    <optgroup label="{{ account.name }}">
                                                        {% for head in heads[account.id] %}
                                                            <option {% if searchForm.accountHead is defined and searchForm.accountHead == head.id %} selected="selected" {% endif %} value="{{ head.id }}">{{ head.name }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <select class="subAccountHead  span12 m-wrap" id="subAccountHead" name="subAccountHead[]">
                                            <option value="0">--Choose Sub-account Head--</option>

                                        </select>
                                    </div>
                                    <div class="span3">
                                        <input type="text" name="narration[]" id="narration" class="m-wrap span12" placeholder="Enter narration" value="">
                                    </div>
                                    <div class="span3">
                                        <div class="btn-group">
                                        <input type="number" name="debit[]" id="debit" class="debit m-wrap span4 removeZero" placeholder="Dr. amount" value="0">
                                            <input type="number" name="credit[]" id="credit" class="credit m-wrap span4 removeZero" placeholder="Cr. amount" value="0"><a href="javascript:"  class="btn red  remove hidden"><i class="icon-trash"></i></a></div>
                                    </div>

                                </div>
                            </div>
                            <div class="clone" id="added100">
                                <div class="row-fluid" >
                                    <div class="span3">
                                        <input type="hidden" id="journalItem" name="journalItem[]" value="">
                                        <select required="required" class="search-input  span12 m-wrap accountHead" id="accountHead" name="accountHead[]">
                                            <option value=""  >Choose Account Head</option>
                                            {% for account in accountHead %}
                                                {% if heads[account.id] is defined and heads[account.id] is not empty %}
                                                    <optgroup label="{{ account.name }}">
                                                        {% for head in heads[account.id] %}
                                                            <option {% if searchForm.accountHead is defined and searchForm.accountHead == head.id %} selected="selected" {% endif %} value="{{ head.id }}">{{ head.name }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <select class="subAccountHead  span12 m-wrap" id="subAccountHead" name="subAccountHead[]">
                                            <option value="0">--Choose Sub-account Head--</option>

                                        </select>
                                    </div>
                                    <div class="span3">
                                        <input type="text" name="narration[]" id="narration" class="m-wrap span12" placeholder="Enter narration" value="">
                                    </div>
                                    <div class="span3">
                                        <div class="btn-group">
                                            <input type="number" name="debit[]" id="debit" class="debit m-wrap span4 removeZero" placeholder="Dr. amount" value="0">
                                            <input type="number" name="credit[]" id="credit" class="credit m-wrap span4 removeZero" placeholder="Cr. amount" value="0"></div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        {% set totalDebit = 0 %}
                        {% set totalCredit = 0 %}
                        {% if  entity.accountJournalItems is defined and  entity.accountJournalItems is not empty %}

                        {% for item in entity.accountJournalItems %}
                            {% set totalDebit = totalDebit + item.debit %}
                            {% set totalCredit = totalCredit + item.credit  %}
                            <div class="row-fluid">
                                <div class="span3">
                                    <input type="hidden" id="journalItem" name="journalItem[]" value="{{ item.id }}">
                                    <select required="required" class="search-input  span12 m-wrap accountHead" id="accountHead" name="accountHead[]">
                                        <option value=""  >Choose Account Head</option>
                                        {% for account in accountHead %}
                                            {% if heads[account.id] is defined and heads[account.id] is not empty %}
                                                <optgroup label="{{ account.name }}">
                                                    {% for head in heads[account.id] %}
                                                        <option {% if item.accountHead is defined and item.accountHead.id == head.id %} selected="selected" {% endif %} value="{{ head.id }}">{{ head.name }}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="span3">
                                    <select class="subAccountHead  span12 m-wrap" id="subAccountHead" name="subAccountHead[]">

                                        <option value="">--Choose Sub-account Head--</option>
                                        {% if item.accountHead is defined and item.accountSubHead is not empty and heads[item.accountHead.id] is not empty %}
                                            {% for sub in heads[item.accountHead.id] %}
                                                <option {% if sub.id == item.accountSubHead.id %} selected="selected" {% endif %}  value="{{ sub.id }}">{{ sub.name }}</option>
                                            {% endfor %}
                                        {% endif %}

                                    </select>
                                </div>
                                <div class="span3">
                                    <input type="text" name="narration[]" id="narration" class="m-wrap span12" placeholder="Enter narration" value="{{ item.narration|raw }}">
                                </div>
                                <div class="span3">
                                    <div class="btn-group">
                                        <input type="number" name="debit[]" id="debit" class="debit m-wrap span4 removeZero" placeholder="Dr. amount" value="{{ item.debit }}">
                                        <input type="number" name="credit[]" id="credit" class="credit m-wrap span4 removeZero" placeholder="Cr. amount" value="{{ item.credit }}"><a href="javascript:" data-url="{{ path('account_double_entry_item_delete',{'id':item.id}) }}"  class="btn red approve"><i class="icon-trash"></i></a></div>
                                </div>

                            </div>
                        {% endfor %}
                        {% endif %}
                        <div class="row-fluid">
                            <div class="span9 text-right"><strong>Amount Total</strong></div>
                            <div class="span1"><strong class="totalDebit">{{ totalDebit }}</strong></div>
                            <div class="span1"><strong  class="totalCredit">{{ totalCredit }}</strong></div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group">
                                    <label class="control-label" for="firstName">Remark</label>
                                    <div class="controls">
                                        <input type="text" id="remark" name="remark"  class="m-wrap span12" placeholder="Enter Journal Remark" value="{{ entity.remark }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <!--/span-->
                        <div class="form-actions portlet box grey">
                            <div class="pull-right">
                                <input type="hidden" id="totalDebit" name="totalDebit" class="totalDebit" value="{{ entity.amount }}">
                                <input type="hidden" id="totalCredit" name="totalCredit" class="totalCredit" value="{{ entity.amount }}">
                                <button type="submit" disabled="disabled" id="submitBtn"  class="btn green"><i class="icon-save"></i>&nbsp;Save</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <!-- END FORM-->
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/approveProcess.js'
    '@AccountingBundle/Resources/public/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    AccountingApproveProcess();
    CommonJs();
{% endblock %}
