{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Product Ledger
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('account_sales') }}">Product Ledger</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:">Product Ledger</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Account sales</div>
                        <div class="actions">
                            <div class="btn-group">
                                {% set startDate = searchForm.startDate is defined ? searchForm.startDate :'' %}
                                {% set endDate = searchForm.endDate is defined ? searchForm.endDate :'' %}
                                {% set serialNo = searchForm.serialNo is defined ? searchForm.serialNo :'' %}
                                <a class="btn purple" target="_blank" href="{{ path('assets_ledger_product_pdf',{'startDate':startDate,'endDate':endDate,'serialNo':serialNo}) }}" >
                                    <i class=" icon-download"></i>&nbsp;Download PDF
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        {% include('flash-message.html.twig') %}
                        <form class="search-form" action="" method="get" name="itemSearch">
                            <div class="row-fluid">
                                <div class="span2">
                                    <input type="text" id="item" name="item"  class="leftMargin span12 select2Customer m-wrap" value="{% if searchForm.item is defined %}{{ searchForm.item }}{% endif %}"  autocomplete="off" placeholder="Item name">
                                </div>
                                <div class="span2">
                                    <input type="text" id="serialNo" name="serialNo"  class="leftMargin span12 m-wrap" value="{% if searchForm.serialNo is defined %}{{ searchForm.serialNo }}{% endif %}"  autocomplete="off" placeholder="Serial no">
                                </div>
                                <div class="span2">
                                    <input type="text" id="category" name="category"  class="span12 search-input  m-wrap" value="{% if searchForm.category is defined %}{{ searchForm.category }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.category is defined %}{{ searchForm.category }}{% else %}Enter category name{% endif %} ">
                                </div>
                                <div class="span2">
                                    <input type="text" id="startDate" name="startDate"  class="span12 search-input  date-picker m-wrap" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}Start date{% endif %} ">
                                </div>
                                <div class="span2">
                                    <div class="controls">
                                        <div class="input-append span11">
                                            <input type="text" id="endDate" name="endDate"  class="span10 search-input date-picker m-wrap" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}End date{% endif %} ">
                                            <div class="btn-group">
                                                <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <table class="table table-bordered table-striped table-condensed flip-content ">
                            <thead class="flip-content">
                            {#<tr class="head-red">
                                <th class="numeric" ><strong>Opening Balance</strong></th>
                                <th class="numeric" ><strong>Depreciation Value</strong></th>
                                <th class="numeric" ><strong>Closing Balance</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="numeric" ><strong>{{ overview.openingBalance|number_format }}</strong></td>
                                <td class="numeric" ><strong>{{ overview.receiveAmount|number_format }}</strong></td>
                                <td class="numeric" ><strong>{{ (overview.totalAmount - overview.receiveAmount)|number_format }}</strong></td>
                            </tr>#}

                            </tbody>
                        </table>
                    </div>
                    <div class="portlet-body flip-scroll">
                        {% include('flash-message.html.twig')  %}
                        <table class="table table-bordered table-striped table-condensed flip-content ">

                            <thead class="flip-content "><tr class="head-blue">
                                <th class="numeric" >Created</th>
                                <th class="numeric" >Serial No</th>
                                <th class="numeric" >Product</th>
                                <th class="numeric" >Item</th>
                                <th class="numeric" >Category</th>
                                <th class="numeric" >Branch</th>
                                <th class="numeric" >Debit</th>
                                <th class="numeric" >Credit</th>
                                <th class="numeric" >Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr id="remove-{{ entity.id }}">
                                    <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                                    <td class="numeric" >{{ entity.product.serialNo }}</td>
                                    <td class="numeric" >{{ entity.product.name }}</td>
                                    <td class="numeric" >{{ entity.product.item.name }}</td>
                                    <td class="numeric" >{{ entity.product.category.name }}</td>
                                    <td class="numeric" >{{ entity.product.branch.name }}</td>
                                    <td class="numeric" >{{ entity.debit|number_format }}</td>
                                    <td class="numeric" >{{ entity.credit|number_format }}</td>
                                    <td class="numeric" >{{ entity.balance|number_format }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination pull-center"  >
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/approveProcess.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}



