{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN account_sales HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="account_sales-title">
                    Customer Payment Receive
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="{{ path('account_sales_business') }}">Customer Payment Receive</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END account_sales HEADER-->
        <!-- BEGIN account_sales CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Customer Payment Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn yellow" href="{{ path('account_sales_business') }}"><i class="icon-th-list"></i>&nbsp;Business Sales</a>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body">

                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}

                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="row-fluid">
                                    <div class="span12 ">
                                        <div class="control-group">
                                            <label class="control-label" for="Customer">Customer</label>
                                            <div class="controls">
                                                {{ form_widget(form.customer) }}
                                                {{ form_errors(form.customer) }}
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" for="paymentMethod">Transaction method</label>
                                            <div class="controls">
                                                {{ form_widget(form.transactionMethod) }}
                                                {{ form_errors(form.transactionMethod) }}
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                    <div class="row-fluid bankHide">
                                        <div class="span12">
                                            <div class="control-group ">
                                                <label class="control-label" for="accountBank">
                                                    {{ form_widget(form.accountBank) }}
                                                    {{ form_errors(form.accountBank) }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid mobileBankHide">
                                        <div class="span12">
                                            <div class="control-group ">
                                                <label class="control-label" for="accountBkash">
                                                    {{ form_widget(form.accountMobileBank) }}
                                                    {{ form_errors(form.accountMobileBank) }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label" for="amount">Receive Mode</label>
                                                <div class="controls">
                                                    {{ form_widget(form.processHead) }}
                                                    {{ form_errors(form.processHead) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label" for="amount">Received Amount</label>
                                                <div class="controls">
                                                    {{ form_widget(form.amount) }}
                                                    {{ form_errors(form.amount) }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <p><strong>Outstanding BDT</strong> : <strong id="outstanding"></strong></p>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Remark</label>
                                        <div class="controls">
                                            {{ form_widget(form.remark) }}
                                            {{ form_errors(form.remark) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/span-->
                            <div class="form-actions portlet box grey">
                                <div class="pull-right">
                                    <button type="submit" class="btn green"><i class="icon-save"></i>&nbsp;Received</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/common.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    CommonJs();
{% endblock %}