{% extends '::base-report.html.twig' %}
{% block body %}
    <div class="row">
        <div class="print-bar">
            <form name="searchForm" id="searchForm" action="{{ path('hms_report_hospital_invoice_ajax') }}" method="post">
                <div class="grid-container">
                    <div class="grid-item">
                        <label>Employee</label>
                        <select class="search-input span12 m-wrap" id="user" name="user">
                            <option value="">--Select Created User--</option>
                            {% for employee in employees %}
                                <option {% if searchForm.user is defined and searchForm.user == employee.id %} selected="selected" {% endif %} value="{{ employee.id }}">{{ employee.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid-item">
                        <label>Referred</label>
                        <select name="referred" id="referred" class="search-input select2 span12 m-wrap">
                            <option value="" >--Select Referred--</option>
                            {% for doctor in referredDoctors %}
                                <option {% if searchForm.doctor is defined and searchForm.doctor == doctor.id %} selected="selected" {% endif %} value="{{ doctor.id }}" >{{ doctor.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid-item">
                        <label>Assign Doctor</label>
                        <select name="doctor" id="doctor" class="search-input select2 span12 m-wrap">
                            <option value="" >--Select Consultant/Doctor--</option>
                            {% for doctor in assignDoctors %}
                                <option {% if searchForm.doctor is defined and searchForm.doctor == doctor.id %} selected="selected" {% endif %} value="{{ doctor.id }}" >{{ doctor.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid-item">
                        <label>Anesthesia Doctor</label>
                        <select class="search-input span12 m-wrap" id="anesthesiaDoctor" name="anesthesiaDoctor">
                            <option value="">--Select Anesthesia Doctor--</option>
                            {% for employee in anesthesiaDoctors %}
                                <option {% if searchForm.anesthesiaDoctor is defined and searchForm.anesthesiaDoctor == employee.id %} selected="selected" {% endif %} value="{{ employee.id }}">{{ employee.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid-item">
                        <label>Discounted By</label>
                        <select class="search-input span12 m-wrap" id="discountedBy" name="discountedBy">
                            <option value="">--Select discounted By--</option>
                            {% for employee in discountedUsers %}
                                <option {% if searchForm.discountedBy is defined and searchForm.discountedBy == employee.name %} selected="selected" {% endif %} value="{{ employee.name }}">{{ employee.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid-item">
                        <label>Marketing Users By</label>
                        <select class="search-input span12 m-wrap" id="marketingUser" name="marketingUser">
                            <option value="">--Select Marketing User By--</option>
                            {% for employee in marketingUsers %}
                                <option {% if searchForm.marketingUser is defined and searchForm.marketingUser == employee.id %} selected="selected" {% endif %} value="{{ employee.id }}">{{ employee.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid-item">
                        <div class="col-md-6">

                            <label>Invoice Mode</label><br/>
                            <select class="search-input span12 m-wrap" id="mode" name="mode">
                                <option value="">--Invoice Mode--</option>
                                {% set modes = {'diagnostic':'Diagnostic','admission':'Admission','visit':'Visit'} %}
                                {% for key,mode in modes %}
                                    <option {% if searchForm.mode is defined and searchForm.mode == key %} selected="selected" {% endif %} value="{{ key }}">{{ mode }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Mode</label><br/>
                            <select class="search-input span12 m-wrap" id="referredMode" name="referredMode">
                                <option value="">--Mode--</option>
                                {% set referredModes = {'all':'All','doctor':'Doctor','referred':'Referred','assistant':'Assistant Doctor','anesthesia':'Anesthesia','discountBy':'Discount By'} %}
                                {% for key,mode in referredModes %}
                                    <option {% if searchForm.referredMode is defined and searchForm.referredMode == key %} selected="selected" {% endif %} value="{{ key }}">{{ mode }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="grid-item">
                        <label>Start Date</label><br/>
                        <input type="datetime-local" class="m-wrap datepicker" required="required"  id="startDate" name="startDate" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}">
                    </div>
                    <div class="grid-item">
                        <label>End Date</label><br/>
                        <input type="datetime-local" class="m-wrap datepicker span8 m-wrap" required="required"  id="endDate" name="endDate" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% endif %}">
                    </div>
                    <div class="grid-item">
                        <div class="col-md-8">
                            <label>Process</label>
                            <select class="search-input span12 m-wrap" id="process" name="process">
                                <option value="">--Select Process--</option>
                                {% for process in processes %}
                                    <option {% if searchForm.process is defined and searchForm.process == process.name %} selected="selected" {% endif %} value="{{ process.name }}">{{ process.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4 margin-top-15" >
                            <button type="button" class='btn btn-download btn-margin-left ajax-btn' value="search" name="submit" ><i class='fa fa-search'></i></button>
                            <button class="btn purple" onclick="exportExcel()" type="button"><i class="fa fa-file"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="loader loader-double" ></div>
    <div id="print-area">
        <div class="col-md-12" id="data-load"></div>
    </div>
    <script>
        function exportExcel() {
            var table = document.querySelector('#downloadExcel');
            TableToExcel.convert(table);
        }
    </script>
{% endblock %}