<div class="row print-header">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <p><strong style="font-size:18px">{{ option.name }}</strong></p>
        <p><strong>Name of Report: Commission Details</strong></p>
        <p><strong>Start/End Date: {% if searchForm.startDate is defined %}{{ searchForm.startDate|date('d-m-Y') }}{% endif %} To {% if searchForm.endDate is defined %}{{ searchForm.endDate|date('d-m-Y') }}{% endif %}</strong></p>
    </div>
    <div class="col-md-4 text-right">Printed: {{ "now"|date('d-m-Y') }}</div>
</div>
<div class="row">
    <table class="table">
        <thead class="flip-content ">
        <tr class="head-green">
            <th class="numeric" >S/N</th>
            <th class="numeric" >Created</th>
            <th class="numeric" >Close Date</th>
            <th class="numeric" >Invoice No</th>
            <th class="numeric" >Mode</th>
            <th class="numeric" >Patient</th>
            <th class="numeric" >Referred</th>
            <th class="numeric" >Doctor</th>
            <th class="numeric" >Sub-Total</th>
            <th class="numeric" >Discount</th>
            <th class="numeric" >Total</th>
            <th class="numeric" >Name of Commission</th>
            <th class="numeric" >Commission</th>
        </tr>
        </thead>
        <tbody>
        {% set grandSubTotal = 0 %}
        {% set grandTotal = 0 %}
        {% set grandCommission = 0 %}
        {% set grandDiscount = 0 %}
        {% for entity in entities %}
            {% set  grandSubTotal = grandSubTotal + entity.subTotal %}
            {% set  grandTotal = grandTotal + entity.total %}
            {% set  grandDiscount = grandDiscount + entity.discount %}
            {% set  grandCommission = grandCommission + entity.commission %}
            <tr id="delete-{{ entity.id }}">
                <td class="numeric" >{{ loop.index }}</td>
                <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
                <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                <td class="numeric" >{{ entity.invoice }}</td>
                <td class="numeric" >{{ entity.invoiceMode }}</td>
                <td class="numeric" >{{ entity.customer }}</td>
                <td class="numeric" >{{ entity.doctor }}</td>
                <td class="numeric" >{{ entity.referred }}</td>
                <td class="numeric" >{{ entity.subTotal }}</td>
                <td class="numeric" >{{ entity.discount }}</td>
                <td class="numeric" >{{ entity.total }}</td>
                <td class="numeric" >{{ entity.commissionName }}</td>
                <td class="numeric" >{{ entity.commission }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="8"><span class="pull-right">Grand Total</span></th>
            <td>{{ grandSubTotal }}</td>
            <td>{{ grandDiscount }}</td>
            <td>{{ grandTotal }}</td>
            <td></td>
            <td>{{ grandCommission }}</td>
        </tr>
        </tfoot>
    </table>
</div>
