{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Order
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('customer_order') }}">Manage Order</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Order Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Order Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn purple" href="{{ path('customer_order_print_invoice', {'id': entity.id }) }} " target="_blank"><i class="icon-print"></i>&nbsp; Print</a>
                                <a class="btn yellow" href="{{ path('customer_order') }}"><i class="icon-th-list"></i>&nbsp;Orders</a>
                                <a class="btn red" href="{{ path('customer_order_new') }}"><i class="icon-th-list"></i>&nbsp;New Order</a>

                            </div>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>Bill Overview</strong></label>
                                        <ul class="unstyled" >
                                            <li><strong>Invoice</strong>:#&nbsp;{{ entity.invoice }}</li>
                                            <li><strong>Grand Total</strong>:&nbsp;{{ entity.grandTotalAmount }}</li>
                                            {% if entity.discountAmount > 0 %}
                                                <li><strong>Discount</strong>:&nbsp;{{ entity.discountAmount }}</li>
                                            {% endif %}
                                            <li><strong>Delivery Charge</strong>:&nbsp;{{ entity.shippingCharge }}</li>
                                            <li><strong>Paid</strong>:&nbsp;{{ entity.paidAmount }}</li>
                                            {% if entity.paidAmount <  entity.grandTotalAmount and entity.dueAmount > 0 %}
                                                <li><strong>Due</strong>:&nbsp;{{ entity.dueAmount }}</li>
                                            {% elseif entity.paidAmount >  entity.grandTotalAmount and entity.returnAmount > 0 %}
                                                <li><strong>Return</strong>:&nbsp;{{ entity.returnAmount }}</li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>{{ entity.delivery|capitalize }} Address</strong></label>
                                        <ul class="unstyled" >
                                            <li><strong>Name</strong>: <a  data-type="text" class="editable" id="{{ entity.id }}" data-name="CustomerName" href="#"   data-url="{{ path('customer_order_inline_update') }}" data-pk="{{ entity.id }}" data-value="{{ entity.customerName }}" data-original-title="Enter Customer Name">{{ entity.customerName }}</a></li>
                                            <li><strong>Mobile</strong>:<a  data-type="text" class="editable" id="{{ entity.id }}" data-name="CustomerMobile" href="#"   data-url="{{ path('customer_order_inline_update') }}" data-pk="{{ entity.id }}" data-value="{{ entity.customerMobile }}" data-original-title="Enter Customer Mobile">{{ entity.customerMobile }}</a></li>
                                            <li><strong>Address</strong>:<a  data-type="text" class="editable" id="{{ entity.id }}" data-name="Address" href="#"   data-url="{{ path('customer_order_inline_update') }}" data-pk="{{ entity.id }}" data-value="{{ entity.address }}" data-original-title="Enter Customer Mobile">{{ entity.address }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>Process Details</strong></label>
                                        <ul class="unstyled" >
                                            {% if entity.cashOnDelivery == 1 %}
                                                <li><strong>Payment Method</strong>:&nbsp;Cash On Delivery</li>
                                            {% endif %}
                                            <li><strong>Shipping Method</strong>:&nbsp;{{ entity.delivery|capitalize }}</li>
                                            <li><strong>Delivery Date</strong>:&nbsp;{{ entity.deliveryDate|date('d-m-Y') }}</li>
                                            <li><strong>Process</strong>:&nbsp;{{ entity.process|capitalize }}</li>
                                            <li><strong>Prescription</strong>:&nbsp; {% if entity.path is not empty %}<a href="{{ path('customer_order_attach_download',{'invoice':entity.invoice}) }}" target="_blank"> <i class="icon-download"></i> <strong>Download</strong></a>{% endif %}</li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label><strong>Payment </strong></label>
                                        {% if entity.accountMobileBank is not empty %}
                                            <ul class="unstyled" >
                                                <li><strong>Receive Mob.</strong>:&nbsp;{{ entity.accountMobileBank.mobile }}</li>
                                                <li><strong>Service</strong>:&nbsp;{{ entity.accountMobileBank.serviceName }}</li>
                                                <li><strong>Sender Mob.</strong>:&nbsp;{{ entity.mobileAccount }}</li>
                                                <li><strong>Transaction ID</strong>:&nbsp;{{ entity.transaction }}</li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="portlet-body flip-scroll">
                             <div class="clearfix">&nbsp;</div>
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="numeric" ><i class="icon-reorder"></i></th>
                                    <th class="numeric" >Item</th>
                                    <th class="numeric" >Brand</th>
                                    <th class="numeric" >Category</th>
                                    <th class="numeric span3" >Quantity</th>
                                    <th class="numeric" >Unit Price</th>
                                    <th class="numeric" >Total Price</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for orderItem in entity.orderItems %}
                                    <tr id="remove-{{ orderItem.id }}">
                                        <input type="hidden" name="itemId[]" value="{{ orderItem.id }}">
                                        <td>{{ loop.index }}.</td>
                                        <td class="numeric" >{{ orderItem.itemName }}</td>
                                        <td class="numeric" >{{ orderItem.brandName }}</td>
                                        <td class="numeric" >{{ orderItem.categoryName }}</td>
                                        <td class="numeric" >
                                            {% if entity.process == 'created' and orderItem.status == 0  %}
                                                <div class="input-append">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn red btn-number" data-type="minus" data-field="quantity" data-id="{{ orderItem.id }}" data-url="{{ path('order_item_update',{'shop':globalOption.slug,'order':entity.id,'id':orderItem.id}) }}" data-text="{{ orderItem.id }}" data-title="{{ orderItem.price }}">
                                                            <i class="icon-minus"></i>
                                                        </button>

                                                    <input type="text" readonly="readonly" name="quantity" id="quantity-{{ orderItem.id }}" class="form-control m-wrap  span4 input-number" value="{{ orderItem.quantity }}" min="1" max="100" >
                                                          <button type="button" class="btn blue btn-number" data-type="plus" data-field="quantity" data-id="{{ orderItem.id }}"  data-url="{{ path('order_item_update',{'shop':globalOption.slug,'order':entity.id,'id':orderItem.id}) }}" data-text="{{ orderItem.id }}" data-title="{{ orderItem.price }}">
                                                             <i class="icon-plus"></i>
                                                          </button>
                                                    {% if orderItem.UnitName is not empty %}
                                                              <button type="button" class="btn yellow">
                                                                 {{ orderItem.UnitName }}
                                                              </button>
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                {{ orderItem.quantity }}
                                            {% endif %}
                                            </td>
                                        <td class="numeric" >{{ orderItem.price }}</td>
                                        <td class="numeric" >=&nbsp;{{ orderItem.subTotal }}</td>
                                        <td class="numeric" >
                                            {% if orderItem.status == 1 %}
                                                <a class="btn  mini green" ><i class=" icon-thumbs-up"></i> Accept</a>
                                            {% elseif orderItem.status == 2 %}
                                                <a class="btn  mini yellow " ><i class="icon-thumbs-down"></i> Rejected</a>
                                            {% endif %}
                                            {% if entity.process == 'created'  %}
                                                <a title="Are you sure went to add ?"  data-id="{{ orderItem.id }}" data-url="{{ path('order_item_update',{'shop':globalOption.slug,'order':entity.id,'id':orderItem.id}) }}" data-value="{{ globalOption.slug }}" class="btn blue orderItemProcess" ><i class="icon-save"></i></a>
                                                <a title="Are you sure went to delete ?"  data-id="{{ orderItem.id }}" data-url="{{ path('order_item_delete',{'shop':globalOption.slug,'order':entity.id,'id':orderItem.id}) }}" data-value="{{ globalOption.slug }}" class="btn red item-remove" ><i class="icon-trash"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Total</span></td>
                                    <td class="numeric" colspan="1" >=&nbsp;{{ entity.totalAmount|number_format }}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Delivery Charge</span></td>
                                    <td class="numeric">=&nbsp;<a  data-type="text" class="editable" id="{{ entity.id }}" data-name="ShippingCharge" href="javascript:"   data-url="{{ path('customer_order_inline_update') }}" data-pk="{{ entity.id }}" data-value="{{ entity.shippingCharge }}" data-original-title="Enter Delivery Charge">{{ entity.shippingCharge }}</a></td>
                                    <td></td>
                                </tr>

                                {% if entity.ecommerceConfig.vatEnable == 1 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Vat & Tax</span></td>
                                        <td class="numeric">=&nbsp;{{ entity.vat }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if entity.discountAmount > 0 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Discount Amount</span></td>
                                        <td class="numeric">=&nbsp;{{ ( entity.discountAmount)|number_format }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if entity.coupon is not empty %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Coupon Code({{ entity.coupon.couponCode }})</span></td>
                                        <td class="numeric">=&nbsp;{{ entity.couponAmount }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Grand Total</span></td>
                                    <td class="numeric"><strong>=&nbsp;{{ ( entity.grandTotalAmount)|number_format }}</strong></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="numeric" colspan="6" ><span class="pull-right">Paid Amount</span></td>
                                    <td class="numeric"><strong>=&nbsp;{{ ( entity.paidAmount)|number_format }}</strong></td>
                                    <td></td>
                                </tr>

                                {% if entity.dueAmount  > 0 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Due Amount</span></td>
                                        <td class="numeric" >=&nbsp;{{ ( entity.dueAmount)|number_format }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% if entity.returnAmount  > 0 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Return Amount</span></td>
                                        <td class="numeric">=&nbsp;{{ ( entity.returnAmount)|number_format }}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                        </div>
                        <div class="clearfix"><br/> </div>
                        <div class="clearfix"> </div>
                        <div class="form-actions portlet box red">
                            <div class="portlet-title"><div class="caption"><i class="icon-reorder"></i>Order Update</div></div>
                        </div>
                        <div class="clearfix"><br/> </div>
                        {{ form_start(salesItem) }}
                        {{ form_row(salesItem._token) }}
                        <div class="row-fluid particular-info" style="padding-left:15px!important" >
                            <div class="span8">
                                {{ form_widget(salesItem.itemName) }}
                                {{ form_errors(salesItem.itemName) }}
                            </div>
                            <div class="span4">
                                <div class="input-append">
                                    <div class="input-group">
                                        {{ form_widget(salesItem.price) }}
                                        {{ form_errors(salesItem.price) }}
                                        {{ form_widget(salesItem.quantity) }}
                                        {{ form_errors(salesItem.quantity) }}
                                        <button type="button" class="btn yellow" id="unit">Unit</button>
                                        <button type="button" class="btn blue" id="addOrderItem"> <span class="fa fa-shopping-cart"></span> Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(salesItem) }}
                        <div class="clearfix"><br/> </div>
                        <div class="clearfix"> </div>
                        <div class="form-actions portlet box blue">
                            <div class="portlet-title"><div class="caption"><i class="icon-reorder"></i>Payment Process</div></div>
                        </div>
                        <div class="clearfix"><br/></div>
                        <table class="table table-bordered table-striped table-condensed flip-content ">
                            <thead class="flip-content ">
                            <tr class="head-green">
                                <th class="numeric" >Date</th>
                                <th class="numeric" >Transaction Type</th>
                                <th class="numeric" >Payment Mobile</th>
                                <th class="numeric" >Transaction ID</th>
                                <th class="numeric" >Receive Mobile</th>
                                <th class="numeric" >Receive Amount</th>
                                <th class="numeric" >Return Amount</th>
                                <th class="numeric" >Process</th>
                                <th class="numeric" >Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in entity.orderPayments %}
                                <tr id="remove-{{ payment.id }}">
                                    <td>{{ payment.updated|date('d-m-Y') }}</td>
                                    <td class="numeric" >{{ payment.transactionType }}</td>
                                    <td class="numeric" >{{ payment.mobileAccount }}</td>
                                    <td class="numeric" >{{ payment.transaction }}</td>
                                    <td class="numeric" >{{ payment.accountMobileBank.name }}</td>
                                    <td class="numeric" >{% if payment.transactionType =='Receive' %}{{ payment.amount|number_format }}{% endif %}</td>
                                    <td class="numeric" >{% if payment.transactionType =='Return' %}{{ payment.amount|abs|number_format }}{% endif %}</td>
                                    <td class="numeric" >
                                        {% if payment.status == 1 %}
                                            <span class="btn  mini green"><i class=" icon-thumbs-up"></i> Accept</span>
                                        {% elseif  payment.status ==2 %}
                                            <span class="btn  mini yellow"><i class=" icon-thumbs-down"></i> Reject</span>
                                        {% endif %}
                                    </td>
                                    <td class="numeric" >
                                        {% if payment.status == 0 %}
                                        <a class="btn  mini green confirm" data-url="{{ path('customer_order_payment_confirm',{'id':payment.id,'process':1}) }}" ><i class=" icon-thumbs-up"></i> Accept</a>
                                        <a class="btn  mini yellow confirm" data-url="{{ path('customer_order_payment_confirm',{'id':payment.id,'process':2}) }}" ><i class=" icon-thumbs-down"></i> Reject</a>
                                        {% endif %}
                                        {% set postCondition = {'wfc': 'wfc' ,'created':'created'} %}
                                        {% if entity.process in  postCondition|keys %}
                                            <a class="btn  mini red remove" data-url="{{ path('customer_order_payment_delete',{'id':payment.id}) }}"  data-id="{{ payment.id }}" ><i class=" icon-trash"></i> Delete</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="clearfix"> </div>
                        <div class="clearfix"><br/> </div>
                        {{ form_start(paymentForm) }}
                        {{ form_row(paymentForm._token) }}
                        <div class="row-fluid">
                            <div class="span10">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="row-fluid">
                                            <div class="span2">
                                                <div class="row-fluid">
                                                    <div class="span12">
                                                        <div class="control-group">
                                                             <label class="tooltips" data-original-title="If you went delivery cash on ,Pls click this." for="cashOnDelivery" data-trigger="hover" data-date-format=""> <input type="checkbox" id="cashOnDelivery" name="cashOnDelivery" {% if entity.cashOnDelivery == 1 %} checked="checked" {% endif %} > Cash on Delivery</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="cashOn" {% if entity.cashOnDelivery == 1 %} style="display: none" {% endif %}>
                                            <div class="span2">
                                                <div class="row-fluid">
                                                    <div class="span12">
                                                        <div class="control-group">
                                                            {{ form_widget(paymentForm.amount) }}
                                                            {{ form_errors(paymentForm.amount) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="span8">
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <div class="control-group">
                                                            {{ form_widget(paymentForm.transactionType) }}
                                                            {{ form_errors(paymentForm.transactionType) }}
                                                        </div>
                                                    </div>
                                                    <div class="span8">
                                                        <div class="control-group">
                                                            {{ form_widget(paymentForm.accountMobileBank) }}
                                                            {{ form_errors(paymentForm.accountMobileBank) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <div class="control-group">
                                                            <div class="controls">
                                                                {{ form_widget(paymentForm.mobileAccount) }}
                                                                {{ form_errors(paymentForm.mobileAccount) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="span8">
                                                        <div class="control-group">
                                                            <div class="controls">
                                                                {{ form_widget(paymentForm.transaction) }}
                                                                {{ form_errors(paymentForm.transaction) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <div class="controls">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid" style="margin-top: 25px">
                                    <div class="span12">
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="button" id="adminSubmitPayment" name="adminSubmitPayment" value="payment"  class="btn green {% if entity.cashOnDelivery == 1 %}  submitOrder {% else %} submitPayment {% endif %}"><i class="icon-save"></i>&nbsp;Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {{ form_end(paymentForm) }}

                        <div class="clearfix"><br/> </div>
                        <div class="clearfix"> </div>
                        <div class="form-actions portlet box blue">
                            <div class="portlet-title"><div class="caption"><i class="icon-reorder"></i>Order Process</div></div>
                        </div>
                        <div class="clearfix"><br/> </div>
                        <div>

                            {{ form_start(orderForm) }}
                            {{ form_row(orderForm._token) }}
                            <div class="row-fluid">
                                <div class="span12">
                                    {{ form_widget(orderForm.comment) }}
                                    {{ form_errors(orderForm.comment) }}
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3"></div>
                                <div class="span3">
                                    <div class="control-group pull-right">
                                        {{ form_widget(orderForm.deliveryDate) }}
                                        {{ form_errors(orderForm.deliveryDate) }}
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group pull-right">
                                        {{ form_widget(orderForm.deliverySlot) }}
                                        {{ form_errors(orderForm.deliverySlot) }}
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-append">
                                                {{ form_widget(orderForm.process) }}
                                                {{ form_errors(orderForm.process) }}
                                                <div class="btn-group"> <button type="submit" id="submitProcess" name="submitProcess"  class="btn blue"><i class="icon-refresh"></i>&nbsp;Process</button></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(orderForm) }}
                        </div>

                        <div class="clearfix"><br/> </div>
                        <div class="form-actions portlet box yellow">
                            <div class="portlet-title"><div class="caption"><i class="icon-reorder"></i>Comments Information</div></div>
                        </div>
                        <div class="clearfix"><br/> </div>
                        {% set paymentID = entity.globalOption.id~'-ecommerce-payment-'~entity.id %}
                        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': paymentID } %}
                        <div class="clearfix"><br/> </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="payment-confirm" style="display:none; text-align: left!important;">Thank you for your payment. Your payment has been sent successfully to our customer service department.</div>
<style>
    input[class*="span"].m-wrap,select[class*="span"],select{
        border: 3px solid #0b84fe!important;
        height: 34px!important;
    }
    .row-fluid textarea[class*="span"] {
        border: 3px solid #0b84fe!important;
    }
    .select2-container .select2-choice {
        border: 3px solid #0b84fe!important;
        height: 27px!important;
    }

</style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@EcommerceBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@EcommerceBundle/Resources/public/js/editable.js'
    '@EcommerceBundle/Resources/public/js/medicine.js'
    '@EcommerceBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
    ApproveProcess();
    $('#fos_comment_comment_body').addClass('span12');
    $('.fos_comment_submit input[type="submit"]').addClass('btn blue');
{% endblock %}
