
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Manage Stock Adjustment
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Manage Stock Adjustment</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Stock Adjustment Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="{{ path('stock_adjustment') }}"><i class="icon-th-list"></i> Stock Adjustment</a>
                                <a class="btn red" href="{{ path('stock_adjustment_new') }}"><i class="icon-plus-sign"></i> Add Stock Adjustment</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="row-fluid">
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <input type="text" id="name" name="name"  class="span12 m-wrap select2StockMedicineName" value="{% if searchForm.name is defined %}{{ searchForm.name }}{% endif %}"  autocomplete="off" placeholder="Enter medicine & others name ">
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="brandName"  name="brandName"  class="span12 m-wrap select2BrandName" value="{% if searchForm.brandName is defined %}{{ searchForm.brandName }}{% endif %}"  autocomplete="off"  placeholder="Product brand name">
                                    </div>
                                    <div class="span3">
                                        <input type="text" id="createdBy" name="createdBy"  class="span12 m-wrap select2User" value="{% if searchForm.createdBy is defined %}{{ searchForm.createdBy }}{% endif %}"  autocomplete="off" placeholder="Enter created by ">
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span10">
                                                <input type="text" id="startDate" name="startDate"  class="span6 m-wrap date-picker" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  autocomplete="off" placeholder="Start date">
                                                <input type="text" id="endDate"  name="endDate"  class="span6 m-wrap date-picker" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% endif %}"  autocomplete="off"  placeholder="End date">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                        <div class="portlet-body flip-scroll">

                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Created </th>
                                    <th class="numeric" >Medicine Name </th>
                                    <th class="numeric" >Brand Name </th>
                                    <th class="numeric" >Quantity</th>
                                    <th class="numeric" >Bonus</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for entity in entities %}
                                    <tr>
                                        <td class="numeric" >{{ entity.username }}</td>
                                        <td class="numeric" >{{ entity.brandName }}</td>
                                        <td class="numeric" >{{ entity.name }}</td>
                                        <td class="numeric" >{{ entity.quantity }}</td>
                                        <td class="numeric" >{{ entity.bonus }}</td>
                                        <td class="numeric" >
                                            <a  href="{{ path('stock_adjustment', { 'name': entity.name }) }}" class="btn purple mini" >Details</a>
                                        </td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@MedicineBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}


