{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                   Manage Stock
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('hotel_stock') }}">Manage Stock</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green ">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Stock</div>
                        <div class="actions">
                            <a href="{{ path('hotel_stock') }}" class=" btn black"><i class="icon-th-list"></i> Stock</a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->
                        <div>
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <div class="row-fluid" >
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label"  for="category" >Particular Name<span class="required">*</span></label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-medkit"></i>
                                                {{ form_widget(form.name) }}
                                                {{ form_errors(form.name) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid" >
                                <div class="span4">
                                    <div class="row-fluid" >
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label"  for="category" >Product Type<span class="required">*</span></label>
                                                <div class="controls">
                                                    {{ form_widget(form.hotelParticularType) }}
                                                    {{ form_errors(form.hotelParticularType) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid" >
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label"  for="category" >Production Type</label>
                                                <div class="controls">
                                                    {{ form_widget(form.productionType) }}
                                                    {{ form_errors(form.productionType) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="row-fluid" >
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label"  for="category" >Product Category</label>
                                                <div class="controls">
                                                    {{ form_widget(form.category) }}
                                                    {{ form_errors(form.category) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="row-fluid" >
                                       <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label"  for="" >Unit</label>
                                                <div class="controls">
                                                    {{ form_widget(form.unit) }}
                                                    {{ form_errors(form.unit) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid" >
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="purchasePrice">Purchase Price</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-money"></i>
                                                        {{ form_widget(form.purchasePrice) }}
                                                        {{ form_errors(form.purchasePrice) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid" >
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="price">Sales Price</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-money"></i>
                                                        {{ form_widget(form.salesPrice) }}
                                                        {{ form_errors(form.salesPrice) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="row-fluid">
                                        <div class="control-group">
                                            <label class="control-label" >Product image</label>
                                            <div class="controls">
                                                <div data-provides="fileupload" class="fileupload fileupload-new">
                                                    <div  class="fileupload-new thumbnail">
                                                        {% if(entity.webPath) %}
                                                            <img class="fileupload-preview fileupload-exists" alt="" src="{{ image(entity.webPath).resize(250,150) }}">
                                                        {% else %}
                                                            <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                                        {% endif %}
                                                    </div>
                                                    <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                    <div>
                                                    <span class="btn btn-file">
                                                        <span class="fileupload-new">Select image</span>
                                                        <span class="fileupload-exists">Change</span>
                                                        {{ form_widget(form.file) }}
                                                        {{ form_errors(form.file) }}
                                                    </span>
                                                        <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if(entity.itemGalleries is defined and entity.itemGalleries is not empty ) %}
                                <div class="form-actions portlet box purple">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Item Gallery</div>
                                </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div class="row-fluid">
                                    {% for photo in entity.itemGalleries %}
                                        <div class="span2">
                                            <input type="checkbox" data-placement="left" class="checker popovers"
                                                   data-trigger="hover"
                                                   data-content="Are you remove image, Please click here."
                                                   data-original-title="Remove image" name="imageId[]"
                                                   value="{{ photo.id }}">
                                            <a href="/{{ photo.getWebPath(entity.hotelConfig.globalOption.id,entity.id) }}"
                                               target="_blank"> <img
                                                        src="{{ image(photo.getAbsolutePath(entity.hotelConfig.globalOption.id,entity.id)).resize(100,100) }}"/></a>
                                        </div>
                                    {% endfor %}

                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div id="pluploadUploader">
                                            <p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5
                                                support.</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-actions portlet box grey">
                                <div class="pull-right">
                                    <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <!-- END FORM-->
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
