<!DOCTYPE html>
<html lang="en">
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <title>Best Web Based Product , Service , Design and Development Company in Bangladesh, Best Software development Company in Dhaka, Bangladesh, Email Marketing in Bangladesh, SMS Marketing Company in Dhaka, Bangladesh, Digital Marketing Company in Dhaka, Chittagong, Bangladesh,Best E-commerce development Company in Bangladesh, Best IT Company in Bangladesh, Best IT Training in Uttara, Web design training in dhaka, Best Graphics Design training in Uttara Dhaka, Best Digital Marketing Training Center in Dhaka, Best Outsourcing Company in Bangladesh, Largest IT Company in Bangladesh</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="POSKEEPER.COM is one Most of the popular Web based software company in Bangladesh(BD) ,Application & Mobile application create & manage" name="description"/>
    <meta name="keywords" content="Web based product & service Company, Website development company, website design company Bangladesh, best web design company Bangladesh, best software firm in Bangladesh. Email marketing company bd, SMS bd, SMS marketing company bd, eicra, esoft, Roopokar, e-Soft, Technobd, daraz, bagdoom, ajkerdeal, web design training, graphics design training, digital marketing training, web design company Bangladesh, Bangladeshi web design company bangladesh,ecommerce website design company Bangladesh, website design company list in Bangladesh,website design and development company Bangladesh, Bangladeshi web design company, web page design company in Bangladesh, logo - web design & development company in Bangladesh Dhaka, web design and development company in Dhaka Bangladesh, web design and development company in bangladesh, best web design company bangladesh, web design company in Dhaka bd,web design company from Bangladesh, web design company in bangladesh, website design company in Bangladesh, software development company Bangladesh, software development company in Dhaka Bangladesh, software development company in bd, Bangladesh software development company list, best software development company in Bangladesh, custom software development company in bangladesh, top 10 software development company in Bangladesh, software development company in Bangladesh, list of software development companies in Bangladesh, email marketing company in bangladesh, best email marketing company in bangladesh, sms marketing company in bangladesh, bulk sms bangladesh, bulk sms bangladesh free, buy bulk sms bangladesh, bulk sms software bangladesh, bulk sms reseller bangladesh, cheap bulk sms bangladesh, bulk sms provider bangladesh, bulk sms messages bangladesh, send bulk sms bangladesh, airtel bulk sms bangladesh, bulk sms airtel bd, bulk sms buy bd, bulk sms for bangladesh,bulk sms gateway bangladesh,bulk sms gateway provider in bangladesh, bulk sms in bangladesh,bulk sms provider in bangladesh,bulk sms reseller in bangladesh,free bulk sms in bangladesh,bulk sms software in bangladesh,bulk sms provider in bd,send free bulk sms in bangladesh,online bulk sms bangladesh,send free bulk sms online bangladesh,bulk sms rate in bangladesh,bulk sms service bangladesh,bulk sms service provider bangladesh,bulk sms to bangladesh,send free bulk sms to bangladesh, digital marketing company in bangladesh, digital marketing agencies in bangladesh, best digital marketing company in bangladesh, top digital marketing company in bangladesh, digital marketing agency in bangladesh, list of digital marketing agency in bangladesh, best digital marketing agency in bangladesh, top digital marketing agency in bangladesh, web design training in dhaka web design course in dhaka university, web design training center in dhaka, best web design training in dhaka, web design and development training in dhaka, best web design training institute in dhaka, best web design training center in dhaka, web design and development courses in dhaka, web design and development training center in dhaka, web design training courses in dhaka, web design training institute in dhaka, web page design training in dhaka, graphics design training in dhaka, graphics design course in dhaka, graphics design institute in dhaka, graphic design course in dhaka university, graphic design course in dhaka bangladesh, graphics design training center in dhaka, graphics design training centre in dhaka, graphics design training course in dhaka, best graphics design training in dhaka, graphic design training in bd " />
    <meta name="description" content="POSKEEPER is the best web design company in Bangladesh. We are one of the best software development company in Dhaka, Bangladesh. POSKEEPER known as a top outsourcing company in Bangladesh. We are the 1st and best digital marketing agency in Bangladesh. POSKEEPER also provide IT training like web development training, graphics design training and digital marketing training in Uttara, Dhaka, Bangladesh. We are the no1 and best Email & SMS Marketing Company in Bangladesh" />
    <meta content="Best Web Design and Development Company in Bangladesh, Best Software development Company in Dhaka, Bangladesh, Email Marketing in Bangladesh, SMS Marketing Company in Dhaka, Bangladesh, Digital Marketing Company in Dhaka, Chittagong, Bangladesh,Best E-commerce development Company in Bangladesh, Best IT Company in Bangladesh, Best IT Training in Uttara, Web design training in dhaka, Best Graphics Design training in Uttara Dhaka, Best Digital Marketing Training Center in Dhaka, Best Outsourcing Company in Bangladesh, Largest IT Company in Bangladesh" name="author"/>
    <meta name="description"  content="We provide Web Based POS software in Dhaka,Bangladesh with Sales, Purchase, Inventory, Supplier, Customer, Barcode Generation Module." />
    <meta name="title" content="POS Software in Bangladesh, point of sale software Bangladesh, POS software price in Bangladesh, free POS software in Bangladesh, Bangladeshi POS software, POS software price bd, POS software company in Bangladesh, POS software in Dhaka"> <meta name="keywords" content="billing software for retail shop, retail billing software free download full version, pos billing software, mlm software bangladesh, pos software in bangladesh, ipad pos system, restaurant pos systems, epos software, pos software, retail pos system, point of sale software, restaurant pos software, retail pos, restaurant management software, pos system software, retail pos software, free pos system, business software solutions, bar pos system, restaurant point of sale systems, restaurant management system, restaurant accounting software, pos software price in bangladesh, point of sale software free, pos machine india, best pos system for restaurant, pos software for pc, restaurant billing software, business application software, software sales, free restaurant pos software, retail billing software, pos solutions, pos system malaysia, e pos, restaurant inventory management software, easypos, restaurants software, epos software free, windows pos, bar software, restaurant system, free pos software for small business, software company, restaurant software free, restaurant point of sale software, free pos, pos india, apex shoes bd, hospitality pos systems, best free pos software, cafe pos software, restaurant booking software, free point of sale, pos products, pos management, restaurant menu software, billing software free download for shops, po software, pos software download, restaurant epos, ipad retail pos, supermarket billing software free download, pos system india, apex shoes price in bangladesh, apex shoes bd price, restaurant manager software, retail software for small business, business soft, pos download, billing software for retail store, restaurant management system documentation, pos system free download, akhtar furniture bd, india post, burrp, retail pos software free download, erp software in bangladesh, retail pos software for pc, accounting software in bangladesh, software development company in bangladesh, akhtar furniture bangladesh, ezee technosys, free pos system for restaurant, best pos machine in india, restaurant manager pos, business for sale in bangladesh, meena bazaar bd, persona dhaka, food inventory management software, restaurant software india, ezee burrp, retail software free download windows, bangladesh sale, cheap pos software, excel point of sale, restaurant epos software, hospitality pos software, restaurant software system, restaurant computer software, accounting software bangla, accounting software price in bangladesh, gadget and gear bashundhara city, persona beauty parlour dhanmondi, different pos systems for restaurants, super shop management software, epos management system, small retail software, pos system price in pakistan, point of sale software for small retail business free download, hospitality epos software, retail pos system software, i pos software, pos software in, top software companies in bangladesh, pos software usa, restaurant billing software india, point of sale software for pc, pos machine in bangladesh, free retail point of sale software, point of sale software in pakistan, ezee pos, myanmar pos software, free restaurant epos software, le reve bashundhara city, list of restaurant pos systems, pos system sri lanka, dream pos, csd canteen billing software, epos easy call, epos management, free cafe pos software, dhaka software, retail software download, restaurant management system india, restaurant pos software canada, free indian restaurant management software, retail software free download, family needs uttara, online hardware store bangladesh, g mart bd, pos software in pakistan, sale in bangladesh, popular pos systems for retail, nokia store dhaka, small business software, kot software for restaurant, po restaurant, business software, small business management software, free pos software, small business software free, free business software, epos download free, marg pos, free pos application, pos system in nepal, marg pos software, ctserp, point of sale system in pakistan, pos system pakistan, restaurant computer systems, google pos software, free customer database software for small business, point of sale software free download full version" /> <meta name="description" content="We provide Web Based POS software in Dhaka,Bangladesh with Sales, Purchase, Inventory, Supplier, Customer, Barcode Generation Module." />
    <meta name="keywords"  content="pos software bangladesh" />
    <meta name="MobileOptimized" content="320">
    <meta property="og:site_name" content="www.POSKEEPER.com">
    <meta property="og:title" content="WWW.POSKEEPER.COM">
    <meta property="og:description" content="POSKEEPER.COM is Most of popular Website,Application & Mobile application create & manage">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ asset('assets/frontend/img/logo.png') }}"><!-- link to image for socio -->
    <meta property="og:url" content="www.POSKEEPER.com">
    <link rel="shortcut icon"  href="{{ asset('assets/img/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('assets/img/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/img/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/img/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCgg9f-HbB1zWmQY_zsz-vPpYtQd6cA6JA"></script>
    {% stylesheets filter='cssrewrite'

        'assets/bindu/css/style.css'
        'assets/bindu/css/shortcode.css'
        'assets/bindu/css/responsive.css'
        'assets/bindu/3rd/font-awesome/font-awesome.css'
        'assets/bindu/3rd/pretty-photo/pretty-photo.css'
        'assets/bindu/3rd/layerslider/css/layerslider.css'
        'assets/bindu/3rd/pretty-photo/pretty-photo.css'
        'assets/bindu/3rd/layerslider/css/layerslider.css'
        'assets/bindu/3rd/simple-editor/css/jquery.classyedit.css'
        'assets/bindu/3rd/tooltip/css/iml-styles.css'
        'assets/bindu/3rd/jQuery.filer/css/jquery.filer.css'
        'assets/bindu/3rd/jQuery.filer/css/themes/jquery.filer-dragdropbox-theme.css'
        'assets/bindu/3rd/jscroll/css/jscroll.css'
        'assets/bindu/3rd/select2/select2.css'
        'assets/bindu/3rd/colorpicker/css/evol.colorpicker.min.css'
        'assets/bindu/3rd/time-picker/css/jquery.ptTimeSelect.css'
        'assets/frontend/3rd/owl.carousel/assets/owl.carousel.css'
        'assets/template/plugin/owl.carousel/owl.theme.min.css'
        'assets/bindu/css/custom.css'
    %}

    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
{{ include('bindu/header.html.twig')}}
{% block body %}{% endblock %}
{{ include('bindu/footer.html.twig')}}
{% block footer %}
{% endblock footer %}
{% javascripts
    'assets/template/desktop/js/jquery.js'
    'assets/bindu/3rd/jquery/jquery-ui.js'
    'assets/bindu/3rd/jquery/jquery-tinynav.js'
    'assets/bindu/3rd/jquery/jquery-isotope.js'
    'assets/bindu/3rd/jquery/jquery-flexslider.js'
    'assets/bindu/3rd/jquery/jquery-countdown.js'
    'assets/bindu/3rd/jquery/jquery-masonry.js'
    'assets/bindu/3rd/jquery/jquery.leanModal.min.js'
    'assets/template/plugin/validation/jquery.validate-1.14.0.min.js'
    'assets/template/plugin/validation/jquery-validate.bootstrap-tooltip.min.js'
    'assets/bindu/3rd/pretty-photo/pretty-photo.js'
    'assets/bindu/3rd/select2/select2.js'
    'assets/bindu/3rd/jquery-validation/jquery.validate.min.js'
    'assets/module/jquery-validation/additional-methods.min.js'
    'assets/bindu/3rd/layerslider/js/greensock.js'
    'assets/bindu/3rd/layerslider/js/layerslider.kreaturamedia.jquery.js'
    'assets/bindu/3rd/layerslider/js/layerslider.transitions.js'
    'assets/bindu/3rd/mask/js/jquery.maskedinput.min.js'
    'assets/bindu/3rd/simple-editor/js/jquery.classyedit.js'
    'assets/bindu/3rd/tooltip/js/iml.js'
    'assets/bindu/3rd/jQuery.filer/js/jquery.filer.min.js'
    'assets/bindu/3rd/cookietab/js/jquery.cookie.js'
    'assets/bindu/3rd/cookietab/js/cookie-based-jquery-tab.js'
    'assets/bindu/3rd/jscroll/js/jquery.jscroll.min.js'
    'assets/bindu/3rd/colorpicker/js/evol.colorpicker.min.js'
    'assets/template/plugin/owl.carousel/owl.carousel.min.js'
    'assets/bindu/3rd/time-picker/js/jquery.ptTimeSelect.js'
    'assets/template/plugin/matchHeight/height-match.js'
    'assets/bindu/js/theme.js'

%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascriptBlock %}
{% endblock %}

<script type="text/javascript">

     jQuery(document).ready(function () {

        $('.cpButton').colorpicker();
        $( ".tm-search" ).hide();
        $( "#search" ).click(function() {
            $( ".tm-search" ).slideToggle('slow');
        });
        $("a[rel^='prettyPhoto']").prettyPhoto({
            autoplay_slideshow: true, /* true/false */
        });
        $("#layerslider").layerSlider();

         $('.flexslider').flexslider({
             animation: 'fade',
             prevText: '<i class="fa fa-angle-left"></i>',
             nextText: '<i class="fa fa-angle-right"></i>',
         });
        $(".mobile").mask("(99999) 999-999");
        $(".secured").mask("9999");
        $('.plainText').bind('keyup blur',function(){
                    var node = $(this);
                    node.val(node.val().replace(/[^a-z]/g,'') ); }
        );

        $(".classy-editor").ClassyEdit();
        $(".aboutus-editor").ClassyEdit();

        {% block documentready %}
        {% endblock %}


    });
</script>
{#<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5962f3f71dc79b329518d6af/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>#}

<style>

    .evo-cp-wrap{
        width: 100% !important;
    }
    .cpButton{
        width: 95%;
        height: 30px;
        border: 1px solid #A9A9A9;
        padding-left: 25px;
    }
    .evo-colorind, .evo-colorind-ie, .evo-colorind-ff {
        border: solid 1px #c3c3c3;
        width: 24px;
        height: 30px;
        float: right;
    }
    .evo-pop {
        width: 95%;
        background: #ffffff;
        border: 1px solid #A9A9A9;
        border-top: none;
    }
    .evo-color div {
        border: solid 1px #808080;
        border-right: solid 1px #c0c0c0;
        border-bottom: solid 1px #c0c0c0;
        padding: 3px;
        margin-bottom: 5px;
        width: 24px;
        height: 24px;
        float: left;

    }
    #logoPreview{
        display: none;
    }

    .img-preview{
        text-align: center;
        vertical-align: middle;
    }

    .select2-container{
        width: 100%;
        height: 30px!important;
    }
    .select2-container .select2-choice {
        height: 35px!important;
        line-height: 35px!important;
    }
    .accordion-title{
        position: relative;
    }

    .select2-container .select2-choice .select2-arrow b{
        background-position: 0 4px;
    }

    .tm-search{
        display: none;
    }

    .block {
        float: left;
    }
    .block label {
        display: inline-block;
        width: 205px;
        color: #000;
    }

    .block label.label-big {
        display: inline-block;
        width: 87% !important;
        color: #000;
    }


    .swraper.modern .stoggler{
        font-size: 12px!important;
        font: 12px/1.8 Arial, sans-serif!important;
    }
    .swraper.modern .stoggler.on {
        background: -webkit-linear-gradient(#ff0800, #ff0800);
        font-size: 12px!important;
        font: 12px/1.8 Arial, sans-serif!important;
    }
    #preview {
        text-align: center;
        margin-bottom: 20px;
    }
    #preview img{
        margin-top: 30px;
        max-width: 50%;
        border: 0;
        border-radius: 3px;
        -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .27);
        box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .27);
        overflow: hidden;
    }
    .error{
        color: #fff;
        margin-top: 2px;
        line-height: 15px;
        border-radius: 2px;
        font-weight: normal;
        padding-left:5px;
    }

    #tm-page-footer {
        background: #0d8bb3;
        padding: 35px 0;
        border-top: 2px solid #000;
        margin-top: 30px;
        color: #ffffff;

    }

    #tm-page-footer .tm-title{
        color: #ffffff!important;
    }
    #tm-page-footer a{
        color: #000000!important;
    }
    #tm-page-footer ul li a:hover{
        color:#ffffff!important;
    }
</style>

</body>
</html>
