{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN ecommerce_brand HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="ecommerce_brand-title">
                    Variant Brand Components
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('ecommerce_brand') }}">Variant Brand</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Variant brand new/edit</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END ecommerce_brand HEADER-->
        <!-- BEGIN ecommerce_brand CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Variant Brand Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn yellow" href="{{ path('ecommerce_brand') }}"><i class="icon-th-list"></i>&nbsp; Item Brand</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">

                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}

                            <div class="row-fluid">

                                <div class="span8">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Name</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.name) }}
                                                        {{ form_errors(form.name) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Name(Bangla)</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.nameBn) }}
                                                        {{ form_errors(form.nameBn) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Feature</label>
                                                <div class="controls">
                                                    {{ form_widget(form.feature) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Feature Item Limit</label>
                                                <div class="controls">
                                                    {{ form_widget(form.featureItem) }}
                                                    {{ form_errors(form.featureItem) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Image Background Color</label>
                                                <div class="controls">
                                                    {{ form_widget(form.bgcolor) }}
                                                    {{ form_errors(form.bgcolor) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Content</label>
                                                <div class="controls">
                                                    {{ form_widget(form.content) }}
                                                    {{ form_errors(form.content) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" >Brand Logo</label>
                                        <div class="controls">
                                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                                <div  class="fileupload-new thumbnail">
                                                    {% if(entity.webPath) %}
                                                        <img class="fileupload-preview fileupload-exists thumbnail" alt="" src="/{{ entity.webPath }}">
                                                    {% else %}
                                                        <img alt="" src="http://www.placehold.it/220x160/EFEFEF/AAAAAA&amp;text=no+image">
                                                    {% endif %}
                                                </div>
                                                <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                <div>
													<span class="btn btn-file">
                                                        <span class="fileupload-new">Select image</span>
													    <span class="fileupload-exists">Change</span>
                                                        {{ form_widget(form.file) }}
                                                        {{ form_errors(form.file) }}
                                                    </span>
                                                    <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"><br/></div>
                            <!--/span-->
                            <div class="form-actions portlet box grey">
                                <div class="pull-center">
                                    <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                                    <button type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</button>

                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('#cp2').colorpicker({
    format: 'hex'
    });
{% endblock %}
