<!DOCTYPE html>
<html lang="en">
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta charset="utf-8"/>
    <title>TERMINALBD.COM is Most of popular Website,Application & Mobile application create & manage portal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <meta property="og:site_name" content="www.terminalbd.com">
    <meta property="og:title" content="WWW.TERMINALBD.COM">
    <meta property="og:description" content="ERMINALBD.COM is Most of popular Website,Application & Mobile application create & manage">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ asset('assets/frontend/img/logo.png') }}"><!-- link to image for socio -->
    <meta property="og:url" content="www.terminalbd.com">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('assets/img/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/img/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/img/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% stylesheets filter='cssrewrite'
    'assets/frontend/mobile/css/jquery.mmenu.all.css'
    'assets/bindu/3rd/font-awesome/font-awesome.css'
    'assets/bindu/3rd/select2/select2.css'
    'assets/frontend/mobile/css/foundation.css'
    'assets/frontend/mobile/css/style.css'
    'assets/frontend/mobile/css/camera.css'
    'assets/frontend/common/css/hover-effects.css'
    'assets/frontend/common/css/accordion.css'
    'assets/bindu/3rd/tooltip/css/iml-styles.css'
    'assets/module/accordion/css/accordion.css'
    'assets/module/remodal/css/jquery.remodal.css'
    'assets/bindu/3rd/simple-editor/css/jquery.classyedit.css'
    'assets/bindu/3rd/rcswitcher/css/rcswitcher.min.css'
    'assets/bindu/3rd/time-picker/css/jquery.ptTimeSelect.css'
    'assets/frontend/common/css/common.css'
    'assets/bindu/css/custom.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body class="o-page p-home">
<div id="page">
    {{ include('bindu/mobile/header.html.twig')}}
    {% block body %}{% endblock %}
    {{ include('bindu/mobile/menu.html.twig')}}
    {{ include('bindu/mobile/modal.html.twig')}}
    {{ include('bindu/mobile/footer.html.twig')}}
</div>

{% block footer %}
{% endblock footer %}
{% javascripts
'assets/frontend/mobile/js/jquery.min.js'
'assets/frontend/mobile/js/jquery.mmenu.min.all.js'
'assets/frontend/mobile/js/o-script.js'
'assets/frontend/mobile/js/slider/jquery.mobile.customized.min.js'
'assets/frontend/mobile/js/slider/jquery.easing.1.3.js'
'assets/frontend/mobile/js/slider/camera.min.js'
'assets/bindu/3rd/select2/select2.js'
'assets/bindu/3rd/mask/js/jquery.maskedinput.min.js'
'assets/module/accordion/js/jquery.cookie.js'
'assets/module/accordion/js/jquery.accordion.js'
'assets/module/remodal/js/jquery.remodal.js'
'assets/bindu/3rd/tooltip/js/iml.js'
'assets/bindu/3rd/simple-editor/js/jquery.classyedit.js'
'assets/bindu/3rd/rcswitcher/js/rcswitcher.min.js'
'assets/bindu/3rd/time-picker/js/jquery.ptTimeSelect.js'
'assets/bindu/3rd/jquery-validation/jquery.validate.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">

    $(document).ready(function () {

        $('#camera_wrap_4').camera({
            height: 'auto',
            loader: 'bar',
            pagination: false,
            thumbnails: false,
            hover: false,
            opacityOnGrid: false
        });
        $(".mobile").mask("(99999) 999-999");
        $('.select2').select2({

            placeholder: "Select a institute level",
            allowClear: true,
            theme: "classic"


        });
        var maxLengthSms = 250;
        $( ".message" ).keyup('textarea', function() {
            var textlen = maxLengthSms - $(this).val().length;
            $('#sms-rchars').text(textlen);
        });

        var maxLength = 512;
        $( ".email-message" ).keyup('textarea', function() {
            var textlen = maxLength - $(this).val().length;
            $('#email-rchars').text(textlen);
        });

        //  The second way to initialize:
        $('[data-remodal-id=modal2]').remodal({
            modifier: 'with-red-theme'
        });

        var remodalInst = $('[data-remodal-id=alert]').remodal({
            closeOnConfirm: false
        });
        $('.remodal-cancel').click(function(){

            $(document).on('cancellation', '.remodal', function () {
                // disable other close options while modal is open
                remodalInst.settings = {
                    closeOnCancel: false,
                    closeOnEscape: false,
                    closeOnOutsideClick: false
                }
                // show confirmation window
                $('#confirmation-box').show();
                // hide confirmation window after clicking "no" without hiding whole modal
                $(document).on('confirmation', '.remodal', function () {
                    $('#confirmation-box').hide();
                });
            });
        });

        $('.globalOption').click(function(){
            var option = $(this).attr('id');
            $('#globalOption').val(option);
        });


        $('.scrollToTop').click(function(){
            $('html, body').animate({scrollTop : 0},800);
            return false;
        });

        $('.plainText').bind('keyup blur',function(){
            var node = $(this);
            node.val(node.val().replace(/[^a-z]/g,'') ); }
        );
        var acc_wrapper = $('.tm-accordion');
        $('.tm-accordion .accordion-container').hide();
        $.each(acc_wrapper, function(index, item){
            $(this).find($('.accordion-title')).first().addClass('active').next().show();

        });
        $('.accordion-title').on('click', function(e) {
            if( $(this).next().is(':hidden') ) {
                $(this).parent().find($('.active')).removeClass('active').next().slideUp(300);
                $(this).toggleClass('active').next().slideDown(300);
            }
            e.preventDefault();
        });

        $(".classy-editor").ClassyEdit();
        $(".aboutus-editor").ClassyEdit();


        var checkCookie = $.cookie("nav-item");
        if (checkCookie != "") {
            $('#nav > li > a:eq('+checkCookie+')').addClass('active').next().show();
        }
        $('#nav > li > a').click(function(){
            var navIndex = $('#nav > li > a').index(this);
            $.cookie("nav-item", navIndex);
            $('#nav li div').slideUp();
            if ($(this).next().is(":visible")){
                $(this).next().slideUp();
            } else {
                $(this).next().slideDown();
            }
            $('#nav li a').removeClass('active');
            $(this).addClass('active');
        });

        $('.message').keypress(function(e) {

            var tval = $('textarea').val(),
                tlength = tval.length,
                set = 150,
                remain = parseInt(set - tlength);
            $('#limit').text(remain);
            if (remain <= 0 && e.which !== 0 && e.charCode !== 0) {
                $('textarea').val((tval).substring(0, tlength - 1))
            }
        })

        $('.sendSMS').validate({

            rules: {
                name: {
                    required: true
                },
                mobile: {
                    required: true
                },
                content: {
                    required: true
                },
            },
            messages:{
                name:{
                    required: "Please enter your full name"
                },
                mobile:{
                    required: "Please enter your cell phone number"
                },
                content:{
                    required: "Please enter your msg"
                }
            },
            submitHandler: function(form) {

                $.ajax({
                    url:'{{ path('bindu_sms_receive') }}',
                    type: "POST",
                    beforeSend: function() {
                        $('.loading').show();
                    },
                    data: $('form.sendSMS').serialize(),
                    success: function(response) {
                        if(response == 'success'){
                            $( '.sendSMS' ).each(function(){
                                this.reset();
                            });
                        }
                        $('.remodal-cancel').click();
                    }
                });
            }

        });
        $('.sendEmail').validate({

            rules: {
                name: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                content: {
                    required: true
                },
            },
            messages:{
                name:{
                    required: "Please enter your full name"
                },
                email:{
                    required: "Please enter your email address"
                },
                content:{
                    required: "Please add your content"
                }
            },
            submitHandler: function(form) {

                $.ajax({
                    url:'{{ path('bindu_email_receive') }}',
                    type: "POST",
                    beforeSend: function() {
                        $('.loading').show();
                    },
                    data: $('form.sendEmail').serialize(),
                    success: function(response) {
                        if(response == 'success'){
                            $( '.sendEmail' ).each(function(){
                                this.reset();
                            });
                        }
                        $('.remodal-cancel').click();
                    }
                });
            }

        });


        {% block documentready %}
        {% endblock %}

    });
</script>
<style>
    #header a, .header a, a.menu-btn{
        background: none!important;
    }
    .mm-list, .mm-list > li{
        border-bottom:1px solid  #c6c2c2;
    }
    .mm-list, .mm-list > li:last-child{
        border-bottom:inherit;
    }

    .mm-menu .mm-list > li > a.mm-subopen:before{
        border-color: #c6c2c2!important;
    }
    .mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before{
        border-color: #c6c2c2!important;
    }
    .mm-menu .mm-list > li > a.mm-subclose {
        background: #9d9797;
        color: #0f0e0e;
    }

</style>
</body>
</html>
