<nav id="menu">
    <ul>
        <li>
            <a href="{{ path('bindu_homepage') }}">
                <i class="fa fa-home"></i>Home
            </a>
        </li>
        <li>
            <a href="{{ path('bindu_about') }}">
                <i class="fa fa-users"></i>About us
            </a>
            <ul>
                {% render controller("FrontendBundle:Widget:footerMenu",{'sector':'portal','parent':'about-us'}) %}
            </ul>
        </li>
        <li>
            <a href="javascript:">
                <i class="fa fa-cogs"></i>Applications
            </a>
            <ul>
                {% render controller("BinduBundle:Widget:footerMenuApplication") %}
            </ul>
        </li>
        {#<li>
            <a href="{{ path('bindu_find') }}">
                <i class="fa fa-search"></i>Find me
            </a>
            <ul>
                <li><a href="{{ path('bindu_business_directory') }}"><i class="fa fa-picture-o"></i>Business Sector </a>
                    {% render controller("BinduBundle:Widget:business") %}
                </li>
                <li><a href="{{ path('bindu_business_location') }}"><i class="fa fa-picture-o"></i>Location</a>
                    {% render controller("BinduBundle:Widget:location") %}
                </li>

            </ul>
        </li>

       <li>
           <a href="{{ path('bindu_web_bulder') }}">
               <i class="fa fa-building-o"></i>Web Builder
           </a>
       </li>
      <li>
           <a href="{{ path('bindu_service') }}">
               <i class="fa fa-product-hunt"></i>Product & Service
           </a>
       </li>#}
       <li>
           <a href="{{ path('bindu_contact') }}">
               <i class="fa fa-envelope"></i>Contact
           </a>
       </li>
       <li>
           <a href="{{ path('bindu_login') }}">
               <i class="fa fa-lock"></i>Login
           </a>
       </li>
    </ul>
</nav>