{% set commentID = globalOption.id~'-'~menu.module.slug~'-'~page.id %}
<div class="page-title-bar">
    <div class="page-title">{{ page.name }}</div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-8" data-match-height="event-img" >
        <div class="clearfix"></div>
        {% if page.photoGallery is not empty and page.galleryType == 'carousel' and page.galleryPosition == 'top' %}

            <div class="carousel-container">
                <div id="carousel" class="carousel slide carousel-fade" style="width: 100%">
                    <div class="carousel-inner">
                        {% if page.webPath is not empty %}
                            <div class="carousel-item item active" data-slide-no="0">
                                <div class="shadow-box {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}">
                                    <a href="{{ image(page.webPath) }}" title="{{ page.name }}">
                                        <img  src="{{ image(page.webPath).forceResize(1024,512) }}" alt="{{ page.name }}">
                                    </a>
                                </div>
                                <div class="carousel-caption " >
                                    <h4>{{ page.name }}</h4>
                                </div>
                            </div>
                        {% endif %}

                        {% for slide in page.photoGallery.galleryImages %}
                            <div  class="carousel-item item {% if loop.index-1 == 0 and page.webPath is empty %} active  {% endif %}"  {% if loop.index-1 == 0 and page.webPath is empty %} data-slide-no="{{ loop.index-1 }}"  {% endif %} >
                                <div class="shadow-box {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}">
                                    <a href="{{ image(page.webPath) }}" title="{{ page.name }}">
                                        <img  src="{{ image(slide.getAbsolutePath(page.globalOption.id,page.photoGallery.id)).forceResize(1024,512,'#fff') }}" alt="{{ page.name }}">
                                    </a>
                                </div>
                                <div class="carousel-caption " >
                                    {% if slide.caption is not empty %}<h4>{{ slide.caption }}{% endif %}</h4>
                                    {% if slide.description is not empty %}<p>{{ slide.description|raw }}</p>{% endif %}
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    <!-- Navigation -->
                    <a class="carousel-post-control left" href="#carousel" data-slide="prev">‹</a>
                    <a class="carousel-post-control right" href="#carousel" data-slide="next">›</a>
                </div>
            </div>
            <hr><br/></hr>
        {% elseif page.photoGallery is not empty and page.galleryType == 'thumb' and page.galleryPosition == 'top' %}
            <div class="row row-flex">
                <div class="item  {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.featureWidgets is empty  %} col-md-4 col-xs-4 col-lg-4 {% else %}  col-md-3 col-xs-3 col-lg-3 {% endif %}">
                    <div class="thumbnail {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}" data-match-height="grid-list" >
                        <a href="{{ image(page.webPath) }}" class="swipebox" title="{{ page.name }}">
                            <img class="group list-group-image" style="max-height: 250px; min-height: 250px" src="{{ image(page.webPath).forceResize(220,220) }}" alt="{{ page.name }}">
                        </a>
                        <div class="caption">
                            <p class="group inner list-group-item-text">{{ page.name }}</p>
                        </div>
                    </div>
                </div>
                {% for slide in page.photoGallery.galleryImages %}
                    <div class="item  {% if globalOption.templateCustomize.showSidebar == 1 and globalOption.featureWidgets is empty  %} col-md-4 col-xs-4 col-lg-4 {% else %}  col-md-3 col-xs-3 col-lg-3 {% endif %}">
                        <div class="thumbnail {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}" data-match-height="grid-list" >
                            <a href="{{ image(slide.getAbsolutePath(page.globalOption.id,page.photoGallery.id)) }}" class="swipebox" title="{{ slide.caption }}">
                                <img class="group list-group-image" style="max-height: 250px; min-height: 250px" src="{{ image(slide.getAbsolutePath(page.globalOption.id,page.photoGallery.id)).forceResize(220,220,'#fff') }}" alt="{{ slide.caption }}">
                            </a>
                            <div class="caption">
                                <p class="group inner list-group-item-text">{{ slide.caption }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr><br/></hr>
        {% elseif page.webPath is not empty %}
            <div class="shadow-box {% if globalOption.templateCustomize.boxShadow is not empty  %} {{ globalOption.templateCustomize.boxShadow }} {% endif %}">
                <a href="{{ image(page.webPath) }}" title="{{ page.name }}">
                    <img  src="{{ image(page.webPath).forceResize(1024,512) }}" alt="{{ page.name }}">
                </a>
                <div class="caption">{{ page.name }}</div>
            </div>
            <hr><br/></hr>
        {% endif %}
        <div class="clearfix"><br/></div>
    </div>
    <div class="col-md-4" data-match-height="event-img" >
        <div class="event-sidebar" style="background: #FBFCFC; height:100%; border-bottom: none">
            <br/>
            <ul class="post-comment">
                <li><i class="fa fa-calendar"></i> {{ page.created|date('d') }}&nbsp;<simple>{{ page.created|date('M,Y') }}</simple></li>
            </ul>
            <div class="col-md-12">
                <span style="height: 140px; display: block">
                    <h3>{{ page.name }}</h3>
                </span>
                <div class="row">
                    <div class="col-md-4"><strong>{{ page.eventType }}</strong></div><div class="col-md-8 text-right" ><strong>{{ page.price }}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                     by {{ page.organization }}
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="clearfix"></div>
    <div class="col-md-8 social-icon-bar" >
        <ul class="mbm_social" style="margin-top: 8px">
            <li><a class="social-facebook" target="_blank" href="https://www.facebook.com/share.php?u={{ app.request.getSchemeAndHttpHost() }}/{{ page.slug }}&picture={{ app.request.getSchemeAndHttpHost() }}/{{ page.webPath }}&title={{ page.name }}&description={{ page.content|striptags|truncate(250)|raw }}">
                    <i class="fa fa-facebook"></i>
                    <div class="tooltip"><span>facebook</span></div>
                </a>
            </li>
            <li><a class="social-linkedin" target="_blank" href="//www.linkedin.com/shareArticle?mini=true&url={{ app.request.getSchemeAndHttpHost() }}/{{ page.slug }}">
                    <i class="fa  fa-linkedin"></i>
                    <div class="tooltip"><span>LinkedIn</span></div>
                </a>
            </li>
            <li><a class="social-google-plus" target="_blank" href="//plus.google.com/share?url={{ app.request.getSchemeAndHttpHost() }}/{{ page.slug }}">
                    <i class="fa fa-google-plus"></i>
                    <div class="tooltip"><span>Google</span></div>
                </a>
            </li>
            <li><a class="social-twitter" target="_blank" href="//twitter.com/share?url={{ app.request.getSchemeAndHttpHost() }}/{{ page.slug }}">
                    <i class="fa fa-twitter"></i>
                    <div class="tooltip"><span>Twitter</span></div>
                </a>
            </li>
            <li><a class="social-instagram" target="_blank" href="//instagram.com/share?url={{ app.request.getSchemeAndHttpHost() }}/{{ page.slug }}">
                    <i class="fa  fa-instagram"></i>
                    <div class="tooltip"><span>Instagram</span></div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 text-center social-icon-bar">
        {#<button class="btn btn-success btn-lg col-md-12">Register</button>#}
    </div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-8">
        <h4>Description</h4>
        <div class="clearfix"><hr/></div>
        <div class="content-area"><div>{{ page.content|raw }}</div></div>
    </div>
    <div class="col-md-4">
        <div class="sidebar-branch">
            <h5 class="text-center branch-head"><strong>Date & Time</strong></h5>
            <dl>
                <dd style="font-size: 12px" ><i class="fa fa-calendar"></i>&nbsp;{{ page.startDate|date('D M j,Y') }} - {{ page.startDate|date('D M j,Y') }}</dd>
                <dd style="font-size: 12px" ><i class="fa fa-times-circle-o"></i>&nbsp;{{ page.startHour }} - {{ page.endHour }}</dd>
            </dl>
        </div>
        <div class="sidebar-branch">
            <h5 class="text-center branch-head"><strong>Location & Address</strong></h5>
            <dl>
                <dd><i class="fa fa-home"></i>&nbsp;{{ page.address|raw }}</dd>
                <dd><i class="fa fa-user"></i>&nbsp;{{ page.contactPerson }}</dd>
                <dd><i class="fa fa-mobile"></i>&nbsp;+ {{ page.mobile }}</dd>
                <dd><i class="fa fa-envelope-o"></i>&nbsp;{{ page.email }}</dd>
                {% if page.phone is not empty %}<dd><i class="fa fa-phone-square"></i>&nbsp;{{ page.phone }}</dd>{% endif %}
                {% if page.website is not empty %}<dd><i class="fa fa-anchor"></i>&nbsp;{{ page.website }}</dd>{% endif %}
                {% if page.fax is not empty %}<dd><i class="fa fa-fax"></i>&nbsp;{{ page.fax }}</dd>{% endif %}
                {% if page.additionalPhone is not empty %}<dd><i class="fa fa-phone-square"></i>&nbsp;{{ page.additionalPhone }}</dd>{% endif %}
                <dd class="text-center"><a class="btn btn-success" target="_blank" href="http://maps.google.com/?q={{ page.latitude }},{{ page.longitude }}">View Map</a></dd>
            </dl>

        </div>
    </div>
</div>
{#
<div class="blog_post" >
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': commentID } %}
    <br/>
</div>
#}

