{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- END PAGE HEADER-->
        <div class="portlet-body">
            <div class="row-fluid" >
                <div class="span1">
                    {% if globalOption.templateCustomize.webPath('logo') is not empty %}   <img style="max-width: 180px; max-height: 60px" src="/{{ globalOption.templateCustomize.webPath('logo') }}">{% endif %}
                </div>
                <div class="span3">
                    <a href="javascript:" data-title="{{ "now"|date("d-F-Y") }} Booking Overview" id="booking"  class="btn blue big"><i class="icon-building"></i> BOOKING NOW!</a>
                </div>
                <div class="span4">
                    {% if (app.user.granted("ROLE_HOTEL_INVOICE"))  %}
                        <a href="{{ path('hotel_invoice_new') }}"  class="btn green big" style="width: 40%"><i class="icon-plus-sign"></i> ADD ROOM </a>
                        <a href="{{ path('hotel_invoice') }}"  class="btn black big" style="width: 40%"><i class="icon-th-list"></i> INVOICE </a>
                    {% endif %}
                </div>
                <div class="span3">
                    {% if (app.user.granted("ROLE_HOTEL_RESTAURANT")) and globalOption.hotelConfig.invoiceForRestaurant == 1 %}
                        <a href="{{ path('hotel_restaurantinvoice_new') }}" class="btn yellow big"><i class="icon-plus-sign"></i> RESTAURANT</a>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="clearfix"><br/></div>
        <div class="row-fluid">
            <div class="span8">
                <div class="row-fluid">
                    <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                        {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_CASH") or  app.user.granted("ROLE_DOMAIN") ) %}
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-green-sharp">
                                        <span data-counter="counterup" data-value="">{{ ((transactionCashOverviews['openingBalance']+transactionCashOverviews['debit'])-transactionCashOverviews['credit'])|number_format }}</span>
                                        <small class="font-green-sharp">BDT</small>
                                    </h3>
                                    <small>BALANCE</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-bar-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success green-sharp">
                                <span class="sr-only">75% progress</span>
                            </span>
                                </div>
                                <div class="status">
                                    <div class="status-number">
                                        <a href="{{ path('account_transaction_cash_overview') }}" class="btn green mini">More <i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                        {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_EXPENDITURE") or  app.user.granted("ROLE_DOMAIN") ) %}
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-red-haze">
                                        <span data-counter="counterup" data-value="{{ expenditureOverview|number_format }}">{{ expenditureOverview|number_format }}</span>
                                        <small class="font-red-sharp">BDT</small>
                                    </h3>
                                    <small>Expense</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-money"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success red-haze">
                                <span class="sr-only">75% change</span>
                            </span>
                                </div>
                                <div class="status">
                                    <div class="status-number">
                                        <a href="{{ path('account_expenditure') }}" class="btn red mini">More <i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                        {% if (app.user.granted("ROLE_HOTEL_INVOICE_RESTAURANT")) and globalOption.hotelConfig.invoiceForRestaurant == 1 %}
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-blue-sharp">
                                        <span data-counter="counterup" data-value="{{ purchaseCashOverview['total'] }}">{{ purchaseCashOverview['total'] }}</span>
                                        <small class="font-blu-sharp">BDT</small>
                                    </h3>
                                    <small>Purchase</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success blue-sharp">
                                <span class="sr-only">75% grow</span>
                            </span>
                                </div>
                                <div class="status">
                                    <div class="status-number">
                                        <a href="{{ path('hotel_purchase') }}" class="btn blue mini">More <i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="span6 responsive" data-tablet="span6" data-desktop="span3">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-purple-soft">
                                        <span data-counter="counterup" data-value="{{ salesCashOverview['total'] }}">{{ salesCashOverview['total'] }}</span>
                                        <small class="font-purple-soft">BDT</small>
                                    </h3>
                                    <small>SALES</small>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-money"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                            <span style="width: 75%;" class="progress-bar progress-bar-success purple-soft">
                                <span class="sr-only">75% change</span>
                            </span>
                                </div>
                                <div class="status">
                                    <div class="status-number">
                                        <a href="{{ path('hotel_invoice') }}" class="btn purple mini">More <i class="icon-circle-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="span4">
                      <div class="span6" style="margin-top:-10px">
                            <div class="portlet-body">
                                <a href="{{ path('account_sales_hotel_outstanding') }}" class="icon-btn">
                                    <i class="fa fa-group"></i>
                                    <div> Customer </div>
                                </a>
                                <a href="{{ path('hotel_report_sales_summary') }}" class="icon-btn">
                                    <i class="icon-tags"></i>
                                    <div> Sales </div>
                                </a>
                                {% if (app.user.granted("ROLE_HOTEL_INVOICE_RESTAURANT")) and globalOption.hotelConfig.invoiceForRestaurant == 1 %}
                                <a href="{{ path('account_purchase_hotel_outstanding') }}" class="icon-btn">
                                    <i class="fa fa-user"></i>
                                    <div> Vendor </div>
                                </a>

                                <a href="{{ path('hotel_report_purchase_summary') }}" class="icon-btn">
                                    <i class="icon-truck"></i>
                                    <div> Purchase </div>
                                </a>
                                {% endif %}

                            </div>

                        </div>
                        <div class="span6" style="margin-top:-10px">
                            <div class="portlet-body">
                                {% if ( app.user.granted("ROLE_DOMAIN_ACCOUNTING_EXPENDITURE") or  app.user.granted("ROLE_DOMAIN") ) %}
                                <a href="{{ path('account_expenditure_new') }}" class="icon-btn">
                                    <i class="icon-bar-chart"></i>
                                    <div> Expense </div>
                                </a>
                                {% endif %}
                                {% if (app.user.granted("ROLE_HOTEL_INVOICE_RESTAURANT")) and globalOption.hotelConfig.invoiceForRestaurant == 1 %}
                                <a href="{{ path('hotel_stock') }}" class="icon-btn">
                                    <i class="icon-th"></i>
                                    <div> Stock Details </div>
                                </a>
                                <a href="{{ path('hotel_damage_create') }}" class="icon-btn">
                                    <i class="icon-trash"></i>
                                    <div> Damage </div>
                                </a>
                                {% endif %}
                                <a href="{{ path('domain_notepad') }}" class="icon-btn">
                                    <i class=" icon-file"></i>
                                    <div> Notepad </div>
                                </a>

                            </div>

                        </div>
            </div>

        </div>
        <div class="portlet-body form">
            <div class="portlet box blue">
                <div class="portlet-body">
                    <div class="row-fluid" >
                        <div class="span12">
                            <div id="optionsYearlyMonthlySales" style="height: 330px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="temporary-booked" style="display: none">This room is check-in/booked temporarily.</div>

        <style>
        .icon-btn{
            width: 100%;
            height: 50px!important;
        }
        .icon-btn div{
            font-size: 15px;
            font-weight: bold;
            color: #26a69a;
        }
        .dashboard-stat .visual{
            width: auto;
            float: none;
            padding:0;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .dashboard-stat .visual:hover{
            text-decoration: none;
        }
        .dashboard-stat .more {
            clear: both;
            display: block;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            font-size: 16px;
            color: #fff;
            opacity:1;
            font-weight: bold;
        }
        .unstyled{
            height: 100px;
        }
    </style>

{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@MedicineBundle/Resources/public/css/dashboard.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@HotelBundle/Resources/public/js/temporary-invoice.js'
    '@MedicineBundle/Resources/public/js/jquery-canvas.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    window.onload = function () {

    var optionsYearlyMonthlySales = {
    animationEnabled: true,
    title: {
    text: "Monthly Sales - {{ "now"|date("Y") }}"
    },
    axisY: {
    title: "",
    suffix: "",
    includeZero: false
    },
    axisX: {
    title: "Monthly Sales - {{ "now"|date("Y") }}"
    },
    data: [{
    type: "column",
    yValueFormatString: "#,##0.0#",
    dataPoints: [
    {%  set months = {1:'January',2:'February',3:'March',4:'April',5:'May',6:'June',7:'July',8:'August',9:'September',10:'October',11:'November',12:'December'} %}
    {% for key,month in months %}
        { label: "{{ month }}, {{ "now"|date("y") }}", y: {% if key in monthlySales|keys %}{{ monthlySales[key] }}{% else %}0{% endif %},indexLabel: "BDT {% if key in monthlySales|keys %}{{ monthlySales[key]|number_format }}{% endif %}" },
    {% endfor %}
    ]
    }]
    };
    $("#optionsYearlyMonthlySales").CanvasJSChart(optionsYearlyMonthlySales);
    }

{% endblock %}
