{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN purchase_order HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="purchase_order-title">
                   Opening Product Entity
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('assets_purchaseitem') }}">  Opening Item</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>Add Opening Item</li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END purchase_order HEADER-->
        <!-- BEGIN purchase_order CONTENT-->
        <div class="row-fluid" style="position: relative">

            <div class="span12">
                <div id="dataProces"></div>
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Opening Item Information</div>

                        <div class="actions">
                            <div class="btn-group">
                                <a class="red btn" href="{{ path('assets_purchaseitem_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a>
                                <a class="btn" href="{{ path('assets_purchaseitem') }}"><i class="icon-th-list"></i>&nbsp;  Manage Purchase</a>
                            </div>
                        </div>

                    </div>

                    <div class="portlet-body" >

                        <div class="portlet-body form" >

                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}

                            <div class="clearfix"><br/></div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Product Item <span class="required">*</span></label>
                                        <div class="controls">
                                            {{ form_widget(form.item) }}
                                            {{ form_errors(form.item) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label" for="name">Product Name</label>
                                        <div class="controls">
                                            {{ form_widget(form.name) }}
                                            {{ form_errors(form.name) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="price">Unit Price <span class="required">*</span></label>
                                        <div class="controls">
                                            {{ form_widget(form.price) }}
                                            {{ form_errors(form.price) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="salesPrice">Sales Price <span class="required">*</span></label>
                                        <div class="controls">
                                            {{ form_widget(form.salesPrice) }}
                                            {{ form_errors(form.salesPrice) }}
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Quantity <span class="required">*</span></label>
                                        <div class="controls">
                                            {{ form_widget(form.quantity) }}
                                            {{ form_errors(form.quantity) }}
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"><br/></div>
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Product Assurance</div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Assurance Type</label>
                                        <div class="controls">
                                            {{ form_widget(form.assuranceType) }}
                                            {{ form_errors(form.assuranceType) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Assurance From Vendor</label>
                                        <div class="controls">
                                            {{ form_widget(form.assuranceFromVendor) }}
                                            {{ form_errors(form.assuranceFromVendor) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Assurance To Customer</label>
                                        <div class="controls">
                                            {{ form_widget(form.assuranceToCustomer) }}
                                            {{ form_errors(form.assuranceToCustomer) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Effected Date</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-calendar"></i>
                                                {{ form_widget(form.effectedDate) }}
                                                {{ form_errors(form.effectedDate) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">External Serial</label>
                                        <div class="controls">
                                            {{ form_widget(form.externalSerial) }}
                                            {{ form_errors(form.externalSerial) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Remarks</label>
                                        <div class="controls">
                                            {{ form_widget(form.remark) }}
                                            {{ form_errors(form.remark) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Product Attribute</div>
                                </div>
                            </div>
                            <div class="clearfix"><br/></div>
                            {% if  entity.itemMetaAttributes is defined and  entity.itemMetaAttributes is not empty %}
                                <div class="clearfix">&nbsp;</div>
                                {% for attribute in entity.itemMetaAttributes %}
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label">{{ attribute.categoryMeta.metaKey }}</label>

                                                <div class="controls">
                                                    <input type="hidden" name="attributeId[]"
                                                           value="{{ attribute.categoryMeta.id }}">
                                                    <input type="text" id="" name="value[]" class="m-wrap span12 tooltips"
                                                           placeholder=""
                                                           data-original-title="{{ attribute.categoryMeta.metaValue }}"
                                                           data-trigger="hover" value="{{ attribute.value }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% elseif  entity.item.category is defined and entity.item.category is not empty and entity.item.category.categoryMetas is  not empty %}
                                <div class="clearfix">&nbsp;</div>
                                {% for itemAttributes in entity.item.category.categoryMetas %}
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label">{{ itemAttributes.metaKey }}</label>

                                                <div class="controls">
                                                    <input type="hidden" name="attributeId[]"
                                                           value="{{ itemAttributes.id }}">
                                                    <input type="text" id="" name="value[]" class="m-wrap span12 tooltips"
                                                           placeholder=""
                                                           data-original-title="{{ itemAttributes.metaValue }}"
                                                           data-trigger="hover" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="clearfix">&nbsp;</div>
                            <!--/span-->
                            <div class="form-actions portlet box grey">
                                <div class="pull-right">
                                    <button type="reset" class="btn yellow"><i class="icon-refresh"></i> Reset</button>
                                    <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block documentready %}
    {{ parent() }}
    $( ".dateCalendar" ).datepicker({
        dateFormat: "dd-mm-yy",
        changeMonth: true,
        changeYear: true,
    });
{% endblock %}