{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN item HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="item-title">
                    {{ entity.name }} Details
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('inventory_goods') }}">Product</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#"> {{ entity.webName }} Details</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END item HEADER-->
        <!-- BEGIN item CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Product Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown"
                                   data-close-others="true">
                                    Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('inventory_goods') }}"><i class="icon-th-list"></i>&nbsp;Lists</a>
                                    </li>
                                    <li><a href="{{ path('inventory_goods_new') }}"><i class="icon-plus"></i>&nbsp;New
                                            Create</a></li>
                                    {% if(entity.id > 0 ) %}
                                        <li><a href="{{ path('inventory_goods_edit',{'id':entity.id}) }}"><i
                                                        class="icon-edit"></i>&nbsp;Edit</a></li>
                                        <li><a href="{{ path('inventory_goods_show',{'id':entity.id}) }}"><i
                                                        class="icon-eye-open"></i>&nbsp;Show</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig') %}
                        <!-- BEGIN FORM-->
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}
                        <div class="row-fluid">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="firstName">Brand</label>
                                    <div class="controls">
                                        {{ form_widget(form.brand) }}
                                        {{ form_errors(form.brand) }}
                                    </div>

                                </div>
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="firstName">Master Product<span class="required">*</span></label>
                                    <div class="controls">
                                        {{ form_widget(form.masterItem) }}
                                        {{ form_errors(form.masterItem) }}
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="name">Item name</label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            <i class="icon-font"></i>
                                            {{ form_widget(form.webName) }}
                                            {{ form_errors(form.webName) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row-fluid">
                            <div class="span8">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <div class="control-group">
                                            <label class="control-label" for="size">Size/Weight/Dimension</label>
                                            <div class="controls">
                                                {{ form_widget(form.size) }}
                                                {{ form_errors(form.size) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span2">
                                        <div class="control-group">
                                            <label class="control-label" for="productUnit">Unit</label>
                                            <div class="controls">
                                                {{ form_widget(form.productUnit) }}
                                                {{ form_errors(form.productUnit) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" for="firstName">Country</label>
                                            <div class="controls">
                                                {{ form_widget(form.country) }}
                                                {{ form_errors(form.country) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12 ">
                                        <div class="control-group">
                                            <label class="control-label" >Colors</label>
                                            <div class="clearfix" style="height:5px"></div>
                                            <div class="controls">
                                                {{ form_widget(form.itemColors) }}
                                                {{ form_errors(form.itemColors) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12 ">
                                        <div class="control-group">
                                            <label class="control-label" >Tags</label>
                                            <div class="clearfix" style="height:5px"></div>
                                            <div class="controls">
                                                {{ form_widget(form.tag) }}
                                                {{ form_errors(form.tag) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span4">
                                        <div class="control-group">
                                            <label class="control-label" >Warning Label</label>
                                            <div class="controls">
                                                {{ form_widget(form.warningLabel) }}
                                                {{ form_errors(form.warningLabel) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span8">
                                        <div class="control-group">
                                            <label class="control-label" >Warning Text</label>
                                            <div class="controls">
                                                {{ form_widget(form.warningText) }}
                                                {{ form_errors(form.warningText) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" >Description</label>
                                            <div class="controls">
                                                {{ form_widget(form.content) }}
                                                {{ form_errors(form.content) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" for="purchasePrice">Purchase Price<span class="required">*</span></label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-money"></i>
                                                    {{ form_widget(form.purchasePrice) }}
                                                    {{ form_errors(form.purchasePrice) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" for="overHeadCost">Overhead Cost</label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-money"></i>
                                                    {{ form_widget(form.overHeadCost) }}
                                                    {{ form_errors(form.overHeadCost) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" for="salesPrice">Sales Price<span class="required">*</span></label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-money"></i>
                                                    {{ form_widget(form.salesPrice) }}
                                                    {{ form_errors(form.salesPrice) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" for="quantity">Quantity<span class="required">*</span></label>
                                            <div class="controls">
                                                <div class="input-icon left">
                                                    <i class="icon-sort-by-order"></i>
                                                    {{ form_widget(form.quantity) }}
                                                    {{ form_errors(form.quantity) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12 ">
                                        <div class="control-group">
                                            <label class="control-label" >Discount</label>
                                            <div class="controls">
                                                {{ form_widget(form.discount) }}
                                                {{ form_errors(form.discount) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12 ">
                                        <div class="control-group">
                                            <label class="control-label" >Promotion</label>
                                            <div class="controls">
                                                {{ form_widget(form.promotion) }}
                                                {{ form_errors(form.promotion) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label" >Product image</label>
                                            <div class="controls">
                                                <div data-provides="fileupload" class="fileupload fileupload-new">
                                                    <div  class="fileupload-new thumbnail">
                                                        {% if(entity.webPath) %}
                                                            <img class="fileupload-preview fileupload-exists thumbnail" alt="" src="{{ image(entity.webPath).resize(250,200) }}">
                                                        {% else %}
                                                            <img alt="" src="http://www.placehold.it/250x200/EFEFEF/AAAAAA&amp;text=no+image">
                                                        {% endif %}
                                                    </div>
                                                    <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                    <div>
                                                        <span class="btn btn-file">
                                                            <span class="fileupload-new">Select image</span>
                                                            <span class="fileupload-exists">Change</span>
                                                            {{ form_widget(form.file) }}
                                                        </span>
                                                        <div class="clearfix"><br/></div>
                                                        {{ form_errors(form.file) }}
                                                        <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        {% if entity.subProduct == 1 %}
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Sub item</div>
                     {#               <a href="javascript:" data-ref-id="1"
                                       class="btn black pull-right mini addSubProduct"><i
                                       class="icon-plus m-icon-white"></i>&nbsp;Add</a>#}
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span12">
                                    {% if entity.source != 'inventory'  %}
                                            <div class="clone-block trash" id="clone-sub-product">
                                                <div class="row-fluid clone  box blue">
                                            <div class="span11">
                                                <div class="row-fluid">
                                                    <div class=" span2">
                                                        {{ form_widget(goodsItemForm.size) }}
                                                        {{ form_errors(goodsItemForm.size) }}
                                                    </div>
                                                     <div class=" span2">
                                                        {{ form_widget(goodsItemForm.productUnit) }}
                                                        {{ form_errors(goodsItemForm.productUnit) }}
                                                    </div>
                                                    <div class="span2">
                                                        {{ form_widget(goodsItemForm.colors) }}
                                                        {{ form_errors(goodsItemForm.colors) }}
                                                    </div>
                                                    <div class="span2">
                                                        {{ form_widget(goodsItemForm.quantity) }}
                                                        {{ form_errors(goodsItemForm.quantity) }}

                                                    </div>
                                                    <div class="span2">
                                                        {{ form_widget(goodsItemForm.purchasePrice) }}
                                                        {{ form_errors(goodsItemForm.purchasePrice) }}
                                                    </div>
                                                    <div class="span2">
                                                        {{ form_widget(goodsItemForm.salesPrice) }}
                                                        {{ form_errors(goodsItemForm.salesPrice) }}
                                                    </div>
                                               </div>
                                            </div>
                                            <div class="span1">
                                                <a href="javascript:" data-id=""  id="addSubProduct" data-url="{{ path('inventory_vendoritem_subproduct',{'id':entity.id}) }}" class="btn yellow">Save</a>
                                            </div>
                                        </div>
                                            </div>
                                          {% if entity.goodsItems is defined and  entity.goodsItems is not empty  %}
                                                <table class="table table-bordered table-striped table-condensed flip-content ">
                                                    <thead class="flip-content ">
                                                    <tr class="head-green">
                                                        <td>&nbsp;&nbsp;<i class="icon-reorder"></i></td>
                                                        <th class="numeric" >Size</th>
                                                        <th class="numeric" >Unit</th>
                                                        <th class="numeric" >Color</th>
                                                        <th class="numeric" >Quantity</th>
                                                        <th class="numeric" >Purchase price</th>
                                                        <th class="numeric" >Sales price</th>
                                                        <th class="numeric" >Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="loadSubItem">
                                                    {% for subItem in entity.goodsItems  %}
                                                        <tr id="removeProduct-{{ subItem.id }}">
                                                            <td class="numeric" >{{ loop.index }}</td>
                                                            <td class="numeric" >{% if subItem.size is not empty %}{{ subItem.size.name }}{% endif %}</td>
                                                            <td class="numeric" >{% if subItem.productUnit is not empty %}{{ subItem.productUnit.name }}{% endif %}</td>
                                                            <td class="numeric" >{% if subItem.colors is not empty %}{% for color in subItem.colors %}{{ color.name }} {% if not loop.last %},{% endif %}{% endfor %}{% endif %}</td>
                                                            <td class="numeric" >
                                                                {% if  subItem.masterItem == 0 %}
                                                                <a  data-type="text" class="editable" id="{{ subItem.id }}" data-name="quantity" href="#"   data-url="{{ path('inventory_goods_inline_subitem_update') }}" data-pk="{{ subItem.id }}" data-value="{{ subItem.quantity }}" data-original-title="Enter change quantity">{{ subItem.quantity }}</a></td>
                                                            {% else %}
                                                                {{ subItem.quantity }}
                                                            {% endif %}
                                                            <td class="numeric" >{{ subItem.purchasePrice|number_format() }}</td>
                                                            <td class="numeric" >
                                                                {% if  subItem.masterItem == 0 %}
                                                                    <a  data-type="text" class="editable" id="{{ subItem.id }}" data-name="SalesPrice" href="#"   data-url="{{ path('inventory_goods_inline_subitem_update') }}" data-pk="{{ subItem.id }}" data-value="{{ subItem.salesPrice }}" data-original-title="Enter sales price">{{ subItem.salesPrice }}</a>
                                                                {% else %}
                                                                    {{ subItem.salesPrice }}
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {% if  subItem.masterItem == 0 %}
                                                                <a class="btn red removeProduct mini" data-id="{{ subItem.id }}" data-url="{{ path('inventory_goods_subItem_delete',{'id':subItem.id}) }}"><i class="icon-trash"></i> Delete</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                         {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <!--/span-->
                        {% if  entity.itemMetaAttributes is defined and  entity.itemMetaAttributes is not empty %}
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Item Attributes</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            {% for attribute in entity.itemMetaAttributes %}

                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label">{{ attribute.itemAttribute.name }}</label>

                                            <div class="controls">
                                                <input type="hidden" name="attributeId[]"
                                                       value="{{ attribute.itemAttribute.id }}">
                                                <input type="text" id="" name="value[]" class="m-wrap span12 tooltips"
                                                       placeholder="{{ attribute.itemAttribute.placeholder }}"
                                                       data-original-title="{{ attribute.itemAttribute.toolTip }}"
                                                       data-trigger="hover" value="{{ attribute.value }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% elseif  entity.masterItem.category is defined and entity.masterItem.category is not empty and entity.masterItem.category.itemAttributes is  not empty %}
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Item Attributes</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            {% for itemAttributes in entity.masterItem.category.itemAttributes %}
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="control-group">
                                            <label class="control-label">{{ itemAttributes.name }}</label>

                                            <div class="controls">
                                                <input type="hidden" name="attributeId[]"
                                                       value="{{ itemAttributes.id }}">
                                                <input type="text" id="" name="value[]" class="m-wrap span12 tooltips"
                                                       placeholder="{{ itemAttributes.placeholder }}"
                                                       data-original-title="{{ itemAttributes.toolTip }}"
                                                       data-trigger="hover" value="{{ itemAttributes.placeholder }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="clearfix">&nbsp;</div>
                        <div class="form-actions portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-reorder"></i>Additional Field & Value</div>
                                <a href="javascript:" class="btn yellow pull-right addmore"><i class="icon-plus"></i> Add More</a>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row-fluid clone-block" id="clone-block">
                            <div class="clone">
                                <div class="span3 ">
                                    <div class="control-group">
                                        <input type="hidden" name="metaId[]" value="">
                                        <input type="text" name="metaKey[]" class="m-wrap span12"
                                               placeholder="Label name" value="">
                                    </div>
                                </div>
                                <div class="span8">
                                    <div class="control-group">
                                        <input type="text" name="metaValue[]" class="m-wrap span12"
                                               placeholder="Label value" value="">
                                    </div>
                                </div>
                                <div class="span1">
                                    <div class="control-group">
                                        <div class="controls">
                                            <a href="javascript:" class="btn red  remove hidden mini"><i
                                                        class="icon-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if  entity.itemKeyValues is defined and entity.itemKeyValues is not empty %}
                            <ol class="dd-list singleSortable ui-sortable">
                                {% for meta in entity.itemKeyValues %}
                                    <li style="display:list-item" class="dd-item dd3-item removeAttr-{{ meta.id }}" id="menuItem_{{ meta.id }}">
                                        <div class="menuDiv">
                                            <div>
                                                <div data-id="{{ meta.id }}" class="itemTitle dd-handle dd3-handle"></div>
                                                <div class="row-fluid trash" id="remove-{{ meta.id }}" style="margin-left: 30px!important">
                                                    <div class="span3 ">
                                                        <div class="control-group">
                                                            <input type="hidden" name="metaId[]" value="{{ meta.id }}">
                                                            <input type="text" name="metaKey[]" class="m-wrap span12"
                                                                   placeholder="Label name" value="{{ meta.metaKey }}">
                                                        </div>
                                                    </div>
                                                    <div class="span8">
                                                        <div class="control-group">
                                                            <input type="text" name="metaValue[]" class="m-wrap span12"
                                                                   placeholder="Label value" value="{{ meta.metaValue }}">
                                                        </div>
                                                    </div>
                                                    <div class="span1">
                                                        <div class="control-group">
                                                            <div class="controls">
                                                                <a href="javascript:" data-id="{{ meta.id }}"
                                                                   data-url="{{ path('inventory_goods_itemkeyvalue_delete',{'id':meta.id}) }}"
                                                                   class="btn red  removeAttr mini"><i class="icon-trash"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                        <div class="form-actions portlet box purple">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-reorder"></i>Item Gallery</div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="row-fluid">
                            {% if(entity.itemGalleries) %}
                                {% for photo in entity.itemGalleries %}
                                    <div class="span2">
                                        <input type="checkbox" data-placement="left" class="checker popovers"
                                               data-trigger="hover"
                                               data-content="Are you remove image, Please click here."
                                               data-original-title="Remove image" name="imageId[]"
                                               value="{{ photo.id }}">
                                        <a href="/{{ photo.getWebPath(entity.inventoryConfig.globalOption.id,entity.id) }}"
                                           target="_blank"> <img
                                                    src="{{ image(photo.getAbsolutePath(entity.inventoryConfig.globalOption.id,entity.id)).resize(100,100) }}"/></a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div id="pluploadUploader">
                                    <p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5
                                        support.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions portlet box grey">
                            <div class="pull-right">
                                <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <!-- END FORM-->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        .popover {
            width: 250px !important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@InventoryBundle/Resources/public/css/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@InventoryBundle/Resources/public/js/editable.js'
    '@InventoryBundle/Resources/public/js/goods.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
    NestSortable.init();

    InventoryItemEditPage({{ entity.id ? entity.id : 0 }});
{% endblock %}
