{% extends '::print.html.twig' %}
{% block body %}
    <style>
        #print-container{
            width: 100%;
            margin: 0 auto;
            display: block;
            font-size: 14px;
            color: #0A0302;
        }
        .print-patient .barcode-left{
            float: left;
            margin-top: 5px;
        }

        .print-patient .barcode-right{
            float: right;
            padding-right: 10px;
            margin-top: 5px;
        }

    </style>
    <div id="print-container">
        {% if config.isPrintHeader == 1 %}
            <table class="table" >
                <tr>
                    <td>
                        <div class="span4  pull-left invoice-logo-space">
                            {% if global.templateCustomize.webPath('logo') is not empty %}   <img style="max-width: 180px; max-height:80px" src="/{{ global.templateCustomize.webPath('logo') }}">{% endif %}
                        </div>
                    </td>
                    <td class="pull-right">
                        <div class="span4">
                            <ul class="unstyled">
                                <li><strong>{{ global.name }}</strong></li>
                                <li><i class="icon-phone"></i>&nbsp;{{ global.mobile }}</li>
                                {% if  global.email is not empty %}<li><i class="icon-envelope"></i>&nbsp;{{ global.email }}</li>{% endif %}
                                {% if  global.contactPage.address1 %}<li><i class="icon-home"></i>&nbsp;{{ global.contactPage.address1 }}</li>{% endif %}
                                {% if global.domain is not empty %}<li><i class="icon-link"></i>&nbsp;www.{{ global.domain }}</li>{% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        {% endif %}
        <table class="table table-border" >
            <tr class="print-header">
                <th colspan="2">
                    <span class="title-center text-center">Payment Received</span>
                </th>
            </tr>
            <tr class="print-header">
                <th colspan="2">
                    <span class="barcode-left">Invoice no. {{ entity.invoice }}</span>
                    <span class="barcode-right">Created: {{ entity.updated|date('d-m-Y') }}</span>
                </th>
            </tr>
            <tr class="print-patient">
                <td>
                    <span class="barcode-left"><strong class="strong3">Patient</strong>: {{ entity.customer.name }}</span>
                </td>
                <td>
                    <span class="barcode-right">Age & Gender: {{ entity.customer.age }} {{ entity.customer.ageType }}/ {{ entity.customer.gender }}</span>
                </td>
            </tr>
            <tr class="print-patient">
                <td>
                    <span class="barcode-left"><strong>Mobile: </strong>: {{ entity.customer.mobile }}</span>
                </td>
                <td>
                    <span class="barcode-right">Height/Weight: {{ entity.customer.height }}/ {{ entity.customer.weight }}</span>
                    <span class="barcode-right">B/P: {{ entity.customer.bloodPressure }}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="bottom-border"><strong class="strong3">Address</strong>: {{ entity.customer.address|raw }}</td>
            </tr>
            <tr>
                <td colspan="2" class="bottom-border"><strong class="strong3">Doctor</strong>: {{ entity.assignDoctor.name }}</td>
            </tr>
            <tr>
                <td colspan="2" class="bottom-border"><strong class="strong3">In words</strong>: {{ inWords }}</td>
            </tr>
            <tr>
                <td colspan="2" class="bottom-border"><strong class="strong3">Remarks</strong>: {{ entity.comment }}</td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td class="span6">
                    <ul class="unstyled">
                        <li>Amount Tk. <label class="label-box">{{ entity.payment|number_format }}</label></li>
                    </ul>
                </td>

                <td class="span3 pull-right">
                    <ul class="unstyled">
                        <li style="border-top:2px solid #000; text-align: center">Signature</li>
                    </ul>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
        </table>
        <div style="height: 100px"></div>
        {% if config.isPrintHeader == 1 %}
            <table class="table" >
                <tr>
                    <td>
                        <div class="span4  pull-left invoice-logo-space">
                            {% if global.templateCustomize.webPath('logo') is not empty %}   <img style="max-width: 180px; max-height:80px" src="/{{ global.templateCustomize.webPath('logo') }}">{% endif %}
                        </div>
                    </td>
                    <td class="pull-right">
                        <div class="span4">
                            <ul class="unstyled">
                                <li><strong>{{ global.name }}</strong></li>
                                <li><i class="icon-phone"></i>&nbsp;{{ global.mobile }}</li>
                                {% if  global.email is not empty %}<li><i class="icon-envelope"></i>&nbsp;{{ global.email }}</li>{% endif %}
                                {% if  global.contactPage.address1 %}<li><i class="icon-home"></i>&nbsp;{{ global.contactPage.address1 }}</li>{% endif %}
                                {% if global.domain is not empty %}<li><i class="icon-link"></i>&nbsp;www.{{ global.domain }}</li>{% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        {% endif %}
        <table class="table table-border" >
            <tr class="print-header">
                <th colspan="2">
                    <span class="title-center text-center">Payment Received</span>
                </th>
            </tr>
            <tr class="print-header">
                <th colspan="2">
                    <span class="barcode-left">Invoice no. {{ entity.invoice }}</span>
                    <span class="barcode-right">Created: {{ entity.updated|date('d-m-Y') }}</span>
                </th>
            </tr>
            <tr class="print-patient">
                <td>
                    <span class="barcode-left"><strong class="strong3">Patient</strong>: {{ entity.customer.name }}</span>
                </td>
                <td>
                    <span class="barcode-right">Age & Gender: {{ entity.customer.age }} {{ entity.customer.ageType }}/ {{ entity.customer.gender }}</span>
                </td>
            </tr>
            <tr class="print-patient">
                <td>
                    <span class="barcode-left"><strong>Mobile: </strong>: {{ entity.customer.mobile }}</span>
                </td>
                <td>
                    <span class="barcode-right">Height/Weight: {{ entity.customer.height }}/ {{ entity.customer.weight }}</span>
                    <span class="barcode-right">B/P: {{ entity.customer.bloodPressure }}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="bottom-border">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" class="bottom-border"><strong class="strong3">In words</strong>: {{ inWords }}</td>
            </tr>
            <tr>
                <td colspan="2" class="bottom-border"><strong class="strong3">Remarks</strong>: {{ entity.comment }}</td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td class="span6">
                    <ul class="unstyled">
                        <li>Amount Tk. <label class="label-box">{{ entity.payment|number_format }}</label></li>
                    </ul>
                </td>

                <td class="span3 pull-right">
                    <ul class="unstyled">
                        <li style="border-top:2px solid #000; text-align: center">Signature</li>
                    </ul>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
        </table>
    </div>
    <style>
        .strong3{
            display: inline-block;
            width: 70px;
        }
        .print-patient{
            border: 0!important;
        }
        .table td{
            font-size:13px;
        }
        .barcode-left , .barcode-right{
            line-height: 18px;
            font-size:13px;
        }
        .bottom-border{
            border-bottom: dotted 1px #000101;
        }
        .label-box{
            font-size: 13px;
            border: 1px solid #000;
            padding: 1px;
            min-width: 80px;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            padding-right: 5px;
            padding-left: 5px;
        }

    </style>
    <script>
       /* window.print();
        setTimeout(function () {
            window.open('', '_self', '');
            window.close();
        }, 2000);*/
    </script>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@SettingToolBundle/Resources/public/css/print.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}

