
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Bank Account
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('bankaccount') }}">Bank Account</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#"> SMS/Email Package Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i> Bank Account Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('bankaccount_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></li>
                                    <li><a href="{{ path('bankaccount') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">
                                <tr class="head-grey">
                                    <th class="numeric" >Bank name</th>
                                    <th class="numeric" >Account No</th>
                                    <th class="numeric" >Branch</th>
                                    <th class="numeric" >Status</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for entity in entities %}
                                    <tr>

                                        <td class="numeric" >{{ entity.bank.name }}</td>
                                        <td class="numeric" >{{ entity.accountNo }}</td>
                                        <td class="numeric" >{{ entity.branch }}</td>
                                        <td class="numeric" >
                                            {% if entity.status == 1 %}
                                                <a href="{{ path('bankaccount_status', { 'id': entity.id }) }}" title="Active" class="btn green mini" ><i class=" icon-ok-sign"></i></a>
                                            {% else %}
                                                <a href="{{ path('bankaccount_status', { 'id': entity.id }) }}" title="In-active" class="btn red mini" ><i class="icon-ok-circle"></i></a>
                                            {% endif %}</td>
                                        <td class="numeric" >
                                            <a href="{{ path('bankaccount_edit', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-edit"></i></a>
                                            <a title="Are you sure went to delete ?" href="{{ path('bankaccount_delete', { 'id': entity.id }) }}" class="btn red mini" ><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


