{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                   Manage Medicine & Others Stock
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('hms_stock') }}">Manage Medicine & Others Stock</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Medicine & Others Stock</div>
                        <div class="actions">
                            <a href="{{ path('hms_stock') }}"  class="blue btn"><i class="fa fa-th-list"></i> Medicine Stock</a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}
                        <div class="row-fluid" >
                            <label class="control-label span3"  for="name" >Name<span class="required">*</span></label>
                            <div class="span9">
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.name) }}
                                        {{ form_errors(form.name) }}
                                        <input type="hidden" id="medicineId" name="medicineId" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" >
                            <label class="control-label span3" for="name">Item Unit</label>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.unit) }}
                                        {{ form_errors(form.unit) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" >
                            <label class="control-label span3" for="name">RackNo</label>
                            <div class="span4">
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.rackNo) }}
                                        {{ form_errors(form.rackNo) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" >
                            <label class="control-label span3" for="name">Item Brand</label>
                            <div class="span4">
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.accessoriesBrand) }}
                                        {{ form_errors(form.accessoriesBrand) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" >
                            <label class="control-label span3" for="name">MRP & PP</label>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.salesPrice) }}
                                        {{ form_errors(form.salesPrice) }}
                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.purchasePrice) }}
                                        {{ form_errors(form.purchasePrice) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid" >
                            <label class="control-label span3" for="name">Min/Reorder QTY</label>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.minQuantity) }}
                                        {{ form_errors(form.minQuantity) }}
                                    </div>
                                </div>
                            </div>
                            <div class="span2">
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.reorderQuantity) }}
                                        {{ form_errors(form.reorderQuantity) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions portlet box grey">
                            <div class="pull-center">
                                <button type="submit" class="btn yellow"><i class="icon-refresh-cw"></i> Reset</button>
                                <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                        <!-- END FORM-->
                        <div class="clearfix"><br/></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@MedicineBundle/Resources/public/css/invoice.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@MedicineBundle/Resources/public/js/editable.js'
    '@MedicineBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
{% endblock %}