{% extends '::base.html.twig' %}

{% block body -%}
    <div class="portlet box grey">
        <div class="portlet-title">
            <div class="caption"><i class="icon-cogs"></i>Mobile theme

            </div>
            <div id="" class="date-tooltip" >
                <i class="fa fa-calendar"></i>
                {{ "now"|date("d-F-Y") }}
            </div>
        </div>
        <div>

            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{ path('homepage') }}" >Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="{{ path('syndicatemodule') }}" >Mobile theme</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    Create
                </li>

                <li class="pull-right custom-pull-right" >
                    <a class="btn green-stripe blue" href="{{ path('mobiletheme_new') }}"><i class="icon-plus"></i> New Create</a>
                    <a class="btn purple-stripe blue" href="{{ path('mobiletheme') }}">Listing<i class="icon-headphones"></i></a>

                </li>
            </ul>
        </div>
        {% include('flash-message.html.twig')  %}
        <div class="form-group form-group-custom backgroundWhite ">
            <div class="modal-dialog modal-dialog-form" >
                <div class="modal-content" >

                    <div class="modal-body ">
                        <div class="portlet box">
                            {{ form_start(edit_form) }}
                            {{ form_row(edit_form._token) }}
                            <div class="form-group">
                                <label for="item_itemName"  class="control-label col-md-2 required">Theme name:</label>
                                <div class="col-md-9 form-group-error">
                                    <div class="input-icon">
                                        {{ form_widget(edit_form.name) }}
                                        {{ form_errors(edit_form.name) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="item_itemName"  class="control-label col-md-2 required">Folder name:</label>
                                <div class="col-md-9 form-group-error">
                                    <div class="input-icon">
                                        {{ form_widget(edit_form.folderName) }}
                                        {{ form_errors(edit_form.folderName) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="item_itemName"  class="control-label col-md-2 required">Syndicate:</label>
                                <div class="col-md-9 form-group-error" style="margin-top: 5px">
                                    <div class="input-icon">
                                        {{ form_widget(edit_form.syndicates) }}
                                        {{ form_errors(edit_form.syndicates) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="item_itemName"  class="control-label col-md-2 required">ImageFile:</label>
                                <div class="col-md-9 form-group-error">
                                    <div class="input-icon">
                                        <div data-provides="fileupload" class="fileupload fileupload-new">
                                            <div style="width: 200px; height: 150px;" class="fileupload-new thumbnail">
                                                {% if(entity.webPath) %}
                                                    <img alt="" src="/{{ entity.webPath }}">
                                                {% else %}
                                                    <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                                {% endif %}
                                            </div>
                                            <div style="max-width: 200px; max-height: 150px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                            <div>
													<span class="btn btn-file"><span class="fileupload-new">Select image</span>
													<span class="fileupload-exists">Change</span>
                                                        {{ form_widget(edit_form.file) }}</span>
                                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="item_itemName"  class="control-label col-md-2 required">Status:</label>
                                <div class="col-md-9">
                                    <label class="checkbox line">
                                        {{ form_widget(edit_form.status) }}
                                    </label>
                                </div>
                            </div>
                            <div class="edit_form-actions">
                                <label for="item_itemName"  class="control-label col-md-2 required"></label>
                                <div class="col-md-9">
                                    {{ form_widget(edit_form.submit) }}{{ form_widget(edit_form.reset) }}
                                </div>
                            </div>
                            {{ form_end(edit_form) }}

                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
{% endblock %}
