
{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    Account of sales
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="javascript:">Account of sales lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Account sales</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red" href="{{ path('account_sales_medicine_new') }}"><i class="icon-plus-sign"></i>&nbsp; Add Receive</a>
                                <a class="btn yellow" href="{{ path('account_sales_medicine_outstanding') }}"><i class="icon-th-list"></i>&nbsp; Customer Outstanding</a>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body">
                            {% include('flash-message.html.twig') %}
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <input type="text" id="mobile" name="mobile"  class="leftMargin span12 select2Customer" value="{% if searchForm.mobile is defined %}{{ searchForm.mobile }}{% endif %}"  autocomplete="off" placeholder="Search customer name/mobile no">
                                    </div>
                                    {#<div class="span2">
                                        <select name="processHead" id="processHead" class="m-wrap span12">
                                            <option value="" >--Receive Mode--</option>
                                            {% set modes =['Sales','Due','Advance'] %}
                                            {% for mode in modes %}
                                                <option {% if searchForm.processHead is defined and searchForm.processHead == mode %} selected="selected" {% endif %} value="{{ mode }}" >{{ mode }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>#}
                                    <div class="span2">
                                        <select name="transactionMethod" id="transactionMethod" class="select2 m-wrap leftMargin span12">
                                            <option value="" >--Transaction--</option>
                                            {% for method in transactionMethods %}
                                                <option {% if searchForm.transactionMethod is defined and searchForm.transactionMethod == method.id %} selected="selected" {% endif %} value="{{ method.id }}" >{{ method.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span2">
                                        <input type="text" id="startDate" name="startDate"  class="span12 m-wrap search-input  dateCalendar" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% else %}Start date{% endif %} ">
                                    </div>
                                    <div class="span2">
                                        <input type="text" id="endDate" name="endDate"  class="span12 m-wrap search-input  m-ctrl-medium dateCalendar" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% else %}End date{% endif %} ">
                                    </div>
                                    <div class="span2">
                                        <div class="controls">
                                            <div class="input-append span10">
                                                <input type="text" id="medicineInvoice" name="medicineInvoice"  class="span10 search-input m-wrap " value="{% if searchForm.medicineInvoice is defined %}{{ searchForm.medicineInvoice }}{% endif %}"  autocomplete="off" placeholder="{% if searchForm.medicineInvoice is defined %}{{ searchForm.medicineInvoice }}{% else %}invoice No{% endif %} ">
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content">
                                <tr class="head-red">
                                    <th class="" >Total Amount</th>
                                    <th class="" >Received Amount</th>
                                    <th class="" >Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="numeric" ><strong>{{ overview.totalAmount|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ overview.receiveAmount|number_format }}</strong></td>
                                    <td class="numeric" ><strong>{{ (overview.totalAmount - overview.receiveAmount)|number_format }}</strong></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="portlet-body flip-scroll">
                            {% include('flash-message.html.twig')  %}
                            <table class="table table-bordered table-striped table-condensed flip-content ">

                                <thead class="flip-content ">

                                <tr class="head-blue">
                                    <th class="numeric" >Created</th>
                                    <th class="numeric" >Name</th>
                                    <th class="numeric" >Mobile</th>
                                    <th class="numeric" >Invoice</th>
                                    <th class="numeric" >Receive Mode</th>
                                    <th class="numeric" >Ref No.</th>
                                    <th class="numeric" >Method</th>
                                    <th class="numeric" >Total</th>
                                    <th class="numeric" >Received</th>
                                    <th class="numeric" >Due</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr id="remove-{{ entity.id }}">
                                        <td class="numeric" >{{ entity.updated|date('d-m-Y') }}</td>
                                        <td class="numeric" >{% if entity.customer is not empty %}{{ entity.customer.name }}{% endif %}</td>
                                        <td class="numeric" >{% if entity.customer is not empty %}{{ entity.customer.mobile }}{% endif %}</td>
                                        <td class="numeric" >
                                            {% if entity.medicineSales is not empty %}{{ entity.medicineSales.invoice }} {% endif %}
                                        </td>
                                        <td class="numeric" >{{ entity.processHead }}</td>
                                        <td class="numeric" >{{ entity.accountRefNo }}</td>
                                         <td class="numeric" >
                                             {% if entity.transactionMethod is defined and entity.transactionMethod is not empty %}{{ entity.transactionMethod.name }}{% endif %}
                                         </td>

                                        <td class="numeric" >{{ entity.totalAmount|number_format }}</td>
                                        <td class="numeric" >
                                            {% if entity.process == 'approved'  %}
                                                {{ entity.amount|number_format }}
                                            {% else %}
                                                <a data-mode="inline" class="editable" data-name="amount" href="#"  data-url="{{ path('account_sales_inline') }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change your amount">{{ entity.amount }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="numeric" >{{ entity.balance|number_format }}</td>
                                        <td class="numeric" >
                                            {% if entity.process != 'approved'  %}
                                                <a href="javascript:" id="" data-id="{{ entity.id }}" class="btn red mini delete"  data-url="{{ path('account_sales_delete',{'id':entity.id}) }}"><i class="icon-trash"></i></a>
                                                <a href="javascript:" id="action-{{ entity.id }}" data-id="{{ entity.id }}" class="btn green mini approve "  data-url="{{ path('account_sales_medicine_approve',{'id':entity.id}) }}"><i class="icon-check"></i>&nbsp;Approve</a>
                                            {% elseif ((entity.process == 'approved' and  entity.medicineSales is empty and app.user.granted("ROLE_DOMAIN_ACCOUNT_REVERSE")) or (entity.process == 'approved' and  entity.medicineSales is empty and app.user.granted("ROLE_DOMAIN"))) %}
                                                <a href="{{ path('account_sales_medicine_reverse',{'id':entity.id}) }}" id="" data-id="" class="btn yellow mini "><i class="icon-retweet"></i>&nbsp;Reverse</a>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination pull-center"  >
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@AccountingBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@AccountingBundle/Resources/public/js/editable.js'
    '@AccountingBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    EditableInit();
    AccountingApproveProcess();
{% endblock %}


