{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Form Components
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ path('homepage') }}">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="{{ path('branch') }}">Branch</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li><a href="#">Form Components</a></li>
                <li class="pull-right btn blue disabled mini">
                    <i class="fa fa-calendar"></i>
                    {{ "now"|date("d-F-Y") }}
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
        <div class="span12">
            {#<div class="btn-group pull-right">
                {% if entity.id > 0  %}
                    <a class="btn black" target="_blank" href="{{ path('branch_print',{'id': entity.id}) }}">Print</a>
                    <a class="btn yellow" target="_blank" href="{{ path('branch_pdf',{'id': entity.id}) }}">PDF</a>
                    <a class="btn blue" target="_blank" href="{{ path('branch_export',{'id': entity.id}) }}">Export</a>
                {% else %}
                    <a class="btn purple" href="{{ path('branch_import') }}">Import</a>
                {% endif %}
            </div>#}
            <div class="portlet box green tabbable">

                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>Branch Information</div>
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-cogs"></i>&nbsp;Tools
                                <i class="icon-tasks"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{{ path('branch_new') }}"><i class="icon-plus-sign"></i>&nbsp; Create</a></li>
                                <li><a href="{{ path('branch') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <!-- BEGIN FORM-->
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}


                        <!--/row-->
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label" >Location<span class="required">*</span></label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            <i class="icon-map-marker"></i>
                                            {{ form_widget(form.name) }}
                                            {{ form_errors(form.name) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label" >Contact Person</label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            <i class="icon-user"></i>
                                            {{ form_widget(form.contactPerson) }}
                                            {{ form_errors(form.contactPerson) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" >Mobile<span class="required">*</span></label>
                                    <div class="controls">
                                        <div class="input-prepend span11"><span class="add-on">+88</span>
                                            {{ form_widget(form.mobile) }}
                                            {{ form_errors(form.mobile) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label" >Designation</label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            <i class="icon-font"></i>
                                            {{ form_widget(form.designation) }}
                                            {{ form_errors(form.designation) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label" >Additional Phone/Mobile</label>
                                    <div class="controls">
                                        <div class="input-prepend span11"><span class="add-on">+88</span>
                                            {{ form_widget(form.phone) }}
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label" >Email</label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            <i class="icon-envelope"></i>
                                            {{ form_widget(form.email) }}
                                            {{ form_errors(form.email) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row--><!--/row-->
                        <div class="row-fluid">
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label" >Fax</label>
                                    <div class="controls">
                                        <div class="input-prepend span11"><span class="add-on">+88 2</span>
                                            {{ form_widget(form.fax) }}
                                            {{ form_errors(form.fax) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label" >Status</label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            {{ form_widget(form.status) }}
                                            {{ form_errors(form.status) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row-fluid">
                            <div class="span12 ">
                                <div class="control-group">
                                    <label class="control-label" for="firstName">Address<span class="required">*</span></label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            <i class="icon-home"></i>
                                            {{ form_widget(form.address) }}
                                            {{ form_errors(form.address) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row-fluid">
                            <div class="span12 ">
                                <div class="control-group">
                                    <label class="control-label" for="firstName">Location<span class="required">*</span></label>
                                    <div class="controls">
                                        {{ form_widget(form.location) }}
                                        {{ form_errors(form.location) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" >Latitude</label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            <i class="icon-map-marker"></i>
                                            {{ form_widget(form.latitude) }}
                                            {{ form_errors(form.latitude) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="span6 ">
                                <div class="control-group">
                                    <label class="control-label" >Longitude</label>
                                    <div class="controls">
                                        <div class="input-icon left">
                                            <i class="icon-map-marker"></i>
                                            {{ form_widget(form.longitude) }}
                                            {{ form_errors(form.longitude) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <p>Follow this link <a target="_blank" href="http://www.latlong.net/?gadres=Dhaka,Bangladesh">Google Map Latitude & Longitude </a></p>
                        </div>

                        <div class="form-actions portlet box grey">
                            <div class="pull-center">
                                <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                                <button type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</button>
                                {% if(entity.id > 0 ) %}
                                    <a href="{{ path('branch_delete',{'id': entity.id} ) }}"  class="btn red confirm" title="Are you sure went to delete?"><i class="icon-remove"></i> Delete</a>
                                {% endif %}
                        </div>
                        {{ form_end(form) }}
                        <!-- END FORM-->
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}
