{% extends '::hms-print.html.twig' %}
{% block body %}
    <div style="margin-top:{{ entity.dmsConfig.printTopMargin }}px;margin-left:{{ entity.dmsConfig.printLeftMargin }}px;">
        {%  if entity.dmsConfig.isPrintHeader == 1 %}
            <table class="table">
                <tr>
                    <td>
                        <div class="span4  pull-left invoice-logo-space">
                            {%  if entity.dmsConfig.invoicePrintLogo == 1 %}
                                {% if entity.dmsConfig.globalOption.templateCustomize.webPath('logo') is not empty %}   <img style="max-width: 180px; max-height: 60px" src="/{{ entity.dmsConfig.globalOption.templateCustomize.webPath('logo') }}">{% endif %}
                            {%  endif %}
                        </div>
                    </td>
                    <td class="pull-right">
                        <div>
                            <ul class="unstyled">
                                <li><strong>{{ entity.dmsConfig.globalOption.name }}</strong></li>
                                <li><i class="icon-phone"></i>&nbsp;{{ entity.dmsConfig.globalOption.mobile }}</li>
                                {% if  entity.dmsConfig.globalOption.email is not empty %}<li><i class="icon-envelope"></i>&nbsp;{{ entity.dmsConfig.globalOption.email }}</li>{% endif %}
                                {% if  entity.dmsConfig.globalOption.contactPage.address1 %}<li><i class="icon-home"></i>&nbsp;{{ entity.dmsConfig.globalOption.contactPage.address1 }}</li>{% endif %}
                                {% if entity.dmsConfig.globalOption.domain is not empty %}<li><i class="icon-link"></i>&nbsp;www.{{ entity.dmsConfig.globalOption.domain }}</li>{% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        {% endif %}
        <table class="table table-border" style="height:20px" >
            <tr>
                <td class="span4">{% if entity.customer is not empty %}{{ entity.customer.name }}{% endif %}</td>
                <td class="span2">{% if entity.customer is not empty %}{{ entity.customer.age }} {{ entity.customer.ageType }}{% endif %}</td>
                <td class="span1">{% if entity.customer is not empty %}{{ entity.customer.gender }}{% endif %}</td>
                <td class="span2">{% if entity.customer is not empty %}{{ entity.updated|date('d-m-Y') }}{% endif %}</td>
            </tr>
        </table>
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td class="span4">
                    <table class="table">
                        <tr>
                            <td style="height: 120px"><strong>Chief Complains</strong> <br/>
                                {{ entity.chiefComplains }}
                            </td>
                        </tr>

                     {#   <tr>
                            <td>
                                <strong>History of the Presenting Complaints</strong> <br/>
                                {{ entity.presentingComplains }}
                            </td>
                        </tr>#}
                 {#       <tr>
                            <td><strong>Past Medical History</strong><br/>
                                    {% for particular in particulars %}
                                        {% if particular.service.slug == 'medical-history' %}
                                    <ul class="styled">
                                        {% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty %} <li>{{ particular.name }}: {{ invoiceParticularArr[particular.id].metaValue }}</li>{% endif %}
                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                            </td>
                        </tr>#}

                      {#  <tr>
                            <td>
                                <strong>Drug History</strong><br/>
                                {{ entity.drugHistory }}
                            </td>
                        </tr>#}
                        <tr><td style="height: 120px"><strong>General Examination
                                </strong><br/>
                                {% for particular in particulars %}
                                    {% if particular.service.slug == 'general' %}
                                        <ul class="styled">
                                            {% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty %} <li>{{ particular.name }}: {{ invoiceParticularArr[particular.id].metaValue }}</li>{% endif %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
              {#          <tr><td><strong>Local  Examination</strong><br/>
                                {% for particular in particulars %}
                                    {% if particular.service.slug == 'physical' %}
                                        <ul class="styled">
                                            {% if invoiceParticularArr is not empty and invoiceParticularArr[particular.id] is defined and invoiceParticularArr[particular.id] is not empty %} <li>{{ particular.name }}: {{ invoiceParticularArr[particular.id].metaValue }}</li>{% endif %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}

                            </td></tr>#}
                        <tr><td style="height: 120px"><strong>Investigations</strong> <br/>
                                <ul class="styled">
                                    {% for investigations in entity.investigations %}
                                        <li>{{ investigations.name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 120px"><strong>Advise</strong><br/>
                                {{ entity.comment }}
                            </td>
                        </tr>

                    </table>
                </td>
                <td class="span8">
                    <table class="table">
                        <tr><td><strong>Medications Prescribed:</strong><br/><br/><br/></td></tr>
                        <tr>
                                <td  class="numeric">
                                    <ul class="unstyled">
                                        {% for medicine in entity.invoiceMedicines %}
                                            <li> {{ loop.index }}. {{ medicine.medicine.medicineForm }} {{ medicine.medicine.name }} {{ medicine.medicine.strength }} <br/>
                                                {{ medicine.medicineQuantity }}  {{ medicine.medicineDose }} - {{ medicine.medicineDoseTime }} - {{ medicine.medicineDuration }} {{ medicine.medicineDurationType }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                    </table>

                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr><td colspan="3">&nbsp;</td></tr>
            <tr><td colspan="3">&nbsp;</td></tr>
            <tr>
                <td colspan="3">
                    <div class="span4 left">
                        <div class="text-center">
                        <ul class="unstyled">
                            <li>Prepared By</li>
                            <li>{{ entity.createdBy.profile.name }}</li>
                        </ul>
                        </div>
                    </div>
                    <div class="span4 left">
                        <div class="text-center">&nbsp;</div>

                    </div>
                    <div class="span4 left">
                        <div class="text-center">{% if entity.assignDoctor is not empty %}
                                <ul class="unstyled">
                                    <li><strong>{{ entity.assignDoctor.name }}</strong></li>
                                    <li>{{ entity.assignDoctor.educationalDegree|raw }}</li>
                                    <li>{{ entity.assignDoctor.specialist|raw }}</li>
                                    <li>{{ entity.assignDoctor.designation }}</li>
                                    <li>{{ entity.assignDoctor.currentJob }}</li>
                                </ul>
                            {% endif %}</div>
                    </div>

                </td>

            </tr>
            </tfoot>
        </table>
        <table class="table table-border">

            {#<tr>
                <td class="span4">
                    <ul class="unstyled">
                        <li>Prepared By</li>
                        <li>{{ entity.createdBy.profile.name }}</li>
                    </ul>
                </td>
                <td class="span4 text-center">
                    <ul class="unstyled">
                        <li>Checked By</li>
                        <li>Printed: {{ "now"|date("d-m-Y h:i A") }}</li>
                    </ul>
                </td>
                <td class="span4 pull-right">
                    <ul class="unstyled">
                        <li>Printed By</li>
                        <li>{{ app.user }}</li>
                    </ul>
                </td>
            </tr>#}
            <tr><td colspan="3">&nbsp;</td></tr>
        </table>
    </div>
    <style>
        .styled li{
            list-style: square!important;
            margin-left: 15px!important;
            padding-bottom: 5px!important;
        }

        .unstyled li{
            padding-bottom: 5px!important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@DmsBundle/Resources/public/css/print.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
