{% extends '::base-report.html.twig' %}
{% block body %}
    <div id="print-area">
        <div class="row print-header">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <p><strong style="font-size:18px">{{ option.name }}</strong></p>
                <p><strong>Name of Report: Customer Outstanding</strong></p>
            </div>
            <div class="col-md-4 text-right">Printed: {{ "now"|date('d-m-Y') }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table even" border="1">
                    <colgroup>
                        <col class="w">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <tbody><tr>
                        <th>SI.</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th class="text-right">Sales</th>
                        <th class="text-right">Receive</th>
                        <th class="text-right">Balance</th>
                    </tr>
                    <tbody>
                    {% set balance = 0 %}
                    {% for entity in entities %}
                        {% set balance = balance + entity.balance %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td class="numeric" >{{ entity.name }}</td>
                            <td class="numeric" >{{ entity.mobile }}</td>
                            <td class="text-right" >{{ entity.debit|number_format(2) }}</td>
                            <td class="text-right" >{{ entity.credit|number_format(2) }}</td>
                            <td class="text-right" >{{ entity.balance|number_format(2) }}</td>
                        </tr
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="text-right" colspan="5">Grand Balance</th>
                        <th class="text-right">{{ balance|number_format(2) }}</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


