{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box green">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Order</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn purple" href="{{ path('order_print_invoice', { 'shop':globalOption.slug,'invoice': entity.invoice }) }} " target="_blank"><i class="icon-print"></i>&nbsp; Print</a>
                                <a class="btn yellow" href="{{ path('order',{'shop':globalOption.slug}) }}"><i class="icon-th-list"></i>&nbsp;Orders</a>

                            </div>
                        </div>
                    </div>

                    <div class="portlet-body form">
                        <div class="row-fluid">
                            <div class="span12">
                                <label><strong>{{ entity.delivery|capitalize }} Address</strong></label>
                                <ul class="unstyled" >
                                    <li><strong>Name</strong>:&nbsp;{{ entity.createdBy.profile.name }}</li>
                                    <li><strong>Mobile</strong>:&nbsp;{{ entity.createdBy.profile.mobile }}</li>
                                    {% if entity.createdBy.profile.location is not empty %}<li><strong>Location</strong>:&nbsp;{{ entity.createdBy.profile.location.name }}</li>{% endif %}
                                    <li>{{ entity.address }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <label><strong>Process Details</strong></label>
                                <ul class="unstyled" >
                                    <li><strong>Invoice</strong>:#&nbsp;{{ entity.invoice }}</li>
                                    {% if entity.cashOnDelivery == 1 %}
                                        <li><strong>Payment</strong>:&nbsp;Cash On Delivery</li>
                                    {% endif %}
                                    <li><strong>Shipping</strong>:&nbsp;{{ entity.delivery|capitalize }}</li>
                                    <li><strong>Delivery Date</strong>:&nbsp;{{ entity.deliveryDate|date('d-m-Y') }}</li>
                                    <li><strong>Delivery Slot</strong>:&nbsp;{{ entity.deliverySlot }}</li>
                                    <li><strong>Process</strong>:&nbsp;{{ entity.process|capitalize }}</li>
                                    <li><strong>Prescription</strong>:&nbsp; {% if entity.path is not empty %}<a href="{{ asset('uploads/domain/'~entity.globalOption.id~'/order/'~entity.path) }}" target="_blank"> <i class="icon-download"></i> <strong>Download</strong></a>{% endif %}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                {% if entity.accountMobileBank is not empty %}
                                    <label><strong>Payment </strong></label>
                                    <ul class="unstyled" >
                                        <li><strong>Receive Mob.</strong>:&nbsp;{{ entity.accountMobileBank.mobile }}</li>
                                        <li><strong>Service</strong>:&nbsp;{{ entity.accountMobileBank.serviceName }}</li>
                                        <li><strong>Sender Mob.</strong>:&nbsp;{{ entity.mobileAccount }}</li>
                                        <li><strong>Transaction ID</strong>:&nbsp;{{ entity.transaction }}</li>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="clearfix"> </div>
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title"><div class="caption"><i class="icon-reorder"></i>Order Details</div></div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                <tr class="head-grey">
                                    <th class="numeric" ><i class="icon-reorder"></i></th>
                                    <th class="numeric" >Item</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for orderItem in entity.orderItems %}
                                    <tr id="remove-{{ orderItem.id }}">
                                        <input type="hidden" name="itemId[]" value="{{ orderItem.id }}">
                                        <td>{{ loop.index }}.</td>
                                        <td class="numeric" >
                                            {{ orderItem.itemName }}<br/>
                                            {{ orderItem.brandName }}
                                            <div class="clearfix"></div>
                                            <div style="margin-top: 15px">
                                                <div class="" style="width:100%; text-align: right">
                                                    {{ orderItem.quantity }}  {% if orderItem.UnitName is not empty %}
                                                        {{ orderItem.UnitName }}
                                                    {% endif %} x  {{ orderItem.price }}
                                                    <strong> = {{ orderItem.subTotal }}</strong>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="numeric" colspan="2" >Total <span class="text-right">{{ entity.totalAmount|number_format }}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="numeric">Delivery Charge  <span class="text-right">{{ entity.shippingCharge }}</span></td>
                                </tr>

                                {% if entity.ecommerceConfig.vatEnable == 1 %}
                                    <tr>
                                        <td colspan="2" class="numeric">Vat & Tax  <span class="text-right">{{ entity.vat }}</span></td>
                                    </tr>
                                {% endif %}
                                {% if entity.discountAmount > 0 %}
                                    <tr>
                                        <td class="numeric" colspan="6" ><span class="pull-right">Discount Amount</span></td>
                                        <td colspan="2"  class="numeric">Discount  <span class="text-right">{{ ( entity.discountAmount)|number_format }}</span></td>
                                    </tr>
                                {% endif %}
                                {% if entity.coupon is not empty %}
                                    <tr>
                                        <td colspan="2" class="numeric">Coupon Code({{ entity.coupon.couponCode }})  <span class="text-right">{{ entity.couponAmount }}</span></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td colspan="2" class="numeric">Grand Total  <span class="text-right">{{ ( entity.grandTotalAmount)|number_format }}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="numeric">Paid  <span class="text-right">{{ ( entity.paidAmount)|number_format }}</span></td>
                                </tr>

                                {% if entity.dueAmount  > 0 %}
                                    <tr>
                                        <td colspan="2" class="numeric" >Due  <span class="text-right">{{ ( entity.dueAmount)|number_format }}</span></td>
                                    </tr>
                                {% endif %}
                                {% if entity.returnAmount  > 0 %}
                                    <tr>
                                        <td colspan="2" class="numeric">Return  <span class="text-right">{{ ( entity.returnAmount)|number_format }}</span></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                            <div class="clearfix">&nbsp;</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="payment-confirm" style="display:none; text-align: left!important;">Thank you for your payment. Your payment has been sent successfully to our customer service department.</div>
<style>
    input[class*="span"].m-wrap,select[class*="span"],select{
        border: 1px solid #0b84fe!important;
        height: 34px!important;
    }
    .row-fluid textarea[class*="span"] {
        border: 1px solid #0b84fe!important;
    }
    .select2-container .select2-choice {
        border: 1px solid #0b84fe!important;
        height: 27px!important;
    }
    .input-append-footer{
        margin-bottom: 0;
        text-align: right;
        float: right;
        margin-right: 15px;
    }
    input[type="text"].input-number {
        height: 21px!important;
        min-height: 20px!important;
        font-size: 12px;
        text-align: center;
        border: solid 1px #c49f47!important;
    }
    .text-right{
        float: right;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@EcommerceBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@CustomerBundle/Resources/public/js/editable.js'
    '@CustomerBundle/Resources/public/js/medicine.js'
    '@CustomerBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $(".editable").editable();
    ApproveProcess();
    $('#fos_comment_comment_body').addClass('span12');
    $('.fos_comment_submit input[type="submit"]').addClass('btn blue');
{% endblock %}
