{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
    <!-- BEGIN category HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="category-title">
                Purchase no #  <strong>{{ entity.grn }}</strong>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="{{ path('homepage') }}">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="{{ path('business_purchase') }}">Purchase</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li><a href="#">Manage Purchase</a></li>
                <li class="pull-right btn blue disabled mini">
                    <i class="fa fa-calendar"></i>
                    {{ "now"|date("d-F-Y") }}
                </li>
            </ul>
        </div>
    </div>
    <!-- END category HEADER-->
    <!-- BEGIN category CONTENT-->
    <div class="row-fluid">
    <div class="span12">

    <div class="portlet box green tabbable">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Purchase Information</div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn red" href="{{ path('business_purchase_new') }}"><i class="icon-plus-sign"></i> Purchase Receive</a>
                    <a class="btn" href="{{ path('business_purchase') }}"><i class="icon-th-list"></i> Purchase</a>
                </div>
            </div>
        </div>
    <div class="portlet-body">
        <div class="portlet-body form">
            {% include('flash-message.html.twig')  %}
            <!-- BEGIN FORM-->
            {% if entity.commissionInvoice != 1 %}
            <form class="" id="purchaseItem" name="purchaseItem" method="post" action="{{ path('business_purchase_particular_add',{'invoice':entity.id}) }}">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid particular-info" >
                        <div class="span7" style="margin-left:15px">
                            <select id="particular" name="particular" class="span12 select2">
                                <option value="">--- Select product name ---</option>
                                {% for particular in particulars %}
                                    <option value="{{ path('business_purchase_particular_search',{'id':particular.id}) }}">{{ particular.particularCode }}-{{ particular.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="span3">
                            <div class="input-append">
                                <div class="input-group">
                                    <input type="text" class="m-wrap span8" id="purchasePrice"  name="purchasePrice" placeholder="Purchase price" value="" maxlength="8" autocomplete="off">
                                    <input type="number" class="m-wrap span4 form-control input-number" id="quantity" name="quantity" value="1" min="1" autocomplete="off">
                                    <input type="hidden" id="particularId" name="particularId" value="">
                                    <button type="button" class="btn yellow"  id="unit" >Unit</button>
                                    <button type="submit" class="btn blue" id="addParticular" ><i class="icon-save"></i> Add</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </form>
            {% endif %}
            <div class="row-fluid">
                <div class="span12" id="particular-table">
                    <table class="table table-bordered table-striped table-condensed table-fixed">
                        <thead>
                        <tr>
                            <th class="span1">&nbsp;&nbsp;<i class="icon-list"></i></th>
                            <th class="span1">Code</th>
                            <th class="span3">Name</th>
                            <th class="span1">Sales Price</th>
                            <th class="span1">Receive Price</th>
                            <th class="span1">Qnt</th>
                            <th class="span1">Unit</th>
                            <th class="span1">Sub Total</th>
                            <th class="span1"><i class="icon-trash"></i></th>
                        </tr>
                        </thead>
                        <tbody id="invoiceParticulars">
                        {% if entity.purchaseItems is not empty %}
                            {% for item in entity.purchaseItems %}
                                <tr id="remove-{{ item.id }}">
                                    <td  class="span1">{{ loop.index }}</td>
                                    <td  class="span1">{{ item.businessParticular.particularCode }}</td>
                                    <td class="span3">{{ item.businessParticular.name }}</td>
                                    <td class="span1">{{ item.salesPrice }}</td>
                                    <td class="span1">{{ item.purchasePrice }}</td>
                                    <td class="span1">{{ item.quantity }}</td>
                                    <td class="span1">{% if item.businessParticular.unit is not empty %}{{ item.businessParticular.unit.name }}{% endif %}</td>
                                    <td class="span1">{{ item.purchaseSubTotal|number_format }}</td>
                                    <td class="span1">
                                        {% if entity.commissionInvoice != 1 %}
                                            <a id="{{ item.id }}" title="Are you sure went to delete ?" data-url="{{ path('business_purchase_particular_delete',{'invoice': entity.id ,'id': item.id }) }}" href="javascript:" class="btn red mini delete" ><i class="icon-trash"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="9" class="span12" style="border: 1px double #000"></td>
                        </tr>
                        <tr>
                            <td colspan="7" class="span9"><span class="pull-right"><strong>Total TK.</strong> =</span></td>
                            <td class="span2"><strong id="subTotal">{{ entity.subTotal|number_format }}</strong></td>
                            <td class="span1"></td>
                        </tr>
                        <tr>
                            <td colspan="7" class="span9"><span class="pull-right"><strong>Discount TK.</strong> =</span></td>
                            <td class="span2"><strong id="discount">{{ entity.discount|number_format }}</strong></td>
                            <td class="span1"></td>
                        </tr>
                        <tr>
                            <td colspan="7" class="span9"><span class="pull-right"><strong>Net Total TK.</strong> =</span></td>
                            <td class="span2"><strong id="netTotal">{{ entity.netTotal|number_format }}</strong></td>
                            <td class="span1"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            {{ form_start(form) }}
            {{ form_row(form._token) }}
            <div class="clearfix">&nbsp;</div>
            <div class="row-fluid">
                <div class="span8">

               </div>
                <div class="span4 payment-info">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label" for="firstName"><span class="label">Discount Type</span> <span class="pull-right sales-right">{{ form_widget(form.discountType) }}</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label" for="firstName"><span class="label">Discount TK.</span> <span class="pull-right sales-right">{{ form_widget(form.discountCalculation) }}</span></label>
                               
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label" for="firstName"><span class="label">As Investment</span> <span class="pull-right sales-right">
                                         {{ form_widget(form.asInvestment) }}
                                        {{ form_errors(form.asInvestment) }}
                                    </span>
                                </label>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label" for="firstName"><span class="label">Payment TK.</span> <span class="pull-right sales-right">{{ form_widget(form.payment) }}
                                        </span>
                                </label>
                                <div class="controls">
                                {{ form_errors(form.payment) }}
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <label class="control-label" for="firstName"><span class="label" id="balance">Due TK.</span> <span class="pull-right sales-right due" style="text-align: left; width: 110px"  id="due" >{{ entity.due }}</span></label>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                {{ form_widget(form.vendor) }}
                                {{ form_errors(form.vendor) }}
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <div class="span5">
                                {{ form_widget(form.memo) }}
                                {{ form_errors(form.memo) }}
                                </div>
                                <div class="span7">
                                {{ form_widget(form.receiveDate) }}
                                {{ form_errors(form.receiveDate) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="control-group">
                                <div class="controls">
                                    {{ form_widget(form.transactionMethod) }}
                                    {{ form_errors(form.transactionMethod) }}
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div id="cartMethod" class="bankHide">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.accountBank) }}
                                        {{ form_errors(form.accountBank) }}
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div id="bkashMethod" class="mobileBankHide">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.accountMobileBank) }}
                                        {{ form_errors(form.accountMobileBank) }}
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="control-group">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append span12">
                                    <div class="uneditable-input">
                                        <i class="icon-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn yellow btn-file">
                                    <span class="fileupload-new">Select File</span>
                                    <span class="fileupload-exists">Change</span>
                                            {{ form_widget(form.file) }}
                                    </span><a href="#" class="btn red fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                            {{ form_errors(form.file) }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row-fluid">
                        <div class="span12 input-append-border">
                            <div class="row-fluid">
                                {{ form_widget(form.remark) }}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="form-actions portlet box grey">
                <input type="hidden" class="dueAmount" name="due" id="due" value="{{ entity.due }}">
                <input type="hidden" name="purchaseId" id="purchaseId" value="{{ entity.id }}">
                <input type="hidden" name="paymentTotal" id="paymentTotal" class="netTotal" value="{{ entity.netTotal }}">
                <div class="pull-right">
                    <button type="button" class="btn blue span12 confirmSubmit" id="receiveBtn"><i class="icon-save"></i> SAVE</button>
                </div>
            </div>
            {{ form_end(form) }}
            <!-- END FORM-->
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block cssBlock %}
{% stylesheets filter='cssrewrite'
    '@BusinessBundle/Resources/public/css/invoice.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@BusinessBundle/Resources/public/js/purchase.js'
    '@BusinessBundle/Resources/public/js/approveProcess.js'
    '@BusinessBundle/Resources/public/js/datetimepicker_css.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('input[name=particular]').focus();
{% endblock %}

