{% for entity in entities %}
    <tr>
        <td class="numeric" >{{ entity.created|date('d-m-Y') }}</td>
        <td class="numeric" >{{ entity.accountRefNo }}</td>
        <td>{{ entity.accountHead }}</td>
        <td>{{ entity.subAccountHead }}</td>
        <td>{{ entity.narration }}</td>
        <td>{{ entity.debit }}</td>
        <td>{{ entity.credit }}</td>
    </tr>
{% endfor %}