{% extends '::base-report.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12 print-bar">
            <form name="searchForm" id="searchForm" action="{{ path('accounting_report_head_ajax') }}" method="post">
                <div class="row">
                    <div class="col-md-5 margin-top">
                        <label>Account Head</label>
                        <select style="width: 100%!important;" class="search-input select2  span12 m-wrap" id="accountHead" name="accountHead">
                            <option value="">Choose Account Head</option>
                            {% for account in accountHead %}
                                {% if heads[account.id] is defined and heads[account.id] is not empty %}
                                    <optgroup label="{{ account.name }}">
                                        {% for head in heads[account.id] %}
                                            <option {% if searchForm.accountHead is defined and searchForm.accountHead == head.id %} selected="selected" {% endif %} value="{{ head.id }}">{{ head.name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 margin-top">
                        <label>Start Date</label>
                        <input type="date" class="m-wrap" id="startDate" name="startDate" value="{% if searchForm.startDate is defined %}{{ searchForm.startDate }}{% endif %}">
                    </div>
                    <div class="col-md-3 margin-top">
                        <label>End Date</label>
                        <input type="date" class="m-wrap" id="endDate" name="endDate" value="{% if searchForm.endDate is defined %}{{ searchForm.endDate }}{% endif %}">
                    </div>
                    <div class="col-md-1 margin-top">
                        <label>&nbsp;</label>
                        <div class="col-md-1 margin-top">
                            <label>&nbsp;</label>
                            <button type="button" class='btn btn-download btn-margin-left ajax-btn' value="search" name="submit" ><i class='fa fa-search'></i> Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="loader loader-double" ></div>
    <div id="print-area">
        <div class="row print-header">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <p><strong style="font-size:18px">{{ option.name }}</strong></p>
                <p><strong>Name of Report: Account Head Ledger</strong></p>
            </div>
            <div class="col-md-4 text-right">Printed: {{ "now"|date('d-m-Y') }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table even" border="1">
                    <thead class="flip-content ">
                    <tr class="head-green">
                        <th class="" >Created</th>
                        <th class="" >Journal ID</th>
                        <th class="" >Account Head</th>
                        <th class="" >SubAccount Head</th>
                        <th class="" >Narration</th>
                        <th class="" >Debit</th>
                        <th class="" >Credit</th>
                    </tr>
                    </thead>
                    <tbody id="data-load">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


