{% extends '::base-report.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12 print-bar">
            <form name="searchForm" id="searchForm" action="{{ ajaxPath }}" method="post">
                <div class="grid-container">
                    <div class="grid-item">
                        <label>Name of Month</label>
                        {%  set months = ['January','February','March','April','May','June','July','August','September','October','November','December'] %}
                        <select class="span12 m-wrap" name="month" id='month'>
                            {% for month in months %}
                                <option value='{{ month }}' {% if (searchForm.month is defined and searchForm.month == key) or (searchForm.month is defined and searchForm.month is empty and month == currentMonth) %} selected="selected" {% endif %} >{{ month }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid-item">
                        <label>Name of Year</label>
                        {% set years = [2018,2019,2020,2021,2022,2023,2024,2025] %}
                        <select class="span11 m-wrap" name="year" id='year'>
                            {% for year in years %}
                                <option value='{{ year }}' {% if (searchForm.year is defined and searchForm.year == year) or (searchForm.year is defined and searchForm.year is empty and year == currentYear) %} selected="selected" {% endif %} >{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="grid-item">
                        <div class="col-md-12 margin-top-15" >
                            <button type="button" class='btn btn-download btn-margin-left ajax-btn' value="search" name="submit" ><i class='fa fa-search'></i></button>
                            <button class="btn purple" onclick="exportExcel()" type="button"><i class="fa fa-file"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="loader loader-double" ></div>
    <div id="print-area">
        <div class="row print-header">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <p><strong style="font-size:18px">{{ option.name }}</strong></p>
                <p><strong>Name of Report: Income Report Date Range</strong></p>
            </div>
            <div class="col-md-4 text-right">Printed: {{ "now"|date('d-m-Y') }}</div>
        </div>
        <div class="row">
            <div class="col-md-12" id="data-load">

            </div>
        </div>
    </div>
    <script>
        function exportExcel() {
            var table = document.querySelector('.downloadExcel');
            TableToExcel.convert(table);
        }
    </script>
{% endblock %}


