{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN category HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="category-title">
                    {{ pathology.name }}-Pathological Report Format
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('hms_pathology') }}">Pathology</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">{{ pathology.name }}-Pathological Report Format</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END category HEADER-->
        <!-- BEGIN category CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>{{ pathology.name }}- Pathological Report Format</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-cogs"></i>&nbsp;Tools
                                    <i class="icon-tasks"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ path('hms_pathology') }}"><i class="icon-th-list"></i>&nbsp;Lists</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}
                            <div class="row-fluid">
                                <!--/span-->

                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label"  for="category" >Parent Name</label>
                                        <div class="controls">
                                            {{ form_widget(form.parent) }}
                                            {{ form_errors(form.parent) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label"  for="category" >Name<span class="required">*</span></label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-medkit"></i>
                                                {{ form_widget(form.name) }}
                                                {{ form_errors(form.name) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="name">Sample Value</label>
                                                <div class="controls">
                                                    {{ form_widget(form.sampleValue) }}
                                                    {{ form_errors(form.sampleValue) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="name">Unit</label>
                                                <div class="controls">
                                                    {{ form_widget(form.unit) }}
                                                    {{ form_errors(form.unit) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label"  for="department" >Reference Value</label>
                                                <div class="controls">
                                                    {{ form_widget(form.referenceValue) }}
                                                    {{ form_errors(form.referenceValue) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions portlet box grey">
                                <div class="pull-right">
                                    <button type="submit" class="btn green"><i class="icon-save"></i> Save</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="row-fluid box green">
                    {% if reportFormats is defined and  reportFormats is not empty  %}
                        <table id="nestable_list_2" class="table table-bordered table-striped table-condensed flip-content ">
                            <thead class="flip-content ">
                            <tr class="head-green">
                                <th class="numeric">Si/No</th>
                                <th class="numeric">Name</th>
                                <th class="numeric">Parent</th>
                                <th class="numeric">Unit</th>
                                <th class="numeric">Sample Value</th>
                                <th class="numeric">Reference</th>
                                <th class="numeric">Action</th>
                            </tr>
                            </thead>
                            <tbody class="sortable" >
                            {% for item in reportFormats %}
                                <tr  data-id="{{ item.id }}" id="item_{{ item.id }}" class="dd-item dd3-item" >
                                    <td  class="numeric">{{ loop.index }}<span data-id="{{ entity.id }}" class="btn yellow mini pull-right"><i class="fa fa-server"></i></span></td>
                                    <td  class="">
                                        {% if ( app.user.granted("ROLE_HOSPITAL_MANAGER") or app.user.granted("ROLE_DOMAIN"))  %}
                                            <a  class="editableText" data-name="Name" href="#"  data-url="{{ path('hms_pathological_report_inline_update',{'pathology':pathology.id}) }}" data-type="text" data-pk="{{ item.id }}" data-original-title="Change  name" value="{{ item.name }}">{{ item.name }}</a>
                                        {% endif %}
                                    </td>
                                    <td  class="numeric">{% if item.parent is not empty %}{{ item.parent.name }}{% endif %}</td>
                                    <td class="">
                                        {% if ( app.user.granted("ROLE_HOSPITAL_MANAGER") or app.user.granted("ROLE_DOMAIN"))  %}
                                            <a  class="editableText" data-name="Unit" href="#"  data-url="{{ path('hms_pathological_report_inline_update',{'pathology':pathology.id}) }}" data-type="text" data-pk="{{ item.id }}" data-original-title="Change  unit name" value="{{ item.unit }}">{{ item.unit }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="">
                                        {% if ( app.user.granted("ROLE_HOSPITAL_MANAGER") or app.user.granted("ROLE_DOMAIN"))  %}
                                            <a  class="editableText" data-name="SampleValue" href="#"  data-url="{{ path('hms_pathological_report_inline_update',{'pathology':pathology.id}) }}" data-type="text" data-pk="{{ item.id }}" data-original-title="Change  sample value" value="{{ item.sampleValue }}">{{ item.sampleValue }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="">
                                        {% if ( app.user.granted("ROLE_HOSPITAL_MANAGER") or app.user.granted("ROLE_DOMAIN"))  %}
                                            <a  class="editableText" data-name="ReferenceValue" href="#"  data-url="{{ path('hms_pathological_report_inline_update',{'pathology':pathology.id}) }}" data-type="text" data-pk="{{ item.id }}" data-original-title="Change  reference value" value="{{ item.referenceValue }}">{{ item.referenceValue }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="numeric">
                                         {% if( item.status == 1) %}
                                             <a class="btn mini blue btn-action" href="{{ path('hms_pathological_report_status',{'pathology':pathology.id,'id':item.id}) }}"><i class="icon-ok"></i></a>
                                         {% else %}
                                             <a class="btn mini red btn-action" href="{{ path('hms_pathological_report_status',{'pathology':pathology.id,'id': item.id}) }}"><i class="icon-ok"></i></a>
                                         {% endif %}
                                         <a href="{{ path('hms_pathological_report_edit',{'pathology':pathology.id,'id': item.id }) }}" class="btn green mini" ><i class="icon-edit"></i></a>
                                         <a title="Are you sure went to delete ?" href="{{ path('hms_pathological_report_delete',{'pathology':pathology.id,'id': item.id }) }}" class="btn red mini" ><i class="icon-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    <style>
        .dd-item, .dd-empty, .dd-placeholder{
            display: table-row;
        }
        .dd-item span:hover{
          cursor:row-resize;
        }
    </style>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
        '@HospitalBundle/Resources/public/js/editable.js'
    %}<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.editableText').editable({
        type: 'text',
        inputclass: 'span12 m-wrap',
        placement: 'right',
    });
    $('.sortable').sortable({
        handle: 'span'
    });
    $( ".sortable" ).on( "sortupdate", function( event, ui ) {
        var serialized = $(".sortable").sortable("serialize");
        $.ajax({
        url: '{{ path('hms_pathological_report_list_sorted',{'pathology':pathology.id}) }}',
        type: "POST",
        data: serialized
        });
    })
{% endblock %}
