{% extends ':frontend/template/mobile:ecommerce-base.html.twig' %}
{% block body %}
    <div class="container-section">
    <div id="content" class="container">
        {% render controller("FrontendBundle:EcommerceWidget:sidebarTemplateProductFilter",{'globalOption':globalOption.id,'searchForm':searchForm}) %}
        <div class="dialogModal_content">
            <div class="modal-body" style="position: relative">
                <div class="row" style="position: absolute; z-index: 2; top: -10px">
                    <div class="col-xs-6 col-md-6">
                        <span class="input-group-btn"><a href="javascript:history.back()" class="btn btn-transparent"><i class="fa fa-arrow-left"></i></a></span>
                    </div>
                    <div class="col-xs-6 col-md-6 text-right">
                        <div class="input-group" style="width: 100%">
                            {% if next is not empty %}
                            <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':next.slug }) }}"  class="btn btn-info btn-sm page-button dropdown-toggle"><span class="glyphicon glyphicon-chevron-left"></span></a>
                            {% endif %}
                            {% if previous is not empty %}
                            <a href="{{ path(globalOption.subDomain ~ '_webservice_product_details',{'item':previous.slug }) }}" class="btn btn-info btn-sm page-button dropdown-toggle" ><span class="glyphicon glyphicon-chevron-right"></span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12" >
                        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <!-- me art lab slider -->
                            <div class='carousel-inner' style="height: 320px!important;">
                                <div  class='item active' style="height: 320px">
                                    <img class="img-responsive " id="zoom" src="{% if product.webPath is not empty  %}{{ image(product.webPath).resize(320,320) }}{% elseif product.webPath is defined and product.webPath is not empty %}{{ image(product.webPath).resize() }}{% endif %}"  data-zoom-image="{% if product.webPath is not empty  %}{{ image(product.webPath).resize() }}{% elseif product.webPath is defined and product.webPath is not empty %}{{ image(product.webPath).resize() }}{% endif %}"/>
                                </div>
                                {% if product.itemGalleries is not empty %}
                                    {% for photo in product.itemGalleries|slice(0,5) %}
                                        <div class='item' style="height: 320px;">
                                            <img class="img-responsive "  src='{{ image(photo.getAbsolutePath(product.ecommerceConfig.globalOption.id,product.id)) }}' alt=''  data-zoom-image="{{ image(photo.getAbsolutePath(product.ecommerceConfig.globalOption.id,product.id)).resize(320,320) }}"/>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <!-- sag sol -->
                            {% if product.itemGalleries is not empty %}
                            <a class='left custom-carousel-control' href='#carousel-custom' data-slide='prev'>
                                <span class='glyphicon glyphicon-chevron-left'></span>
                            </a>
                            <a class='right custom-carousel-control' href='#carousel-custom' data-slide='next'>
                                <span class='glyphicon glyphicon-chevron-right'></span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12" >
                        <div class="row meta-key-value">
                            <div class="col-xs-12 col-md-12 ">
                                <strong>{{ product.productName }}</strong>
                            </div>
                        </div>
                        <form class="addCart" id="sizeLoad">
                            <div class="row meta-caption">
                                <div class="col-xs-4 col-md-4"><strong>PRICE</strong></div>
                                <div class="col-xs-8 col-md-8">
                                    <span class="product-price-lg" id="itemPrice">
                        <strong class="currency">{{ globalOption.ecommerceConfig.currency }}</strong>&nbsp;{% if product.discount is not empty  %}<strike>{% endif %}{{ product.salesPrice|number_format() }}{% if product.discount is not empty  %}</strike>{% endif %}{% if product.discount is not empty  %} <strong>{{ product.discountPrice|number_format() }}</strong>{% endif %}</span>{% if product.productUnit is not empty %}<span>/{{ product.productUnit.name }}</span>{% endif %}
                                </div>
                            </div>
                        <div class="row meta-caption">

                            <div class="col-xs-12 col-md-12">
                                <div class="row">
                                        <div class="card-read-more">
                                            <div class="input-group">
              <span class="input-group-btn input-group-btn-custom">
                  <button type="button" class="btn  btn-number"  data-type="minus" data-field="quantity">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
              </span>
                                                <input type="text" id="quantity" name="quantity" class="form-control cart-input input-number" readonly="readonly" value="{{ product.minQuantity }}" min="{{ product.minQuantity }}" max="{{ product.maxQuantity }}">
                                                <span class="input-group-btn">
                  <button type="button" class="btn btn-number" data-type="plus" data-field="quantity">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <button type="button" class="btn btn-info cartSubmit" data-style="zoom-in" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_inline_cart',{'product' : product.id }) }}"><i class="fa fa-shopping-cart"></i> ADD</button>
              </span><input type="hidden" name="size" id="size" value="">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        {% if product.subProduct == 1 and  product.itemSubs is not empty  and product.itemSubs|length > 1  %}
                            <div class="row meta-key-value">
                                <div class="col-xs-4 col-md-4">Pack Size<span class="meta-key-clone">:</span></div>
                                <div class="col-xs-8 col-md-8 ">
                                <div class="funkyradio">
                                    {% for goodsItem in  product.itemSubs  %}
                                        <div class="funkyradio-default modalMobileChangeSubItem" data-id="{{ goodsItem.id }}" data-url="{{ path(globalOption.subDomain ~ '_webservice_product_modal_subitem', {'product' : product.id,'subItem':goodsItem.id }) }}">
                                            <input type="radio" name="packSize" id="{{ goodsItem.id }}" value="{{ goodsItem.id }}" />
                                            <label for="{{ goodsItem.id }}">{{ goodsItem.size.name }}{% if goodsItem.productUnit is not empty %} {{ goodsItem.productUnit.name }}{% endif %} - {{ globalOption.ecommerceConfig.currency }} {{ goodsItem.salesPrice }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                        {% endif %}
                        </form>
                        <div class="row meta-key-value"><div class="col-xs-4 col-md-4">SKU<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 "><strong>{{ product.sku  }}</strong></div></div>
                        {% if product.category is defined and product.category is not empty %}
                            <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Category<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 text-left">{{ product.category.name }}</div></div>
                        {% endif %}
                        {% if product.brand is not empty %}
                            <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Brand<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.brand.name }}</div></div>
                        {% endif %}
                        {% if product.country is not empty %}
                            <div class="row meta-key-value"><div class="col-xs-4 col-md-4">Country<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ product.country.name }}</div></div>
                        {% endif %}
                        <div class="row meta-value">
                            <div class="col-xs-12 col-md-12 text-justify">
                                {% if product.shortContent is not empty %}
                                    {{ product.shortContent|raw }}
                                {% endif  %}
                            </div>
                        </div>
                        <br/>
                     </div>
                </div>
            </div>
        </div>
        <div class="clearfix"><br/></div>
        <div class="">{% if  product.itemMetaAttributes is defined and  product.itemMetaAttributes is not empty or  product.itemKeyValues is defined and product.itemKeyValues is not empty  %}
                <div class="row meta-caption"><div class="col-xs-10 col-md-10"><strong>Specification</strong></div><div class="col-xs-2 col-md-2 text-right btn btn-success" id="spec"><strong><span class="glyphicon glyphicon-chevron-down"></span></strong></div></div>
                <div class="row" id="showSpec">
                    <div class="col-xs-12 col-md-12">
                        {% if  product.itemMetaAttributes is defined and  product.itemMetaAttributes is not empty %}
                            {% for attribute in  product.itemMetaAttributes %}
                                <div class="row meta-key-value"><div class="col-xs-4 col-md-4">{{ attribute.itemAttribute.name }}<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ attribute.value }}</div></div>
                            {% endfor %}
                        {% endif %}
                        {% if  product.itemKeyValues is defined and product.itemKeyValues is not empty %}
                            {% for meta in product.itemKeyValues %}
                                {% if meta.metaKey is not empty and meta.metaValue is empty %}
                                    <div class="row meta-label"><div class="col-xs-12 col-md-12">{{ meta.metaKey|capitalize }}</div></div>
                                {% elseif meta.metaKey is empty and meta.metaValue is not empty %}
                                    <div class="row meta-value"><div class="col-xs-12 col-md-12">{{ meta.metaValue }}</div></div>
                                {% else %}
                                    <div class="row meta-key-value"><div class="col-xs-4 col-md-4">{{ meta.metaKey }}<span class="meta-key-clone">:</span></div><div class="col-xs-8 col-md-8 ">{{ meta.metaValue  }}</div></div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        {% if globalOption.ecommerceConfig.relatedProduct == 'category' %}
            <div class="wow fadeInDown" data-wow-delay="1s">
                {% if product.category is not empty and product.category is defined %}
                    <div class="page-title-bar row">
                        <div class="col-md-12" >
                            <div class="page-title">{{ product.category.name }}</div>
                        </div>
                    </div>
                    {% if globalOption.ecommerceConfig.relatedProductMode == 'slider' %}
                        <div class="row">
                            <div class="mobile-category-slider">
                                {{ products|raw }}
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="feature-grid-products">
                                {{ products|raw }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block cssBlock %}
    {% stylesheets filter='cssrewrite'
    '@FrontendBundle/Resources/public/template/mobile/css/product.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock  %}
{% block javascriptBlock %}
    {% javascripts
    '@FrontendBundle/Resources/public/template/mobile/js/owlcarousel.js'
    '@FrontendBundle/Resources/public/template/desktop/js/ecommerce.js'
    '@FrontendBundle/Resources/public/template/desktop/js/cart.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block documentready %}
    {{ parent() }}
    var items = "{{ globalOption.ecommerceConfig.mobileFeatureColumn }}";
    productSliderOwl(items);
{% endblock %}


