{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN templatecustomize HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="templatecustomize-title">
                    E-commerce Template Customize
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">E-commerce Template Customize</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END templatecustomize HEADER-->
        <!-- BEGIN templatecustomize CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>E-commerce Template Customize Information</div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn purple" target="_blank" href="http://www.htmlcsscolor.com">Color Plate</a>
                                <a class="btn blue" href="{{ path('globaloption_modify') }}">
                                    <i class="icon-cogs"></i>
                                    Setting
                                </a>

                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="portlet-body form">
                            {% include('flash-message.html.twig')  %}
                            <!-- BEGIN FORM-->
                            {{ form_start(form) }}
                            {{ form_row(form._token) }}

                            <!--/row-->

                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                {{ form_widget(form.topBar) }}
                                                {{ form_errors(form.topBar) }}
                                                Show Top-bar
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                {{ form_widget(form.showSocialIcon) }}
                                                {{ form_errors(form.showSocialIcon) }}
                                                Social Icon
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                {{ form_widget(form.showSidebar) }}
                                                {{ form_errors(form.showSidebar) }}
                                                Sidebar
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                {{ form_widget(form.sidebarTooltip) }}
                                                {{ form_errors(form.sidebarTooltip) }}
                                                Sidebar Tooltip
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                {{ form_widget(form.footerBlock) }}
                                                {{ form_errors(form.footerBlock) }}
                                                Footer Block
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                {{ form_widget(form.showNewsLetter) }}
                                                {{ form_errors(form.showNewsLetter) }}
                                                Show News Letter
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                {{ form_widget(form.showCalendar) }}
                                                {{ form_errors(form.showCalendar) }}
                                                Show Calender
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                {{ form_widget(form.showEmail) }}
                                                {{ form_errors(form.showEmail) }}
                                                Show Email
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                {{ form_widget(form.showMobile) }}
                                                {{ form_errors(form.showMobile) }}
                                                Show Mobile
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                {{ form_widget(form.showSearch) }}
                                                {{ form_errors(form.showSearch) }}
                                                Show Search
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="span4">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" >Pagination</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        {{ form_widget(form.pagination) }}
                                                        {{ form_errors(form.pagination) }}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Sidebar Title</label>
                                                <div class="controls">
                                                    {{ form_widget(form.sidebarTitle) }}
                                                    {{ form_errors(form.sidebarTitle) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Sidebar Position</label>
                                                <div class="controls">
                                                    {{ form_widget(form.sidebarPosition) }}
                                                    {{ form_errors(form.sidebarPosition) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Home Page Manage</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span10">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Site Welcome</label>
                                        <div class="controls">
                                            {{ form_widget(form.siteTitle) }}
                                            {{ form_errors(form.siteTitle) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Font Size</label>
                                        <div class="controls">
                                            {{ form_widget(form.siteTitleSize) }}
                                            {{ form_errors(form.siteTitleSize) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Site Slogan</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-text"></i>
                                                {{ form_widget(form.siteSlogan) }}
                                                {{ form_errors(form.siteSlogan) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Home Bg Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.homeBgColor) }}
                                                {{ form_errors(form.homeBgColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Home Anchor Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.homeAnchorColor) }}
                                                {{ form_errors(form.homeAnchorColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Home Anchor Color Hover</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.homeAnchorColorHover) }}
                                                {{ form_errors(form.homeAnchorColorHover) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Site Manage</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Site Font Size</label>
                                        <div class="controls">
                                            <div class="input-icon left">

                                                {{ form_widget(form.siteFontSize) }}
                                                {{ form_errors(form.siteFontSize) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Site Background Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.siteBgColor) }}
                                                {{ form_errors(form.siteBgColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3 ">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Button Bg Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.buttonBgColor) }}
                                                {{ form_errors(form.buttonBgColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3 ">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Button Bg Color Hover</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.buttonBgColorHover) }}
                                                {{ form_errors(form.buttonBgColorHover) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--/row-->
                            <div class="row-fluid">
                                <div class="span3 ">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Site Title Bg Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.siteTitleBgColor) }}
                                                {{ form_errors(form.siteTitleBgColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3 ">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Sub Page Bg Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.subPageBgColor) }}
                                                {{ form_errors(form.subPageBgColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3 ">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Anchor Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.anchorColor) }}
                                                {{ form_errors(form.anchorColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3 ">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Anchor Color Hover</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.anchorHoverColor) }}
                                                {{ form_errors(form.anchorHoverColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/row-->
                            <div class="row-fluid">
                                <div class="span4 ">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Site Font Family</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                {{ form_widget(form.siteFontFamily) }}
                                                {{ form_errors(form.siteFontFamily) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Site H1</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                {{ form_widget(form.siteH1TextSize) }}
                                                {{ form_errors(form.siteH1TextSize) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Site H2</label>
                                        <div class="controls">
                                            <div class="input-icon left">

                                                {{ form_widget(form.siteH2TextSize) }}
                                                {{ form_errors(form.siteH2TextSize) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Site H3</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                {{ form_widget(form.siteH3TextSize) }}
                                                {{ form_errors(form.siteH3TextSize) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Site H4</label>
                                        <div class="controls">
                                            <div class="input-icon left">

                                                {{ form_widget(form.siteH4TextSize) }}
                                                {{ form_errors(form.siteH4TextSize) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--/row-->
                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="form-actions portlet box grey">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Header/Body/Border</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Top Bg Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.topBgColor) }}
                                                {{ form_errors(form.topBgColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Header Bg Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.headerBgColor) }}
                                                {{ form_errors(form.headerBgColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Body Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.bodyColor) }}
                                                {{ form_errors(form.bodyColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Sidebar Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.sidebarColor) }}
                                                {{ form_errors(form.sidebarColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                            <!--/row-->
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label"  for="firstName">Header Border Height</label>
                                        <div class="controls">
                                            {{ form_widget(form.headerBorderHeight) }}
                                            {{ form_errors(form.headerBorderHeight) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label"  for="firstName">Header Border Color</label>
                                        <div class="controls">
                                            {{ form_widget(form.headerBorderColor) }}
                                            {{ form_errors(form.headerBorderColor) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Border Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.borderColor) }}
                                                {{ form_errors(form.borderColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Border Color Hover</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.borderColorHover) }}
                                                {{ form_errors(form.borderColorHover) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="form-actions portlet box green">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Manage Header Menu</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label"  for="firstName">Header Form Top Margin</label>
                                        <div class="controls">
                                            {{ form_widget(form.menuTopMargin) }}
                                            {{ form_errors(form.menuTopMargin) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label"  for="firstName">Menu Position</label>
                                        <div class="controls">
                                            {{ form_widget(form.menuPosition) }}
                                            {{ form_errors(form.menuPosition) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Menu Letter</label>
                                        <div class="controls">
                                            {{ form_widget(form.menuLetter) }}
                                            {{ form_errors(form.menuLetter) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label"  for="firstName">Menu Font Size</label>
                                        <div class="controls">
                                            {{ form_widget(form.menuFontSize) }}
                                            {{ form_errors(form.menuFontSize) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label"  for="firstName">&nbsp;</label>
                                        <div class="controls">
                                            Menu Bold {{ form_widget(form.menuBold) }}
                                            {{ form_errors(form.menuBold) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/row-->
                            <!--/row-->
                           <div class="row-fluid">
                               <div class="span3">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Menu Bg Color</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.menuBgColor) }}
                                               {{ form_errors(form.menuBgColor) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="span3">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Menu Bg Color Hover</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.menuBgColorHover) }}
                                               {{ form_errors(form.menuBgColorHover) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="span3">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Menu li A</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.menuLiAColor) }}
                                               {{ form_errors(form.menuLiAColor) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="span3">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Menu li A:hover</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.menuLiAHoverColor) }}
                                               {{ form_errors(form.menuLiAHoverColor) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>

                           </div>
                           <div class="row-fluid">
                               <div class="span3">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Sub Menu Width (px)</label>
                                       <div class="controls">
                                           {{ form_widget(form.subMenuWidth) }}
                                           {{ form_errors(form.subMenuWidth) }}
                                       </div>
                                   </div>
                               </div>
                                <div class="span3">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Menu Sub-bg Color</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.subMenuBgColor) }}
                                               {{ form_errors(form.subMenuBgColor) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="span3">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Menu Sub-bg Color Hover</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.subMenuBgColorHover) }}
                                               {{ form_errors(form.subMenuBgColorHover) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="form-actions portlet box purple">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Manage Mobile Menu</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                               <div class="span2">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">{{ form_widget(form.mobileLogin) }} Mobile Login</label>
                                       <label class="control-label" for="firstName">{{ form_widget(form.mobileShowLogo) }} Logo Show</label>
                                       <div class="controls">{{ form_widget(form.mobileHomeShowLogo) }}  Logo Show Home</div>
                                   </div>
                               </div>
                               <div class="span2">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Header Bg</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.mobileHeaderBgColor) }}
                                               {{ form_errors(form.mobileHeaderBgColor) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Menu Bg</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.mobileMenuBgColor) }}
                                                {{ form_errors(form.mobileMenuBgColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Menu Bg Hover</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.mobileMenuBgColorHover) }}
                                                {{ form_errors(form.mobileMenuBgColorHover) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <div class="span2">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Menu Anchor</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.mobileMenuLiAColor) }}
                                               {{ form_errors(form.mobileMenuLiAColor) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="span2">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Menu Anchor Hover</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.mobileMenuLiAHoverColor) }}
                                               {{ form_errors(form.mobileMenuLiAHoverColor) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>

                            </div>

                            <!--/row-->
                            <div class="clearfix">&nbsp;</div>
                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="form-actions portlet box yellow">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Manage Footer Menu</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                               <div class="span3">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Footer Bg Color</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.footerBgColor) }}
                                               {{ form_errors(form.footerBgColor) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>

                               <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Footer Text Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.footerTextColor) }}
                                                {{ form_errors(form.footerTextColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <div class="span3">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Footer Anchor Color</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.footerAnchorColor) }}
                                               {{ form_errors(form.footerAnchorColor) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="span3">
                                   <div class="control-group">
                                       <label class="control-label" for="firstName">Footer Anchor Color Hover</label>
                                       <div class="controls">
                                           <div class="input-icon left">
                                               <i class="icon-magic"></i>
                                               {{ form_widget(form.footerAnchorColorHover) }}
                                               {{ form_errors(form.footerAnchorColorHover) }}
                                           </div>
                                       </div>
                                   </div>
                               </div>

                            </div>

                            <!--/row-->
                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="form-actions portlet box grey">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Carousel</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Desktop Home Carousel Height</label>
                                        <div class="controls">
                                            {{ form_widget(form.carouselHeight) }}
                                            {{ form_errors(form.carouselHeight) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Mobile Feature/Carousel Height</label>
                                        <div class="controls">
                                            {{ form_widget(form.mobileCarouselHeight) }}
                                            {{ form_errors(form.mobileCarouselHeight) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row-fluid">
                               <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Slider Position</label>
                                        <div class="controls">
                                            {{ form_widget(form.sliderPosition) }}
                                            {{ form_errors(form.sliderPosition) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Slider Position Top/Bottom(%)</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-font"></i>
                                                {{ form_widget(form.sliderTopBottomPosition) }}
                                                {{ form_errors(form.sliderTopBottomPosition) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Slider Position Left/Right(%)</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-font"></i>
                                                {{ form_widget(form.sliderLeftRightPosition) }}
                                                {{ form_errors(form.sliderLeftRightPosition) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="form-actions portlet box grey">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Breadcrumb</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="control-group">
                                        {{ form_widget(form.breadcrumb) }}
                                        {{ form_errors(form.breadcrumb) }}Breadcrumb
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Breadcrumb Font Size</label>
                                        <div class="controls">
                                            {{ form_widget(form.breadcrumbFontSize) }}
                                            {{ form_errors(form.breadcrumbFontSize) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Breadcrumb Home</label>
                                        <div class="controls">
                                            {{ form_widget(form.breadcrumbHome) }}
                                            {{ form_errors(form.breadcrumbHome) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Breadcrumb Bg</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.breadcrumbBg) }}
                                                {{ form_errors(form.breadcrumbBg) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Breadcrumb Active Bg</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.breadcrumbActiveBg) }}
                                                {{ form_errors(form.breadcrumbActiveBg) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Breadcrumb Font Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.breadcrumbColor) }}
                                                {{ form_errors(form.breadcrumbColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Breadcrumb Border Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.breadcrumbBorderColor) }}
                                                {{ form_errors(form.breadcrumbBorderColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="form-actions portlet box grey">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Divider</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Border width <span class="required">(%)</span></label>
                                        <div class="controls">
                                            {{ form_widget(form.dividerBorderWidth) }}
                                            {{ form_errors(form.dividerBorderWidth) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Font Size</label>
                                        <div class="controls">
                                            {{ form_widget(form.dividerFontSize) }}
                                            {{ form_errors(form.dividerFontSize) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Font Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.dividerFontColor) }}
                                                {{ form_errors(form.dividerFontColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Border</label>
                                        <div class="controls">
                                            {{ form_widget(form.dividerBorder) }}
                                            {{ form_errors(form.dividerBorder) }}
                                        </div>
                                    </div>
                                </div>
                                 <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">After Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.dividerAfterColor) }}
                                                {{ form_errors(form.dividerAfterColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span2">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Before Color</label>
                                        <div class="controls">
                                            <div class="input-icon left">
                                                <i class="icon-magic"></i>
                                                {{ form_widget(form.dividerBeforeColor) }}
                                                {{ form_errors(form.dividerBeforeColor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box red">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Meta Tags & Keywords</div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Meta Tags</label>
                                        <div class="controls">
                                            {{ form_widget(form.metaKeyword) }}
                                            {{ form_errors(form.metaKeyword) }}
                                            <span class="label label-important">NOTE!</span>
                                            <span>Every meta key word use must be comma separator</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName">Meta Description</label>
                                        <div class="controls">
                                            {{ form_widget(form.metaDescription) }}
                                            {{ form_errors(form.metaDescription) }}
                                            <span class="label label-important">NOTE!</span>
                                            <span>Meta description using the website summary</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Logo & Favicon</div>
                                    <div class="pull-right">Remove logo<input type="checkbox" class="checkbox" id="removeLogo" name="removeLogo" value="1">Remove Favicon<input type="checkbox" class="checkbox" id="removeFavicon" name="removeFavicon" value="1"></div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="row-fluid" >
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                                <div style="width: 200px; height: 150px;" class="fileupload-new thumbnail">
                                                    {% if(entity.webPath('logo') is defined ) %}
                                                        <img class="fileupload-preview fileupload-exists thumbnail" alt="" src="/{{ entity.webPath('logo') }}">
                                                    {% else %}
                                                        <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                                    {% endif %}
                                                </div>
                                                <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                <div>
													<span class="btn btn-file">
                                                        <span class="fileupload-new">Select image</span>
													    <span class="fileupload-exists">Change</span>
                                                        <input type="file" name="logoFile" id="logoFile">
                                                    </span>
                                                    <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                </div>
                                            </div>
                                            <span class="label label-important">NOTE!</span>
                                            <span> Logo image must be less then  280px x 160 px and extension .png. please follow this link <a href="http://resizeyourimage.com" target="_blank">Image Resizer</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div  class="span4">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Logo Width</label>
                                                <div class="controls">
                                                    {{ form_widget(form.logoWidth) }}
                                                    {{ form_errors(form.logoWidth) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Logo Height</label>
                                                <div class="controls">
                                                    {{ form_widget(form.logoHeight) }}
                                                    {{ form_errors(form.logoHeight) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                                <div style="width:150px; height: 150px;" class="fileupload-new thumbnail">
                                                    {% if(entity.webPath('favicon') is defined ) %}
                                                        <img class="fileupload-preview fileupload-exists thumbnail" alt="" src="/{{ entity.webPath('favicon') }}">
                                                    {% else %}
                                                        <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                                    {% endif %}
                                                </div>
                                                <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                <div>
													<span class="btn btn-file">
                                                        <span class="fileupload-new">Select image</span>
													    <span class="fileupload-exists">Change</span>
                                                        <input type="file" name="faviconFile" id="faviconFile">
                                                    </span>
                                                    <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                </div>
                                            </div>
                                            <span class="label label-important">NOTE!</span>
                                            <span> Favicon image must be 16px x 16 px and extension .ico, Please follow this link <a target="_blank" href="http://www.favicon-generator.org/">Favicon Generate</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Mobile Header Image</div>
                                    <div class="pull-right">Remove Header Image<input type="checkbox" class="checkbox" id="removeHeaderImage" name="removeHeaderImage" value="1"></div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="row-fluid" >

                                <div class="span12">
                                    <div class="control-group">
                                        <div class="controls">
                                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                                <div style="height:450px;" class="fileupload-new thumbnail span12">
                                                    {% if(entity.webPath('headerBgImage') is defined ) %}
                                                        <img class="fileupload-preview fileupload-exists thumbnail span12" alt="" src="/{{ entity.webPath('headerBgImage') }}">
                                                    {% else %}
                                                        <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                                    {% endif %}
                                                </div>
                                                <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                <div>
													<span class="btn btn-file">
                                                        <span class="fileupload-new">Select image</span>
													    <span class="fileupload-exists">Change</span>
                                                        <input type="file" name="headerBgImage" id="headerBgImage">
                                                    </span>
                                                    <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                </div>
                                            </div>
                                            <span class="label label-important">NOTE!</span>
                                            <span> Image size must be use 1024px x 450 px or more</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="form-actions portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>Body Image</div>
                                    <div class="pull-right">Remove Body Image<input type="checkbox" class="checkbox" id="removeBodyImage" name="removeBodyImage" value="1"></div>

                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <!--/row-->
                            <div class="row-fluid" >

                                <div class="span12">
                                    <div class="control-group">

                                        <div class="controls">
                                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                                <div style="height: auto; min-height:400px" class="fileupload-new thumbnail span12">
                                                    {% if(entity.webPath('bgImage') is defined ) %}
                                                        <img class="fileupload-preview fileupload-exists thumbnail span12" alt="" src="/{{ entity.webPath('bgImage') }}">
                                                    {% else %}
                                                        <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                                    {% endif %}
                                                </div>
                                                <div  class="fileupload-preview fileupload-exists thumbnail"></div>
                                                <div>
													<span class="btn btn-file">
                                                        <span class="fileupload-new">Select image</span>
													    <span class="fileupload-exists">Change</span>
                                                        <input type="file" name="bgImageFile" id="bgImageFile">
                                                    </span>
                                                    <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                                </div>
                                            </div>
                                            <span class="label label-important">NOTE!</span>
                                            <span> Image size  use minimum 1024px x 10240 px or more</span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!--/span-->
                            <div class="form-actions portlet box grey">
                                <div class="pull-center">
                                    <button type="submit" class="btn green"><i class="icon-ok"></i> Save</button>
                                    <a href="{{ path('templatecustomize_reset',{'id':entity.id}) }}" type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</a>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block documentready %}
    {{ parent() }}
    $('#cp2').colorpicker({
        format: 'hex'
    });
{% endblock %}
