{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- BEGIN templatecustomize HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="templatecustomize-title">
                    Form Components
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('templatecustomize') }}">Template Customize</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Form Components</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END templatecustomize HEADER-->
        <!-- BEGIN templatecustomize CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green tabbable">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Basic Information</div>
                    </div>

                    <div class="portlet-body">

                        <div class="tabbable portlet-tabs">
                            <ul class="nav nav-tabs">
                                <li class=""><a  href="{{ path('globaloption_modify') }}"><i class="icon-th-list"></i>&nbsp;Setting</a></li>
                            </ul>
                            <div class="tab-content">

                                <div class="portlet-body form">
                                    {% include('flash-message.html.twig')  %}
                                    <!-- BEGIN FORM-->
                                    {{ form_start(form) }}
                                    {{ form_row(form._token) }}

                                    <!--/row-->

                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Site Background Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.siteBgColor) }}
                                                        {{ form_errors(form.siteBgColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Site Font Size</label>
                                                <div class="controls">
                                                    <div class="input-icon left">

                                                        {{ form_widget(form.siteFontSize) }}
                                                        {{ form_errors(form.siteFontSize) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Button Bg Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.buttonBgColor) }}
                                                        {{ form_errors(form.buttonBgColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Button Bg Color Hover</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.buttonBgColorHover) }}
                                                        {{ form_errors(form.buttonBgColorHover) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Anchor Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.anchorColor) }}
                                                        {{ form_errors(form.anchorColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Anchor Color Hover</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>

                                                        {{ form_widget(form.anchorHoverColor) }}
                                                        {{ form_errors(form.anchorHoverColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Site H1 Text Size</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        {{ form_widget(form.siteH1TextSize) }}
                                                        {{ form_errors(form.siteH1TextSize) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Site H2 Text Size</label>
                                                <div class="controls">
                                                    <div class="input-icon left">

                                                        {{ form_widget(form.siteH2TextSize) }}
                                                        {{ form_errors(form.siteH2TextSize) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Site H3 Text Size</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        {{ form_widget(form.siteH3TextSize) }}
                                                        {{ form_errors(form.siteH3TextSize) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Site H4 Text Size</label>
                                                <div class="controls">
                                                    <div class="input-icon left">

                                                        {{ form_widget(form.siteH4TextSize) }}
                                                        {{ form_errors(form.siteH4TextSize) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Site Title Bg Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.siteTitleBgColor) }}
                                                        {{ form_errors(form.siteTitleBgColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Sub Page Bg Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.subPageBgColor) }}
                                                        {{ form_errors(form.subPageBgColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Site Font Family</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        {{ form_widget(form.siteFontFamily) }}
                                                        {{ form_errors(form.siteFontFamily) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {#<div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Bg Image</label>
                                                <div class="controls">
                                                    <div class="input-icon left">

                                                        {{ form_widget(form.bgImage) }}
                                                        {{ form_errors(form.bgImage) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>#}


                                    </div>
                                    <div class="form-actions portlet box grey">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Logo</div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <!--/row-->
                                    <div class="row-fluid" >

                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Logo</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
{#
                                                        {{ form_widget(form.logo) }}
                                                        {{ form_errors(form.logo) }}#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Display only on website</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        {{ form_widget(form.logoDisplayWebsite) }}
                                                        {{ form_errors(form.logoDisplayWebsite) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                    <div class="form-actions portlet box grey">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Header</div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Header Bg Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.headerBgColor) }}
                                                        {{ form_errors(form.headerBgColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Menu Bg Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>

                                                        {{ form_widget(form.menuBgColor) }}
                                                        {{ form_errors(form.menuBgColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Menu Li A Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.menuLiAColor) }}
                                                        {{ form_errors(form.menuLiAColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Menu Li A Color Hover</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>

                                                        {{ form_widget(form.menuLiAHoverColor) }}
                                                        {{ form_errors(form.menuLiAHoverColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row--> <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Menu Font Size</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        {{ form_widget(form.menuFontSize) }}
                                                        {{ form_errors(form.menuFontSize) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">headerBgImage</label>
                                                <div class="controls">
                                                    <div class="input-icon left">

                                                      {#  {{ form_widget(form.headerBgImage) }}
                                                        {{ form_errors(form.headerBgImage) }}#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                    <div class="form-actions portlet box grey">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Body</div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Body Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.bodyColor) }}
                                                        {{ form_errors(form.bodyColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--/span-->
                                    <!--/row-->
                                    <div class="form-actions portlet box grey">
                                        <div class="portlet-title">
                                            <div class="caption"><i class="icon-reorder"></i>Footer</div>
                                        </div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Footer Bg Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.footerBgColor) }}
                                                        {{ form_errors(form.footerBgColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label" for="firstName">Footer Text Color</label>
                                                <div class="controls">
                                                    <div class="input-icon left">
                                                        <i class="icon-font"></i>
                                                        {{ form_widget(form.footerTextColor) }}
                                                        {{ form_errors(form.footerTextColor) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <!--/span-->
                                    <div class="form-actions portlet box grey">
                                        <div class="pull-center">
                                            <button type="submit" class="btn green"><i class="icon-ok"></i> Save</button>
                                            <button type="submit" class="btn purple"><i class="icon-refresh"></i> Reset</button>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
