{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                   Manage Stock
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="{{ path('homepage') }}">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="{{ path('education_stock') }}">Manage Stock</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">View Lists</a></li>
                    <li class="pull-right btn blue disabled mini">
                        <i class="fa fa-calendar"></i>
                        {{ "now"|date("d-F-Y") }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">

                <div class="portlet box green ">

                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Manage Stock</div>
                        <div class="actions">
                            <a href="{{ path('education_stock_new') }}" class=" btn red"><i class="icon-plus"></i> Add Stock</a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        {% include('flash-message.html.twig')  %}
                        <div class="row-fluid" >
                            <form class="search-form" action="" method="get" name="itemSearch">
                                <div class="row-fluid" style="margin-bottom: 10px">
                                    <div class="span5"></div>
                                    <div class="span4">
                                        <input class="m-wrap span12 select2ParticularName" name="name" id="name" value="{% if searchForm.name is defined %}{{ searchForm.name }}{% endif %}"  autocomplete="off" placeholder="Search particular name">
                                    </div>
                                    <div class="span3">
                                        <div class="controls">
                                            <div class="input-append span10">
                                                <select name="type" id="type" class="m-wrap span10">
                                                    <option value="" >--Product type--</option>
                                                    <option value="service" >Service</option>
                                                    <option value="product" >Product</option>
                                                </select>
                                                <div class="btn-group">
                                                    <button class="btn blue" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>

                        </div>
                        <!-- BEGIN FORM-->
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content ">
                                <thead class="flip-content ">
                                <tr class="head-blue">
                                    <th class="numeric" >Name</th>
                                    <th class="numeric" >PP</th>
                                    <th class="numeric" >Price</th>
                                    <th class="numeric" >Receive Qnt</th>
                                    <th class="numeric" >Sales Qnt</th>
                                    <th class="numeric" >Stock Qnt</th>
                                    <th class="numeric" >Min. Qnt</th>
                                    <th class="numeric" >Unit</th>
                                    <th class="numeric" >Product Mode</th>
                                    <th class="numeric" >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    <tr>
                                        <td class="numeric" ><a href="{{ path('education_stock_edit',{'id': entity.id })}}">{{ entity.name }}</a></td>
                                        <td class="numeric">
                                                <a  class="editable" data-name="purchasePrice" href="#"  data-url="{{ path('education_stock_inline') }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change purcahse price">{{ entity.purchasePrice }}</a>
                                        </td>
                                        <td class="numeric">
                                                <a  class="editable" data-name="salesPrice" href="#"  data-url="{{ path('education_stock_inline') }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change sales price">{{ entity.salesPrice }}</a>
                                        </td>
                                        <td class="numeric" >{{ entity.purchaseQuantity|number_format }}</td>
                                        <td class="numeric" >{{ entity.salesQuantity|number_format }}</td>
                                        <td class="numeric" >{{ entity.remainingQuantity }}</td>
                                        <td class="numeric">
                                          <a  class="editable" data-name="minQuantity" href="#"  data-url="{{ path('education_stock_inline') }}" data-type="text" data-pk="{{ entity.id }}" data-original-title="Change min Quantity">{{ entity.minQuantity }}</a>
                                        </td>
                                        <td class="numeric">{% if  entity.unit is defined and  entity.unit is not empty %}{{ entity.unit.name|default('---') }}{% endif %}</td>
                                        <td class="numeric" >{{ entity.productType|capitalize }}</td>
                                        <td class="numeric" >
                                            {% if( entity.status == 1) %}
                                                <a class="btn mini blue btn-action" href="{{ path('education_stock_status', { 'id': entity.id}) }}"><i class="icon-ok"></i></a>
                                            {% else %}
                                                <a class="btn mini red btn-action" href="{{ path('education_stock_status', { 'id': entity.id}) }}">x</a>
                                            {% endif %}
                                            <a href="{{ path('education_stock_edit', { 'id': entity.id }) }}" class="btn green mini" ><i class="icon-edit"></i></a>
                                            {% if entity.purchaseQuantity is empty or entity.salesQuantity is empty %}
                                                <a  href="{{ path('education_stock_delete', { 'id': entity.id }) }}" class="btn red mini" ><i class="icon-trash"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="pagination pull-center" >
                                {{ knp_pagination_render(pagination) }}
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@HospitalBundle/Resources/public/js/editable.js'
    '@BusinessBundle/Resources/public/js/approveProcess.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    EditableWithOutReloadInit();
{% endblock %}